<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<title>Animated SVG SEO Icons 2</title>

<!-- Include the following 6 lines of code in between your <head> tags -->
	<script src="/src/js/TweenMax.min.js"/></script>
    <script src="/src/js/noframework.waypoints.min.js"></script>
	<script src="/src/js/dxcicons.js" type="text/javascript"/></script>
    <script src="/src/js/dxcseoicons.js" type="text/javascript"/></script>
	<script src="/src/js/snap.svg.js" type="text/javascript"></script>
	<script src="/src/js/jquery-latest.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/src/js/dxcseoicons2.css">
	<link rel="stylesheet" type="text/css" href="/src/js/styles2.css">


</head>

<body >

	<div class="centerall">

		<h1>Animated SEO Icons</h1>

		<div class="bigIcons">
			<div class="seoicon seoTagIcon"></div>
			<div class="seoicon smartphoneIcon"></div>
			<div class="seoicon socialNetworkIcon"></div>
			<div class="seoicon targetingIcon"></div>
		</div>

		<div class="flatbuttons">
			<button onclick="restartIcons([0, 1, 2, 3])">Restart</button>
		</div>

		<div class="bigIcons">
			<div class="seoicon missionIcon"></div>
			<div class="seoicon monitoringIcon"></div>
			<div class="seoicon networkIcon"></div>
			<div class="seoicon ppcIcon"></div>
		</div>

		<div class="flatbuttons">
			<button onclick="restartIcons([4, 5, 6, 7])">Restart</button>
		</div>

		<div class="bigIcons">
			<div class="seoicon codeOptimizationIcon"></div>
			<div class="seoicon computerIcon"></div> 
			<div class="seoicon digitalMarketingIcon"></div>
			<div class="seoicon emailMarketingIcon"></div>
		</div>

		<div class="flatbuttons">
			<button onclick="restartIcons([8, 9, 10, 11])">Restart</button>
		</div>

		<div class="bigIcons">
			<div class="seoicon affiliateIcon"></div> 
			<div class="seoicon analyticsIcon"></div>
			<div class="seoicon awardsIcon"></div>
			<div class="seoicon cloadStorageIcon"></div>
		</div>

		<div class="flatbuttons">
			<button onclick="restartIcons([12, 13, 14, 15])">Restart</button>
		</div>




	</div>




</body>