<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="APPTON HTML5 Template is a simple Smooth Personal App Landing Template" />
    <meta name="keywords" content="App, Landing, Business, Onepage, Html, Business" />

    <!--====== TITLE TAG ======-->
    <title>Appton Apps Landing Template</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="assest/img/favicon.png" />

    <!--====== STYLESHEETS ======-->
    <link href="assest/css/plugins.css" rel="stylesheet">
    <link href="assest/css/theme.css" rel="stylesheet">
    <link href="assest/css/icons.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="../../../public/src/styles/service/assest/css/style.css" rel="stylesheet">
    <link href="assest/css/responsive.css" rel="stylesheet">

    <script src="assest/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="home-two" data-spy="scroll" data-target=".mainmenu-area" data-offset="90">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area single-page" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="assest/img/logo.png" alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav pull-right">
                                <li class="active"><a href="index-shadow.html#home">Home</a>
                                    <ul>
                                        <li><a href="index-shadow.html">Home Effective</a></li>
                                        <li><a href="index.html">Home Default 1</a></li>
                                        <li><a href="index-2.html">Home Default 2</a></li>
                                        <li><a href="index-gradient.html">Home Gradient</a></li>
                                        <li><a href="index-video.html">Home Video</a></li>
                                        <li><a href="index-particle.html">Home Particle</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-shadow.html#about">About</a></li>
                                <li><a href="index-shadow.html#features">Features</a></li>
                                <li><a href="index-shadow.html#screenshot">Screenshot</a></li>
                                <li><a href="index-shadow.html#team">Team</a></li>
                                <li><a href="index-shadow.html#pricing">Pricing</a></li>
                                <li><a href="index-shadow.html#faqs">Faqs</a></li>
                                <li><a href="index-shadow.html#news">Blog</a></li>
                                <li><a href="index-shadow.html#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>
        <div class="page-barner-area white">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="barner-text mt50 center">
                            <h1 class="xs-font26 sm-font28">Beautiful Place for your Great Journey</h1>
                            <ul class="breadcrumb no-bg mb0">
                                <li><a href="index.html">Home</a></li>
                                <li class="active"><a href="blog.html">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--BLOG AREA-->
    <section class="blog-feed-area padding-100-50" id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div class="single-blog-item mb50 wow fadeIn">
                        <div class="blog-thumb mb30">
                            <img src="assest/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog-details">
                            <p class="blog-meta font14 mb20"><a href="#">Feb 01, 2016  </a> by <a href="#">Admin</a></p>
                            <h3 class="blog-title mb30">Beautiful Place for your Great Journey Place for your Great Journey</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex arvel theme dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etdoloreasdes magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodalo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex arvel theme dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etdoloreasdes magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodalo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
                            <blockquote>Excepteur sint occaecat cupidatat non proident, sunt culpa quite derunt enal mollit anim id estambul ilaborum. Sed ultra practice omnis iste natus error unexpected site</blockquote>
                            <p>Lanventore veritatis et quasi architecto beatae vitae dicta sutnt explicabo. Nemo enim ipsam voluptatem quiav luptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui emdamet.</p>
                            <img class="mb20" src="assest/img/blog/blog-1.jpg" alt="">
                            <p>Lanventore veritatis et quasi architecto beatae vitae dicta sutnt explicabo. Nemo enim ipsam voluptatem quiav luptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui emdamet.</p>
                        </div>
                    </div>
                    <div class="share-and-tags fix mb50">
                        <div class="post-share xs-width100p xs-center xs-mb30 pull-left">
                            <ul class="inline-block">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-tags xs-width100p xs-center pull-right">
                            <ul class="inline-block">
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Pupular</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comment-area mb50">
                        <ul class="comment-list mb50 no-padding">
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comments-details">
                                        <div class="comment-author"><img src="assest/img/testmonial/testmonial.jpg" alt=""></div>
                                        <div class="comments-meta">
                                            <h4>BDEXPERT</h4>
                                            <a class="comment-date" href="#">April 24, 2018</a>
                                            <h4 class="reply-comment"><a class="comment-reply-link" href="#">Reply</a> </h4>
                                        </div>
                                        <div class="comment-content">
                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comments-details">
                                                <div class="comment-author"><img src="assest/img/testmonial/testmonial.jpg" alt=""></div>
                                                <div class="comments-meta">
                                                    <h4>BDEXPERT</h4>
                                                    <a class="comment-date" href="#">April 24, 2018</a>
                                                    <h4 class="reply-comment"><a class="comment-reply-link" href="#">Reply</a> </h4>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error sit voluptatem accusantium laudanti atotamai aperiam, eaque ipsa uae ab illo inventore veritatis.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comments-details">
                                        <div class="comment-author"><img src="assest/img/testmonial/testmonial.jpg" alt=""></div>
                                        <div class="comments-meta">
                                            <h4>BDEXPERT</h4>
                                            <a class="comment-date" href="#">April 24, 2018</a>
                                            <h4 class="reply-comment"><a class="comment-reply-link" href="#">Reply</a> </h4>
                                        </div>
                                        <div class="comment-content">
                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3 class="mb30">Leave a replay</h3>
                        <div class="comment-box">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 mb30">
                                        <input name="comment_author" id="comment_author" type="text" placeholder="Name">
                                    </div>
                                    <div class="col-md-6 col-xs-12 mb30">
                                        <input name="comment_email" id="comment_email" type="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 col-xs-12 mb30">
                                        <input name="comment_phone" id="comment_phone" type="text" placeholder="Website">
                                    </div>
                                    <div class="col-md-12 col-xs-12 mb30">
                                        <textarea class="width100p" name="comment_message" id="comment_message" cols="30" rows="10" placeholder="Your Comments"></textarea>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <button type="submit">post comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="widgets-area wow fadeIn">
                        <div class="single-sidebar-widget widget_search mb50">
                            <form class="search-form" action="#">
                                <input name="s" id="search" placeholder="Search..." type="search">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <div class="single-sidebar-widgets widget_categories padding20 mb50 border">
                            <h3>Categories</h3>
                            <ul>
                                <li><a href="#">Advanture</a></li>
                                <li><a href="#">Travels</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Foods</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Pupular</a></li>
                            </ul>
                        </div>
                        <div class="single-sidebar-widgets widget_recent_entries padding20 mb50 border">
                            <h3>Recent Post</h3>
                            <ul>
                                <li>
                                    <a href="single-blog.html" class="alignleft"><img src="assest/img/blog/thumb-1.jpg" alt=""></a>
                                    <p class="blog-meta font14 mb0"><a href="#">Feb 01, 2016  </a></p>
                                    <p class="font600"><a href="single-blog.html">Lorem Imsum Dummy Text Title Goes.</a></p>
                                </li>
                                <li>
                                    <a href="single-blog.html" class="alignleft"><img src="assest/img/blog/thumb-2.jpg" alt=""></a>
                                    <p class="blog-meta font14 mb0"><a href="#">Feb 01, 2016  </a></p>
                                    <p class="font600"><a href="single-blog.html">Lorem Imsum Dummy Text Title Goes.</a></p>
                                </li>
                                <li>
                                    <a href="single-blog.html" class="alignleft"><img src="assest/img/blog/thumb-3.jpg" alt=""></a>
                                    <p class="blog-meta font14 mb0"><a href="#">Feb 01, 2016  </a></p>
                                    <p class="font600"><a href="single-blog.html">Lorem Imsum Dummy Text Title Goes.</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="single-sidebar-widgets tagcloud padding20 mb50 border">
                            <h3>Tag Cloud</h3>
                            <a href="#">Travel</a>
                            <a href="#">Advanture</a>
                            <a href="#">Food</a>
                            <a href="#">lifestyle</a>
                            <a href="#">Photography</a>
                            <a href="#">Trends</a>
                            <a href="#">Music</a>
                            <a href="#">Fashion</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->

    <!--CONTACT US AREA-->
    <section class="contact-area padding-bottom-50 sky-gray-bg" id="contact">
        <div class="map-area relative">
            <div id="map" style="width: 100%; height: 600px;"> </div>
        </div>
        <div class="contact-form-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                        <div class="contact-form-content padding50 xs-padding20 mb100 sm-mb80 xs-mb50">
                            <div class="contact-title text-center mb50 wow fadeIn">
                                <h3 class="font32">Get In Touch</h3>
                            </div>
                            <div class="contact-form wow fadeIn">
                                <form action="process.php" id="contact-form" method="post">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group" id="name-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group" id="email-field">
                                                <div class="form-input">
                                                    <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group" id="phone-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Subject..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group" id="message-field">
                                                <div class="form-input">
                                                    <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Your Message Here..." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <div class="form-group center mb0">
                                                <button type="submit">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <div class="text-icon-box mb50 center wow fadeIn">
                            <div class="box-icon">
                                <i class="ti-headphone-alt"></i>
                            </div>
                            <p>+0044 545 989 62698</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <div class="text-icon-box relative mb50 center  wow fadeIn">
                            <div class="box-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <p>28 Green Tower, Street Name New York City, USA</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <div class="text-icon-box relative mb50 xs-mb0 center wow fadeIn">
                            <div class="box-icon">
                                <i class="ti-email"></i>
                            </div>
                            <p>yourmail@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US AREA END-->

    <!--FOOER AREA-->
    <footer class="footer-area sky-gray-bg relative">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="footer-social-bookmark text-center wow fadeIn">
                        <div class="footer-logo mb50">
                            <a href="#"><img src="assest/img/logo.png" alt=""></a>
                        </div>
                        <ul class="social-bookmark mt50">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="footer-copyright text-center wow fadeIn">
                        <p>Copyright &copy; <a href="http://themeforest.net/user/bdexpert"> BDEXPERT</a> All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="assest/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assest/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="assest/js/vendor/jquery.easing.1.3.js"></script>
    <script src="assest/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="assest/js/vendor/jquery.appear.js"></script>
    <script src="assest/js/owl.carousel.min.js"></script>
    <script src="assest/js/stellar.js"></script>
    <script src="assest/js/waypoints.min.js"></script>
    <script src="assest/js/jquery.counterup.min.js"></script>
    <script src="assest/js/wow.min.js"></script>
    <script src="assest/js/jquery-modal-video.min.js"></script>
    <script src="assest/js/stellarnav.min.js"></script>
    <script src="assest/js/placeholdem.min.js"></script>
    <script src="assest/js/contact-form.js"></script>
    <script src="assest/js/jquery.ajaxchimp.js"></script>
    <script src="assest/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="assest/js/main.js"></script>

    <!--===== MAPS JS=====-->
    <script src="assest/js/maps.active.js"></script>
</body>

</html>
