<link rel="stylesheet" href="/src/styles/pro.css?<%= VERSION %>">
<script src="/lib/others/jquery.range.js" type="application/javascript"></script>
<%-include("siderBar.html")%>

<div class="trading-content" id="app-trade-pro">
    <div class="trading-count" v-cloak="">
        <div class="l-area">
            <div class="current-price">
                <div class="coin-icon">
                    <img :src="'/src/images/icon/market-icon/market-'+coin+'.png'">
                </div>
                <h2>{{coinName}}/{{moneyName}} <span :class="priceClass">{{currentPrice}}</span></h2>
                <p>≈ {{getPriceByAssist(currentPrice)}} {{showAssistCoin()}}</p>
            </div>
            <div class="num">24H<%- LANG('涨跌幅')%><br/><span :class="rateClass">{{riseRate}}%</span></div>
            <div class="num">24H<%- LANG('最高价')%><br/><span class="trading-redcolor hint--bottom" :aria-label="showAssistHint(highPrice)">{{highPrice}}</span></div>
            <div class="num">24H<%- LANG('最低价')%><br/><span class="trading-greencolor hint--bottom" :aria-label="showAssistHint(lowPrice)">{{lowPrice}}</span></div>
            <div class="num">24H<%- LANG('交易量')%><br/><span class="trading-darkcolor">{{volume}} {{coinName}}</span></div>
        </div>
        <div class="r-area">
            <a role="button" style="margin-right: 15px;" onclick="$('.trading-chart').toggle()"><%- LANG('收起/展开K线')%></a>
        </div>
    </div>
    <div class="trading-chart">
        <div class="plate-time flex flex-lr-center flex-tb-center" v-cloak="" v-if="marketOpenStatus">
            <div class="time">
                <template v-if="marketOpenStatus && marketOpenTime[0] < 30">
                    <h3><%= LANG('开盘倒计时')%></h3>
                    <div class="countdown flex flex-tb-center">
                        <p>{{marketOpenTime[0]}}</p>
                        <em><%= LANG('天')%></em>
                        <p>{{marketOpenTime[1]}}</p>
                        <em><%= LANG('时')%></em>
                        <p>{{marketOpenTime[2]}}</p>
                        <em><%= LANG('分')%></em>
                        <p class="sec">{{marketOpenTime[3]}}</p>
                        <em><%= LANG('秒')%></em>
                    </div>
                    <p><%= LANG('开盘时间')%>：{{marketStartTime}} GMT+0800 (CST)</p>
                </template>
                <template v-if="marketOpenStatus && marketOpenTime[0] > 30">
                    <h3 class="text"><%= LANG('敬请期待')%></h3>
                </template>
            </div>
        </div>

        <div class="chart-area">
            <div class="common-box chart-box">
                <div class="chart-box-head" v-cloak="">
                    <div class="l-area">
                        <div class="item"><p @click="setChartType('kline')" :class="{'active' : chartType == 'kline'}"><%= LANG('K线图') %></p></div>
                        <div class="item"><p @click="setChartType('depth')" :class="{'active' : chartType == 'depth'}"><%= LANG('深度图') %></p></div>
                        <div class="line"></div>
                        <div class="item"><p @click="setChartMoney(money)" :class="{'active' : kline.money == money}" class="hint--bottom" aria-label="<%= LANG('K线价格显示单位设置')%>" v-html="moneyName"></p></div>
                        <div class="item"><p @click="setChartMoney(assistCoin.toLowerCase())" :class="{'active' : kline.money != money && kline.money != 'none'}" class="hint--bottom" aria-label="<%= LANG('K线价格显示单位设置')%>" v-html="showAssistCoin()"></p></div>
                        <div class="line"></div>
                        <div class="item arrow" v-cloak="">
                            <p v-if="kline.period == '1w'"><%= LANG('周') %></p>
                            <p v-if="kline.period == '1d'"><%= LANG('日') %></p>
                            <p v-if="kline.period == '1h'">1<%= LANG('小时') %></p>
                            <p v-if="kline.period == '30m'">30<%= LANG('分') %></p>
                            <p v-if="kline.period == '15m'">15<%= LANG('分') %></p>
                            <p v-if="kline.period == '1m'">1<%= LANG('分') %></p>
                            <p v-if="kline.period == 'line'"><%= LANG('分时') %></p>
                            <ul class="item-list" v-cloak="">
                                <li role="button" @click="switchPeriod('1w','7D')" :class="[kline.period == '1w' ? 'active' : '']"><%= LANG('周') %></li>
                                <li role="button" @click="switchPeriod('1d','1D')" :class="[kline.period == '1d' ? 'active' : '']"><%= LANG('日') %></li>
                                <li role="button" @click="switchPeriod('1h','1H')" :class="[kline.period == '1h' ? 'active' : '']">1<%= LANG('小时') %></li>
                                <li role="button" @click="switchPeriod('30m','30M')" :class="[kline.period == '30m' ? 'active' : '']">30<%= LANG('分') %></li>
                                <li role="button" @click="switchPeriod('15m','15M')" :class="[kline.period == '15m' ? 'active' : '']">15<%= LANG('分') %></li>
                                <li role="button" @click="switchPeriod('1m','1M')" :class="[kline.period == '1m' ? 'active' : '']">1<%= LANG('分') %></li>
                                <li role="button" @click="switchPeriod('line','1M')" :class="[kline.period == 'line' ? 'active' : '']"><%= LANG('分时') %></li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="item arrow">
                            <p><%= LANG('更多') %></p>
                            <ul class="item-list more">
                                <li>
                                    <p><%= LANG('主指标')%>：</p>
                                    <a @click="setChartMainIndicator('MA')" :class="{'selected': kline.mIndic == 'MA'}">MA</a>
                                    <a @click="setChartMainIndicator('EMA')" :class="{'selected': kline.mIndic == 'EMA'}">EMA</a>
                                    <a @click="setChartMainIndicator('BOLL')" :class="{'selected': kline.mIndic == 'BOLL'}">BOLL</a>
                                    <a @click="setChartMainIndicator('SAR')" :class="{'selected': kline.mIndic == 'SAR'}">SAR</a>
                                    <a @click="setChartMainIndicator('NONE')" :class="{'selected': kline.mIndic == 'NONE'}">NONE</a>
                                </li>
                                <li>
                                    <p><%= LANG('主图样式')%>：</p>
                                    <a @click="setChartMainStyle('CandleStick')" :class="{'selected': kline.chartStyle == 'CandleStick'}">CandleStick</a>
                                    <a @click="setChartMainStyle('CandleStickHLC')" :class="{'selected': kline.chartStyle == 'CandleStickHLC'}">CandleStickHLC</a>
                                    <a @click="setChartMainStyle('OHLC')" :class="{'selected': kline.chartStyle == 'OHLC'}">OHLC</a>
                                </li>
                                <li><p></p><a @click="showChartSetting" role="button"><%= LANG('指标参数设置')%></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="r-area">
                        <div class="item arrow">
                            <p><%= LANG('价格显示')%>：<span v-html="showAssistName()"></span></p>
                            <ul class="item-list">
                                <li role="button" @click="setAssistCoin(item.key)" :class="item.key == assistCoin ? 'active' : ''" v-for="item in assistList">{{item.name}}</li>
                            </ul>
                        </div>
                        <div class="item">
                            <p><a :href="'/trade/' + currentMarket" target="_self" role="button"><%= LANG('K线交易')%></a></p>
                        </div>
                    </div>
                </div>

                <div class="chart-box-body">
                    <div style="height: 100%;" v-show="chartType === 'kline'">
                        <iframe :src="'/kline/lite/' + currentMarket + '?money=' + assistCoin.toLowerCase()" id="marketFrame" class="marketFrame" name="marketFrame" onload="" frameborder="0" width="100%" style="height:100%" hspace="0" scrolling="no"></iframe>
                    </div>
                    <div style="height: 100%;" v-if="chartType === 'depth'">
                        <exx-highchart class="depth-chart" :options="depthChartOptions" ref="depth"></exx-highchart>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="trading-hotspot">
        <div class="trading-form">
            <div class="form-tab" v-cloak="">
                <ul>
                    <li @click="changeTradeMode(0)" :class="{'active' : currentTradeMode == 0 && !showLeverInfo}"><%= LANG('限价委托')%></li>
                    <li @click="changeTradeMode(1)" :class="{'active' : currentTradeMode == 1 && !showLeverInfo}"><%= LANG('批量委托')%></li>
                    <li @click="showLeverInfo = true" :class="{'active' : showLeverInfo}" v-if="isLogin && currentMarketConfig && currentMarketConfig.leverRate > 0 && currentUserAsset.userType != 1 ">
                        {{currentMarketConfig.leverType == 0 ? "<%= LANG('现货杠杆')%>" : "<%= LANG('期货杠杆')%>"}}
                        <span class="hint--top" aria-label="<%= LANG('已开启杠杆倍数')%> / <%= LANG('最大杠杆倍数')%>">
                            [{{currentMarketLever ? currentMarketLever.leverLevel : 0}}/{{currentMarketConfig ? currentMarketConfig.leverRate : 0}}]
                        </span>
                    </li>
                </ul>
                <div class="operation">
                    <a role="button" class="switch":class="{'on': inputPriceMode != 0}" @click="toggleInputPriceMode"><%- LANG('价格输入转换')%><i></i></a>
                    <a v-if="isLogin && currentMarketConfig && currentMarketConfig.leverRate > 0" role="button" class="switch" :class="{'on': currentMarketLever}" @click="toggleLever" :disabled="!isLogin">
                        <template v-if="currentMarketLever"><%= LANG('杠杆已开启')%>[<span class="corY hint--top" aria-label="<%= LANG('平仓风险')%>">{{currentMarketLever.userRatio}}%</span>]</template>
                        <template v-else=""><%= LANG('杠杆已关闭')%></template>
                        <i></i>
                    </a>
                </div>
            </div>
            <div class="form-lever-panel" v-cloak="">
                <%-include("lever.html")%>
            </div>
            <div class="form-content" v-show="!showLeverInfo">
                <trade-form :trade-type="1" :current-user-asset="currentUserAsset" :market-config="currentMarketConfig" :current-market="currentMarket" :assist-price="assistPrice" ref="tradeFormBuy"></trade-form>
                <!--<div class="form-line"></div>-->
                <trade-form :trade-type="0" :current-user-asset="currentUserAsset" :market-config="currentMarketConfig" :current-market="currentMarket" :assist-price="assistPrice" ref="tradeFormSell"></trade-form>
            </div>
        </div>
        <dish-part :dish-data="lastDepth" :market-config="currentMarketConfig" :current-market="currentMarket" :assist-price="assistPrice" ref="dishPart"></dish-part>
    </div>
    <div class="trading-record">
        <div class="entrust-record">
            <div class="current-entrust" v-for="tab in entrustTab" v-cloak="">
                <div class="entrust-head">
                    <h3>{{tab[1]}}</h3>
                    <div class="r-area oper" v-if="isLogin">
                        <a v-if="tab[0] == 'history'" :href="'/u/entrust/' + currentMarketName" target="_blank" role="button"><%=LANG('更多委托')%></a>
                        <a v-if="tab[0] == 'doing'" @click="showModal = 'batchCancel'" role="button"><%= LANG('批量撤单')%></a>
                    </div>
                </div>
                <div class="record-list">
                    <ul>
                        <li class="head">
                            <div class="item time"><p><%= LANG('时间')%></p></div>
                            <div class="item"><p><span><%= LANG('委托价')%></span><%= LANG('成交均价')%>({{moneyName}})</p></div>
                            <div class="item"><p><span><%= LANG('委托量')%></span><%= LANG('成交量')%>({{coinName}})</p></div>
                            <div class="item"><p><span><%= LANG('成交额')%></span>({{moneyName}})</p></div>
                            <div class="item last"><p><%= LANG('操作')%></p></div>
                        </li>
                        <!--有记录 TODO 渲染委托记录-->
                        <li v-if="isLogin && getGroupEntrust(tab[0]).length > 0" v-for="item,index in getGroupEntrust(tab[0])">
                            <div class="type trading-redcolor" v-if="item.type==1"><%= LANG('买')%></div>
                            <div class="type trading-greencolor" v-if="item.type==0"><%= LANG('卖')%></div>
                            <div class="item time"><p><span class="trading-darkcolor">{{showTime(item.createTime)}}</span></p></div>
                            <div class="item">
                                <p>
                                    <span :class="item.type==1 ? 'trading-redcolor' : 'trading-greencolor'" class="hint--top" :aria-label="showAssistHint(item[1])">{{showMoney(item[1])}}</span>
                                    <span class="hint--top" :aria-label="showAssistHint(item[4]/item[3])">{{showMoney(item[4]/item[3])}}</span>
                                </p>
                            </div>
                            <div class="item"><p><span class="trading-darkcolor">{{showCoin(item[2])}}</span>{{showCoin(item[3])}}</p></div>
                            <div class="item"><p class="hint--top" :aria-label="showAssistHint(item[4])">{{showAmount(item[4])}}</p></div>
                            <div class="item last" v-if="item[7] == 3 || item[7] == 0">
                                <p><a role="button" @click="doCancelEntrust(item[0])"><i class="trading-icon trading-icon-cancel"></i></a></p>
                            </div>
                            <div class="item last" v-if="item[7] != 3 && item[7] != 0">
                                <p v-html="showStatus(item[7])"></p>
                            </div>
                        </li>
                        <!--无记录-->
                        <li v-if="isLogin && getGroupEntrust(tab[0]).length == 0">
                            <%- LANG('通用没有任何记录')%>
                        </li>
                        <!--未登录-->
                        <li v-if="!isLogin">
                            <%- LANG('通用未登录提示')%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <deal-record :deal-record="dealRecord" :market-config="currentMarketConfig" :current-market="currentMarket" ref="dealRecord"></deal-record>
    </div>


    <!-- 开启关闭杠杆 -->
    <modal v-cloak :open= "showModal == 'toggleUserAction'" @close="showModal = false">
        <toggle-user-action :params="userParams" :done="userActionSuccess()" theme="light"/>
    </modal>
    <!-- 批量取消委托 -->
    <modal v-cloak :open= "showModal == 'batchCancel'" @close="showModal = false">
        <batch-cancel :market-config="currentMarketConfig" theme="light"/>
    </modal>
    <!--还款-->
    <modal v-cloak :open= "showModal == 'refund'" @close="showModal = false">
        <modal-refund :params="refundParams" :user-asset="currentUserAsset" />
    </modal>
</div>
<%-include("dishPart.html")%>
<%-include("lastTrade.html")%>
<%-include("tradeForm.html")%>
<%-include("../app/batchCancel.html")%>

<%-include("../../component/modal.html")%>
<%-include("../../u/model/refund.html")%>
<%-include("../../u/model/toggleUserAction.html")%>
<%-include("../../component/vue_highcharts.html")%>
<%-include("../../activity/_addMarket.html")%>
<%-include("../../component/vue_highcharts.html")%>
<!--引入交易app-->
<%-include("../app.html", {theme : 'light'})%>
<!--侧边栏-->
<style>
    .footer-content { width: auto; padding: 50px 15px;}
</style>