<link rel="stylesheet" href="/lib/bootstrap-datepicker-master/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/lib/bootstrap-datepicker-master/css/bootstrap-datepicker.standalone.css">

<div class="advertisement" id="advertisement">
    <div class="title">
        <div class="search">
            <input type="text" @click="openDropdown" placeholder="<%=LANG('时间/编号/币种/法币币种/类型')%>" readonly>
            <fiter-drop-down :open="fiterDropDown" :type="'2'" @fetch-list="getfinList" :currency-list="currencyList"/>
        </div>
    </div>
    <div class="list">
        <table>
            <thead>
            <tr>
                <td><%=LANG('广告编号')%></td>
                <td><%=LANG('类型')%></td>
                <td><%=LANG('币种及数量')%></td>
                <td><%=LANG('订单限额')%></td>
                <td><%=LANG('单价')%></td>
                <td><%=LANG('时间')%></td>
                <td><%=LANG('剩余数量')%></td>
                <td><%=LANG('已完成')%></td>
                <td><%=LANG('操作')%></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in finList" v-cloak="">
                <td>{{item.id}}</td>
                <td>{{['', '<%=LANG('购买')%>', '<%=LANG('出售')%>'][item.advType]}}</td>
                <td>{{item.orderAmount + item.orderCoin}}</td>
                <td>{{item.orderLimitMin}} ～ {{item.orderLimitMax}}</td>
                <td>{{item.orderPrice}}</td>
                <td>{{getData(item.createTime, 'YYYY-MM-DD HH:MM:SS')}}</td>
                <td>{{item.laveAmount}}</td>
                <td><span class="a-btn" @click="rollsOff(item)">{{item.advStatus == 0 ? '<%=LANG('上架')%>' : '<%=LANG('下架')%>'}}</span></td>
                <td><span class="a-btn" @click="lookDetail(item)"><%=LANG('查看')%></span></td>
            </tr>
            <tr class="no-data" v-if="loading">
                <td colspan="9" style="text-align: center" >
                    <div class="cd-loading">
                        <div class="vertical-bars">
                            <p class="layer-1"></p>
                            <p class="layer-2"></p>
                            <p class="layer-3"></p>
                            <p class="layer-4"></p>
                            <p class="layer-5"></p>
                            <p class="layer-6"></p>
                            <p class="layer-7"></p>
                            <p class="layer-8"></p>
                            <p class="layer-9"></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr v-if="finList.length == 0 || !finList" class="nodata">
                <td colspan="9" style="text-align: center"><%= LANG('暂无数据') %></td>
            </tr>
            </tbody>
        </table>
        <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" @turn-page="getfinList"
                   v-if="finList.length > 0" :params="paramsObj"></page-lite>
    </div>
    <modal v-cloak :open="showModal == 'upAdvs'" @close="showModal = false">
        <up-advs :adv-detail="record" :type="'1'"/>
    </modal>
</div>

<%-include("../../component/fiterDropDown.html")%>

<script>
    require(['vue', 'common/methods', 'common/juabox', 'datepicker'], function (Vue, Methods, JuaBox) {
        var advertisement = new Vue({
            el: "#advertisement",
            data: function () {
                return {
                    loading: true,
                    finList: [],
                    pageSize: 10,
                    pageIndex: 1,
                    totalPage: 0,
                    pageCount: 0,
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'),
                    showModal: false,
                    record: {},
                    fiterDropDown: false,
                    currencyList: [],
                    reameNameStatus: null,
                    paramsObj: {}
                }
            },
            created() {
                this.queryStatus()
                this.getfinList()
                this.getCurrencyList()
                if (this.loginUser.safePwdAuth == '0') {
                    JuaBox.confirm("<%=LANG('您还未设置交易密码！')%>", {
                        buttons: {confirm: "去设置"}, callback: function () {
                            window.location.href = 'account'
                        }
                    })
                }
            },
            mounted: function () {

            },
            computed: {

            },
            methods: {
                getCurrencyList: function () {  //查询法币接口
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectCurrency',
                        data: {},
                        success: function (res) {
                            this.currencyList = res.datas
                        }.bind(this)
                    })
                },
                openDropdown: function() {
                    this.fiterDropDown = !this.fiterDropDown
                },
                getData: function(time, format) {
                    return Methods.getDateTime(time, format)
                },
                getStatus: function (status) {
                    switch (status) {
                        case 0:
                            return '<%=LANG('交易成功')%>'
                            break;
                        case 1:
                            return '<%=LANG('等待付款')%>'
                            break;
                        case 2:
                            return '<%=LANG('确认收款 ')%>'
                            break;
                        case 3:
                            return '<%=LANG('无效订单')%>'
                            break;
                        case -1:
                            return '<%=LANG('申诉')%>'
                            break;
                    }
                },
                getfinList: function (obj) {
                    var data = Object.assign({
                        pageSize: this.pageSize,
                        pageIndex: this.pageIndex,
                        userId: this.loginUser.userId
                    }, obj)
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectAdvsLists',
                        data: data,
                        success: function (res) {
                            this.loading = false
                            this.finList = res.datas.results
                            this.pageCount = res.datas.totalRow
                            this.pageSize = res.datas.pageSize
                            this.pageIndex = res.datas.pageIndex
                            this.totalPage = res.datas.totalPage
                        }.bind(this)
                    })
                },
                queryStatus: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/queryOtherMerchant',
                        data: {
                            userId: this.loginUser.userId
                        },
                        success: function (res) {
                            this.reameNameStatus = res.datas
                            if (res.datas == null) {
                                JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                                    buttons: {confirm: "去认证"}, callback: function () {
                                        window.location.href = 'account'
                                    }
                                })
                            }
                        }.bind(this)
                    })
                },
                rollsOff: function (item) {
                    if (this.loginUser.safePwdAuth == '0') {
                        JuaBox.confirm("<%=LANG('您还未设置交易密码！')%>", {
                            buttons: {confirm: "去设置"}, callback: function () {
                                window.location.href = 'account'
                            }
                        })
                        return false
                    }
                    if (this.reameNameStatus == null) {
                        JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                            buttons: {confirm: "去认证"}, callback: function () {
                                window.location.href = 'account'
                            }
                        })
                        return false
                    }
                    if(item.advStatus == 0) { //上架
                        this.record = item
                        this.showModal = 'upAdvs'
                    } else {
                        JuaBox.confirm("<%=LANG('该广告下架之后将不会再展示，确定要下架这条广告吗？')%>", {
                            buttons: {cancel: "<%=LANG('返回')%>", confirm: "<%=LANG('确定')%>"},
                            callback: function () {
                                var data = {}
                                Object.assign(data, item)
                                item.advStatus == 0 ? data.advStatus = 1 : data.advStatus = 0
                                data.currencyTypeName = item.orderCoin
                                Methods.ajax({
                                    type: 'POST',
                                    url: DOMAIN_DEV +
                                        '/exchange/XtOtcController/updateAdvsStatus',
                                    data: data,
                                    success: function (res) {
                                        JuaBox.success(EXX.L(res.resMsg.code));
                                        this.getfinList()
                                    }.bind(this),
                                    error: function (res) {
                                        if (res.resMsg.code == '7015') {
                                            JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                                                buttons: {confirm: "去认证"}, callback: function () {
                                                    window.location.href = 'account'
                                                }
                                            })
                                        } else if (res.resMsg.code == '6078') {
                                            JuaBox.confirm("<%=LANG('您还未设置资金密码！')%>", {
                                                buttons: {confirm: "去设置"}, callback: function () {
                                                    window.location.href = 'account'
                                                }
                                            })
                                        } else {
                                            JuaBox.wrong(EXX.L(res.resMsg.code));
                                        }
                                    }
                                })
                            }.bind(this)
                        })
                    }
                },
                lookDetail: function (item) {
                    window.location.href = `advDetail/${item.id}`
                }
            }
        })
    });
</script>

<%-include("../../component/modal.html")%>
<%-include("../model/upAdvs.html")%>
<%-include("../../component/page_lite.html")%>
