<div class="finance" id="finance">
    <div class="title">
        <div class="tab-box">
            <span :class="advType == 1 ? 'active' : ''" @click="changeAdvType(1)"><%=LANG('买币')%></span>
            <span :class="advType == 2 ? 'active' : ''" @click="changeAdvType(2)"><%=LANG('卖币')%></span>
        </div>
        <div class="search">
            <input type="text" placeholder="<%=LANG('时间/法币币种/币种')%>" @click="openDropdown" readonly>
            <fiter-drop-down :open="fiterDropDown" :type="'4'" @fetch-list="getfinList" :currency-list="currencyList" :coin-list="coinList"/>
        </div>
    </div>
    <div class="screening">
        <div class="partner-details">
            <div class="pieChart clearfix">
                <ul>
                    <li>
                    <span>
                        <%= LANG('卖出数量') %></span>
                        <em v-cloak="">{{records.amount || 0}}
                            <%= LANG('XT') %></em>
                    </li>
                    <li>
                        <span><%= LANG('卖出均价')%></span>
                        <em v-cloak="">{{records.money / records.num || 0}}
                            {{legalCurrencyName.toUpperCase()}}</em>
                    </li>
                    <li>
                    <span>
                        <%= LANG('收入金额') %></span>
                        <em v-cloak="">{{records.money || 0}}
                            {{legalCurrencyName.toUpperCase()}}</em>
                    </li>
                    <li>
                        <span><%= LANG('成交订单') %></span>
                        <em v-cloak="">{{records.num || 0}}
                            <%= LANG('笔') %></em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list">
        <table>
            <thead>
            <tr>
                <td><%=LANG('订单编号')%></td>
                <td><%=LANG('交易类型')%></td>
                <td><%=LANG('币种及数量')%></td>
                <td><%=LANG('总价')%></td>
                <td><%=LANG('单价')%></td>
                <td><%=LANG('时间')%></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in finList" v-cloak="">
                <td>{{item.orderNo}}</td>
                <td>{{['', '<%=LANG('购买')%>', '<%=LANG('出售')%>'][item.orderType]}}</td>
                <td>{{item.amount + item.currencyName.toUpperCase()}}</td>
                <td>{{item.totalAmount}}</td>
                <td>{{item.price}}</td>
                <td>{{getData(item.createTime, 'YYYY-MM-DD HH:MM:SS')}}</td>
            </tr>
            <tr class="no-data nodata" v-if="loading">
                <td colspan="9" style="text-align: center" >
                    <div class="cd-loading">
                        <div class="vertical-bars">
                            <p class="layer-1"></p>
                            <p class="layer-2"></p>
                            <p class="layer-3"></p>
                            <p class="layer-4"></p>
                            <p class="layer-5"></p>
                            <p class="layer-6"></p>
                            <p class="layer-7"></p>
                            <p class="layer-8"></p>
                            <p class="layer-9"></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr v-if="finList.length == 0 || !finList" class="nodata">
                <td colspan="9" style="text-align: center"><%= LANG('暂无数据') %></td>
            </tr>
            </tbody>
        </table>
        <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" @turn-page="getfinList"
                   v-if="finList.length > 0" :params="paramsObj"></page-lite>
    </div>
</div>

<%-include("../../component/fiterDropDown.html")%>

<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        var finance = new Vue({
            el: "#finance",
            data: function () {
                return {
                    loading: true,
                    advType: 1,
                    finList: [],
                    pageSize: 10,
                    pageIndex: 1,
                    totalPage: 0,
                    pageCount: 0,
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'),
                    records: {},
                    legalCurrencyName: {
                        cn: 'cny',
                        en: 'usd',
                        kr: 'krw',
                        jp: 'jpy',
                        hk: 'hkd'
                    } [getCookie(ENV + 'lan')], //查询OTC交易币种 法币币种
                    fiterDropDown: false,
                    currencyList: [],
                    coinList: [],
                    reameNameStatus: null,
                    paramsObj: {}
                }
            },
            created() {
                this.queryStatus()
                this.getfinList()
                this.getCurrencyList()
                this.getCoinList()
                if (this.loginUser.safePwdAuth == '0') {
                    JuaBox.confirm("<%=LANG('您还未设置交易密码！')%>", {
                        buttons: {confirm: "去设置"}, callback: function () {
                            window.location.href = 'account'
                        }
                    })
                }
            },
            computed: {},
            methods: {
                queryStatus: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/queryOtherMerchant',
                        data: {
                            userId: this.loginUser.userId
                        },
                        success: function (res) {
                            this.reameNameStatus = res.datas
                            if (res.datas == null) {
                                JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                                    buttons: {confirm: "去认证"}, callback: function () {
                                        window.location.href = 'account'
                                    }
                                })
                            }
                        }.bind(this)
                    })
                },
                getCoinList: function (name) {   //查询 币种列表
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectCoinLists',
                        data: {
                            legalCurrencyName: name ? name : 'cny'
                        },
                        success: function (res) {
                            this.coinList = res.datas
                        }.bind(this)
                    })
                },
                openDropdown: function() {
                    this.fiterDropDown = !this.fiterDropDown
                },
                getCurrencyList: function () {  //查询法币接口
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectCurrency',
                        data: {},
                        success: function (res) {
                            this.currencyList = res.datas
                        }.bind(this)
                    })
                },
                getData: function(time, format) {
                    return Methods.getDateTime(time, format)
                },
                changeAdvType: function (type) {
                    this.advType = type
                    this.getfinList()
                },
                getfinList: function (obj) {
                    var data = Object.assign({
                        pageSize: this.pageSize,
                        pageIndex: this.pageIndex,
                        userId: this.loginUser.userId,
                        orderType: this.advType
                    }, obj)
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectUserOrdersRecord',
                        data: data,
                        success: function (res) {
                            this.loading = false
                            this.records = res.datas.records
                            this.finList = res.datas.results.results
                            this.pageCount = res.datas.totalRow
                            this.pageSize = res.datas.results.pageSize
                            this.pageIndex = res.datas.results.pageIndex
                            this.totalPage = res.datas.results.totalPage
                        }.bind(this)
                    })
                }
            }
        })
    });
</script>

<%-include("../../component/page_lite.html")%>