<script>
    /*
    * 倒计时（最多统计小时）
    * 传入的 timeType 为三种：
    * 当传入 0：小时
    * 当传入 1：分钟
    * 当传入 2：秒钟
    * */
    require(['vue', 'common/methods'], function (Vue, Methods){
        return Vue.component('count-down', {
            template: "<span class='count-down'>{{timePrint || '00:00'}}</span>",
            props: {
                timeStart:{
                    type: Number,
                    default:0
                },
                timeRange:{
                    type: Number,
                    default:0
                },
                timeType:{
                    type:Number,
                    default:0
                },
                done : {
                    type : Function,
                    default : function(){

                    }
                }
            },
            data: function () {
                return {
                    timePrint:'',
                }
            },
            created:function(){
                this.pageStart()
            },
            methods:{
                // 获取服务器时间
                getServerTime: function (callback) {
                    var _this = this;
                    Methods.getJSONP({
                        url: DOMAIN_MAIN + API_PREFIX + 'getServerTime',
                        success: function (res) {
                            callback && callback(res.datas.last);
                        }
                    });
                },
                countDownTime:function(totalTime){
                    var _this = this;
                    var timedown = function () {
                        //计算出小时数
                        var leave1=totalTime%(24*3600*1000);
                        var hours=Math.floor(leave1/(3600*1000))
                        //计算相差分钟数
                        var leave2=leave1%(3600*1000);
                        var minutes=Math.floor(leave2/(60*1000))
                        //计算相差秒数
                        var leave3=leave2%(60*1000);
                        var seconds=Math.round(leave3/1000)
                        var timeStr = '';
                        if(hours>0){
                            timeStr += (hours < 10 ? '0' + hours : hours + '') + ':'
                        }
                        timeStr += (minutes < 10 ? '0' + minutes : minutes + '') + ':' + (seconds < 10 ? '0' + seconds : seconds + '')
                        _this.timePrint = timeStr
                    }
                    timedown();
                    var interval = setInterval(function () {
                        totalTime -= 1000;
                        timedown();
                        if(totalTime < 1000){
                            //回调方法
                            _this.done();
                            window.clearInterval(interval);
                        }
                    },1000)
                },
                formatTime : function (time) {
                    return Methods.getDateTime(time, "HH:MM:SS");
                },
                printTime:function(){
                    this.getServerTime(function(time){
                        this.displayTime = this.formatTime(time)
                    }.bind(this))
                },
                pageStart:function(){
                    var _this = this;
                    _this.getServerTime(function(serverTime){
                        var startTime = parseFloat(_this.timeStart);
                        var nowTime = Date.parse(new Date(parseFloat(serverTime)));
                        switch(_this.timeType){
                            case 0:
                                startTime += (3600*1000*_this.timeRange)
                                break;
                            case 1:
                                startTime += (60*1000*_this.timeRange)
                                break;
                            case 2:
                                startTime += (1000*_this.timeRange)
                                break;
                        }
                        var totalTime = startTime - nowTime;
                        if(totalTime > 0){
                            _this.countDownTime(totalTime);
                        }else{
                            //回调方法
                            _this.done();
                        }
                    });
                }
            }
        });
    })
</script>
<style>
    .count-down{
        display: inline-block;
        padding: 0 20px;
        font-weight: 600;
        transform:scale(1.8);
        margin: 0 10px;
    }
</style>