<script type="text/x-template" id="dispute-form">
    <div class="exx-modal-container dispute-form">
        <div class="exx-modal-header">
            <h3 v-if="disputeType"><%= LANG('申诉提交') %></h3>
            <h3 v-else=""><%= LANG('证据提交') %></h3>
        </div>
        <div class="exx-modal-body">
            <div class="exx-form-box">
                <div class="form-box">
                    <div class="form-group" v-if="disputeType">
                        <div class="form-control">
                            <select v-model="select">
                                <option disabled value=""><%= LANG('请选择申诉类型') %></option>
                                <option v-for="option in options" :value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                            <a class="label-a"><span><%= LANG('申诉类型') %></span></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <textarea placeholder="<%= LANG('问题描述...') %>" v-model="textDesc"></textarea>
                        </div>
                    </div>
                    <div class="form-group dispute-form-group" v-if="!disputeType && list.length">
                        <div class="dispute-form-control">
                            <div class="dispute-form-item" v-for="l,i in list" :key="l.id">
                                <div class="pm-itemcont" :id="'file' + l.id"></div>
                                <button @click="removeItem(i)" class="cancelbutton"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" v-if="disputeType" style="color:#f00;">
                        <%- LANG('申请申诉提示信息')%>
                    </div>
                    <div class="form-button">
                        <button type="button" class="button" :disabled="disableClick" :class="{disabled:disableClick}" @click="addItem" v-if="!disputeType">
                            <span><%= LANG('添加更多证据') %></span>
                        </button>
                        <button v-if="!locked" class="button" @click="doSubmit"><span><%= LANG('提交申诉') %></span></button>
                        <button v-if="locked" class="button" :class="{disabled:locked}" :disabled="locked"><span><%= LANG('正在处理') %></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    require(['vue','common/methods','common/upload'], function(Vue,Methods,Upload) {
        return Vue.component('dispute-form',{
            template: "#dispute-form",
            props:{
                disputeType:{
                    /*
                    * 1是提交申诉
                    * 0是提交证据
                    * 默认为0
                    * */
                    type:Number,
                    default:0
                },
                orderCode:{
                    type:Number,
                    default:0
                },
                appealCode:{
                    type:Number,
                    default:0
                }
            },
            data: function() {
                return {
                    locked:false,
                    index:0,
                    list:[],
                    select:'',
                    options:[
                        {
                            text:"<%= LANG('对方无应答') %>",
                            value:1
                        },
                        {
                            text:"<%= LANG('对方未放行') %>",
                            value:2
                        },
                        {
                            text:"<%= LANG('对方未付款') %>",
                            value:3
                        },
                        {
                            text:"<%= LANG('对方有欺诈行为') %>",
                            value:4
                        },
                        {
                            text:"<%= LANG('其他') %>",
                            value:5
                        }
                    ],
                    textDesc:'',
                    disableClick:false
                }
            },
            computed : {
            },
            methods: {
                addItem:function(){
                    var obj = {
                        id:this.index++,
                        img:'',
                        desc:''
                    }
                    this.list.push(obj)
                    this.$nextTick(function(){
                        this.initFileUpload('file' + obj.id)
                    })
                },
                removeItem:function(index){
                    this.list.splice(index,1)
                },
                getImgAddress:function(){
                    var addrStr = '';
                    for(var i=0;i<this.list.length;i++){
                        var id = this.list[i].id;
                        var val = $("#file" + id + " .J_PicUrl").val();
                        if(val.trim()){
                            addrStr += val + ','
                        }
                    }
                    return addrStr.substring(0,addrStr.length - 1);
                },
                doSubmit:function(){
                    var data,url;
                    if(this.disputeType){
                        data = {
                            orderId:this.orderCode,
                            message:this.textDesc,
                            appealReason:this.select
                        }
                        url = 'submitAppealInfo'
                    }else{
                        data = {
                            orderId:this.orderCode,
                            message:this.textDesc,
                            appealId:this.appealCode,
                            image:this.getImgAddress()
                        }
                        url = 'submitAppealproof'
                    }
                    this.locked = true;
                    Methods.ajax({
                        type: 'POST',
                        url: DOMAIN_MAIN + API_PREFIX + url,
                        data:data,
                        success: function(res) {
                            if(res.resMsg.code == 1000){
                                this.locked = false;
                                JuaBox.success(EXX.L(res.resMsg.message),function(){
                                    this.$emit('success',res)
                                }.bind(this))
                            }
                        }.bind(this),
                        error:function(res){
                            this.locked = false;
                            JuaBox.showWrong(EXX.L(res.resMsg.message));
                        }.bind(this)
                    });
                },
                initFileUpload:function(id){
                    var options = {
                        initShowNum: 1,
                        needAdd: false,
                        isProcess: false,
                        minNum: 1,
                        pics: "",
                        userType: 1,
                        savePicSize: false,
                        isAuth: true,
                        isPicFile: true
                    }
                    $("#" + id).initFileUpload($.extend({},options,{picsPathHiddenName: id}));
                },
            },
            created: function(){

            },
            mounted:function(){

            },
            watch:{
                list:function(val){
                    if(val.length >= 6){
                        this.disableClick = true;
                    }else{
                        this.disableClick = false;
                    }
                }
            }
        });
    })
</script>
<style>
    .dispute-form select,
    .dispute-form textarea{
        display: block;
        width: 100%;
        height:42px;
        padding: 10px 12px;
        line-height: 1.42857143;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        color: #333;
        border: 1px solid #dde2ed;
        border-radius: 3px;
        -webkit-appearance: none;
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        /* -webkit-font-smoothing: antialiased; */
        /* -moz-osx-font-smoothing: grayscale; */
    }
    .dispute-form textarea{
        height: 100px;
    }
    .dispute-form .form-button{
        display: flex;
        justify-content: space-around;
    }
    .dispute-form .form-button .button{
        width: 180px;
    }
    .dispute-form-group{
        border:1px solid #dde2ed;
        border-radius: 3px;
    }
    .dispute-form-control{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom:1px solid #dde2ed;
    }
    .dispute-form-control:last-child{
        border-bottom:none;
    }
    .dispute-form-control .dispute-form-item{
        flex-basis: 130px;
        padding: 10px 12px;
        text-align: center;
    }
    .dispute-form-control .dispute-form-item .pm-itemcont{
        width: 100%;
        height: 80px;
        margin-bottom: 10px;
    }
    .dispute-form-control .dispute-form-item .pm-itemcont .item{
        width: 100%;
        height: 80px;
    }
    .dispute-form-control .dispute-form-item .cancelbutton{
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #bbb;
        padding: 10px;
    }
    .dispute-form-control .dispute-form-item .cancelbutton:hover {
        color: #888
    }
    .dispute-form-control .dispute-form-item .cancelbutton:before{
        content: "";
        position: absolute;
        background: currentColor;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 18px;
        height: 2px;
    }
    .dispute-form-control .dispute-form-item .cancelbutton:after{
        content: "";
        position: absolute;
        background: currentColor;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 2px;
        height: 18px;
    }
    .dispute-form .form-button .button.disabled{
        cursor: no-drop;
        color: #fff;
        background:#ccc;
    }
</style>