<div id="inc-records" class="bk-tabList">
  <div class="pd-fff">
    <div class="bk-tabList-hd clearfix">
      <div class="btn-group bk-btn-group" role="group">
        <a class="btn active" role="button"><%= LANG('所有记录')%></a>
        <a class="btn" role="button"><%= LANG('充值记录')%></a>
        <a class="btn" role="button"><%= LANG('提币记录')%></a>
        <a class="btn" role="button"><%= LANG('交易记录')%></a>
        <a class="btn" role="button"><%= LANG('兑换记录')%></a>
        <a class="btn" role="button"><%= LANG('其他')%></a>
      </div>
    </div>
    <div class="bk-tabList-bd table-responsive" style="min-height:400px;">
      <json-table class="table-striped table-bordered" :columns="recordCols" :rows="recordRows" ></json-table>
    </div>
    <div class="bk-tabList-fd bk-pageNav" id="billDetail_Page"><ul class="pagination"><li class="disabled"><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="javascript:;">1</a></li><li class="tcdNumber"><a href="javascript:;">2</a></li><li class="tcdNumber"><a href="javascript:;">3</a></li><li class="nextPage"><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li></ul></div>
  </div>
</div>

<%-include("../../component/json_table.html")%>
<script>
  require(['vue', 'common/methods'], function(Vue, Methods) {
    var records = new Vue({
      el: "#inc-records",
      data: function () {
        return {
          recordCols: [
            { label: "<%= LANG('时间') %>", key: "billData", cell: function(item) {
              return Methods.getDateTime(item.billDate, 'MDT');
            }},
            { label: "<%= LANG('类别') %>", key: "typeName", cell: function(item) {
              return "<p class='text-primary'>" + item.typeName + "</p><p><%= LANG('流水号') %>" + item.id + "</p>";
            }},
            { label: "<%= LANG('发生金额') %>", key: "mainBlalance", cell: function(item) {
              return item.mainChange + " " + item.mainCurrency + " = " + item.mainBalance + " " + item.mainCurrency;
            }}
          ],
          recordRows: [],
          payinCoinRecords: []
        }
      },
      computed: {
      },
      methods: {
        getBill: function() {
          var data = {
            dataType: 0,
            coint: 'all',
            pageIndex: 1,
            pageSize: 10
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getBill',
            data: data,
            success: function(res) {
              this.recordRows = res.datas.bills;
            }.bind(this)
          });
        },
        getPayinCoinRecord: function () {
          var data = {
            dataType: 0,
            coint: 'all',
            pageIndex: 1,
            pageSize: 10
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getBill',
            data: data,
            success: function(res) {
              this.payinCoinRecords = res.datas.bills;
            }.bind(this)
          });

        },
        getBillType: function() {
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getBillType',
            success: function(res) {
              //console.log(res);
              //return res;
            }
          });
        }
      },
      mounted: function() {
        this.getBill();
        //this.getBillType();
      }
    })
  });
</script>