<script type="text/x-template" id="inline-chart">
    <svg xmlns="http://www.w3.org/2000/svg" class="inline-chart" :width="getSetting('width')"
         :height="getSetting('height')">
        <template v-if="type == 'line'">
            <polyline class="polyline-hover" v-if="linePoints.polyline" fill="none" :points="linePoints.polyline"
                      storke-linecap="round"></polyline>
            <polyline v-if="linePoints.polyline" fill="none" :points="linePoints.polyline" :stroke="stroke"
                      :stroke-width="strokeWidth" storke-linecap="round" stroke-linejoin="round"></polyline>
            <polyline v-if="linePoints.polyline" fill="rgba(0,0,0,.2)" :points="linePoints.polyline" :stroke="stroke"
                      :stroke-width="strokeWidth" storke-linecap="round" stroke-linejoin="round"></polyline>
        </template>
    </svg>
</script>

<script>
    /***********
     **Vue 行内图表组件
     ************/

    require(['vue'], function (Vue) {
        return Vue.component('inline-chart', {
            template: "#inline-chart",
            props: {
                settings: {
                    type: Object,
                    default: function () {
                        return {}
                    }
                },
                type: String,
                data: String
            },
            data: function () {
                return {
                    defaultSettings: {
                        delimiter: ",",
                        fill: "red",
                        height: 16,
                        min: 0,
                        // stroke: "#65ceb6",
                        strokeWidth: 1,
                        width: 32
                    }
                }
            },
            computed: {
                fill: function () {
                    return this.getSetting('fill');
                },
                stroke: function () {
                    return this.getSetting('stroke');
                },
                strokeWidth: function () {
                    return this.getSetting('strokeWidth');
                },
                linePoints: function () {
                    return this.generateLinePoints();
                }
            },
            methods: {
                getSetting: function (name) {
                    var settings = this.settings;
                    if (!settings || typeof settings[name] == 'undefined') {
                        return this.defaultSettings[name]
                    }
                    return settings[name]
                },
                getValues: function () {
                    var data = this.data.split(this.getSetting('delimiter'));
                    return data.map(function (value) {
                        return parseFloat(value);
                    });
                },
                generateLinePoints: function (onOff) {
                    var points = {},
                        values = this.getValues(),
                        width = this.getSetting('width'),
                        strokeWidth = this.getSetting('strokeWidth'),
                        height = this.getSetting('height') - strokeWidth;
                    if (values.length == 1) values.push(values[0])
                    var max = Math.max.apply(Math, this.getSetting('max') == undefined ? values : values.concat(this.getSetting('max'))),
                        min = Math.min.apply(Math, this.getSetting('min') == undefined ? values : values.concat(this.getSetting('min'))),
                        diff = max - min;
                    var xScale = function (input) {
                        return input * (width / (values.length - 1));
                    };
                    var yScale = function (input) {
                        var y = height;
                        if (diff) {
                            y -= ((input - min) / diff) * height;
                        }
                        return y + strokeWidth / 2;
                    };

                    var zero = yScale(Math.max(min, 0)),
                        coords = [0, zero];


                    coords.push(-10, this.getSetting('width'))


                    for (var i = -1; i <= values.length; i++) {
                        if (i == -1) {
                            coords.push(
                                -10,
                                yScale(values[0])
                            )
                        } else if(i==values.length){
                            coords.push(
                                xScale(i)+1,
                                yScale(values[i-1])
                            )
                        }else{
                            coords.push(
                                xScale(i)+1,
                                yScale(values[i])
                            )
                        }

                    }
                    coords.push(width, zero);
                    coords.push(0, zero)

                    if (this.getSetting('fill')) {
                        points.polygon = coords.join(' ');
                    }
                    if (this.getSetting('strokeWidth')) {
                        points.polyline = coords.slice(2, coords.length - 2).join(' ');
                    }
                    return points;
                }
            },
            mounted: function () {
                $("[data-toggle='tooltip']").tooltip();
            },
            beforeDestroy: function () {
            }
        });
    })
</script>