<script type="text/x-template" id="json-table">
  <table>
    <thead v-if="getSetting('header')">
    <tr>
      <th :class="col.key" v-on:click="onClickHeader(col)" v-for="col in cols">
        {{col.label}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-if="loading">
      <td :colspan="cols.length">
        <div class="loading"></div>
      </td>
    </tr>
    <template v-else>
      <template v-if="rows.length">
        <tr :class="getRowClass(item)" v-on:click="onClickRow($event.target, item)" v-for="item in rows">
          <td :class="getCellClass(item, col.key)" v-on:click="onClickCell(item, col.key)" v-for="col in cols" v-html="col.cell(item, col.key)">
          </td>
        </tr>
      </template>
      <tr v-else class="no-items">
        <td :colspan="cols.length"><span>{{noRowsMessage}}</span></td>
      </tr>
    </template>
    </tbody>
  </table>
</script>

<script>
  /***********
   **Vue JSON 数据表格组件
   ************/
  require(['vue'], function (Vue){
    return Vue.component('json-table', {
      template: "#json-table",
      props: {
        rows: {
          type: Array,
          default: function (item) {
            return [];
          }
        },
        columns: {
          type: Array,
          default: function () {
            return [];
          }
        },
        settings: {
          type: Object,
          default: function () {
            return {}
          }
        },
        loading: {
          type: Boolean,
          default: false
        },
        onClickCell: {
          type: Function,
          default: function (rowData, columnName) {
          }
        },
        onClickRow: {
          type: Function,
          default: function (el, rowData) {
          }
        },
        onClickHeader: {
          type: Function,
          default: function (columnName) {
          }
        }
      },
      data: function () {
        return {
          defaultSettings: {
            header: true,
            noRowsMessage: 'No items',
            rowClass: ''
          }
        }
      },
      computed: {
        cols: function () {
          return this.normalizeColumns();
        },
        noRowsMessage: function () {
          return this.getSetting('noRowsMessage');
        }
      },
      methods: {
        getSetting: function (name) {
          var settings = this.settings;
          if(!settings || typeof settings[name] == 'undefined') {
            return this.defaultSettings[name]
          }
          return settings[name]
        },
        getRowClass: function(item) {
          var rowClass = this.getSetting('rowClass');
          if (typeof rowClass == 'function') {
            return rowClass(item);
          } else {
            return rowClass;
          }
        },
        getCellClass: function(item, key) {
          var cellClass = this.getSetting('cellClass');
          if (typeof cellClass == 'function') {
            return cellClass(item, key);
          } else {
            return [key, cellClass].join(' ');
          }
        },
        getItemField: function (item, field) {
          return item[field];
        },
        normalizeColumns: function () {
          var cols = this.columns,
              getItemField = this.getItemField,
              items = this.rows,
              rowClass = this.getSetting('rowClass');
          if(!cols){
            if(!items || !items.length) {
              return [];
            }
            return Object.keys(items[0]).map(function(key) {
              return {key: key, label: key, cell: getItemField}
            });
          }

          return cols.map(function(col) {
            var key;
            if(typeof col == 'string') {
              return {
                key: col,
                label: col,
                cell: getItemField
              }
            }

            if(typeof col == 'object') {
              key = col.key || col.label;
              //默认列数据，如果没key参数就用label作为key,没有label参数就用key当作label
              return {
                key: key,
                label: col.label || key,
                cell: col.cell || getItemField
              }
            }
            return {
              key: 'unknown',
              name: 'unknown',
              cell: 'unknown',
            }
          })
        }
      },
      mounted: function() {
      },
      beforeDestroy: function() {
      }
    });
  })

</script>
