<script type="text/x-template" id="vue-modal">
  <transition name="modal">
    <div v-if="open" class="exx-modal-mask" >
      <div ref="modal" class="exx-modal-wrap">
        <div @click="close" class="closebutton"></div>
        <slot>
        </slot>
      </div>
    </div>
  </transition>
</script>

<script>
    /***********
     **Vue 弹窗组件
     ************/
    require(['vue'], function (Vue) {
        return Vue.component('modal', {
            template: "#vue-modal",
            props: {
                open: {
                    type: Boolean,
                    default: false
                }
            },
            data: function () {
                return {}
            },
            computed: {

            },
            watch : {
                open : function (newVal,oldVal) {
                    if(newVal == true){
                        $('body').addClass('modal-open');
                    }else{
                        $('body').removeClass('modal-open');
                    }
                }
            },
            methods: {
                close: function () {
                    this.$emit('close');
                },
                handleClickOutside: function (e) {
                    var el = this.$refs.modal;
                    if (el && !el.contains(e.target)) {
                        //this.open = false;
                    }
                }
            },
            updated: function () {
            },
            mounted: function () {
                document.addEventListener("keydown", function (e) {
                    if (this.open && e.keyCode == 27) {
                        this.close();
                    }
                });
                document.addEventListener('click', this.handleClickOutside, true);
            },
            beforeDestroy: function () {
                document.removeEventListener('click', this.handleClickOutside, true)
            }
        });
    })

</script>
