<script type="text/x-template" id="page-lite">
    <div class="paging">
        <a role="button" @click="turnPrev" :class="{'disabled': isFirstPage }"><%= LANG('上一页')%></a>
        <span>{{LANG('共n页',totalPage)}} / {{LANG('第n页',pageIndex)}}</span>
        <a role="button" @click="turnNext" :class="{'disabled': isLastPage }"><%= LANG('下一页')%></a>
    </div>
</script>

<script>
    /***********
     **Vue Lite分页组件
     ************/
    require(['vue'], function (Vue) {
        return Vue.component('page-lite', {
            template: "#page-lite",
            props: {
                pageName: {
                    type: String,
                    default: 'pageIndex'
                },
                pageIndex: {
                    type: Number,
                    default: 1
                },
                pageSize: {
                    type: Number,
                    default: 10
                },
                pageCount: {
                    type: Number,
                    default: 0
                },
                totalPage: {
                    type: Number,
                    default: 0
                },
                turnPage: {
                    type: Function,
                    default: function () {

                    }
                },
                params: {
                    type: Object,
                    default: function () {
                        return {}
                    }
                }
            },
            data: function () {
                return {}
            },
            computed: {
                isFirstPage: function () {
                    return this.pageIndex <= 1;
                },
                isLastPage: function () {
                    /**
                     *作者: GongQi
                     *时间: 2018/6/7
                     *功能: 分页组件-最后一页逻辑更改
                     */
                    return (this.pageSize * this.pageIndex) >= this.pageCount;
                }
            },
            methods: {
                LANG: function (value, n) {
                    return EXX.L(value, n);
                },
                turnPrev: function () {
                    if (this.isFirstPage) {
                        return false;
                    }
                    this.$parent[this.pageName] -= 1;
                    // this.turnPage();
                    if (Object.keys(this.params).length > 0) {
                        this.$emit('turn-page', this.params);
                    } else {
                        this.$emit('turn-page');
                    }
                },
                turnNext: function () {
                    if (this.isLastPage) {
                        return false;
                    }
                    this.$parent[this.pageName] += 1;
                    // this.turnPage();
                    if (Object.keys(this.params).length > 0) {
                        this.$emit('turn-page', this.params);
                    } else {
                        this.$emit('turn-page');
                    }
                }
            },
            watch: {},
            mounted: function () {

            },
            beforeUpdate: function () {

            },
            beforeDestroy: function () {

            }
        });
    })

</script>
