<script>
  require(['vue'], function (Vue){
    return Vue.component('pattern-input', {
      template: `<input :value="value" @input="updateValue($event.target.value)" @change="emitChange" v-model="val" ref="input">`,

      props: {
        value: {
          required: true,
          type: [Number, String]
        },
        // Using for: RegExp(pattern[, flags])
        pattern: {
          type: String,
          default: ''
        },
        // Using for: RegExp(pattern[, flags])
        flags: {
          type: String,
          default: 'g'
        },
        // Using for: String.prototype.replace(regexp, replacement)
        replacement: {
          type: String,
          default: ''
        }
      },
      data: function() {
        return {
          val: ''
        }
      },
      computed: {
        regExp: function() {
          var regExp = '';
          if (this.pattern !== '') {
            regExp = new RegExp(this.pattern, this.flags);
          }
          return regExp;
        }
      },
      methods: {
        formatValue: function(val) {
          var formattedValue = val.toString().replace(this.regExp, this.replacement);
          return formattedValue;
        },
        // update the value of input
        updateValue: function(val) {
          const formattedValue = this.formatValue(val);

          this.val = formattedValue;
          this.emitInput(formattedValue);
        },
        // emit input event
        emitInput: function(val) {
          this.$emit('input', val);
        },
        // emit change event
        emitChange: function() {
          this.$emit('change', this.val);
        }
      },
      watch: {
        // watch value prop
        value: function(val) {
          this.updateValue(val);
        }
      },
      mounted: function() {
        this.updateValue(this.value);
      }
    });
  })
</script>
