<script>
    /**
     *作者: GongQi
     *时间: 2018/5/24
     *功能: 废弃
     */
    require(['vue', 'common/juabox', 'common/methods'], function (Vue, JuaBox, Methods) {
        return Vue.component('send-code', {
            template: `<a href="javascript:;" v-on:click="sendCode" class="code-num" :class="['', '', {disabled: isTimeout || disabled}]"><span v-if="isTimeout">{{timeout}}<%= LANG('秒') %></span><span v-else><%= LANG('获取验证码') %></span></a>`,

            props: {
                // 验证码类型
                codeType: {
                    type: Number,
                    default: 1
                },
                imgCode: {
                    type: String,
                    default: ''
                },
                userType: {
                    type: Number,
                    default: 1
                },
                countryCode: {
                    type: String,
                    default: '+86',
                },
                safePwd: {
                    type: String,
                    default: '',
                },
                disabled: {
                    type: Boolean,
                    default: false
                },
                cardId: {
                    type: String,
                    default: '',
                },
                userName: {
                    type: String,
                    default: ''
                },
                //用于登录验证都key
                userKey: {
                    type: String,
                    default: ''
                },
                successFun: {
                    type: Function,
                    default: function () {

                    }
                },
                errorFun: {
                    type: Function,
                    default: function () {

                    }
                }
            },
            data: function () {
                return {
                    timeout: 0,
                    requestLocked: false
                }
            },
            computed: {
                isTimeout: function () {
                    return this.timeout > 0;
                }
            },
            methods: {
                countDown: function () {
                    var _this = this;

                    function tick() {
                        _this.timeout--;
                        if (_this.timeout > 0) {
                            setTimeout(tick, 1000);
                        }
                    }

                    tick();
                },
                sendCode: function () {
                    console.log(this.disabled);

                    var _this = this;
                    var data = {
                        codeType: this.codeType,
                        userName: this.userName,
                        countryCode: this.countryCode,
                        safePwd: this.safePwd,
                        cardId: this.cardId,
                        imgCode: this.imgCode,
                        userKey: this.userKey
                    }
                    //console.log('here send code')
                    if (this.timeout > 0 || this.disabled || this.requestLocked) {
                        return false;
                    } else if (this.userName.length < 8) {
                        JuaBox.sure("<%= LANG('请输入正确的手机号码/邮箱') %>")
                    } else {
                        this.timeout = 60;
                        this.countDown();
                        this.requestLocked = true;
                        Methods.ajax({
                            url: DOMAIN_MAIN + API_PREFIX + (this.userKey == '' ? 'sendcode' : 'sendcode2'),
                            data: data,
                            success: function (res) {
                                var resMsg = res.resMsg;
                                if (resMsg.code === 1000) {
                                    //_this.countDown();
                                    _this.requestLocked = false;
                                    _this.successFun(res);
                                    //window.localStorage.setItem(ENV + 'dynamicCode', res.datas.dynamicCode);
                                }
                                JuaBox.sure(EXX.L(resMsg.message));
                            },
                            error: function (res) {
                                _this.requestLocked = false;
                                _this.errorFun(res);
                                _this.timeout = 0;
                                JuaBox.showWrong(EXX.L(res.resMsg.message));
                            }
                        });
                    }
                }
            },
            mounted: function () {
            }
        });
    })
</script>
