<script>
  /***********
   **Vue highcharts 图表组件
   ************/
  require(['vue', 'others/highcharts'], function (Vue, Highcharts){
    return Vue.component('exx-highchart', {
        name: 'exx-highchart',
      template: "<div class='highcharts' style='height: 100%'></div>",
      props: ['options', 'Highcharts'],
      data: function () {
        return {
          chart: null
        }
      },
      computed: {
      },
      methods: {
        getChart: function getChart() {
          return this.chart;
        },
        addSeries: function addSeries(options) {
          this.delegateMethod('addSeries', options);
        },
        removeSeries: function removeSeries() {
          while (this.getChart().series.length !== 0) {
            this.getChart().series[0].remove();
          }
        },
        mergeOption: function mergeOption(options) {
          this.delegateMethod('update', options);
        },
        showLoading: function showLoading(txt) {
          this.getChart().showLoading(txt);
        },
        hideLoading: function hideLoading() {
          this.getChart().hideLoading();
        },
        delegateMethod: function delegateMethod(name) {
          var _getChart;

          if (!this.getChart()) {
            warn('Cannot call [$name] before the chart is initialized. Set prop [options] first.', this);
            return;
          }

          for (var _len = arguments.length, args = Array(_len > 1 ? _len - 1 : 0), _key = 1; _key < _len; _key++) {
            args[_key - 1] = arguments[_key];
          }

          return (_getChart = this.getChart())[name].apply(_getChart, args);
        },
        resize : function resize () {
            if(this.chart){
                this.chart.reflow();
                //console.log('reflow chart...');
            }else{
                this._init();
            }
        },
        _init: function _init() {
          if (!this.getChart() && this.options && !$(this.$el).is(":hidden")) {
            var _Highcharts = this.Highcharts || Highcharts;
            if (_Highcharts.product == 'Highstock') {
              this.chart = new _Highcharts.stockChart(this.$el, this.options);
            } else {
              this.chart = new _Highcharts.Chart(this.$el, this.options);
            }
            var _this = this;
           setInterval(function(){
                _this.chart.reflow();
           }, 300);
          }

        }
      },
      mounted: function() {
        if (!this.getChart() && this.options) {
          this._init();
        }
      },
      watch: {
        options: function() {
            if(this.chart){
                this.mergeOption(this.options);
                this.resize();
            }else{
                this._init();
            }
        }
      },
      beforeDestroy: function() {
      }
    });
  })
</script>
