.new-register {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  .register-box {
    display: flex;
    flex-direction: column;
    width: 420px;
    .box-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .item-select {
        width: 120px;
        padding: 10px 10px 20px 10px;
        border: 1px solid #DDE2ED;
        border-radius: 2px;
        margin-right: 10px;
        background: #fff;
      }
    }
    .box-item-2 {
      border: 1px solid #DDE2ED;
      border-radius: 2px;
    }
    .register-title {
      font-size: 28px;
      color: #202126;
      letter-spacing: 0;
      margin-bottom: 32px;
    }
    .register-input {
      flex: 1;
      height: 42px;
      border: 1px solid #DDE2ED;
      border-radius: 2px;
      padding: 11px 20px;
      &::-webkit-input-placeholder {
        color: #B0B7C7;
      }
    }
    .register-input-2 {
      border: none;
    }

    .img-captcha {
      width: 111px;
      height: 42px;
      margin-left: 10px;
      background: black;
      border-radius: 2px;
    }
    .captcha-btn {
      position: relative;
      font-size: 14px;
      cursor: pointer;
      width: 108px;
      &:after {
        position: absolute;
        left: 0;
        content: '';
        width: 1px;
        height: 13px;
        background: #DDE2ED;
      }
    }
    .item-checkobox {
      margin-right: 10px;
      height: 18px;
      width: 18px;
    }
    .item-a {
      line-height: 18px;
      font-size: 14px;
      color: #A5A6BA;
    }
    .button-register {
      cursor: pointer;
      text-align: center;
      line-height: 42px;
      font-size: 16px;
      color: #FFFFFF;
      width: 420px;
      height: 42px;
      background: #FF9D10;
      border-radius: 2px;
    }
  }
}