<div class="home-banner" id="home-banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="50000"
         data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li v-for="(item,index) in bannerArray"
                data-target="#carousel-example-generic"
                role="button"
                :data-slide-to="index"
                :class="{'active': index == 0}">
                <span></span>
            </li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item"
                 v-for="(item,index) in bannerArray"
                 @click="windowOpen(item.forwardUrl)"
                 :class="{'active': index == 0}"
                 :style="'background:url(' + VUE_DOMAIN_DEV + '/' + item.picture + ') no-repeat center center'"
                 style="background-size: cover;">
                <div class="info">
                    <!--<div class="logo"><img src="/src/images/icon/market-icon/market-gram.png" style="height: 120px;"/>-->
                    <!--</div>-->
                    <!--<h2>GRAM<%= LANG('新增QC、BTC交易区')%></h2>-->
                    <!--<div class="subtitle"><%= LANG('开盘时间')%>：<%= LANG('2018年2月12日19时')%></div>-->
                    <!--<div class="subtitle"><%= LANG('交易市场')%>：<a href="/tradePro/gram_qc" target="_self">GRAM/QC、</a>-->
                    <!--<a href="/tradePro/gram_btc" target="_self">GRAM/BTC</a>-->
                    <!--</div>-->

                    <div class="btn" v-if="!!item.extJson">
                        <a v-for="(extItem,key) in item.extJson.btns"
                        style="border-color: #ffae01;background: #ffae01;" :href="extItem.url"
                        target="_blank">
                        {{extItem.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#carousel-example-generic" role="button" data-slide="prev">
            <span aria-hidden="true"></span>
        </a>
        <a class="carousel-control right" href="#carousel-example-generic" role="button" data-slide="next">
            <span aria-hidden="true"></span>
        </a>
    </div>
</div>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        var homeBanner = new Vue({
            el: "#home-banner",
            created: function () {
            },
            mounted: function () {
                this.getByLanType()
            },
            data: function () {
                return {
                    bannerArray: []
                }
            },
            methods: {
                getByLanType: function () {
                    var that = this
                    var data = {
                        lanType: 1
                    };

                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/banner/controller/website/bannercontroller/" + 'getByLanType',
                        data: data,
                        success: function (res) {
                            var datas = res.datas
                            for (i = 0, len = datas.length; i < len; i++) {
                                console.log(datas[i])
                                if (datas[i].extJson) {
                                    datas[i].extJson = JSON.parse(decodeURI(datas[i].extJson))
                                }else {
                                    datas[i].extJson = {}
                                }

                            }
                            that.bannerArray = res.datas
                            // console.log(decodeURI(res.datas[1].extJson))
                        }
                    });
                },
                windowOpen: function (url) {
                    if (url) {
                        window.open(url)
                    }
                }
            },
            computed: {
                VUE_DOMAIN_DEV: function () {
                    return DOMAIN_DEV
                }
            }
        })
    })
</script>