<div class="video">
    <div class="video-img">
        <img id="video-img" src="<%= IMG_STATIC %>/images/home/video.png" style="cursor: pointer"/>
    </div>
    <div id="video-wrapper" class="video-wrapper" style="display:none">
        <div class="video-wrapper" id="id_video_container_9031868223380639292"></div>
        <div id="close-video"><i class="iconfont icon-icon-del"></i></div>
    </div>
    <!--<script src="/lib/others/h5connect.js" charset="utf-8" type="text/javascript"></script>-->
    <script type="text/javascript">
        setTimeout(function () {
            //delay load js
            var hm = document.createElement("script");
            hm.src = "/lib/others/h5connect.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);

            setTimeout(function () {
                var player ;
                //delay init
                var option = {
                    "auto_play": "0",
                    "file_id": "9031868223380639292",
                    "app_id": "1251651992",
                    "width": '100%',
                    "height": 'auto',
                    "https": 1
                };
                //$("#video-wrapper").hide();
                $("#video-img").on('click', function(){
                    $("#video-wrapper").fadeIn(function () {
                        if(!player){
                            player = new qcVideo.Player("id_video_container_9031868223380639292", option);
                        }
                    });
                });
                $("#close-video").on('click', function(){
                    $("#video-wrapper").fadeOut();
                    player.pause();
                    player = null;
                });
            },2000)
        },3000);
    </script>
</div>