<div class="exx-modal-container"  slot="body" style="width: 700px;">
  <div class="exx-modal-header"><i class="iconfont icon-chongzhi"></i><h3><%= LANG('充值') %></h3></div>
<div id="payin" class="exx-modal-body">

    <div class="bk-tabList-hd clearfix" style="display: none;">
      <div class="btn-group bk-btn-group">
        <a class="btn" v-cloak v-for="coin in coinTypes" :class="{active: coint === coin}" href="javascript:;" @click="changeCoint(coin)">{{coin}}</a>
      </div>
    </div>



      <div class="hide" style="display: none;">
        <div class="shimingpoper">
          <div class="vip-tip">
            <%= LANG('系统检测到您没有进行手机认证或Google认证') %>
            <p>
              <a href="https://xbtc.exx.com/manage/auth/mobile" class="btn btn-blue btn-help mr15" target="_self"><%= LANG('手机认证') %></a>
              <a href="https://xbtc.exx.com/manage/auth/google" class="btn btn-blue btn-help" target="_self"><%= LANG('Google认证') %></a>
            </p>
          </div>
        </div>
      </div>











<div class="clearfloat exx-mb30">
  <img v-cloak id="keyPreImg" :src="qrUrl" class="exx-floatleft exx-mr20" style="width: 160px; height: 160px;">
  <p class="exx-pt20 exx-mb10"><%= LANG('钱包地址')： %></p>
  <p class="exx-font18 txt-green exx-mb20 exx-mob-add" v-cloak>{{payin.address}}</p>
  <button class="exxbtn btn-small" id="copy"><span><%= LANG('复制钱包地址') %></span></button>
  <span class="mobbtntext"><%= LANG('请长按上面地址进行复制') %></span>
  <p class="exx-prompt exx-mt10"><%= LANG('由于浏览器兼容性问题，可能会复制失败，请手动复制充值地址或扫码充值。') %></p>
</div>










  <div class="exx-modal-note">
    <p class="exx-font14"><b><%= LANG('充值说明') %></b></p>
      <p><%= LANG('1、往该地址充值，汇款完成，等待网络自动确认（1个确认）后系统自动到账；') %></p>
      <p><%= LANG('2、为了快速到账，充值时可以适当提高网络手续费。') %></p>
  </div>

<div class="exx-record exx-mt30">

  <div class="exx-record-hd"><h4><%= LANG('充值记录') %></h4></div>
    <json-table :columns="recordCols" :rows="payinRecords" ></json-table>
  </div>


</div>
</div>
<%-include("../../component/json_table.html")%>
<script>
  require(['vue', 'common/methods','common/juabox'], function(Vue, Methods, JuaBox) {
    var payin = new Vue({
      el: "#payin",
      data: function() {
        return {
          coint: 'BTC',
          payin: {},
          sharedState: store.state,
          recordCols: [
            { label: "<%= LANG('提交时间') %>", key: "subTime", cell: function(item) {
              return Methods.getDateTime(parseInt(item.subTime));
            }},
            { label: "<%= LANG('类型') %>", key: "type", cell: function(item) {
              var text = "";
              switch (item.type) {
                case '0':
                  text = "<%= LANG('区块链转入') %>";
                  break;
                case '1':
                  text = "<%= LANG('内部转入') %>";
                  break;
              }
              return text;
            }},
            { label: "<%= LANG('金额') %>", key: "amount", cell: function(item){
              return '' + item.amount + ' ' + this.coint;
            }.bind(this) },
            { label: "<%= LANG('处理时间') %>", key: "endTime", cell: function(item) {
              return Methods.getDateTime(parseInt(item.endTime));
            }},
            { label: "<%= LANG('确认次数') %>", key: "confirmTimes" },
            { label: "<%= LANG('状态') %>", key: "status" }
          ],
            payinRecords: [],
            loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
        }
      },
      computed: {
        qrUrl: function() {
          return DOMAIN_MAIN + API_PREFIX + 'getPayinQrcode?code=' + this.payin.address + "&width=160&height=160";
        },
        coinTypes: function() {
          return Object.keys(this.sharedState.coinAccets);
        }
      },
      methods: {
        changeCoint: function (coint) {
          this.coint = coint;
          this.getPayinAddress();
          this.getPayinCoinRecord();
        },
        //  此页面 未找到路由调用
        getPayinAddress: function(currencyTypeName) {
            var data = {
                webid: 100,
                userId: this.loginUser.userId,
                currencyTypeName: this.currentCoin
            };
          Methods.ajax({
            type: 'POST',
              // url: DOMAIN_MAIN + API_PREFIX + 'getPayinAddress',
            url: DOMAIN_DEV + '/exchange/fund/controller/website/fundcontroller/' + 'getPayinAddress',
            data: JSON.stringify(data),
            success: function(res) {
              this.payin = res.datas;
            }.bind(this)
          });
        },
        getPayinCoinRecord: function() {
            var data = {
                webId: 100,
                userId: this.loginUser.userId,
                currencyTypeName: this.currentCoin,
                pageIndex: this.pageIndex,
                pageSize: this.pageSize,
                sort:0
            };
          Methods.ajax({
              type: 'POST',
              // url: DOMAIN_MAIN + API_PREFIX + 'getPayinCoinRecord',
              url: DOMAIN_DEV + '/exchange/fund/controller/website/fundcontroller/' + 'getPayinCoinRecord',
              data: JSON.stringify(data),
            success: function(res) {
              this.payinRecords = res.datas.payin;
            }.bind(this)
          });

        }
      },
      created: function() {
        this.changeCoint(this.coint)
      },
      mounted: function () {
      }
    })
  });
</script>
