<script>
    require(['vue', 'common/methods'], function(Vue, Methods) {
        new Vue({
            el: "#app-orderList",
            data: function() {
                return {
                    locked : false,
                    lockedS : false,
                    lockedR : false,
                    ordersS : '',
                    ordersR : '',
                    statusS : 100,
                    statusR : Methods.getUrlparm('status') || 100,
                    market : Methods.getUrlparm('market') || 'qc_cny',
                    marketConfig : '',
                    pageIndexS : 1,
                    pageIndexR : 1,
                    pageSize : 10,
                    pageCountS : 0,
                    pageCountR : 0,
                    statusObj : {
                        '0' : "<%- LANG('等待接单')%>",
                        '1' : "<%- LANG('等待支付')%>",
                        '3' : "<%- LANG('等待确认')%>",
                        '2' : "<%- LANG('已完成')%>",
                        '4' : "<%- LANG('申诉中')%>",
                        '5' : "<%- LANG('接单超时')%>",
                        '6' : "<%- LANG('支付超时')%>",
                        '7' : "<%- LANG('确认超时')%>",
                        '8' : "<%- LANG('订单取消')%>",
                        '9' : "<%- LANG('申诉完成')%>",//相对申诉发起方是失败
                        '10' : "<%- LANG('申诉完成')%>",//相对申诉发起方是成功
                        '11' : "<%- LANG('申诉完成')%>"//不可再进行申诉
                    },
                    payment : {
                        '1' : "<%- LANG('微信')%>",
                        '2' : "<%- LANG('支付宝')%>",
                        '3' : "<%- LANG('银行转账')%>"
                    },
                    loginUser: Methods.getLocalUserInfo()
                }
            },
            computed : {
                coin : function () {
                    return !this.market ? '' : this.market.split('_')[0];
                },
                money : function () {
                    return !this.market ? '' : this.market.split('_')[1];
                },
                coinName : function () {
                    return !this.market ? '' : this.market.split('_')[0].toUpperCase();
                },
                moneyName : function () {
                    return !this.market ? '' : this.market.split('_')[1].toUpperCase();
                }
            },
            methods: {
                getMarketConfig: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_MAIN + API_PREFIX + 'c2cMarketConfig',
                        success: function(res) {
                            this.marketConfig = res.datas;
                        }.bind(this)
                    });
                },
                gotoOtherInfo:function(id){
                    window.location.href = '/exchange/business?userId=' + id
                },
                getOrderList: function(isOwn) {
                    var data = {
                        isOwn : isOwn,
                        pageSize : this.pageSize
                    }
                    if(isOwn == 1){
                        /*if (this.lockedS) {
                            JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                            return
                        }*/
                        this.lockedS = true;
                        data.status = this.statusS;
                        data.page = this.pageIndexS;
                    }else{
                        //普通用户没有我收到的订单
                        if(this.loginUser.isBusinesUser != 1){
                            return false
                        }
                        /*if (this.lockedR) {
                            JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                            return
                        }*/
                        this.lockedR = true;
                        data.status = this.statusR;
                        data.page = this.pageIndexR
                    }
                    Methods.ajax({
                        type: 'POST',
                        data : data,
                        url: DOMAIN_MAIN + API_PREFIX + 'getOrderList',
                        success: function(res) {
                            if(isOwn == 1){
                                this.lockedS = false;
                                this.ordersS = res.datas;
                                this.pageCountS = res.datas.order.length;
                            }else{
                                this.lockedR = false;
                                this.ordersR = res.datas;
                                this.pageCountR = res.datas.order.length;
                            }
                        }.bind(this),
                        error: function (res) {
                            if(isOwn == 1){
                                this.lockedS = false;
                            }else{
                                this.lockedR = false;
                            }
                            JuaBox.info(EXX.L(res.resMsg.message))
                        }.bind(this)
                    });
                },
                getOrderListS : function () {
                    this.getOrderList(1);
                },
                getOrderListR : function () {
                    this.getOrderList(2);
                },
                doOrder : function (isOwn, id, status) {
                    if (this.locked) {
                        JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                        return
                    }
                    Methods.ajax({
                        type: 'POST',
                        data : {
                            orderId : id,
                            status : status
                        },
                        url: DOMAIN_MAIN + API_PREFIX + 'orderStatus',
                        success: function(res) {
                            this.locked = false;
                            if(isOwn == 1){
                                this.statusS = 100;
                                this.getOrderListS();
                            }else{
                                this.statusR = 100;
                                this.getOrderListR();
                            }
                        }.bind(this),
                        error: function (res) {
                            this.locked = false;
                            JuaBox.info(EXX.L(res.resMsg.message))
                        }.bind(this)
                    });
                },
                changeStatus: function(isOwn,status) {
                    if(isOwn == 1){
                        this.pageIndexS = 1;
                        this.pageCountS = 0;
                        this.statusS = status;
                    }else{
                        this.pageIndexR = 1;
                        this.pageCountR = 0;
                        this.statusR = status;
                    }
                    this.getOrderList(isOwn)
                },
                getPayment : function (val) {
                    if(!val){
                        return ''
                    }
                    var arr = (val + '').split('|');
                    var result = [];
                    for(var i = 0, ilen = arr.length; i < ilen; i ++){
                        result.push(this.payment[arr[i] + '']);
                    }
                    return result.join(',');
                },
                getCoinName : function (market) {
                    return !market ? '' :  market.split('_')[0].toUpperCase();
                },
                getMoneyName : function (market) {
                    return !market ? '' :  market.split('_')[1].toUpperCase();
                },
                getAmount : function (price, amount) {
                    if(!price || !amount){
                        return '';
                    }
                    return Methods.fixDecimal(parseFloat(price) * parseFloat(amount), 2);
                },
                getTime : function (date) {
                    return Methods.getDateTime(date, 'MM-DD HH:MM:SS');
                }
            },
            created: function(){
                this.getMarketConfig();
                this.getOrderList(1);
                this.getOrderList(2);
                setInterval(function () {
                    if(this.pageIndexS == 1){
                        this.getOrderList(1);
                    }
                    if(this.pageIndexR == 1){
                        this.getOrderList(2);
                    }
                }.bind(this), 5000);
            }
        });
    })
</script>