<script>
    require(['vue', 'common/methods'], function(Vue, Methods) {
        new Vue({
            el: "#app-orderInfo",
            data: function() {
                return {
                    locked : false,
                    id : Methods.getUrlparm('id') || '',
                    order : '',
                    code : '',
                    loginUser: Methods.getLocalUserInfo(),
                    marketConfig : '',
                    statusObj : {
                        '0' : "<%- LANG('等待接单')%>",
                        '1' : "<%- LANG('等待支付')%>",
                        '3' : "<%- LANG('等待确认')%>",
                        '2' : "<%- LANG('已完成')%>",
                        '4' : "<%- LANG('申诉中')%>",
                        '5' : "<%- LANG('接单超时')%>",
                        '6' : "<%- LANG('支付超时')%>",
                        '7' : "<%- LANG('确认超时')%>",
                        '8' : "<%- LANG('订单取消')%>",
                        '9' : "<%- LANG('申诉完成')%>",//相对申诉发起方是失败
                        '10' : "<%- LANG('申诉完成')%>",//相对申诉发起方是成功
                        '11' : "<%- LANG('申诉完成')%>"//不可再进行申诉
                    },
                    payment : {
                        '1' : "<%- LANG('微信')%>",
                        '2' : "<%- LANG('支付宝')%>",
                        '3' : "<%- LANG('银行转账')%>"
                    },
                    showModal:false,
                    currBigImg:'',
                    //申诉超时
                    overAppealTime : false
                }
            },
            computed : {
                currentMarketConfig : function () {
                    return this.marketConfig[this.order.ad.market] || '';
                },
                isOwn : function () {
                    if(!this.loginUser || !this.order){
                        return 0;
                    }
                    if(this.loginUser.userId == this.order.user.id){
                        //我是下单人
                        return 1;
                    }else{
                        //我是接单人
                        return 2;
                    }
                },
                //获取我是1买方还是2卖方
                tradeType : function () {
                    if(!this.order){
                        return 0
                    }
                    if(this.order.ad.type == 2){
                        return 1;
                    }
                    if(this.order.ad.type == 1){
                        return 2;
                    }
                    return 0;
                },
                showCode : function () {
                    if(!this.order){
                        return false;
                    }
                    if(this.isOwn == 1){
                        //我发起的订单+买入（广告类型为卖出）+等待支付要显示
                        if(this.order.ad.type == 2 && this.order.status == 1){
                            return true;
                        }
                        //我发起的订单+卖出（广告类型为买入）+等待确认+等待支付要显示
                        if(this.order.ad.type == 1 && (this.order.status == 1 || this.order.status == 3 )){
                            return true;
                        }
                    }
                    if(this.isOwn == 2){
                        //我收到的订单+买入（广告类型为卖出）+等待确认+等待支付要显示
                        if(this.order.ad.type == 2 && (this.order.status == 1 || this.order.status == 3 )){
                            return true;
                        }
                        //我收到的订单+卖出（广告类型为买入）+等待支付要显示
                        if(this.order.ad.type == 1 && this.order.status == 1){
                            return true;
                        }
                    }
                    return false;

                },
                showPayment : function () {
                    if(!this.order){
                        return false;
                    }
                    if(this.order.status != 1){
                        return false;
                    }
                    //我发起的订单，并且是买入类型（广告类型为卖出）要显示支付信息
                    if(this.isOwn == 1){
                        if(this.order.ad.type == 2){
                            return true;
                        }
                    }
                    //我收到的订单，并且是卖出类型（广告类型为买入）要显示支付信息
                    if(this.isOwn == 2){
                        if(this.order.ad.type == 1){
                            return true;
                        }
                    }
                    return false;
                },
                showPayAmount : function () {
                    if(!this.order){
                        return '';
                    }
                    return this.order.money+ ' ' + this.getMoneyName(this.order.ad.market);
                }
            },
            methods: {
                alertImgError:function(){
                    JuaBox.showWrong("<%= LANG('对方收款二维码错误，请联系卖家重新上传!') %>");
                    this.currBigImg = '';
                },
                getFullImgName:function(val){
                    if(!val){
                        return;
                    }
                    return DOMAIN_FILE + "/picauth?file=" + val + '&type=1';
                },
                getMarketConfig: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_MAIN + API_PREFIX + 'c2cMarketConfig',
                        success: function(res) {
                            this.marketConfig = res.datas;
                        }.bind(this)
                    });
                },
                gotoDispute:function(){
                    window.location.href = '/exchange/dispute?id=' + this.order.id;
                },
                getOrderInfo: function() {
                    if(!this.id){
                        return JuaBox.info('error order id.')
                    }
                    Methods.ajax({
                        type: 'GET',
                        data : {
                            orderId : this.id
                        },
                        url: DOMAIN_MAIN + API_PREFIX + 'getOrderInfo',
                        success: function(res) {
                            this.order = res.datas;
                        }.bind(this)
                    });
                },
                doOrder : function (id, status, confirm) {
                    var _this = this;
                    if (this.locked) {
                        JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                        return
                    }
                    if((status == 2 || status == 3) && !this.code){
                        return JuaBox.info("<%= LANG('请输入验证码') %>");
                    }
                    //取消订单二次确认
                    if(status == 8 && !confirm){
                        return JuaBox.confirm("<%- LANG('取消订单提示信息')%>", {
                            buttons : ["<%- LANG('返回')%>", "<%- LANG('取消订单')%>"],
                            callback : function () {
                                _this.doOrder(id, status, true);
                            }
                        })
                    }
                    //确认支付二次确认
                    if(status == 3 && !confirm){
                        return JuaBox.confirm("<%- LANG('确认支付提示信息')%>", {
                            buttons : ["<%- LANG('返回')%>", "<%- LANG('我已付款')%>"],
                            callback : function () {
                                _this.doOrder(id, status, true);
                            }
                        })
                    }
                    //确认收款二次确认
                    if(status == 2 && !confirm){
                        return JuaBox.confirm("<%- LANG('确认收款提示信息')%>", {
                            buttons : ["<%- LANG('返回')%>", "<%- LANG('确认收款')%>"],
                            callback : function () {
                                _this.doOrder(id, status, true);
                            }
                        })
                    }
                    Methods.ajax({
                        type: 'GET',
                        data : {
                            orderId : id,
                            status : status,
                            code : this.code
                        },
                        url: DOMAIN_MAIN + API_PREFIX + 'orderStatus',
                        success: function(res) {
                            this.locked = false;
                            if(status == 1){
                                JuaBox.info('接单成功');
                            }else if(status == 3){
                                JuaBox.info('付款成功');
                            }else if(status == 8){
                                JuaBox.info('取消成功');
                            }else{
                                JuaBox.info('确认成功');
                            }
                            this.getOrderInfo();
                        }.bind(this),
                        error: function (res) {
                            this.locked = false;
                            JuaBox.info(EXX.L(res.resMsg.message))
                        }.bind(this)
                    });
                },
                getPayment : function (val) {
                    if(!val){
                        return ''
                    }
                    var arr = (val + '').split('|');
                    var result = [];
                    for(var i = 0, ilen = arr.length; i < ilen; i ++){
                        result.push(this.payment[arr[i] + '']);
                    }
                    return result.join(',');
                },
                openChat: function(groupkey) {
                    //EXX.chatPlugin.toggle(true);
                    EXX.chatPlugin.outSideGroupChat(groupkey);
                },
                getCoinName : function (market) {
                    return !market ? '' :  market.split('_')[0].toUpperCase();
                },
                getMoneyName : function (market) {
                    return !market ? '' :  market.split('_')[1].toUpperCase();
                },
                getAmount : function (price, amount) {
                    if(!price || !amount){
                        return '';
                    }
                    return Methods.fixDecimal(parseFloat(price) * parseFloat(amount), 2);
                },
                getTime : function (date) {
                    if(!date){
                        return '--:--:--';
                    }
                    return Methods.getDateTime(date, 'YYYY-MM-DD HH:MM:SS');
                },
                overAppearFun : function () {
                    this.overAppealTime = true;
                }
            },
            created: function(){
                this.getMarketConfig();
                this.getOrderInfo();
                //EXX.chatPlugin.initConnect();
                setInterval(this.getOrderInfo, 5000);
            }
        });
    })
</script>