<script type="text/x-template" id="business-infos">
    <div class="account-info">
        <div class="user-info">
            <div class="user-avatar">
                <div class="user-face">
                    <span class="unick">
                        <img :src="'<%= IMG_STATIC %>/images/userhead/' + user.avatar" style="border-radius: 50%;">
                    </span>
                </div>
                <div class="user-box">
                    <p class="uname" style="margin-bottom: 10px; color:#ff9d11">{{user.name}}</p>
                    <p class="" style="margin-bottom: 5px">{{user.realName}}</p>
                    <p class="">{{user.mobile}}</p>
                </div>
            </div>
            <div class="circle-box">
                <div class="circle">
                    <span class="num">{{user.tradeTotal || 0}}</span>
                    <span><%= LANG('交易次数') %></span>
                </div>
                <div class="circle">
                    <span class="num">{{user.averageTime || 0}}<%= LANG('分钟') %></span>
                    <span><%= LANG('平均放行') %></span>
                </div>
            </div>
            <div class="auth-box">
                <div class="auth-item">
                    <p><%= LANG('邮箱认证') %></p>
                    <span v-if="user.emailAuth == 2" class="bind"><%= LANG('已认证') %></span>
                    <span v-else="" class="nobind"><%= LANG('未认证') %></span>
                </div>
                <div class="auth-item">
                    <p><%= LANG('手机号认证') %></p>
                    <span v-if="user.mobileAuth == 2" class="bind"><%= LANG('已认证') %></span>
                    <span v-else="" class="nobind"><%= LANG('未认证') %></span>
                </div>
                <div class="auth-item">
                    <p><%= LANG('认证商家') %></p>
                    <span v-if="user.merchantApply == 2" class="bind"><%= LANG('已认证') %></span>
                    <span v-else="" class="nobind"><%= LANG('未认证') %></span>
                </div>
                <div class="auth-item">
                    <p><%= LANG('首次交易时间') %></p>
                    <span>{{putFirstTradeTime}}</span>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    /* 父组件直接使用 v-model 指令即可双向绑定 */
    require(['vue','common/methods'], function (Vue,Methods) {
        return Vue.component('business-infos', {
            template: "#business-infos",
            props:{
                user:{
                    type:Object,
                    default:function(){
                        return {
                            merchantApply:0,
                            avatar:"",
                            averageTime:0,
                            emailAuth:0,
                            language:"",
                            mobileAuth:0,
                            name:"",
                            online:0,
                            realAuth:0,
                            firstTradeTime:0,
                            tradeTotal:0
                        }
                    }
                }
            },
            computed:{
                putFirstTradeTime:function(){
                    if(this.user.firstTradeTime){
                        return  Methods.getDateTime(this.user.firstTradeTime,'YYYY-MM-DD HH:MM')
                    }else{
                        return "<%- LANG('尚未交易')%>"
                    }
                },
            }
        });
    });
</script>

<style>
    /*用户信息*/
    .account-info{
        padding: 10px 20px 30px 20px;
        margin-bottom: 20px;
        background: #fff;
        border-bottom: 1px dashed #ebeff5;
    }
    .account-info .bind{
        color: #31C871;
        font-size:12px;
    }
    .account-info .nobind{
        color: #ff9d11;
        font-size:12px;
    }
    .account-info .user-info{
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .user-info .user-avatar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .user-info .user-avatar .user-face{
        height: 62px;
        width: 62px;
        -webkit-box-shadow: 0 1px 5px 0 rgba(71,78,114,.24);
        box-shadow: 0 1px 5px 0 rgba(71,78,114,.24);
        position: relative;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .user-info .user-avatar .user-face,
    .user-info .user-avatar .user-face>.unick{
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .user-info .user-avatar .user-face>.unick{
        background: #00b5f6;
        height: 56px;
        width: 56px;
        color: #fff;
    }
    .user-info .user-avatar .user-box{
        margin-left: 10px;
    }
    .user-info .user-avatar .user-box .uname{
        font-size:14px;
        color: #242a4a;
    }
    .user-info .user-avatar .user-box .uid{
        color: #9194a5;
    }
    .user-info .circle-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .user-info .circle-box .circle{
        height: 76px;
        width: 76px;
        border-radius: 50%;
        border: 2px solid #ebeff5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #8994a3;
        margin-left: 10px;
        margin-right: 10px;
    }
    .user-info .circle-box .circle .num{
        color: #0d214e;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .user-info .auth-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .user-info .auth-box .auth-item{
        color: #8994a3;
        text-align: left;
        padding: 0 25px;
        border-left: 1px dotted #ddd;
    }
    .user-info .auth-box .auth-item p{
        margin-bottom: 10px;
    }
    /*其他信息*/
    .account-info .other-info{
        color: #8994a3;
        margin-top: 20px;
    }
    .account-info .other-info p{
        margin-bottom: 10px;
    }
</style>
