<!--C2C首页，显示所有的商家广告-->
<div id="app-adList" class="ex-main">
    <div class="exx-title">
        <h2 v-cloak="">{{type == 2 ? "<%- LANG('买入')%>" : "<%- LANG('卖出')%>"}}{{coinName}}</h2>
    </div>
    <div class="exx-table" :class="{'loading loading-light-bg' : locked}">
        <div class="exx-table-body">
            <table class="trade-list">
                <thead>
                    <tr>
                        <th class="username">
                            <%= LANG('商户') %>
                        </th>
                        <th class="amount">
                            <%= LANG('价格') %>
                        </th>
                        <th class="number">
                            <%= LANG('交易笔数') %>
                        </th>
                        <th class="payment">
                            <%= LANG('付款方式') %>
                        </th>
                        <th class="price">
                            <%= LANG('数量') %>
                        </th>
                        <th><%= LANG('操作') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="ad,index in ads" v-if="ads" v-cloak="">
                        <td>
                            <a class="userinfo" @click="gotoOtherInfo(ad.user.id)">
                                <span class="avatar-wrap">
                                    <img :src="'/src/images/userhead/' + ad.user.avatar" style="border-radius: 50%; width: 42px;">
                                </span>
                                <span class="name">{{ad.user.name}}</span>
                            </a>
                        </td>
                        <td class="price">
                            <span class="bold">{{ad.fixedPrice}}</span> {{getMoneyName(ad.market)}}
                        </td>
                        <td>{{ad.user.tradeTotal}}</td>
                        <td>{{getPayment(ad.payType)}}</td>
                        <td class="price">
                            <span>{{ad.amount}} {{getCoinName(ad.market)}}</span><br />
                            <span class="sub">{{ad.minAmount}}~{{ad.maxAmount}}</span>
                        </td>
                        <td>
                            <a v-if="ad.status == 1" :href="'/exchange/orderCreate?id=' + ad.adId + '&type=' + ad.type" class="btn btn-primary" target="_self">
                                {{ad.type == 2 ? "<%- LANG('买入')%>" : "<%- LANG('卖出')%>"}}
                            </a>
                            <a v-if="ad.status == 2" style="color: #888">停止接单</a>
                        </td>
                    </tr>
                    <tr v-if="ads && ads.length == 0">
                        <td colspan="9">
                            <p class="norecord"><%- LANG('暂无记录') %></p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <page-lite :page-index="pageIndex" :page-size="pageSize" :page-count="pageCount" :turn-page="getAdList" v-if="ads.length > 0"></page-lite>
    </div>
</div>
<%-include("../component/page_lite.html")%>
<%-include("app.entrustList.html")%>

