<!--侧边菜单栏-->
<div class="ex-menu" id="app-exMenu">
    <div class="ex-menu-content">
    <dl>
        <dt>QC <%= LANG('交易') %></dt>
        <dd><a href="/exchange?market=qc_cny&type=2" target="_self" :class="activeClass('index',2, 'qc_cny')"><%= LANG('买入') %> QC</a></dd>
        <dd><a href="/exchange?market=qc_cny&type=1" target="_self" :class="activeClass('index',1, 'qc_cny')"><%= LANG('卖出') %> QC</a></dd>
    </dl>
    <!--<dl>
        <dt>USDT<%= LANG('交易') %></dt>
        <dd><a href="/exchange?market=usdt_cny&type=2" target="_self" :class="activeClass('index',2, 'usdt_cny')"><%= LANG('买入') %> USDT %></a></dd>
        <dd><a href="/exchange?market=usdt_cny&type=1" target="_self" :class="activeClass('index',1, 'usdt_cny')"><%= LANG('卖出') %> USDT %></a></dd>
    </dl>-->
    <dl>
        <dt><%= LANG('个人中心') %></dt>
        <dd v-cloak="" v-if="loginUser && loginUser.isBusinesUser == 1"><a href="/exchange/entrustList" target="_self" :class="activeClass('entrust')"><%= LANG('我的广告') %></a></dd>
        <dd><a href="/exchange/orderList" target="_self" :class="activeClass('order')"><%= LANG('我的订单') %></a></dd>
        <dd v-cloak="" v-if="loginUser && loginUser.isBusinesUser == 1"><a href="/exchange/report" target="_self" :class="activeClass('report')"><%= LANG('财务报表') %></a></dd>
        <dd><a href="/exchange/account" target="_self" :class="activeClass('account')"><%= LANG('我的资料') %></a></dd>
    </dl>
    </div>
    <template v-cloak="">
        <a v-if="loginUser && loginUser.isBusinesUser == 1" href="/exchange/entrust" class="exxbtn btn-ok" style="display: block; margin-top: 15px; line-height: 1;"><span><%= LANG('发布广告') %></span></a>
        <a v-else="" href="/exchange/apply" class="exxbtn btn-ok" style="display: block; margin-top: 15px; line-height: 1;"><span><%= LANG('申请商家') %></span></a>
    </template>
</div>
<script>
    require(['vue', 'common/methods'], function(Vue, Methods) {
        new Vue({
            el: "#app-exMenu",
            data: function() {
                return {
                    loginUser: Methods.getLocalUserInfo(),
                    pathName:window.location.pathname,
                    paramName:Methods.getUrlparm('type') || '2',
                    market:Methods.getUrlparm('market') || 'qc_cny',
                    currentUserInfo : Methods.getLocalUserInfo(ENV + 'currentUserInfo'),
                    pathArr:{
                        index:['/exchange','/exchange/orderCreate'],
                        entrust:['/exchange/entrustList'],
                        order:['/exchange/orderList','/exchange/orderInfo'],
                        account:['/exchange/account'],
                        report:['/exchange/report']
                    }
                }
            },
            computed : {

            },
            methods: {
                activeClass:function(val, type, market){
                    var flag = false;
                    for(var i = 0;i<this.pathArr[val].length;i++){
                        if(this.pathArr[val][i] == this.pathName){
                            if(type && market){
                                if(type == this.paramName && market == this.market){
                                    flag = true;
                                    break;
                                }
                                flag = false;
                                break;
                            }
                            flag = true;
                            break;
                        }
                    }
                    return {
                        active:flag
                    }
                },
                checkChildAccount : function () {
                    if(ISLOGIN && this.currentUserInfo && this.currentUserInfo.userType != 1){
                        swal({
                            title: "<%= LANG('访问错误') %>",
                            text: "<%= LANG('子账号不可进行法币交易') %>",
                            icon: "warning",
                            buttons: ["<%= LANG('确定') %>", false],
                            dangerMode: false,
                        }).then(function (willDelete) {
                            window.location.href = '/';
                        });
                        window.setTimeout(function () {
                            window.location.href = '/';
                        }, 3000);
                    }
                }

            },
            created: function(){

            },
            mounted : function () {
                this.checkChildAccount()
                //setTimeout(this.checkChildAccount, 2000);
            }
        });
    })
</script>
