<script>
    require(['vue','common/methods'], function (Vue, Methods) {
        EXX.appDownload = new Vue({
            el: "#app-download",
            data: function () {
                return {
                    appInfo : ''
                }
            },
            computed : {
                qrcodeUrl : function(){
                    var http = ENV == 'z' ? 'https:' : 'http:';
                    var str = http + DOMAIN_WEB + '/app';
                    return DOMAIN_MAIN + API_PREFIX + 'getPayinQrcode?code='+str+'&width=160&height=160';
                }
            },
            methods: {
                getUrl : function (key) {
                    if(this.appInfo && this.appInfo[key]){
                        return this.appInfo[key].url;
                    }else{
                        return "javascript:JuaBox.info('Coming Soon...')";
                    }
                },
                getAppDownload: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_MAIN + API_PREFIX + 'getAppDownload',
                        success: function(res) {
                            this.appInfo = res.datas;
                        }.bind(this)
                    });
                }
            },
            created: function() {
                this.getAppDownload();
            },
            mounted : function () {
            }
        })
    })
</script>