<script type="text/x-template" id="modal-trans">
  <div class="exx-modal-container exx-light">
    <div class="exx-modal-header"><h3><span>{{currentMarket.toUpperCase()}}</span><%= LANG('手动委托') %></h3></div>
    <div class="exx-modal-body" style="padding: 50px 30px;text-align: center;">

      <div class="entrust-form" style="display: inline-block;">
        <div class="inner">
          <div class="field">
            <p class="text-line"><%= LANG('可用') %>({{coinType.toUpperCase()}})：<b>{{canUseCoin}}</b></p>
          </div>
          <div class="field">
            <p class="text-line"><%= LANG('可用') %>({{moneyType.toUpperCase()}})：<b>{{canUseMoney}}</b></p>
          </div>
          <div class="field">
            <label class="label"><%= LANG('价格') %>({{currencyName.toUpperCase()}})</label>
            <div class="control">
              <input class="priceInput" @input="priceInput" data-ori="" value="" type="text" />
            </div>
            <!--
            <div class="btn-edit">
              <a class="add" @click="stepPrice('add', market)"><i class="iconfont icon-expand_less"></i></a>
              <a class="reduce" @click="stepPrice('reduce', market)"><i class="iconfont icon-expand_more"></i></a>
            </div>
            -->
          </div>
          <div class="field">
            <label class="label"><%= LANG('数量') %>({{coinType.toUpperCase()}})</label>
            <div class="control">
              <input class="numberInput" @input="numberInput" value="" type="text" :data-useable="canUseCoin" />
            </div>
            <!--
            <div class="btn-edit">
              <a class="add" @click="stepNumber('add', market)"><i class="iconfont icon-expand_less"></i></a>
              <a class="reduce" @click="stepNumber('reduce', market)"><i class="iconfont icon-expand_more"></i></a>
            </div>
            -->
          </div>
          <div class="field button-field" style="margin-top: 20px;">
            <div @click="handleNormalTrans(1, currentMarket)" class="button buy disabled" :class="{disabled: lockTrade}" style="float: left;">
              <div class="t-animationload" onclick="$(this).addClass('active')">
                <div class="t-preloader"></div>
              </div>
              <%= LANG('买') %>
            </div>
            <div @click="handleNormalTrans(0, currentMarket)" class="button sell disabled" :class="{disabled: lockTrade}">
              <div class="t-animationload" onclick="$(this).addClass('active')">
                <div class="t-preloader"></div>
              </div>
              <%= LANG('卖') %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</script>

<script>
  require(['vue', 'common/methods', 'common/juabox'], function(Vue, Methods, JuaBox) {
    return Vue.component('modal-trans', {
      template: "#modal-trans",
      props: {
        params: {
          type: Object,
          default: {}
        }
      },
      data: function () {
        return {
          sharedState: store.state,
          lockTrade: false,
          allPriceRate: EXX.tradeSidebar.allPriceRate,
          currencyName: EXX.tradeSidebar.selectedCurrency.name,
          balance: EXX.tradeSidebar.assets.balance
        }
      },
      computed: {
        canUseCoin : function () {
            return EXX.tradeSidebar.getUseable(this.coinType);
        },
        canUseMoney : function () {
            return EXX.tradeSidebar.getUseable(this.moneyType);
        },
        coinType: function () {
          return this.params.market.market.split("_")[0];
        },
        moneyType: function() {
          return  this.params.market.market.split("_")[1];
        },
        currentMarket: function() {
          return this.params.market.market;
        }
      },
      methods: {
        getUseable: function(coin) {
          var coinAsset;
          if (this.balance) {
            coinAsset = this.balance.getObject('propTag', coin.toUpperCase());
          }
          return coinAsset ? coinAsset.usable : 0;
        },
        priceInput: function(el) {
          var $btn = $('.modal-trans .button');
          var $priceInput = $('.modal-trans .priceInput');
          var $numberInput = $('.modal-trans .numberInput');
          console.log($priceInput.val());
          console.log($numberInput.val());

          if ($priceInput.val() != '' && $numberInput.val() != '' ) {
            $btn.removeClass('disabled');
          } else {
            $btn.addClass('disabled');
          }
          var val  = el.target.value;
          var allPriceRate = this.sharedState.allPriceRate;
          var price = allPriceRate[MONEY][this.moneyType];
          var fixed = el.target.dataset.fixed || 3;
          var regString = '^\\d+(\\.\\d{0,' + fixed + '})?$';
          var re = new RegExp(regString);
          if (re.test(val)) {
            el.target.dataset.ori = parseFloat(val)/parseFloat(price).toFixed(6);
            //this.inputPrice = Number(val)/Number(price).toFixed(6);
          } else if (!re.test(val) && val != '') {
            $.toast({
              heading: "<%= LANG('非法输入') %>",
              text: "<%= LANG('输入格式有误') %>",
              showHideTransition: 'plain',
              icon: 'warning'
            });
            el.target.value = val.replace(/.$/, '');
          }
        },
        numberInput: function(el) {
          var $btn = $('.modal-trans .button');
          var $priceInput = $('.modal-trans .priceInput');
          var $numberInput = $('.modal-trans .numberInput');

          if ($priceInput.val() != '' && $numberInput.val() != '' ) {
            $btn.removeClass('disabled');
          } else {
            $btn.addClass('disabled');
          }
          var val = el.target.value;
          var fixed = el.target.dataset.fixed || 6;
          var regString = '^\\d+(\\.\\d{0,' + fixed + '})?$';
          var re = new RegExp(regString);
          if (re.test(val)) {
            this.inputNumber = el.target.value;
          } else if (!re.test(val) && val != '') {
            $.toast({
              heading: 'Warning',
              text: '<%= LANG("输入格式有误") %>',
              showHideTransition: 'plain',
              icon: 'warning'
            });
            el.target.value = val.replace(/.$/, '');
          }
        },
        handleNormalTrans: function(isBuy, market) {
          if (!ISLOGIN) {
            $.toast({
              heading: "<%= LANG('请先登录') %>",
              text: "<%= LANG('请注册或登录后再进行交易') %>",
              showHideTransition: 'fade',
              icon: 'error'
            });
            $('.t-animationload').removeClass('active');
            return
          }
          if ($('.modal-trans .button.disabled').length) {
            $('.t-animationload').removeClass('active');
            return
          }
          if (isBuy == 0 && $('.modal-trans .button.sell.disabled').length) {
            $('.button .t-animationload').removeClass('active');
            return
          }
          if (isBuy == 1 && $('.modal-trans .button.buy.disabled').length) {
            $('.button .t-animationload').removeClass('active');
            return
          }
          var price = $('.modal-trans .priceInput').attr('data-ori');
          var number = $('.modal-trans .numberInput').val();

          var useable = 0;
          if (isBuy == 0) {
            useable = this.canUseCoin;
          } else if (isBuy == 1) {
            useable = this.canUseMoney / price;
          }

          number = Number(number);
          useable = Number(useable);

          if (price == '' || !number ) {
            $.toast({
              heading: "<%= LANG('输入错误') %>",
              text: "<%= LANG('请输入交易金额和数量') %>。",
              showHideTransition: 'fade',
              icon: 'error'
            });
            $('.t-animationload').removeClass('active');
            return
          }

          if(number > useable || useable == 0){
            $.toast({
              heading: "<%= LANG('没有足够的资金') %>",
              text: "<%= LANG('没有足够的金额，你可以先充值划账到此账户') %>",
              showHideTransition: 'fade',
              icon: 'error'
            });
            this.clearEntrustInput();
            $('.t-animationload').removeClass('active');
            return
          }
          this.lockTrade = true;
          EXX.tradeSidebar.handleEntrustSubmit(isBuy, market, price, number);
        },
        clearEntrustInput: function() {
          var $Input = $('.modal-trans .entrust-form input');
          $Input.val('');
          $Input.attr('data-ori', '');
        }
      },
      created: function() {
      }
    });
  })
</script>
