<script type="text/x-template" id="asset-drop">
    <div class="vue-asset-drop" v-if="showDrop" v-cloak="">
        <div class="asset-drop-table">
            <ul class="head clearfix">
                <li><%= LANG('币种')%></li>
                <li><%= LANG('可用')%></li>
                <li><%= LANG('冻结')%></li>
            </ul>
            <ul class="body clearfix" v-for="(item,key) in userAsset" v-if="item.show">
                <li><img :src="'<%= STATIC%>/images/icon/market-icon/market-' + key.toLowerCase() + '.png'" class="market-icon">{{getRealCoinName(key).toUpperCase()}}</li>
                <li><b>{{fixFloat(item.available,4)}}</b></li>
                <li>{{fixFloat(item.freez,4)}}</li>
            </ul>
        </div>
    </div>
</script>

<script>
    /***********
     **Vue Lite分页组件
     ************/
    require(['vue', 'common/methods'], function (Vue, Methods){
        return Vue.component('asset-drop', {
            template: "#asset-drop",
            props: {
                userAsset: {
                    type: Object,
                    default: function(){
                        return {};
                    }
                },
                showDrop: {
                    type: Boolean,
                    default: false
                }
            },
            data: function () {
                return {

                }
            },
            computed: {

            },
            methods: {
                fixFloat : function (value,unit) {
                    return Methods.fixFloat(value, unit);
                },
                fixNumber : function (value,unit) {
                    return Methods.fixNumber(value, unit);
                },
                //去掉虚拟市场货币的D字符
                getRealCoinName : function (coin) {
                    if(coin.length > 3 && coin.substring(0,1) == 'd'){
                        return coin.substring(1);
                    }else{
                        return coin;
                    }
                }
            },
            watch: {

            },
            mounted: function() {

            },
            beforeUpdate: function() {

            },
            beforeDestroy: function() {

            }
        });
    })

</script>
