@charset "utf-8";
/*!
 * CHBTC base style
 * 2015-11-17
 */
body {
    height: 100%;
    position: relative;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    color: #99abb7;
    font-size: 12px;
    background-color: #f5f5f5;
    margin: 0 auto
}

ul, li, dl, dt, dd {
    list-style: none;
    margin: 0;
    padding: 0
}

i, em {
    font-style: normal
}

a {
    color: #de211d;
    text-decoration: none
}

a:focus, a:hover {
    color: #f33a36;
    text-decoration: underline
}

.bk-body {
    width: 1200px;
    min-width: 1010px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 0px 0 30px 0;
}

.container {
    min-width: 1010px !important
}

.bk-miniForm .container {
    width: auto !important;
    min-width: 0 !important
}

.en .hideen {
    display: none !important
}

.en .vibeen {
    visibility: hidden !important
}

.mt0 {
    margin-top: 0 !important
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt50 {
    margin-top: 50px !important
}

.mr0 {
    margin-right: 0 !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr25 {
    margin-right: 20px !important
}

.mr30 {
    margin-right: 30px !important
}

.mr50 {
    margin-right: 50px !important
}

.ml0 {
    margin-left: 0 !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml25 {
    margin-left: 20px !important
}

.ml30 {
    margin-left: 30px !important
}

.ml50 {
    margin-left: 50px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 20px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.ft12 {
    font-size: 12px !important
}

.ft14 {
    font-size: 14px !important
}

.ft16 {
    font-size: 16px !important
}

.ft18 {
    font-size: 18px !important
}

.ft20 {
    font-size: 20px !important
}

.ft24 {
    font-size: 24px !important
}

.ft30 {
    font-size: 30px !important
}

.ft36 {
    font-size: 36px !important
}

.ft42 {
    font-size: 42px !important
}

.bg_fff {
    background-color: #fff !important
}

.btn {
    padding: 9px 12px;
    border-radius: 3px;
    white-space: normal;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    -ms-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.btn.btn-hg {
    height: auto;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    border-radius: 5px
}

.btn.btn-hg .iconfont {
    font-size: 18px;
    vertical-align: text-bottom;
    margin-right: 10px
}

.btn:hover, .btn:focus, .btn.focus {
    box-shadow: none;
    background-image: none;
    text-shadow: none
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn.btn-skew {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg)
}

.btn.btn-skew span {
    display: inline-block;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg)
}

.btn-primary {
    background-color: #de211d;
    border-color: #de211d
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #f1280f;
    border-color: #f1280f
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background-color: #f1280f;
    border-color: #f1280f
}

.btn-second {
    background-color: #3dc18e;
    border-color: #3dc18e;
    color: #fff
}

.btn-second.active, .btn-second.focus, .btn-second:active, .btn-second:focus, .btn-second:hover, .open > .dropdown-toggle.btn-second {
    background-color: #2ad593;
    border-color: #2ad593;
    color: #fff
}

.btn-third {
    background-color: #fc9a2f;
    border-color: #fc9a2f;
    color: #fff
}

.btn-third.active, .btn-third.focus, .btn-third:active, .btn-third:focus, .btn-third:hover, .open > .dropdown-toggle.btn-third {
    background-color: #f4a92c;
    border-color: #f4a92c;
    color: #fff
}

.btn-fourth {
    background-color: #f9f9f9;
    border-color: #20b0de;
    color: #20b0de
}

.btn-fourth.active, .btn-fourth.focus, .btn-fourth:active, .btn-fourth:focus, .btn-fourth:hover, .open > .dropdown-toggle.btn-fourth {
    background-color: #20b0de;
    border-color: #20b0de;
    color: #fff
}

.btn-dark {
    background-color: #2f383d;
    border-color: #2f383d;
    color: #fff
}

.btn-dark.active, .btn-dark.focus, .btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark {
    background-color: #454f54;
    border-color: #454f54;
    color: #fff
}

.btn-gray {
    background-color: #ebeced;
    border-color: #ebeced;
    color: #505050
}

.btn-gray.active, .btn-gray.focus, .btn-gray:active, .btn-gray:focus, .btn-gray:hover, .open > .dropdown-toggle.btn-gray {
    background-color: #c1c5c9;
    border-color: #c1c5c9;
    color: #505050
}

.btn-radius {
    background-color: #d9dfe7;
    border-color: #d9dfe7;
    color: #545658
}

.btn-radius.active, .btn-radius.focus, .btn-radius:active, .btn-radius:focus, .btn-radius:hover, .open > .dropdown-toggle.btn-radius {
    background-color: #fff;
    border-color: #d9dfe7;
    color: #169bd7
}

.btn-downblue {
    background-color: #0576a9;
    border-color: #2ba9e2;
    color: #fff
}

.btn-downblue.active, .btn-downblue.focus, .btn-downblue:active, .btn-downblue:focus, .btn-downblue:hover, .open > .dropdown-toggle.btn-downblue {
    background-color: #054866;
    border-color: #1295d0;
    color: #fff
}

.btn-b11blue {
    background-color: #2c2f3e;
    border-color: rgba(231, 243, 247, 0.2);
    color: #fff
}

.btn-b11blue.active, .btn-b11blue.focus, .btn-b11blue:active, .btn-b11blue:focus, .btn-b11blue:hover, .open > .dropdown-toggle.btn-b11blue {
    background-color: #3f4254;
    border-color: rgba(231, 243, 247, 0.2);
    color: #fff
}

.btn-red {
    background-color: #c80000;
    border-color: #c80000;
    color: #fff
}

.btn-red.active, .btn-red.focus, .btn-red:active, .btn-red:focus, .btn-red:hover, .open > .dropdown-toggle.btn-red {
    background-color: #df1515;
    border-color: #df1515;
    color: #fff
}

.btn-downlightblue {
    background-color: #13c4fe;
    border-color: #aab3b6;
    color: #fff;
    text-shadow: 0 0 1px #333;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6) inset
}

.btn-downlightblue.active, .btn-downlightblue.focus, .btn-downlightblue:active, .btn-downlightblue:focus, .btn-downlightblue:hover, .open > .dropdown-toggle.btn-downlightblue {
    background-color: #0576a9;
    border-color: #bdbdbd;
    color: #fff
}

.btn-outline {
    background-color: #fff;
    border-color: #f42500;
    color: #de211d
}

.btn-outline.active, .btn-outline.focus, .btn-outline:active, .btn-outline:focus, .btn-outline:hover, .open > .dropdown-toggle.btn-outline {
    background-color: #de211d;
    border-color: #de211d;
    color: #fff
}

.btn-outsecond {
    background-color: #fff;
    border-color: #3dc18e;
    color: #3dc18e
}

.btn-outsecond.active, .btn-outsecond.focus, .btn-outsecond:active, .btn-outsecond:focus, .btn-outsecond:hover, .open > .dropdown-toggle.btn-outsecond {
    background-color: #2ad593;
    border-color: #2ad593;
    color: #fff
}

.btn-blue-active {
    background-color: #20b0de;
    border-color: #20b0de;
    color: #f9f9f9
}

.btn-blue-active:hover {
    background-color: #f9f9f9;
    border-color: #20b0de;
    color: #20b0de
}

.btn-blue {
    background-color: #f9f9f9;
    border-color: #20b0de;
    color: #20b0de
}

.btn-blue:hover {
    background-color: #20b0de;
    border-color: #20b0de;
    color: #FFF
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 4px;
    padding: 10px 30px
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #169bd7;
    border-color: #169bd7
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #e6e9ea
}

.btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-shadow {
    box-shadow: 0 3px 0 #0e6990
}

.btn-shadow.active, .btn-shadow.focus, .btn-shadow:active, .btn-shadow:focus, .btn-shadow:hover {
    box-shadow: 0 3px 0 #0a8fc7
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"], input[type="url"], input[type="number"], input[type="search"], input[type="telephone"], textarea {
    -webkit-appearance: none
}

input::-webkit-input-placeholder {
    color: #ddd;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0
}

input:-moz-placeholder {
    color: #ddd;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0
}

.form-control {
    border-radius: 0;
    border: 1px solid #e6e9ea;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 40px;
    padding: 9px 12px;
    font-size: 12px
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9f9f9
}

.input-group-addon {
    border-radius: 3px;
    border: 1px solid #e6e9ea
}

.form-control-feedback {
    height: 40px;
    line-height: 40px
}

.form-horizontal .col-sm-6.form-control-feedback {
    right: 15px !important
}

.form-horizontal .col-sm-7 .form-control-feedback {
    right: 15px !important
}

.form-horizontal .col-sm-8.form-control-feedback {
    right: 15px !important
}

.form-horizontal .col-sm-9 .form-control-feedback {
    right: 15px !important
}

.form-horizontal .col-sm-10 .form-control-feedback {
    right: 15px !important
}

.form-horizontal .col-sm-11 .form-control-feedback {
    right: 15px !important
}

.form-horizontal .col-sm-12 .form-control-feedback {
    right: 15px !important
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 0
}

.has-error .form-control-feedback {
    color: #e56140
}

.help-block {
    text-align: left
}

.help-block-danger {
    background-color: #e56140;
    border: 1px solid #e56140;
    color: #fff !important;
    height: auto;
    margin: 0 auto 2px;
    padding: 3px 5px 3px 3px
}

.form-control:focus {
    border-color: #ddd;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .075);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .075)
}

.form-control.form-second {
    height: auto;
    padding: 6px 15px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 0 !important;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .075);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .075)
}

.has-success .form-control, .has-success .form-control:focus {
    border-color: #e6e9ea;
    -webkit-box-shadow: none;
    box-shadow: none
}

.has-success .input-group-addon {
    color: #555;
    background-color: #eee;
    border-color: #e6e9ea
}

.has-error .form-control, .has-error .form-control:focus {
    border-color: #e56140;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff
}

.has-error .input-group-addon {
    color: #e56140;
    background-color: #f9f9f9;
    border-color: #e56140
}

.has-error .btn {
    color: #e56140;
    background-color: #f9f9f9;
    border-color: #e56140
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #e56140
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #f9f9f9
}

.input-drop {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ace4ce;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .075) !important
}

.input-drop li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.025)
}

.input-drop li {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #616b70;
    cursor: pointer
}

.input-drop li.active, .input-drop li:hover {
    background-color: #f9f9f9
}

.input-drop li span + span {
    margin-left: 10px
}

.input-drop li[id^='add'] {
    background-color: #f2fff5
}

.input-drop li[id^='add']:hover {
    background-color: #f2fff5
}

.drop-group {
    position: relative
}

.drop-group .drop-cert {
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 14px;
    color: #5aaddc;
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 100;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    cursor: pointer
}

.drop-group .drop-cert:after {
    content: "\f0d7"
}

.drop-group .dropdown-toggle:after {
    content: "\f0d7";
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 14px;
    color: #01ad6b;
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 100;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    cursor: pointer
}

.table thead tr th {
    text-align: center;
    vertical-align: middle
}

.table tbody tr td {
    vertical-align: middle
}

.table thead tr th:first-child, .table tbody tr td:first-child {
    text-align: left
}

.table tbody tr td .btn {
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap !important
}

.table thead tr th {
    height: 45px;
    white-space: nowrap !important;
    font-size: 12px
}

.table tbody tr td {
    height: 40px
}

.table.table-2x thead tr th {
    height: 60px
}

.table.table-2x tbody tr td {
    height: 60px
}

.table a {
    color: #666
}

.table a.btn-ico {
    font-size: 18px
}

.table a.btn-ico:hover {
    color: #169bd7;
    text-decoration: none
}

.table tbody tr td .btn {
    color: #fff;
    font-family: "Microsoft YaHei"
}

.table thead tr th {
    color: #979ca0;
    background-color: transparent
}

.table tbody tr td {
    color: #6d7b82
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid transparent
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom: 1px solid #eff0f0
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: transparent
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fafafa
}


.table-hover > tbody > tr:last-child > td {
    border-bottom: 1px solid #eff0f0
}

.table thead a.sort {
    padding: 0 15px 0 10px;
    color: #979ca0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-image: url(/statics/img/v2/common/ico_sort.png);
    background-position: right center;
    background-repeat: no-repeat
}

.table thead a.sort:hover {
    background-image: url(/statics/img/v2/common/ico_sort_hover.png);
    text-decoration: none;
    color: #333
}

.table thead a.sort.asc {
    background-image: url(/statics/img/v2/common/ico_sort_asc.png)
}

.table thead a.sort.desc {
    background-image: url(/statics/img/v2/common/ico_sort_desc.png)
}

.table span.schedule {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.table span.schedule i {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 3px;
    display: inline-block;
    height: 12px;
    width: 100px
}

.table span.schedule i u {
    background: none repeat scroll 0 0 #f06000;
    border-radius: 3px;
    display: inline-block;
    height: 12px;
    width: 50px;
    float: left
}

.bk-tabList {
    margin: 15px auto
}

.bk-tabList h3 {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 0
}

.bk-tabList-hd {
    text-align: left
}

.bk-tabList-hd a.btn.pull-right {
    margin-top: 8px
}

.bk-tabList-hd .btn-group .btn {
    border-radius: 0;
    border-bottom: 0;
    font-size: 14px;
    min-width: 113px;
    padding: 15px 12px
}

.bk-tabList-hd .btn-group .btn.active, .bk-tabList-hd .btn-group .btn:hover, .bk-tabList-hd .btn-group .btn:focus {
    position: relative
}

.bk-tabList-hd .btn-group .btn.active:before, .bk-tabList-hd .btn-group .btn:hover:before, .bk-tabList-hd .btn-group .btn:focus:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px
}

@media (max-width: 768px) {
    .bk-btn-group.btn-group {
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .bk-btn-group.btn-group .btn {
        font-size: 12px;
        float: none;
        display: table-cell;
        min-width: 1%
    }
}

.bk-tabList h3 {
    color: #7a8d9c
}

.bk-tabList-hd {
    border-bottom: 1px solid #eee
}

.bk-tabList-hd .btn-group .btn {
    color: #7a8d9c
}

.bk-tabList-hd .btn-group .btn.active, .bk-tabList-hd .btn-group .btn:hover, .bk-tabList-hd .btn-group .btn:focus {
    color: #353d41
}

.bk-tabList-hd .btn-group .btn.active:before, .bk-tabList-hd .btn-group .btn:hover:before, .bk-tabList-hd .btn-group .btn:focus:before {
    background-color: #de211d
}

.bk-tabList .table-responsive {
    overflow: visible
}

.text-primary {
    color: #de211d
}

.text-second {
    color: #3dc18e
}

.text-third {
    color: #f6952e
}

.text-forth {
    color: #fff800
}

.text-muted {
    color: #bfd0d7
}

.text-gray {
    color: #999
}

.text-success {
    color: #3dc18e
}

.text-fail {
    color: #f37800
}

.text-doing {
    color: #de211d
}

.text-cancel {
    color: #999
}

.text-wait {
    color: #169bd7
}

.text-done {
    color: #169bd7
}

.text-info {
    color: #bfd0d7
}

.text-into {
    color: #3dc18e
}

.text-outo {
    color: #f37800
}

.text-danger {
    color: #d51818
}

.text-nowrap {
    white-space: nowrap !important
}

.text-break {
    word-break: break-all;
    word-wrap: break-word
}

.alert-well {
    background-color: #fbf3f2;
    border-color: #fdb7b0;
    color: #889aa3
}

.alert-well .close {
    text-decoration: none;
    color: #bbb;
    opacity: 1;
    box-shadow: none
}

.alert-well .close:hover {
    color: #de211d
}

.bkNum {
    color: #de211d;
    font-size: 18px;
    font-family: Arial, sans-serif, "Microsoft YaHei"
}

.bkNum g {
    font-size: 12px;
    color: #6d7b82
}

.bkNum-mo {
    color: #de211d
}

.bkNum-tu {
    color: #bfd0d7
}

.bkNum-we {
    color: #de211d
}

.bkNum-th {
    color: #de211d
}

.bkNum-fr {
    color: #de211d
}

.bkNum-sa {
    color: #de211d
}

.bkNum-su {
    color: #de211d
}

.col-xs-1v5, .col-xs-2v5, .col-sm-1v5, .col-sm-2v5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1v5 {
    width: 20%
}

.col-xs-2v5 {
    width: 40%
}

@media (min-width: 768px) {
    .col-sm-1v5 {
        width: 20%
    }

    .col-sm-2v5 {
        width: 40%
    }
}

@media (max-width: 767px) {
    .xs-text-left {
        text-align: left
    }

    .xs-text-center {
        text-align: center
    }

    .xs-text-right {
        text-align: right
    }
}

@media (min-width: 768px) {
    .sm-text-left {
        text-align: left
    }

    .sm-text-center {
        text-align: center
    }

    .sm-text-right {
        text-align: right
    }
}

@media (min-width: 992px) {
    .md-text-left {
        text-align: left
    }

    .md-text-center {
        text-align: center
    }

    .md-text-right {
        text-align: right
    }
}

@media (min-width: 1200px) {
    .lg-text-left {
        text-align: left
    }

    .lg-text-center {
        text-align: center
    }

    .lg-text-right {
        text-align: right
    }
}

.bk-page-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100
}

.bk-page-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

.bk-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%
}

.bk-cell {
    display: table-cell;
    vertical-align: middle
}

.bk-cell-1v5 {
    display: table-cell;
    vertical-align: middle;
    width: 20%
}

.bk-cell-1 {
    display: table-cell;
    vertical-align: middle;
    width: 8.33333333%
}

.bk-cell-2 {
    display: table-cell;
    vertical-align: middle;
    width: 16.66666666%
}

.bk-cell-3 {
    display: table-cell;
    vertical-align: middle;
    width: 25%
}

.bk-cell-4 {
    display: table-cell;
    vertical-align: middle;
    width: 33.33333333%
}

.bk-cell-5 {
    display: table-cell;
    vertical-align: middle;
    width: 33.33333333%
}

.bk-cell-6 {
    display: table-cell;
    vertical-align: middle;
    width: 50%
}

.bk-cell-7 {
    display: table-cell;
    vertical-align: middle;
    width: 58.33333333%
}

.bk-cell-8 {
    display: table-cell;
    vertical-align: middle;
    width: 66.66666667%
}

.bk-cell-9 {
    display: table-cell;
    vertical-align: middle;
    width: 75%
}

.bk-cell-10 {
    display: table-cell;
    vertical-align: middle;
    width: 83.33333333%
}

.bk-cell-11 {
    display: table-cell;
    vertical-align: middle;
    width: 91.66666667%
}

.bk-cell-12 {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.bk-animated {
    -ms-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.bk-divider {
    height: 1px;
    width: 100%;
    clear: both;
    overflow: hidden;
    background-color: #e6e9ea;
    margin: 5px auto
}

/*!
 * Datepicker for Bootstrap
 */
.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px
}

.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px
}

.datepicker > div {
    display: none
}

.datepicker table {
    width: 100%;
    margin: 0;
    min-width: 250px
}

.datepicker td, .datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333
}

.datepicker td.day:hover {
    background: #eee;
    cursor: pointer
}

.datepicker td.day.disabled {
    color: #eee
}

.datepicker td.old, .datepicker td.new {
    color: #ccc
}

.datepicker td.active, .datepicker td.active:hover {
    color: #fff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #169bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#169bd7));
    background-image: -webkit-linear-gradient(top, #08c, #169bd7);
    background-image: -o-linear-gradient(top, #08c, #169bd7);
    background-image: linear-gradient(to bottom, #08c, #169bd7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff169bd7', GradientType=0);
    border-color: #169bd7 #169bd7 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #169bd7;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
    color: #fff;
    background-color: #169bd7;
    *background-color: #003bb3
}

.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
    background-color: #039 \9
}

.datepicker td span {
    display: block;
    width: 56px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.datepicker td span:hover {
    background: #eee
}

.datepicker td span.active {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #169bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#169bd7));
    background-image: -webkit-linear-gradient(top, #08c, #169bd7);
    background-image: -o-linear-gradient(top, #08c, #169bd7);
    background-image: linear-gradient(to bottom, #08c, #169bd7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff169bd7', GradientType=0);
    border-color: #169bd7 #169bd7 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #169bd7;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
    color: #fff;
    background-color: #169bd7;
    *background-color: #003bb3
}

.datepicker td span.active:active, .datepicker td span.active.active {
    background-color: #039 \9
}

.datepicker td span.old {
    color: #999
}

.datepicker th.switch {
    width: 145px
}

.datepicker th.next, .datepicker th.prev {
    font-size: 21px
}

.datepicker thead tr:first-child th {
    cursor: pointer
}

.datepicker thead tr:first-child th:hover {
    background: #eee
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.Jua-album-mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #000;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    opacity: .3;
    display: none
}

.Jua-album-main {
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3)
}

.Jua-album-inner {
    height: 100%;
    background: #fff
}

.Jua-album-main .head {
    padding: 20px 0;
    border-top: 6px solid #169bd7;
    border-bottom: 2px solid #169bd7;
    font-size: 24px;
    text-align: left;
    line-height: 100%;
    color: #8c99a5;
    text-align: center
}

.Jua-album-main .head h3 {
    font-size: 24px;
    color: #333;
    line-height: 100%;
    margin: 0;
    text-transform: capitalize
}

.Jua-album-main .body {
    padding: 15px;
    font-size: 18px;
    text-align: left;
    line-height: 180%;
    color: #666;
    min-height: 80px;
    word-wrap: break-word
}

.Jua-album-main .foot {
    padding: 15px;
    clear: both;
    text-align: center;
    border-top: 1px solid #ddd
}

.Jua-album-main .foot .btn {
    min-width: 120px;
    margin: 0 15px
}

.Jua-album-main .zoom {
    width: 220px;
    height: 36px;
    text-align: right;
    position: absolute;
    top: -12px;
    right: -12px
}

.Jua-album-main .zoom .win-btn {
    width: 25px;
    height: 25px;
    margin-left: 1px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -ms-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.Jua-album-main .zoom .win-btn.win-btn-close {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: url(/statics/img/bitbank/common/close_bg.png) 0 -37px no-repeat
}

.Jua-album-main .zoom .win-btn.win-btn-close .fa {
    display: none
}

.Jua-album-main .zoom .win-btn:active, .Jua-album-main .zoom .win-btn:focus {
    outline: 0
}

.Jua-album-main .zoom .win-btn:hover {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg)
}

.Jua-table-mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #000;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    opacity: .3;
    display: none
}

.Jua-table-main {
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    box-shadow: 0 0 20px 6px rgba(78, 76, 76, 0.46);
    border-radius: 3px;
    background-color: #fff
}

.Jua-table-inner {
    height: 100%
}

.Jua-table-main .head {
    padding: 10px 20px;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden
}

.Jua-table-main .head h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 100%;
    margin: 0;
    text-transform: capitalize;
    text-shadow: 0 0 1px rgba(255, 255, 255, 1)
}

.Jua-table-main .body {
    padding: 20px 20px 20px;
    font-size: 16px;
    text-align: left;
    line-height: 180%;
    color: #666;
    min-height: 150px;
    word-wrap: break-word
}

.Jua-table-main .foot {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    clear: both;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden
}

.Jua-table-main .foot .btn {
    min-width: 150px;
    font-size: 16px
}

.Jua-table-main .foot .btn + .btn {
    margin-left: 15px
}

.Jua-table-main .foot .btn.btn-default {
    background-color: #fff
}

.Jua-table-main .foot .btn.btn-default:hover {
    background-color: #ecf9fd;
    border-color: #d1f0fc;
    color: #333
}

.Jua-table-main .zoom {
    width: 50px;
    height: 50px;
    text-align: right;
    position: absolute;
    top: -15px;
    right: -15px
}

.Jua-table-main .zoom .win-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -ms-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.Jua-table-main .zoom .win-btn.win-btn-close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: #fff
}

.Jua-table-main .zoom .win-btn.win-btn-close .fa {
    font-size: 24px;
    font-wight: normal;
    color: #999;
    display: none
}

.Jua-table-main .zoom .win-btn.win-btn-close:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fdc4bd;
    background: url(/statics/img/v2/common/jua-close-btn.png) no-repeat center center #fdf2f1;
    background-size: 50% 50%
}

.Jua-table-main .zoom .win-btn:active, .Jua-table-main .zoom .win-btn:focus {
    outline: 0
}

.Jua-table-main .zoom .win-btn.win-btn-close:after:hover {
    background-color: #eee
}

.Jua-table-main .zoom .win-btn:hover {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg)
}

.Jua-bubble-main {
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    padding: 10px;
    background-color: rgba(222, 33, 29, 0.19)
}

.Jua-bubble-inner {
    height: 100%;
    padding: 10px;
    border: 1px dashed rgba(222, 33, 29, 1);
    background-color: rgba(255, 255, 255, 1)
}

.Jua-bubble-main .body {
    font-size: 18px;
    text-align: center;
    line-height: 180%;
    color: #de211d;
    min-height: 80px;
    margin-bottom: 10px;
    word-wrap: break-word
}

.Jua-showTip {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    border: 0;
    background-color: rgba(42, 51, 58, 0.75);
    padding: 25px 35px 25px 15px;
    display: none;
    color: #fdfdfd;
    min-width: 1010px
}

.Jua-showTip.wrong {
    background-color: rgba(241, 74, 70, 0.9)
}

.Jua-showTip.right {
    background-color: rgba(66, 194, 145, 0.9)
}

.Jua-mobile-mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #000;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    opacity: .3;
    display: none
}

.Jua-mobile-main {
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 0 0 1px #fff;
    background-color: rgba(238, 251, 254, 0.3)
}

.Jua-mobile-inner {
    height: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 0
}

.Jua-mobile-main .head {
    font-size: 18px;
    text-align: center;
    line-height: 100%;
    color: #8c99a5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd
}

.Jua-mobile-main .head h3 {
    font-size: 18px;
    color: #333;
    line-height: 100%;
    margin: 0;
    text-transform: capitalize
}

.Jua-mobile-main .body {
    font-size: 14px;
    text-align: left;
    line-height: 180%;
    color: #666;
    margin-bottom: 10px;
    word-wrap: break-word
}

.Jua-mobile-main .foot {
    padding: 10px 0 0;
    clear: both;
    text-align: center;
    border-top: 1px solid #ddd
}

.Jua-mobile-main .foot .btn {
    min-width: 120px;
    margin-left: 15px
}

.Jua-mobile-main .foot .btn:first-child {
    margin: 0 auto
}

.Jua-mobile-main .zoom {
    width: 220px;
    height: 36px;
    text-align: right;
    position: absolute;
    top: -10px;
    right: 0;
    display: none
}

.Jua-mobile-main .zoom .win-btn {
    width: 36px;
    height: 25px;
    margin-left: 1px;
    background-color: #aaa;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent
}

.Jua-mobile-main .zoom .win-btn:active, .Jua-mobile-main .zoom .win-btn:focus {
    outline: 0
}

.Jua-mobile-main .zoom .win-btn:hover {
    background-color: #169bd7
}

.Jua-mobile-main .zoom .win-btn:first-child {
    border-bottom-left-radius: 8px
}

.Jua-mobile-main .zoom .win-btn:last-child {
    border-top-right-radius: 4px
}

.Jua-mobile-main .zoom .win-btn.win-btn-mini {
    width: 60px;
    height: 25px
}

.Jua-mobile-main .zoom .win-btn.win-btn-zoom {
    width: 60px;
    height: 25px
}

.Jua-mobile-main .zoom .win-btn.win-btn-close {
    width: 60px;
    height: 60px;
    font-size: 32px;
    background-color: transparent;
    color: #169bd7
}

/*!
 * Datepicker for Bootstrap
 */
.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px
}

.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px
}

.datepicker > div {
    display: none
}

.datepicker table {
    width: 100%;
    margin: 0;
    min-width: 250px
}

.datepicker td, .datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333
}

.datepicker td.day:hover {
    background: #eee;
    cursor: pointer
}

.datepicker td.day.disabled {
    color: #eee
}

.datepicker td.old, .datepicker td.new {
    color: #ccc
}

.datepicker td.active, .datepicker td.active:hover {
    color: #fff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #169bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#169bd7));
    background-image: -webkit-linear-gradient(top, #08c, #169bd7);
    background-image: -o-linear-gradient(top, #08c, #169bd7);
    background-image: linear-gradient(to bottom, #08c, #169bd7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff169bd7', GradientType=0);
    border-color: #169bd7 #169bd7 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #169bd7;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
    color: #fff;
    background-color: #169bd7;
    *background-color: #003bb3
}

.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
    background-color: #039 \9
}

.datepicker td span {
    display: block;
    width: 56px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.datepicker td span:hover {
    background: #eee
}

.datepicker td span.active {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #169bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#169bd7));
    background-image: -webkit-linear-gradient(top, #08c, #169bd7);
    background-image: -o-linear-gradient(top, #08c, #169bd7);
    background-image: linear-gradient(to bottom, #08c, #169bd7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff169bd7', GradientType=0);
    border-color: #169bd7 #169bd7 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #169bd7;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
    color: #fff;
    background-color: #169bd7;
    *background-color: #003bb3
}

.datepicker td span.active:active, .datepicker td span.active.active {
    background-color: #039 \9
}

.datepicker td span.old {
    color: #999
}

.datepicker th.switch {
    width: 145px
}

.datepicker th.next, .datepicker th.prev {
    font-size: 21px
}

.datepicker thead tr:first-child th {
    cursor: pointer
}

.datepicker thead tr:first-child th:hover {
    background: #eee
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.page_nav {
    color: #666;
    padding: 20px 0 10px;
    overflow: hidden;
    text-align: right
}

@media (max-width: 768px) {
    .page_nav {
        text-align: center
    }
}

.page_nav span, .page_nav a {
    line-height: 40px;
    display: inline-block;
    vertical-align: middle
}

.page_nav span.page_num, .page_nav span.stat {
    display: none
}

.page_nav a.num, .page_nav .Pbtn {
    border: 1px solid #eee;
    color: #333;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    padding: 0 15px;
    margin: 0 5px;
    background: #fff;
    border-radius: 3px
}

.page_nav a.num:hover, .page_nav a.Pbtn:hover {
    text-decoration: none;
    background-color: #e8e8e8;
    color: #222
}

.page_nav a.num.current:hover, .page_nav a.Pbtn.current:hover {
    text-decoration: none;
    background-color: #de211d;
    color: #fff
}

.page_nav a.current {
    background-color: #de211d;
    color: #fff;
    font-weight: bold;
    border: 1px solid #de211d
}

.go_page {
    margin-left: 10px;
    padding: 4px 5px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    display: none
}

.page_nav .go_page a.jump {
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    margin: 0 0 0 5px;
    text-align: center;
    background-color: #169bd7;
    color: #fff;
    border: 0;
    vertical-align: top
}

.page_nav .go_page a.jump:hover {
    background-color: #3cb7ef;
    text-decoration: none
}

.page_nav .go_page input {
    width: 40px;
    height: 28px;
    line-height: 28px;
    padding: 2px 5px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    text-align: center;
    color: #666;
    border-radius: 0;
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    vertical-align: top
}

.page_nav span.Pbtn {
    line-height: 38px;
    background: #efefef;
    color: #aaa
}

.page_nav .Pbtn i {
    font: 12px arial
}

.page_num {
    height: 40px;
    line-height: 40px
}

.page_num b {
    font-size: 14px;
    color: #da542e
}

@media (max-width: 767px) {
    .page_nav .Pbtn, .page_nav .go_page, .page_nav .ellipsis {
        display: none
    }
}

.bk-pageNav {
    text-align: right
}

.pagination {
    margin: 10px 0
}

.pagination > li {
    display: inline-block
}

.pagination > li > a, .pagination > li > span {
    background: #f9f9f9;
    border: 0;
    height: 30px;
    width: auto;
    padding: 0 10px;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    border-radius: 2px;
    border: 1px solid #eee
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 2px
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #de211d
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background: #f1f1f1;
    color: #333
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #f1f1f1;
    text-shadow: 1px 1px 2px #fff;
    color: #ccc
}

.bk-animationload {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    /*background-color: #1f1d1d;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none
}

.bk-preloader {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -145px;
    margin-left: -125px;
    background-image: url(/statics/img/v2/common/chbtc_logo_s.png);
    background-size: 25% auto;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10001
}

.bk-preloader p {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10001;
    font-size: 14px;
    color: #666;
    margin-bottom: 0
}

.bk-preloader:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    content: '';
    display: block;
    top: 0;
    left: 0;
    z-index: 10000;
    background-image: url(/statics/img/v2/common/load-pix.png);
    background-size: 40% auto;
    background-position: center center;
    background-repeat: no-repeat;
    -o-animation: preloader_after 1.5s infinite linear;
    -ms-animation: preloader_after 1.5s infinite linear;
    -webkit-animation: preloader_after 1.5s infinite linear;
    animation: preloader_after 1.5s infinite linear
}

.bk-preloader:before {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    content: '';
    display: block;
    top: 0;
    left: 0;
    z-index: 9999;
    background-size: 40% auto;
    background-position: center center;
    background-repeat: no-repeat
}

@-webkit-keyframes preloader_after {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-o-keyframes preloader_after {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-ms-keyframes preloader_after {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@keyframes preloader_after {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

.onoffswitch {
    position: relative;
    top: 2px;
    width: 46px;
    display: inline-block;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.onoffswitch-checkbox {
    display: none
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 20px;
    margin: 0
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin .2s ease-in 0s
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #de211d;
    color: #fff
}

.onoffswitch.sell .onoffswitch-inner:before {
    background-color: #3dc18e
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #f8f8f8;
    color: #999;
    text-align: right
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    border: 1px solid #eee;
    border-radius: 18px;
    transition: all .2s ease-in 0s
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0
}

.onoffswitch-checkbox:disabled + .onoffswitch-label {
    cursor: not-allowed
}

.bk-kMarket .onoffswitch-label {
    border: 0
}

.bk-kMarket .onoffswitch-inner:before, .bk-kMarket .onoffswitch-inner:after {
    color: #fff;
    height: 18px;
    line-height: 18px
}

.bk-kMarket .onoffswitch-inner:before {
    background-color: #de211d;
    color: #fff
}

.bk-kMarket .onoffswitch.sell .onoffswitch-inner:before {
    background-color: #3dc18e;
    color: #fff
}

.bk-kMarket .onoffswitch-inner:after {
    background-color: #464444;
    color: #999
}

.bk-kMarket .onoffswitch-switch {
    background: #fff;
    border-color: #eee
}