<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title
    ======================================== -->
    <title>Kryptova</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="icon/favicon.ico" type="image/x-icon">

    <!-- Icon fonts
    ======================================== -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/cryptowallet-argon.css">

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/bootstrap.min.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/slick-theme.css">

    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/magnific-popup.css">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/main.css">

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/responsive.css">
</head>


<!-- body starts
============================================ -->

<body>

    <!-- Preloader -->
    <div class="o-preloader">
        <div class="o-preloader_inner"></div>
    </div>


    <div class="radial-bg radial-bg__banner">
    </div>
    <!-- End of .radial-bg -->

    <!-- navbar starts
    ============================================ -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/brand-logo.png" alt="brand logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="toggler-icon-bar bar1"></span>
                <span class="toggler-icon-bar bar2"></span>
                <span class="toggler-icon-bar bar3"></span>
            </button>
            <!-- End of .navbar-toggler -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ico-funding.html">ICO Funding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about.html">About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-small" href="#">Buy Token</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of .container -->
    </nav>
    <!-- End of .navbar -->

    <!-- banner starts
============================================ -->
    <section class="banner-inner">
        <div class="banner-wrapper banner-wrapper__banner-inner d-flex align-items-center">
            <div class="container">
                <div class="banner-txt">
                    <h1>About Us</h1>
                </div>
                <!-- End of .banner-txt -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .banner-wrapper -->
    </section>
    <!-- End of .banner -->

    <!-- about starts
============================================ -->
    <section class="section">
        <div class="container">
            <div class="about-wrapper">
                <div class="about-us section-padding">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h2>Vision</h2>
                            <p>Phasellus vel aliquet turpis, sed imperdiet purus. Phasellus luctus est vel magna tristique scelerisque
                                et in nisi.</p>

                            <p> Sed pellentesque nunc sit amet est vehicula, sed ultrices massa hendrerit. Aliquam nibh turpis,
                                bibendum at urna in, sollicitudin vehicula felis. Fusce placerat fermentum mauris vel aliquam.
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                                of classical Latin literature from 45 BC.</p>
                        </div>
                        <!-- End of .col-lg-6 -->

                        <div class="col-lg-6">
                            <img src="images/about/about-1.jpg" alt="about image">
                        </div>
                        <!-- End of .col-lg-6 -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .about-us -->

                <div class="about-us section-padding">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <h2>Mission</h2>
                            <p class="action-color">“Proin egestas odio magna, vel imperdiet nibh tempor nec. Proin imperdiet viverra neque, quis
                                volutpat nisi pulvinar. ”</p>

                            <p>Donec eu rutrum nulla, nec accumsan velit. In id dolor urna. Nunc sit amet suscipit velit. Aenean
                                ut quam vulputate, dapibus erat vel, imperdiet nibh. Proin maximus iaculis arcu, ut porta
                                nisi accumsan ut. Praesent aliquam quam ut ex volutpat sollicitudin. Nulla est lacus, malesuada
                                et magna ac, molestie imperdiet nisl.</p>
                        </div>
                        <!-- End of .col-lg-6 -->

                        <div class="col-lg-6">
                            <img src="images/about/about-2.jpg" alt="about image">
                        </div>
                        <!-- End of .col-lg-6 -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .about-us -->
            </div>
            <!-- End of .about-wrapper -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .about -->

    <!-- team starts
============================================ -->
    <section class="section">
        <div class="radial-bg radial-bg__team">
        </div>
        <!-- End of .radial-bg -->

        <div class="container">
            <div class="team section-padding m-b-35">
                <div class="section-heading text-center">
                    <h2>Team Players</h2>
                    <p>Suspendisse ornare porta porta. In a aliquam est. Sed convallis tortor et eleifend convallis. Suspendisse.</p>
                </div>
                <!-- End of .section-heading -->

                <div class="team-tab common-tab">
                    <ul class="nav nav-tabs row no-gutters" id="team-tab" role="tablist">
                        <li class="nav-item col">
                            <a class="nav-link active" id="team-tab-1" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Operating Team</a>
                        </li>
                        <li class="nav-item col">
                            <a class="nav-link" id="team-tab-2" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Advisors Board</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="team-tab-Content">
                        <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="team-tab-1">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-1.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Randall Jenkins
                                            <span>Founder &amp; CEO</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-2.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Jim Poole
                                            <span>Co-founder &amp; CTO</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-3.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Stanley Little
                                            <span>Co-founder &amp; COO</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-4.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Verna Bryant
                                            <span>Marketing Officer</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-5.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Bradley Vargas
                                            <span>ICO Specialist</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-6.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Myrtie Bush
                                            <span>ICO Specialist</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-7.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Adele McKenzie
                                            <span>Cryptocurrency Specialist</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-8.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Warren Price
                                            <span>Technology Officer</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->
                            </div>
                            <!-- End of .row -->
                        </div>
                        <!-- End of .tab-pane -->

                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="team-tab-2">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-9.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Maxime Bourgeois
                                            <span>Chief Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-10.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Joe Baker
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-11.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Vivek Ravin
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-12.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Sona Psotova
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-13.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Pawel Waraksa
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-14.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Pola Leszczynska
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-15.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Maxime Bourgeois
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a href="#" class="img-card" data-toggle="modal" data-target="#team-modal">
                                        <div class="img-container">
                                            <img src="images/team/members/team-16.jpg" alt="team member">
                                        </div>
                                        <!-- End of .img-container -->
                                        <h5>Pawel Kontek
                                            <span>Advisor</span>
                                        </h5>
                                    </a>
                                    <!-- End of .img-card -->
                                </div>
                                <!-- End of .col-md-3 -->
                            </div>
                            <!-- End of .row -->
                        </div>
                        <!-- End of .tab-pane -->
                    </div>
                    <!-- End of .tab-content -->
                </div>
                <!-- End of .team-tab -->
            </div>
            <!-- End of .team -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .team -->

    <!-- purchase-token banner starts
============================================ -->
    <section>
        <div class="container">
            <div class="purchase-token-banner token-box text-center m-b-40">
                <h3>ICO campaign is ending soon. Purchase your tokens today!</h3>
                <a href="#" class="btn">Buy Tokens</a>
            </div>
            <!-- End of .purchase-token-banner -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of section -->

    <!-- Team Modal -->
    <div class="team-modal modal fade" id="team-modal" tabindex="-1" role="dialog" aria-labelledby="team-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div class="row align-items-center text-center">
                        <div class="col-md-12">
                            <div class="img-container">
                                <img src="images/team/members/team-1.jpg" alt="team modal image" class="img-fluid">
                            </div>
                            <!-- End of .img-container -->
                        </div>

                        <div class="col-md-12">
                            <div class="member-details">
                                <h3>Randall Jenkins
                                    <span>Founder &amp; CEO</span>
                                </h3>
                                <p>Morbi porttitor fermentum faucibus. Nullam feugiat egestas lacus in bibendum. Morbi sed augue
                                    at arcu viverra rhoncus eget condimentum arcu. Aliquam aliquet laoreet tortor, quis mattis
                                    arcu pulvinar vitae. Mauris.</p>
                                <div class="social-icons social-icons__team-details">
                                    <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://www.twitter.com" target="_blank" rel="noopener">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank" rel="noopener">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="https://www.pinterest.com" target="_blank" rel="noopener">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </div>
                                <!-- End of .social-icons -->
                            </div>
                            <!-- End of .member-details -->
                        </div>
                        <!-- End of .col-md-6 -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialogue -->
    </div>
    <!-- End of .team-modal -->

    <!-- footer starts
============================================ -->
    <footer class="footer">
        <div class="radial-bg radial-bg__footer">
        </div>
        <!-- End of .radial-bg -->
        <div class="container">
            <div class="page-footer">
                <div class="footer-menu">
                    <div class="row">
                        <div class="col-md">
                            <a href="index.html" class="d-block">
                                <img src="images/footer-logo.png" alt="footer logo">
                            </a>
                        </div>
                        <!-- End of .col -->

                        <div class="col-md">
                            <h5>Company</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="ico-funding.html">ICO Funding</a>
                                </li>
                                <li>
                                    <a class="active" href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                            </ul>
                            <!-- End of .footer-nav -->
                        </div>
                        <!-- End of .col -->

                        <div class="col-md">
                            <h5>ICO Funding</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="ico-funding.html#tab-campaign">Campaign</a>
                                </li>
                                <li>
                                    <a href="ico-funding.html#tab-faqs">FAQs</a>
                                </li>
                                <li>
                                    <a href="ico-funding.html#tab-update">Update</a>
                                </li>
                            </ul>
                            <!-- End of .footer-nav -->
                        </div>
                        <!-- End of .col -->

                        <div class="col-md">
                            <h5>Help</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                            <!-- End of .footer-nav -->
                        </div>
                        <!-- End of .col -->

                        <div class="col-md-4">
                            <h5>Newsletter</h5>
                            <p>Sign up for our exclusive weekly newsletter.</p>
                            <form class="footer-form" action="#" method="post">
                                <input type="email" class="form-control" placeholder="Enter email address…">
                                <button class="icon-btn" type="submit">
                                    <i class="icon-arrow-right-1"></i>
                                </button>
                            </form>

                            <div class="social-icons">
                                <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com" target="_blank" rel="noopener">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com" target="_blank" rel="noopener">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://www.linkedin.com/" target="_blank" rel="noopener">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://www.pinterest.com" target="_blank" rel="noopener">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </div>
                            <!-- End of .social-icons -->
                        </div>
                        <!-- End of .col -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .footer-menu -->

                <div class="footer-bottom">
                    <p>Copyright &copy; 2018. All rights reserved by
                        <a href="#">Your Company</a>
                    </p>
                    <div class="dropdown text-xs-right ml-auto">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language:
                            <span>English</span>
                            <i class="fa fa-angle-up"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">English US</a>
                            <a class="dropdown-item" href="#">English Uk</a>
                            <a class="dropdown-item" href="#">French</a>
                            <a class="dropdown-item" href="#">Bangla</a>
                        </div>
                        <!-- End of .dropdown-menu -->
                    </div>
                    <!-- End of .dropdown -->
                </div>
                <!-- End of .footer-copyright -->
            </div>
            <!-- End of .page-footer -->
        </div>
        <!-- End of .container -->
    </footer>
    <!-- End of page-footer -->


    <!-- Javascripts
    ======================================= -->
    <!-- jQuery -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-migrate.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- font awesome -->
    <script src="../../../public/src/scripts/zbg/js/vendor/fontawesome-all.min.js"></script>
    <!-- jQuery Countdown plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.countdown.min.js"></script>
    <!-- jQuery Easing Plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/easing-1.3.js"></script>
    <!-- jQuery progressbar plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.waypoints.min.js"></script>
    <!-- Bootstrap Progressbar -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap-progressbar.min.js"></script>
    <!-- ImagesLoaded js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/imagesloaded.pkgd.min.js"></script>
    <!-- Slick carousel js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/slick.min.js"></script>
    <!-- Magnific popup -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom js -->
    <script src="../../../public/src/scripts/zbg/js/main.js"></script>


</body>

</html>