<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
    <script type="text/javascript">
        var GLOBAL             = {},
            EXX = {},
            ENV               = GLOBAL['ENV']       = '<%= ENV %>',
            LAN               = GLOBAL['LAN']       = '<%= LAN %>',
            MONEY               = GLOBAL['MONEY']       = '<%= MONEY || "usd" %>',
            ISLOGIN               = GLOBAL['ISLOGIN']       = <%= Boolean(isLogin) %>,
            VERSION            = GLOBAL['VERSION']           = '<%= VERSION %>',
            DOMAIN_BASE        = GLOBAL['DOMAIN_BASE']       = '<%= DOMAIN_BASE %>',
            DOMAIN_DEV        = GLOBAL['DOMAIN_DEV']       = '<%= DOMAIN_DEV %>',
            WEBSOCKET        = GLOBAL['WEBSOCKET']       = '<%= WEBSOCKET %>';

        document.domain = DOMAIN_BASE;
    </script>
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>市场</title>
    <link rel="icon" href="<%= STYLE_STATIC %>/images/zbg/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/xulei-v1.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/xuleipro.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/cssdna.css?<%= VERSION %>">
    <style>
        .form-group .form-control input{
            z-index: auto;
        }
        .form-group .form-control .code-img img{
            margin-right:5px;
        }
    </style>
</head>
<body>
<%-include("../include/head.html")%>
    <section class="home-market" id="applyContent">

        <!-- <div class="cd-nav">
            <ul>
                <li><a href="/market"><%= LANG('ZBG市场')%></a></li>
                <li><a href="/marketglobal"><%= LANG('全球市场')%></a></li>
                <li class="active"><a href="/newmarket"><%= LANG('上币排行')%></a></li>
            </ul>
        </div> -->

        <div class="cd-nav-aux">
            <ul>
                <li><a href="/newmarket"><%= LANG('上线前公示')%></a></li>
                <li class="active"><a href="/apply"><%= LANG('上币推荐')%></a></li>
            </ul>
        </div>


                        <div class="container-fluid">
                            <div style="padding: 20px; line-height: 2;background: rgba(0,0,0,.2); margin-top: 20px; border-radius: 5px; color: #9793da; text-shadow: 1px 1px 1px #000;">
                                <%= LANG('作为ZB.COM创新版的XT秉承着社区节点共同治理的理念Z') %>
                                <%= LANG('ZB换码ZT') %> ，<%=
                                LANG('经过工作人员简单的信息整理Z') %>（<a style="color: #fff;" href="/newmarket"> <%= LANG('见排队列表细则')
                                %> </a>）， <%= LANG('按照先后顺序上币Z') %> 
                                <br>
                                <%= LANG('备注：仅节点可申请Z') %>


                            </div>
                        <div class="apply-panel">
                            <h2> <%= LANG('上币推荐表') %> </h2>


                            <div class="form-group" style="margin-top: 30px;">
                                <label> <%= LANG('币种英文名Z') %> </label>
                                <div class="form-control">
                                    <input autocomplete="off" type="text" v-model="formData.currencyName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label> <%= LANG('币简称（单位）') %> ：</label>
                                <div class="form-control">
                                    <input autocomplete="off" type="text" v-model="formData.currencyAlias">
                                </div>
                            </div>
                            <div class="form-group">
                                <label> <%= LANG('官网') %> ：</label>
                                <div class="form-control">
                                    <input autocomplete="off" type="text" v-model="formData.website">
                                </div>
                            </div>
                            <div class="form-group">
                                <label> <%= LANG('担保金Z') %> ：</label>
                                <div class="form-control">
                                    <input autocomplete="off" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label> <%= LANG('已上线交易平台详细地址Z') %> ：</label>
                                <div class="form-control">
                                    <textarea v-model="formData.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-control" style="display: block !important;">
                                    <input autocomplete="off" placeholder="<%= LANG('图形验证码') %>" v-model="formData.imgCode"  type="text">
                                    <div class="code-img">
                                        <img :src="imageCodeUrl" v-on:click="handleRefreshImgcode"
                                                               alt="<%= LANG('点击刷新验证码') %>">
                                    </div>
                                </div>
                            </div>

                            <div class="btn"><a @click="applycoin"> <%= LANG('提交信息') %> </a></div>


                        </div>
                    </div>




    </section>
<!--<script src="/src/js/ribbons.js"></script>-->
</body>
</html>

<script src="<%= STATIC %>/scripts/zbg/js/vendor/jquery-3.2.1.min.js"></script>
<link rel="shortcut icon" href="<%= STYLE_STATIC %>/images/favicon/favicon.ico?<%= VERSION %>">
<script type="text/javascript" src="<%= STATIC %>/scripts/common/web.lang.js?<%= VERSION %>"></script>
<script type="text/javascript" src="/lib/jqueryToast/jquery.toast.min.js?<%= VERSION %>"></script>
<script type="text/javascript" src="/lib/others/sweetalert.min.js?<%= VERSION %>"></script>
<script src="/lib/others/jquery.nicescroll.min.js" type="text/javascript"></script>
<script src="/lib/iscroll/iscroll.min.js" type="text/javascript"></script>
<link href="/lib/jqueryToast/jquery.toast.min.css?<%= VERSION %>" rel="stylesheet" type="text/css">
<script src="/lib/bootstrap/dist/js/bootstrap.min.js?<%= VERSION %>" charset="utf-8"></script>
<!--<script src="/src/scripts/jquery-ui.min.js"></script>-->
<script src="/src/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/src/scripts/login/jquery.drawsvg.min.js"></script>

<!-- jQuery -->

<script src="<%= STATIC %>/scripts/zbg/js/vendor/jquery-migrate.min.js"></script>
<!-- Bootstrap js -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/bootstrap.bundle.min.js"></script>
<!-- font awesome -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/fontawesome-all.min.js"></script>
<!-- jQuery Countdown plugin -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/jquery.countdown.min.js"></script>
<!-- jQuery Easing Plugin -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/easing-1.3.js"></script>
<!-- jQuery progressbar plugin -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/jquery.waypoints.min.js"></script>
<!-- Bootstrap Progressbar -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/bootstrap-progressbar.min.js"></script>
<!-- ImagesLoaded js -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/imagesloaded.pkgd.min.js"></script>
<!-- Slick carousel js -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/slick.min.js"></script>
<!-- Magnific popup -->
<script src="<%= STATIC %>/scripts/zbg/js/vendor/jquery.magnific-popup.min.js"></script>
<!--<script src="<%= STATIC %>/scripts/zbg/js/main.js"></script>-->
<!--2018年06月26日16:18:09-->
<script type="text/javascript" src="<%= STATIC %>/scripts/common/web.lang.js?<%= VERSION %>"></script>
<script src="/lib/requirejs/require.js"></script>
<script type="text/javascript" src="<%= STATIC %>/scripts/main.js?<%= VERSION %>"></script>

<script>

    require(['vue', 'common/methods','common/juabox', 'clipboadrd',], function(Vue, Methods,JuaBox, Clipboard) {
        new Vue({
            el: '#applyContent',
            data: function () {
                return{
                    imgCode: '',
                    imageCodeUrl: '',
                    showImgCode: false,
                    formData:{
                        currencyName:'',//
                        currencyAlias:'',//简称
                        description:'',//描述
                        website:'',//官网
                        imgCodeId:'',//验证码id
                        imgCode:'',

                    }
                }
            },
            methods:{
                //获取图形验证码
                getImageCode: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/verifycode/controller/website/userVerifyController/" + 'getValiDateCode',
                        success: function (res) {
                            this.imageCodeUrl = res.datas.img;
                            this.formData.imgCodeId = res.datas.imgCodeId;
                        }.bind(this)
                    });
                },
                //提交
                applycoin: function () {
                    JuaBox.info("<%= LANG('暂未开放，节点用户请联系商务专员') %>");
                    return;
                    var that=this;
                    if (that.formData.currencyName === '') {
                        JuaBox.info("<%= LANG('请输入英文名') %>");
                    }else if(that.formData.currencyAlias === ''){
                        JuaBox.info("<%= LANG('请输入币简称') %>");
                    }else if(that.formData.website === ''){
                        JuaBox.info("<%= LANG('请输入官网') %>");
                    }else if(that.formData.description === ''){
                        JuaBox.info("<%= LANG('请输入联系方式和其他') %>");
                    }else if(that.formData.imgCode === ''){
                        JuaBox.info("<%= LANG('请输入验证码') %>");
                    }else{
                        Methods.ajax({
                            type: 'POST',
                            data:JSON.stringify(that.formData),
                            url: DOMAIN_DEV + "/exchange/activity/controller/ApplyCoinController/applycoin",
                            success: function (res) {
                                if(res.resMsg.code=='1'){
                                    JuaBox.info("<%= LANG('提交成功!') %>");
                                    that.formData.currencyName = ''//
                                        that.formData.currencyAlias = ''//简称
                                        that.formData.description = ''//描述
                                        that.formData.website = ''//官网
                                        that.formData.imgCode = ''
                                        $(window).scrollTop(0)
                                }
                                // if(res.resMsg.code==1000){
                                //     JuaBox.info(res.resMsg.message);
                                // }
                            }.bind(this)
                        });
                    }

                },
                //刷新图形验证码-ok
                handleRefreshImgcode: function () {
                    // this.timestramp = '-' + new Date().getTime();
                    this.getImageCode();
                },
            },
            mounted:function(){
                this.getImageCode()
            }
        })

    })

</script>
