<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title
    ======================================== -->
    <title>Kryptova</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="icon/favicon.ico" type="image/x-icon">

    <!-- Icon fonts
    ======================================== -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/cryptowallet-argon.css">

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/bootstrap.min.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/slick-theme.css">

    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/vendor/magnific-popup.css">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/main.css">

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/zbg/css/responsive.css">
</head>


<!-- body starts
============================================ -->

<body>

    <!-- Preloader -->
    <div class="o-preloader">
        <div class="o-preloader_inner"></div>
    </div>


    <div class="radial-bg radial-bg__banner">
    </div>
    <!-- End of .radial-bg -->

    <!-- navbar starts
    ============================================ -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/brand-logo.png" alt="brand logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="toggler-icon-bar bar1"></span>
                <span class="toggler-icon-bar bar2"></span>
                <span class="toggler-icon-bar bar3"></span>
            </button>
            <!-- End of .navbar-toggler -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ico-funding.html">ICO Funding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="blog.html">Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-small" href="#">Buy Token</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of .container -->
    </nav>
    <!-- End of .navbar -->

    <!-- banner starts
============================================ -->
    <section class="banner-inner">
        <div class="banner-wrapper banner-wrapper__banner-inner d-flex align-items-center">
            <div class="container">
                <div class="banner-txt d-flex align-items-center justify-content-between">
                    <h1>Blog</h1>
                    <form class="search-form" action="#" method="POST">
                        <input type="text" class="form-control" placeholder="Search Blog…">
                        <button class="icon-btn" type="submit">
                            <i class="icon-search-1"></i>
                        </button>
                    </form>
                    <!-- End of .search-form -->
                </div>
                <!-- End of .banner-txt -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .banner-wrapper -->
    </section>
    <!-- End of .banner -->

    <!-- blog-posts starts
============================================ -->
    <div>
        <div class="radial-bg radial-bg__blog">
        </div>
        <!-- End of .radial-bg -->
        <div class="container">
            <div class="blog-page-wrapper section-padding m-t-50">
                <div class="row">
                    <div class="col-md-8">
                        <article>
                            <h2>
                                <a href="blog-details.html">018 Market Expansion for All Types of Virtual Currencies</a>
                            </h2>
                            <div class="post-info">
                                <a href="#">
                                    <i class="icon-calendar-1"></i>22 August, 2017
                                </a>
                                <a href="#">
                                    <i class="icon-user"></i>Admin
                                </a>
                                <a href="#">
                                    <i class="icon-shapes-3"></i>Business
                                </a>
                                <a href="#">
                                    <i class="icon-bubble-rounded-chat"></i>Comments (100)
                                </a>
                            </div>
                            <!-- End of .post-info -->

                            <a href="blog-details.html" class="img-container">
                                <img src="images/blog/blog-post-1.jpg" alt="blog post image" class="img-fluid">
                            </a>
                            <!-- End of .img-container -->

                            <p>Putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et
                                quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                                Putamus parum claram, anteposuerit litterarum.</p>
                            <a href="blog-details.html" class="btn">Read More</a>
                        </article>
                        <!-- End of article -->

                        <article>
                            <h2>
                                <a href="blog-details.html">Bitcoin Virtual Card Can be Used Anywhere from the World Now!</a>
                            </h2>
                            <div class="post-info">
                                <a href="#">
                                    <i class="icon-calendar-1"></i>15 January, 2018
                                </a>
                                <a href="#">
                                    <i class="icon-user"></i>Admin
                                </a>
                                <a href="#">
                                    <i class="icon-shapes-3"></i>Business
                                </a>
                                <a href="#">
                                    <i class="icon-bubble-rounded-chat"></i>Comments (100)
                                </a>
                            </div>
                            <!-- End of .post-info -->

                            <a href="blog-details.html" class="img-container">
                                <img src="images/blog/blog-post-2.jpg" alt="blog post image" class="img-fluid">
                            </a>
                            <!-- End of .img-container -->

                            <p>Maecenas dictum semper diam, vitae aliquam nisl aliquam a. Sed vel est placerat, ultricies augue
                                in, ornare arcu. Nam in lorem mollis, facilisis urna eu, scelerisque metus. Mauris maximus,
                                augue ultrices mollis.</p>
                            <a href="blog-details.html" class="btn">Read More</a>
                        </article>
                        <!-- End of article -->

                        <article>
                            <h2>
                                <a href="blog-details.html">Blockchain - the Most Secure Way to Regulate Cryptocurrency</a>
                            </h2>
                            <div class="post-info">
                                <a href="#">
                                    <i class="icon-calendar-1"></i>2 April, 2018
                                </a>
                                <a href="#">
                                    <i class="icon-user"></i>Admin
                                </a>
                                <a href="#">
                                    <i class="icon-shapes-3"></i>Business
                                </a>
                                <a href="#">
                                    <i class="icon-bubble-rounded-chat"></i>Comments (100)
                                </a>
                            </div>
                            <!-- End of .post-info -->

                            <a href="blog-details.html" class="img-container">
                                <img src="images/blog/blog-post-3.jpg" alt="blog post image" class="img-fluid">
                            </a>
                            <!-- End of .img-container -->

                            <p>Integer tincidunt ante non enim pretium, vitae imperdiet ante consequat. Nulla suscipit efficitur
                                tincidunt. Curabitur ac lacus sed neque volutpat volutpat. Nunc congue elementum nibh, ut
                                finibus tortor faucibus eget. Curabitur porttitor.</p>
                            <a href="blog-details.html" class="btn">Read More</a>
                        </article>
                        <!-- End of article -->
                    </div>
                    <!-- End of .col-md-8 -->

                    <div class="col-md-4">
                        <aside class="blog-page-aside">
                            <div class="widget">
                                <h4>Recent Posts</h4>
                                <div class="media">
                                    <img src="#" alt="recent post widget image">
                                    <div class="media-body">
                                        <h5>
                                            <a href="#">
                                                <i class="icon-arrow-right-1"></i>What Is a Web Developer?
                                                <span>22 August, 2018</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- End of .media-body -->
                                </div>
                                <!-- End of .media -->

                                <div class="media">
                                    <img src="#" alt="recent post widget image">
                                    <div class="media-body">
                                        <h5>
                                            <a href="#">
                                                <i class="icon-arrow-right-1"></i>What Does a Web Designer Do in Freelancing?
                                                <span>15 September, 2018</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- End of .media-body -->
                                </div>
                                <!-- End of .media -->

                                <div class="media">
                                    <img src="#" alt="recent post widget image">
                                    <div class="media-body">
                                        <h5>
                                            <a href="#">
                                                <i class="icon-arrow-right-1"></i>What Do You Do as a Web Developer?
                                                <span>2 June, 2018</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- End of .media-body -->
                                </div>
                                <!-- End of .media -->

                                <div class="media">
                                    <img src="#" alt="recent post widget image">
                                    <div class="media-body">
                                        <h5>
                                            <a href="#">
                                                <i class="icon-arrow-right-1"></i>How to Build a Partnership with Your Web Designer
                                                <span>5 April, 2018</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- End of .media-body -->
                                </div>
                                <!-- End of .media -->

                                <div class="media">
                                    <img src="#" alt="recent post widget image">
                                    <div class="media-body">
                                        <h5>
                                            <a href="#">
                                                <i class="icon-arrow-right-1"></i>What Is a Web Developer
                                                <span>19 April, 2018</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- End of .media-body -->
                                </div>
                                <!-- End of .media -->
                            </div>
                            <!-- End of .widget -->

                            <div class="widget common-widget">
                                <h4>Recent Comments</h4>
                                <ul>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Admin</a>
                                        on
                                        <a href="#">Google Algorithm Updates</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Admin</a>
                                        on
                                        <a href="#"> Google Algorithm Updates</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Admin</a>
                                        on
                                        <a href="#">What does a web designer do?</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Admin</a>
                                        on
                                        <a href="#">On-Page SEO in 2017</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Admin</a>
                                        on
                                        <a href="#">How to appear in Google’s #1 page</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of .widget -->

                            <div class="widget common-widget">
                                <h4>Archives</h4>
                                <ul>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">April 2018</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">March 2018</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">February 2018</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">January 2018</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of .widget -->

                            <div class="widget common-widget">
                                <h4>Categories</h4>
                                <ul>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Business</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Virtual Currency</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Blockchain</a>
                                    </li>
                                    <li>
                                        <i class="icon-arrow-right-1"></i>
                                        <a href="#">Crypto</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of .widget -->
                        </aside>
                        <!-- End of aside -->
                    </div>
                    <!-- End of .col-md-4 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .blog-page-wrapper -->
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of section -->

    <!-- footer starts
============================================ -->
    <!--<footer class="footer">-->
        <!--<div class="radial-bg radial-bg__footer">-->
        <!--</div>-->
        <!--&lt;!&ndash; End of .radial-bg &ndash;&gt;-->
        <!--<div class="container">-->
            <!--<div class="page-footer">-->
                <!--<div class="footer-menu">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md">-->
                            <!--<a href="index.html" class="d-block">-->
                                <!--<img src="images/footer-logo.png" alt="footer logo">-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .col &ndash;&gt;-->

                        <!--&lt;!&ndash;<div class="col-md">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h5>帮助中心</h5>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ul class="footer-nav">&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="index.html">常见问题</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="ico-funding.html">API支持</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; End of .footer-nav &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash; End of .col &ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;<div class="col-md">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h5>条款说明</h5>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ul class="footer-nav">&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="ico-funding.html#tab-campaign">Campaign</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="ico-funding.html#tab-faqs">FAQs</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="ico-funding.html#tab-update">Update</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; End of .footer-nav &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash; End of .col &ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;<div class="col-md">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h5>Help</h5>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ul class="footer-nav">&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="terms-and-conditions.html">Terms &amp; Conditions</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="privacy-policy.html">Privacy Policy</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a href="contact.html">Contact</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; End of .footer-nav &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash; End of .col &ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h5>Newsletter</h5>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Sign up for our exclusive weekly newsletter.</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;<form class="footer-form" action="#" method="post">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="email" class="form-control" placeholder="Enter email address…">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button class="icon-btn" type="submit">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="icon-arrow-right-1"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</form>&ndash;&gt;-->

                            <!--&lt;!&ndash;<div class="social-icons">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.facebook.com" target="_blank" rel="noopener">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fab fa-facebook-f"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.twitter.com" target="_blank" rel="noopener">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fab fa-twitter"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.instagram.com" target="_blank" rel="noopener">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fab fa-instagram"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.youtube.com" target="_blank" rel="noopener">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fab fa-youtube"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.linkedin.com/" target="_blank" rel="noopener">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fab fa-linkedin-in"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.pinterest.com" target="_blank" rel="noopener">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fab fa-pinterest-p"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash; End of .social-icons &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash; End of .col &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash; End of .row &ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash; End of .footer-menu &ndash;&gt;-->

                <!--<div class="footer-bottom">-->
                    <!--<p>Copyright &copy; 2018. All rights reserved by-->
                        <!--<a href="#">Your Company</a>-->
                    <!--</p>-->
                    <!--<div class="dropdown text-xs-right ml-auto">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language:-->
                            <!--<span>English</span>-->
                            <!--<i class="fa fa-angle-up"></i>-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu">-->
                            <!--<a class="dropdown-item" href="#">English US</a>-->
                            <!--<a class="dropdown-item" href="#">English Uk</a>-->
                            <!--<a class="dropdown-item" href="#">French</a>-->
                            <!--<a class="dropdown-item" href="#">Bangla</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .dropdown-menu &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; End of .dropdown &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; End of .footer-copyright &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; End of .page-footer &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; End of .container &ndash;&gt;-->
    <!--</footer>-->
    <!-- End of page-footer -->


    <!-- Javascripts
    ======================================= -->
    <!-- jQuery -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-migrate.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- font awesome -->
    <script src="../../../public/src/scripts/zbg/js/vendor/fontawesome-all.min.js"></script>
    <!-- jQuery Countdown plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.countdown.min.js"></script>
    <!-- jQuery Easing Plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/easing-1.3.js"></script>
    <!-- jQuery progressbar plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.waypoints.min.js"></script>
    <!-- Bootstrap Progressbar -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap-progressbar.min.js"></script>
    <!-- ImagesLoaded js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/imagesloaded.pkgd.min.js"></script>
    <!-- Slick carousel js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/slick.min.js"></script>
    <!-- Magnific popup -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom js -->
    <script src="../../../public/src/scripts/zbg/js/main.js"></script>


</body>

</html>