<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title
    ======================================== -->
    <title>Kryptova</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="icon/favicon.ico" type="image/x-icon">

    <!-- Icon fonts
    ======================================== -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/cryptowallet-argon.css">

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/bootstrap.min.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/slick-theme.css">

    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/magnific-popup.css">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/main.css">

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/responsive.css">
</head>


<!-- body starts
============================================ -->

<body>

    <!-- Preloader -->
    <div class="o-preloader">
        <div class="o-preloader_inner"></div>
    </div>


    <div class="radial-bg radial-bg__banner">
    </div>
    <!-- End of .radial-bg -->

    <!-- navbar starts
    ============================================ -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="<%= IMG_STATIC %>/images/brand-logo.png" alt="brand logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="toggler-icon-bar bar1"></span>
                <span class="toggler-icon-bar bar2"></span>
                <span class="toggler-icon-bar bar3"></span>
            </button>
            <!-- End of .navbar-toggler -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ico-funding.html">ICO Funding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="contact.html">Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-small" href="#">Buy Token</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of .container -->
    </nav>
    <!-- End of .navbar -->

    <!-- banner starts
============================================ -->
    <section class="banner-inner">
        <div class="banner-wrapper banner-wrapper__banner-inner d-flex align-items-center">
            <div class="container">
                <div class="banner-txt">
                    <h1>Contact</h1>
                </div>
                <!-- End of .banner-txt -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .banner-wrapper -->
    </section>
    <!-- End of .banner -->

    <!-- contact starts
============================================ -->
    <section>
        <div class="container">
            <div class="contact-form-wrapper section-padding">
                <div class="row">
                    <div class="col-md-7">
                        <form action="#" method="POST" class="token-box contact-form">
                            <h3>
                                <i class="icon-envelope-open"></i>Send Us A Message</h3>
                            <div class="form-group">
                                <label class="custom-label" for="name-field">What is your name?</label>
                                <input type="text" class="form-control" id="name-field" name="fname" value="">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="email-field">What is your work email?</label>
                                <input type="email" class="form-control" id="email-field" name="email">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="phone-field">What is your phone number?</label>
                                <input type="text" class="form-control" id="phone-field" name="phone">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="subject-field">What do you want to talk about?</label>
                                <input type="text" class="form-control" id="subject-field" name="subject">
                            </div>
                            <!-- End of .form-group -->

                            <div class="form-group">
                                <label class="custom-label" for="textarea-field">Tell us more about your story…</label>
                                <textarea class="form-control" id="textarea-field" name="message"></textarea>
                            </div>
                            <!-- End of .form-group -->

                            <button class="btn" type="submit">Submit form</button>
                        </form>
                    </div>
                    <!-- End of .col-md-7 -->

                    <div class="col-md-5">
                        <div class="info-widget-wrapper">
                            <div class="info-widget">
                                <h4>Headquarters</h4>
                                <p class="address">121 King St, Melbourne
                                    <br> VIC 3000, Australia</p>
                                <p>
                                    Phone:
                                    <a href="tel:+611900654321">+61 1900 654 321</a>
                                </p>
                                <p>
                                    Fax:
                                    <a href="tel:+611900654322">+61 1900 654 322</a>
                                </p>
                                <p>
                                    Email:
                                    <a href="mailto:contact@yourcompany.com">contact@yourcompany.com</a>
                                </p>
                            </div>
                            <!-- End of .info-widget -->

                            <div class="info-widget">
                                <h4>Branch Office</h4>
                                <p class="address">Ap # 867-859 Sit Rd. Azusa
                                    <br> New York 39531</p>
                                <p>
                                    Phone:
                                    <a href="tel:+12025550130">+1-202-555-0130</a>
                                </p>
                                <p>
                                    Fax:
                                    <a href="tel:Fax:+12025550131">+1-202-555-0131</a>
                                </p>
                                <p>
                                    Email:
                                    <a href="mailto:contact@yourcompany.com">contact@yourcompany.com</a>
                                </p>
                            </div>
                            <!-- End of .info-widget -->

                            <div class="info-widget">
                                <h4>Follow Us</h4>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://www.twitter.com" target="_blank" rel="noopener">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank" rel="noopener">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="https://www.linkedin.com" target="_blank" rel="noopener">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="https://www.pinterest.com" target="_blank" rel="noopener">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </div>
                                <!-- End of .social-icons -->
                            </div>
                            <!-- End of .info-widget -->
                        </div>
                        <!-- End of .info-widget-wrapper -->
                    </div>
                    <!-- End of .col-md-5 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .contact-form-wrapper -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .section -->

    <!-- map-tab starts
============================================ -->
    <section>
        <div class="container">
            <div class="map-tab section-padding">
                <div class="section-heading text-center section-heading__without-title">
                    <h2>Our Location</h2>
                </div>
                <!-- End of .section-heading -->

                <div class="map-tab-wrapper common-tab">
                    <ul class="nav nav-tabs row no-gutters" id="map-tab" role="tablist">
                        <li class="nav-item col">
                            <a class="nav-link active" id="map-tab-1" data-toggle="tab" href="#headquarters" role="tab" aria-controls="headquarters"
                                aria-selected="true">Headquarters</a>
                        </li>
                        <li class="nav-item col">
                            <a class="nav-link" id="map-tab-2" data-toggle="tab" href="#branch-office" role="tab" aria-controls="branch-office" aria-selected="false">Branch Office</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="map-tab-Content">
                        <div class="tab-pane fade show active" id="headquarters" role="tabpanel" aria-labelledby="map-tab-1">
                            <div class="map-wrapper">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8401081815928!2d144.95373631578755!3d-37.81721397975181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sbd!4v1525762233561"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- End of .map-wrapper -->
                        </div>
                        <!-- End of .tab-pane -->
                        <div class="tab-pane fade" id="branch-office" role="tabpanel" aria-labelledby="map-tab-2">
                            <div class="map-wrapper">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26390.103857093985!2d-74.01134788060229!3d40.696461692475566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1525762423590"
                                    allowfullscreen></iframe>
                            </div>
                            <!-- End of .map-wrapper -->
                        </div>
                        <!-- End of .tab-pane -->
                    </div>
                    <!-- End of .tab-content -->
                </div>
                <!-- End of .map-tab -->
            </div>
            <!-- End of .map-tab -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of section -->

    <!-- footer starts
============================================ -->
    <!--<footer class="footer">-->
        <!--<div class="radial-bg radial-bg__footer">-->
        <!--</div>-->
        <!--&lt;!&ndash; End of .radial-bg &ndash;&gt;-->
        <!--<div class="container">-->
            <!--<div class="page-footer">-->
                <!--<div class="footer-menu">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md">-->
                            <!--<a href="index.html" class="d-block">-->
                                <!--<img src="<%= IMG_STATIC %>/images/footer-logo.png" alt="footer logo">-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .col &ndash;&gt;-->

                        <!--<div class="col-md">-->
                            <!--<h5>Company</h5>-->
                            <!--<ul class="footer-nav">-->
                                <!--<li>-->
                                    <!--<a href="index.html">Home</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="ico-funding.html">ICO Funding</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="about.html">About</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="blog.html">Blog</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--&lt;!&ndash; End of .footer-nav &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .col &ndash;&gt;-->

                        <!--<div class="col-md">-->
                            <!--<h5>ICO Funding</h5>-->
                            <!--<ul class="footer-nav">-->
                                <!--<li>-->
                                    <!--<a href="ico-funding.html#tab-campaign">Campaign</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="ico-funding.html#tab-faqs">FAQs</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="ico-funding.html#tab-update">Update</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--&lt;!&ndash; End of .footer-nav &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .col &ndash;&gt;-->

                        <!--<div class="col-md">-->
                            <!--<h5>Help</h5>-->
                            <!--<ul class="footer-nav">-->
                                <!--<li>-->
                                    <!--<a href="terms-and-conditions.html">Terms &amp; Conditions</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="privacy-policy.html">Privacy Policy</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a class="active" href="contact.html">Contact</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--&lt;!&ndash; End of .footer-nav &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .col &ndash;&gt;-->

                        <!--<div class="col-md-4">-->
                            <!--<h5>Newsletter</h5>-->
                            <!--<p>Sign up for our exclusive weekly newsletter.</p>-->
                            <!--<form class="footer-form" action="#" method="post">-->
                                <!--<input type="email" class="form-control" placeholder="Enter email address…">-->
                                <!--<button class="icon-btn" type="submit">-->
                                    <!--<i class="icon-arrow-right-1"></i>-->
                                <!--</button>-->
                            <!--</form>-->

                            <!--<div class="social-icons">-->
                                <!--<a href="https://www.facebook.com" target="_blank" rel="noopener">-->
                                    <!--<i class="fab fa-facebook-f"></i>-->
                                <!--</a>-->
                                <!--<a href="https://www.twitter.com" target="_blank" rel="noopener">-->
                                    <!--<i class="fab fa-twitter"></i>-->
                                <!--</a>-->
                                <!--<a href="https://www.instagram.com" target="_blank" rel="noopener">-->
                                    <!--<i class="fab fa-instagram"></i>-->
                                <!--</a>-->
                                <!--<a href="https://www.youtube.com" target="_blank" rel="noopener">-->
                                    <!--<i class="fab fa-youtube"></i>-->
                                <!--</a>-->
                                <!--<a href="https://www.linkedin.com/" target="_blank" rel="noopener">-->
                                    <!--<i class="fab fa-linkedin-in"></i>-->
                                <!--</a>-->
                                <!--<a href="https://www.pinterest.com" target="_blank" rel="noopener">-->
                                    <!--<i class="fab fa-pinterest-p"></i>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; End of .social-icons &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .col &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; End of .row &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; End of .footer-menu &ndash;&gt;-->

                <!--<div class="footer-bottom">-->
                    <!--<p>Copyright &copy; 2018. All rights reserved by-->
                        <!--<a href="#">Your Company</a>-->
                    <!--</p>-->
                    <!--<div class="dropdown text-xs-right ml-auto">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language:-->
                            <!--<span>English</span>-->
                            <!--<i class="fa fa-angle-up"></i>-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu">-->
                            <!--<a class="dropdown-item" href="#">English US</a>-->
                            <!--<a class="dropdown-item" href="#">English Uk</a>-->
                            <!--<a class="dropdown-item" href="#">French</a>-->
                            <!--<a class="dropdown-item" href="#">Bangla</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End of .dropdown-menu &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; End of .dropdown &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; End of .footer-copyright &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; End of .page-footer &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; End of .container &ndash;&gt;-->
    <!--</footer>-->
    <!-- End of page-footer -->


    <!-- Javascripts
    ======================================= -->
    <!-- jQuery -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-migrate.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- font awesome -->
    <script src="../../../public/src/scripts/zbg/js/vendor/fontawesome-all.min.js"></script>
    <!-- jQuery Countdown plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.countdown.min.js"></script>
    <!-- jQuery Easing Plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/easing-1.3.js"></script>
    <!-- jQuery progressbar plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.waypoints.min.js"></script>
    <!-- Bootstrap Progressbar -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap-progressbar.min.js"></script>
    <!-- ImagesLoaded js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/imagesloaded.pkgd.min.js"></script>
    <!-- Slick carousel js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/slick.min.js"></script>
    <!-- Magnific popup -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom js -->
    <script src="../../../public/src/scripts/zbg/js/main.js"></script>


</body>

</html>