<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>

    <!-- Basic metas
    ======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title
    ======================================== -->
    <title>Kryptova</title>

    <!-- links for favicon
    ======================================== -->
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="icon/favicon.ico" type="image/x-icon">

    <!-- Icon fonts
    ======================================== -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/cryptowallet-argon.css">

    <!-- css links
    ======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/bootstrap.min.css">

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/slick-theme.css">

    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/vendor/magnific-popup.css">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/main.css">

    <!-- Responsive styling -->
    <link rel="stylesheet" type="text/css" href="../../../public/src/styles/zbg/css/responsive.css">
</head>


<!-- body starts
============================================ -->

<body>

    <!-- Preloader -->
    <div class="o-preloader">
        <div class="o-preloader_inner"></div>
    </div>


    <div class="radial-bg radial-bg__banner">
    </div>
    <!-- End of .radial-bg -->

    <!-- navbar starts
    ============================================ -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/brand-logo.png" alt="brand logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="toggler-icon-bar bar1"></span>
                <span class="toggler-icon-bar bar2"></span>
                <span class="toggler-icon-bar bar3"></span>
            </button>
            <!-- End of .navbar-toggler -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="ico-funding.html">ICO Funding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-small" href="#">Buy Token</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of .container -->
    </nav>
    <!-- End of .navbar -->

    <!-- banner starts
============================================ -->
    <section class="banner-inner">
        <div class="banner-wrapper banner-wrapper__banner-inner d-flex align-items-center">
            <div class="container">
                <div class="banner-txt">
                    <h1>ICO Funding</h1>
                </div>
                <!-- End of .banner-txt -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .banner-wrapper -->
    </section>
    <!-- End of .banner -->

    <!-- ico-funding starts
============================================ -->
    <section class="section">
        <div class="radial-bg radial-bg__funding">
        </div>
        <!-- End of .radial-bg -->
        <div class="container">
            <div class="ico-funding">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ico-funding-tab common-tab">
                            <ul class="nav nav-tabs row no-gutters" id="ico-funding-tab" role="tablist">
                                <li class="nav-item col">
                                    <a class="nav-link active" id="ico-funding-tab-1" data-toggle="tab" href="#tab-campaign" role="tab" aria-controls="tab-campaign"
                                        aria-selected="true">Campaign</a>
                                </li>
                                <li class="nav-item col">
                                    <a class="nav-link" id="ico-funding-tab-2" data-toggle="tab" href="#tab-faqs" role="tab" aria-controls="tab-faqs" aria-selected="false">FAQs</a>
                                </li>
                                <li class="nav-item col">
                                    <a class="nav-link" id="ico-funding-tab-3" data-toggle="tab" href="#tab-update" role="tab" aria-controls="tab-update" aria-selected="false">Update</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="ico-funding-tab-Content">
                                <div class="tab-pane fade show active" id="tab-campaign" role="tabpanel" aria-labelledby="ico-funding-tab-1">
                                    <div class="feature-content feature-content__ico-funding">
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <div class="text-content">
                                                    <h2>Software Management
                                                        <br> System with All Solutions</h2>
                                                    <p>Phasellus vel aliquet turpis, sed imperdiet purus. Phasellus luctus est
                                                        vel magna tristique scelerisque et in nisi.</p>
                                                    <p>Sed pellentesque nunc sit amet est vehicula, sed ultrices massa hendrerit.
                                                        Aliquam nibh turpis, bibendum at urna in, sollicitudin vehicula felis.
                                                        Fusce placerat fermentum mauris vel aliquam.
                                                    </p>
                                                </div>
                                                <!-- End of .text-content -->
                                            </div>
                                            <!-- End of .col-md-6 -->

                                            <div class="col-12">
                                                <div class="img-container">
                                                    <img src="images/feature-img/features-2.png" alt="feature image">
                                                </div>
                                                <!-- End of .img-container -->
                                            </div>
                                            <!-- End of .col-md-6 -->
                                        </div>
                                        <!-- End of .row -->
                                    </div>
                                    <!-- End of .feature-content -->

                                    <div class="feature-content feature-content__ico-funding">
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <div class="text-content">
                                                    <h2>Secure and Cloud Based
                                                        <br>Software Management</h2>
                                                    <p>Pellentesque mollis tincidunt lorem, sit amet aliquet nulla sodales non.
                                                        Sed molestie nisi nec purus.
                                                    </p>
                                                    <p>Nunc eros diam, aliquam quis nisl sit amet, consequat tristique neque.
                                                        Donec nisl lorem, molestie sit amet gravida rutrum, pulvinar at neque.
                                                        Praesent eleifend nisi.</p>
                                                </div>
                                                <!-- End of .text-content -->
                                            </div>
                                            <!-- End of .col-md-6 -->

                                            <div class="col-12">
                                                <div class="img-container">
                                                    <img src="images/feature-img/features-1.png" alt="feature image">
                                                </div>
                                                <!-- End of .img-container -->
                                            </div>
                                            <!-- End of .col-md-6 -->
                                        </div>
                                        <!-- End of .row -->
                                    </div>
                                    <!-- End of .feature-content -->
                                </div>
                                <!-- End of .tab-pane -->

                                <div class="tab-pane fade" id="tab-faqs" role="tabpanel" aria-labelledby="ico-funding-tab-2">
                                    <div id="accordion" class="accordion m-b-40">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h4 class="mb-0">
                                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        <i class="icon-arrow-right-1"></i>When is the token sale? Will there be a pre-sale?
                                                    </a>
                                                </h4>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>The token sale will commence on the 29th of May, 2018, with a pre-sale
                                                        in April. The pre-sale is likely to be held privately. If you are
                                                        interested in participating in the pre-sale, please reach out to
                                                        us at info@noia.network.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        <i class="icon-arrow-right-1"></i>Where is the company registered?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Maecenas viverra risus sit amet est semper interdum. Duis sed volutpat
                                                        lacus. Aliquam pulvinar convallis lacus, eget ultrices ligula pharetra
                                                        in. Maecenas volutpat nisl vel vestibulum facilisis. Nunc congue
                                                        vitae nulla et congue. Sed orci arcu, viverra malesuada condimentum
                                                        vel.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        <i class="icon-arrow-right-1"></i>Do you have a demo/MVP?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Nulla sodales augue vel neque vulputate placerat. Ut fermentum dapibus
                                                        magna, ut porttitor velit vestibulum sed. Vivamus posuere interdum
                                                        elit a pellentesque. Duis imperdiet felis et laoreet placerat. In
                                                        condimentum orci nec lacus convallis, a dictum tortor bibendum. Suspendisse
                                                        mauris.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingFour">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                        <i class="icon-arrow-right-1"></i>Will you have a whitelist/KYC/AML?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Cras sit amet lacus eleifend, auctor est ac, iaculis quam. Duis non tincidunt
                                                        eros. Integer condimentum rhoncus efficitur. Sed dictum nec ligula
                                                        et venenatis. Proin et elementum enim, ut bibendum magna. Nunc venenatis
                                                        leo imperdiet, consequat ex eget, gravida est.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                        <i class="icon-arrow-right-1"></i>Can I contribute to NOIA’s development?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Nulla lobortis lectus eget ex fringilla placerat. Sed velit nisl, efficitur
                                                        ac purus sit amet, ornare suscipit lorem. Phasellus tristique convallis
                                                        arcu pretium semper. Nam pretium, ligula quis dictum lacinia, magna
                                                        dui tempus nunc, vel cursus erat ex ac nulla.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingSix">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                        <i class="icon-arrow-right-1"></i>Where is the company registered?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Curabitur odio erat, volutpat eget auctor sit amet, suscipit eu lectus.
                                                        Integer posuere lacus id blandit viverra. Duis in scelerisque magna,
                                                        eget rutrum nulla. Duis a enim est. Vivamus cursus quam a mi facilisis
                                                        congue auctor in lorem. Cras quis.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingSeven">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                        <i class="icon-arrow-right-1"></i>Do you have a demo/MVP?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Sed sed vehicula ligula, a tincidunt augue. Morbi sed purus porta, facilisis
                                                        felis sit amet, dapibus nisi. Nulla eget arcu vitae erat dictum porttitor
                                                        nec at nunc. Pellentesque habitant morbi tristique senectus et netus
                                                        et malesuada fames ac turpis egestas.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingEight">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                        <i class="icon-arrow-right-1"></i>Will you have a whitelist/KYC/AML?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Ut auctor, enim ut sagittis blandit, lacus libero sodales erat, vitae
                                                        tempor lacus augue placerat dui. Vivamus eu tempor nisi. Sed odio
                                                        ante, ultricies eget tellus in, imperdiet iaculis tellus. Donec tempus
                                                        felis ac arcu rhoncus laoreet. Curabitur aliquam magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingNine">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                        <i class="icon-arrow-right-1"></i>Can I contribute to NOIA’s development?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Phasellus pharetra, sapien in auctor blandit, nulla ex imperdiet mauris,
                                                        sed varius purus metus eget eros. Maecenas eu nisi quam. Suspendisse
                                                        ligula neque, interdum vitae ultricies vel, bibendum non orci. Vestibulum
                                                        aliquam nulla a pharetra tempor. Integer posuere consectetur vehicula.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingTen">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                        <i class="icon-arrow-right-1"></i>Where is the company registered?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTen" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Nam ac leo at nisi faucibus lobortis lacinia sit amet augue. Ut quis
                                                        neque non eros rutrum euismod sed vitae arcu. Curabitur finibus pulvinar
                                                        enim. Sed sit amet ullamcorper felis. Nulla at laoreet dui. Mauris
                                                        dolor ligula, maximus et nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingEleven">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                        <i class="icon-arrow-right-1"></i>Do you have a demo/MVP?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Proin tempus dui eget turpis fermentum condimentum. Donec maximus, elit
                                                        cursus tempus sodales, eros felis porttitor enim, id consequat neque
                                                        sem ac ipsum. Donec volutpat urna ut diam eleifend, sed tempus purus
                                                        lobortis. Quisque fringilla sed tortor id imperdiet. Duis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingTwelve">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                                        <i class="icon-arrow-right-1"></i>Will you have a whitelist/KYC/AML?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Quisque porta suscipit diam quis efficitur. Aliquam non ipsum in nulla
                                                        fringilla varius. Sed nisl dui, venenatis ut felis in, egestas egestas
                                                        mi. Praesent sem sem, egestas nec nisi eget, egestas egestas lectus.
                                                        Maecenas leo ex, scelerisque et sapien in.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingThirteen">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                                        <i class="icon-arrow-right-1"></i>Can I contribute to NOIA’s development?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Proin a neque sodales, malesuada turpis lobortis, tincidunt tortor. In
                                                        feugiat nisi in fermentum gravida. Aliquam luctus laoreet dui, eu
                                                        bibendum leo. Duis et fermentum magna. Sed vitae dictum ligula, mollis
                                                        commodo velit. Vivamus vel leo posuere, dignissim diam vulputate.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingForteen">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseForteen" aria-expanded="false" aria-controls="collapseForteen">
                                                        <i class="icon-arrow-right-1"></i>Where is the company registered?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseForteen" class="collapse" aria-labelledby="headingForteen" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Donec rutrum libero nunc, id posuere nisi semper eu. In lacinia mi a
                                                        felis pulvinar congue. Donec scelerisque, quam id faucibus posuere,
                                                        arcu odio condimentum lacus, convallis gravida nibh enim non justo.
                                                        Cras pharetra nisi eget diam laoreet aliquam Lorem.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingFifteen">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                                        <i class="icon-arrow-right-1"></i>Do you have a demo/MVP?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Fusce at eleifend nisl, a dictum lacus. Morbi eget nibh condimentum,
                                                        pulvinar turpis eget, vehicula turpis. Mauris laoreet pellentesque
                                                        euismod. Nulla semper ultrices nisi non gravida. Nam euismod rutrum
                                                        pharetra. Proin bibendum iaculis velit, et scelerisque justo tristique
                                                        non Sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingSixteen">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                                        <i class="icon-arrow-right-1"></i>Will you have a whitelist/KYC/AML?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Pellentesque at lacus eget odio lobortis euismod. Nam pretium ullamcorper
                                                        eros, et lacinia odio. Curabitur quis sem sit amet odio venenatis
                                                        varius a non lacus. Aliquam erat volutpat. Etiam tortor diam, molestie
                                                        ac mauris a, ullamcorper commodo arcu. Sed sem.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->

                                        <div class="card">
                                            <div class="card-header" id="headingSeventeen">
                                                <h4 class="mb-0">
                                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                                        <i class="icon-arrow-right-1"></i>Can I contribute to NOIA’s development?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Nam laoreet ac leo vel accumsan. Ut nec ipsum a sem posuere aliquet vitae
                                                        eu purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur blandit a neque nec eleifend. Mauris commodo quis lorem
                                                        eu mollis. Vestibulum fringilla feugiat magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of .card -->
                                    </div>
                                    <!-- End of .accordion -->
                                </div>
                                <!-- End of .tab-pane -->

                                <div class="tab-pane fade" id="tab-update" role="tabpanel" aria-labelledby="ico-funding-tab-3">
                                    <div class="update-wrapper text-left">
                                        <h3>January, 2018</h3>
                                        <div class="card card-update m-b-60">
                                            <img class="card-img-top" src="images/update/update-1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Planning</h4>
                                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable
                                                    content of a page when looking at its layout. The point of using Lorem
                                                    Ipsum is that it has a more-or-less normal distribution of letters, as
                                                    opposed to using 'Content here, content here', making it look like readable
                                                    English.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of .card-update -->
                                    </div>
                                    <!-- End of .update-wrapper -->

                                    <div class="update-wrapper text-left">
                                        <h3>February, 2018</h3>
                                        <div class="card card-update m-b-60">
                                            <img class="card-img-top" src="images/update/update-2.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Project Launch</h4>
                                                <p class="card-text">Vestibulum eu neque quis ipsum semper facilisis. Quisque eu tristique sem.
                                                    Vivamus risus nisi, imperdiet nec elementum vitae, iaculis et erat. Proin
                                                    dapibus mi nec magna mollis, id vulputate est cursus. Sed sed ultrices
                                                    ex, eu lobortis mi. Sed maximus porta dui, ac fringilla purus volutpat
                                                    et. Nam pretium tincidunt.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of .card-update -->
                                    </div>
                                    <!-- End of .update-wrapper -->
                                </div>
                                <!-- End of .tab-pane -->
                            </div>
                            <!-- End of .tab-content -->
                        </div>
                        <!-- End of .ico-funding-tab -->
                    </div>
                    <!-- End of .col-ms-8 -->

                    <div class="col-lg-4">
                        <div class="ico-funding__token-box-wrapper">
                            <div class="token-box m-b-40">
                                <h4>ICO ends in:</h4>
                                <div id="clock"></div>
                                <div class="progress">
                                    <div class="progress-bar" data-transitiongoal="75"></div>
                                </div>
                                <!-- End of .progress -->
                                <p>$11,087 pledged of $25,000 goal</p>
                            </div>
                            <!-- End of .token-box -->
                            <div class="token-box m-b-40">
                                <h4>Tier 1</h4>
                                <div class="token-price">
                                    <span>$0.10/Token</span>
                                    9,576 / 10,000 token are remaining
                                </div>
                                <!-- End of .token-price -->
                                <a href="#" class="btn btn-small">Buy Tokens</a>
                            </div>
                            <!-- End of .token-box -->

                            <div class="token-box m-b-40">
                                <h4>Tier 2</h4>
                                <div class="token-price">
                                    <span>$0.20/Token</span>
                                    10,958 / 15,000 token are remaining
                                </div>
                                <!-- End of .token-price -->
                                <a href="#" class="btn btn-small">Buy Tokens</a>
                            </div>
                            <!-- End of .token-box -->

                            <div class="token-box m-b-40">
                                <h4>Tier 3</h4>
                                <div class="token-price">
                                    <span>$0.30/Token</span>
                                    20,000 / 20,000 token are remaining
                                </div>
                                <!-- End of .token-price -->
                                <a href="#" class="btn btn-small">Buy Tokens</a>
                            </div>
                            <!-- End of .token-box -->

                            <div class="token-box m-b-40">
                                <h4>Tier 4</h4>
                                <div class="token-price">
                                    <span>$0.40/Token</span>
                                    30,000 / 30,000 token are remaining
                                </div>
                                <!-- End of .token-price -->
                                <a href="#" class="btn btn-small">Buy Tokens</a>
                            </div>
                            <!-- End of .token-box -->
                        </div>
                        <!-- End of .ico-funding__token-box-wrapper -->
                    </div>
                    <!-- End of .col-md-4 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .ico-funding -->
        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .ico-funding -->

    <!-- footer starts
============================================ -->
    <footer class="footer">
        <div class="radial-bg radial-bg__footer">
        </div>
        <!-- End of .radial-bg -->
        <div class="container">
            <div class="page-footer">
                <div class="footer-menu">
                    <div class="row">
                        <div class="col-md">
                            <a href="index.html" class="d-block">
                                <img src="images/footer-logo.png" alt="footer logo">
                            </a>
                        </div>
                        <!-- End of .col -->

                        <div class="col-md">
                            <h5>Company</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a class="active" href="ico-funding.html">ICO Funding</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                            </ul>
                            <!-- End of .footer-nav -->
                        </div>
                        <!-- End of .col -->

                        <div class="col-md">
                            <h5>ICO Funding</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="#tab-campaign">Campaign</a>
                                </li>
                                <li>
                                    <a href="#tab-faqs">FAQs</a>
                                </li>
                                <li>
                                    <a href="#tab-update">Update</a>
                                </li>
                            </ul>
                            <!-- End of .footer-nav -->
                        </div>
                        <!-- End of .col -->

                        <div class="col-md">
                            <h5>Help</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                            <!-- End of .footer-nav -->
                        </div>
                        <!-- End of .col -->

                        <div class="col-md-4">
                            <h5>Newsletter</h5>
                            <p>Sign up for our exclusive weekly newsletter.</p>
                            <form class="footer-form" action="#" method="post">
                                <input type="email" class="form-control" placeholder="Enter email address…">
                                <button class="icon-btn" type="submit">
                                    <i class="icon-arrow-right-1"></i>
                                </button>
                            </form>

                            <div class="social-icons">
                                <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com" target="_blank" rel="noopener">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com" target="_blank" rel="noopener">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://www.linkedin.com/" target="_blank" rel="noopener">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://www.pinterest.com" target="_blank" rel="noopener">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </div>
                            <!-- End of .social-icons -->
                        </div>
                        <!-- End of .col -->
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .footer-menu -->

                <div class="footer-bottom">
                    <p>Copyright &copy; 2018. All rights reserved by
                        <a href="#">Your Company</a>
                    </p>
                    <div class="dropdown text-xs-right ml-auto">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language:
                            <span>English</span>
                            <i class="fa fa-angle-up"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">English US</a>
                            <a class="dropdown-item" href="#">English Uk</a>
                            <a class="dropdown-item" href="#">French</a>
                            <a class="dropdown-item" href="#">Bangla</a>
                        </div>
                        <!-- End of .dropdown-menu -->
                    </div>
                    <!-- End of .dropdown -->
                </div>
                <!-- End of .footer-copyright -->
            </div>
            <!-- End of .page-footer -->
        </div>
        <!-- End of .container -->
    </footer>
    <!-- End of page-footer -->


    <!-- Javascripts
    ======================================= -->
    <!-- jQuery -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery-migrate.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- font awesome -->
    <script src="../../../public/src/scripts/zbg/js/vendor/fontawesome-all.min.js"></script>
    <!-- jQuery Countdown plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.countdown.min.js"></script>
    <!-- jQuery Easing Plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/easing-1.3.js"></script>
    <!-- jQuery progressbar plugin -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.waypoints.min.js"></script>
    <!-- Bootstrap Progressbar -->
    <script src="../../../public/src/scripts/zbg/js/vendor/bootstrap-progressbar.min.js"></script>
    <!-- ImagesLoaded js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/imagesloaded.pkgd.min.js"></script>
    <!-- Slick carousel js -->
    <script src="../../../public/src/scripts/zbg/js/vendor/slick.min.js"></script>
    <!-- Magnific popup -->
    <script src="../../../public/src/scripts/zbg/js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom js -->
    <script src="../../../public/src/scripts/zbg/js/main.js"></script>


</body>

</html>