//flex 水平垂直居中
.flex-double-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-funds-pwd{
  flex: 1;
  display: flex;
  justify-content: center;
  background: #f2f3f5;
  .container{
    width: 1200px;
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    .container-top{
      display: flex;
      height: 53px;
      padding: 0 20px;
      align-items: center;
      .top-title{
        font-size: 16px;
        color: #202126;
      }
    }
    .pwd-course-box{
      height: 80px;
      .pwd-course{
        width: 200px;
        display: flex;
        .pwd-course-li{
          display: flex;
          flex: 1;
          .course-round{
            position: relative;
            width: 35px;
            height: 35px;
            background: #ff9d11;
            border-radius: 50%;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            .round-title{
              position: absolute;
              color: #202126;
              bottom: -18px;
              white-space:nowrap;
            }
          }
          .course-round-none{
            background: #edeef1;
          }
          .course-line{
            flex: 1;
            height: 3px;
            background: #ffbc14;
          }
        }
      }
    }
    .pwd-type-box{
      height: 400px;
      .pwd-type{
        height: 400px;
        flex-direction: column;
        .type-button{
          cursor: pointer;
          height: 72px;
          width: 400px;
          border-radius: 5px;
          border: 1px solid #bcbdbf;
          margin-bottom: 25px;
          &:hover{
            border: 1px solid #ff9d11;

          }
          .type-title{
            font-size: 16px;
          }
          .type-icon{
            width: 40px;
            height: 40px;
            background: deepskyblue;
            margin-right: 20px;
          }
          .type-text{
            width: 260px;
            line-height: 24px;
          }
        }
      }
    }

    .container-input{
      width: 700px;
      margin-top: 40px;
      font-size: 16px;
      .input-title{
        margin-bottom: 45px;
      }

      .input-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 42px;
        margin-bottom: 15px;
        .input-left-title{
          line-height: 42px;
          width: 130px;
          margin-right: 15px;
          text-align: right;
        }
        .input-right{
          width: 350px;
          padding: 0 19px;
          border: 1px solid #DDE2ED;
          border-radius: 5px;
        }
      }

      .button-big{
        margin-top: 10px;
        cursor: pointer;
        height: 42px;
        //width: 160px;
        width: 200px;
        border-radius: 2px;
        color: #FFFFFF;
        background: #FF9D10;
      }
    }
  }
}