<div id="user-api" class="api_panel user_api">
        <div class="api_panel_content">
            <div class="first_open" v-cloak>
                <h3><%= LANG('API私有交易设置') %>
                    <p><a href="/help/restApi" target="_blank" style="font-size: 12px;color: #ff9d11;font-weight: normal;"><%= LANG('查看【API文档】') %></a></p>
                </h3>
                <p class="tip" v-if="loginUser.apiStatus == '0'"><%= LANG('通过验证后,开启API') %></p>
                <p class="tip" v-if="loginUser.apiStatus == '1'"><%= LANG('私有密钥允许您通过EXX开放协议提供API访问您的账户并执行交易指令，我们为您提供的密钥非常重要，请妥善保管。') %></p>
                <a class="api_btn" v-if="loginUser.apiStatus == '0' && !showForm" @click="handleShowForm('open')" href="#"><%= LANG('开启API') %></a>
                <div v-if="showForm" v-cloak class="api_input">

                    <!--<div class="api_input_group">-->
                        <!--<label>绑定API交易IP</label>-->
                        <!--<input v-model="ip" type="text">-->
                    <!--</div>-->
                    <!--<p class="input_tip">可以添加多个，为空则不限制，用“，”（逗号）分隔多个IP</p>-->
                    <form class="api_form" v-show="formType == 'open' || formType == 'create'">
                        <fieldset>
                            <legend>API权限</legend>
                            <div class="api_form_item">
                                <label>
                                    <input type="checkbox" checked="checked" disabled>查询资产：查询账户资产情况
                                </label>
                            </div>
                            <div class="api_form_item">
                                <label>
                                    <input type="checkbox" checked="checked" disabled>委托交易：委托下单、取消委托、查询委托、查询成交
                                </label>
                            </div>
                            <div class="api_form_item" v-if="loginUser.userType == '1'">
                                <label>
                                    <input type="checkbox" v-model="withDrawAuth">提币权限：发起提币、查询提币
                                </label>
                                <div v-show="withDrawAuth">
                                    <input type="password" placeholder="API提币密码，可不填，否则API发起提币时需要回传" v-model="withDrawPwd">
                                    <input type="password" placeholder="API提币密码，确认密码" v-model="withDrawPwdConf">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="api_input_group code" style="margin-bottom: 15px;">
                        <label><%= LANG('短信验证码') %></label>
                        <input v-model="dynamicCode" type="text">
                        <send-code class="hq btn-five btn-sm" :code-type="codeType" :user-name="loginUser.userName" ></send-code>
                    </div>
                    <p v-if="loginUser.userType == 2" style="color:#f00; margin: 15px auto;"><%= LANG('温馨提示：验证码将发送至主账号的手机或邮箱，请联系主账号获取。') %></p>
                    <div v-if="loginUser.googleAuth == '1'" class="api_input_group">
                        <label><%= LANG('Google验证码') %></label>
                        <input v-model="googleCode" type="text">
                    </div>
                    <div class="api_input_btn">
                        <a class="cancel" @click="showForm = false" href="javascript:void(0);"><%= LANG('取消') %></a>
                        <a class="sure" v-if="formType == 'open'" @click="openOrClose('open')" href="javascript:void(0);"><%= LANG('开启') %></a>
                        <a class="sure" v-if="formType == 'close'" @click="openOrClose('close')" href="javascript:void(0);"><%= LANG('关闭') %></a>
                        <a class="sure" v-if="formType == 'create'" @click="createKey" href="javascript:void(0);"><%= LANG('生成') %></a>
                    </div>
                </div>


                <div  v-if="loginUser.apiStatus == '1' && !showForm" v-cloak class="api_box">

                    <div class="item">
                        <div class="hd">
                            <h4>
                                <%= LANG('当前API密钥') %>
                                <div class="act-group" v-if="!showForm">
                                    <a href="javascript:void(0);" @click="handleShowForm('create')"><%= LANG('重新生成') %></a>
                                    <a href="javascript:void(0);" @click="handleShowForm('close')"><%= LANG('关闭') %></a>
                                </div>
                            </h4>
                        </div>
                        <div class="bd">
                        <p><%= LANG('API访问密钥') %>(Access Key)： {{accessKey}}</p>
                        <p><%= LANG('API私有密钥') %>(Secret Key)： {{secretKey}} [<%= LANG('仅显示一次，若遗忘请重新生成') %>]</p>
                        </div>
                    </div>
                    <div class="item" v-if="false">
                        <div class="hd"><h4><%= LANG('当前密钥绑定IP') %><a href="#"><%= LANG('修改') %></a></h4></div>
                        <div class="bd"><p class="txt-red">186.166.122.122</p>
                            <p class="exx-font12"><%= LANG('只有绑定的IP才能够通过API进行访问，如果不希望限制则留空。变更IP五分钟后生效。') %></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</div>

<%-include("../component/send_code/index.html")%>
<script>


    require(['vue', 'common/methods', 'common/juabox'], function(Vue, Methods, JuaBox) {
        var userApi = new Vue({
            el: "#user-api",
            data: function () {
                return {
                    loginUser: Methods.getLocalUserInfo(),
                    showForm: false,
                    formType: 'open',
                    ip: '',
                    googleCode: '',
                    dynamicCode: '',
                    withDrawAuth: 0,
                    withDrawPwd:'',
                    withDrawPwdConf:'',
                    submitText: "<%= LANG('开启') %>",
                    accessKey: '',
                    secretKey: ''
                }
            },
            computed : {
                codeType : function () {
                    if(this.loginUser.userType == 1){
                        if(this.formType == 'create'){
                            return 16;
                        }else{
                            return 15
                        }
                    }
                    if(this.loginUser.userType == 2){
                        if(this.formType == 'create'){
                            return 26;
                        }else{
                            return 25
                        }
                    }
                }
            },
            methods: {
                handleShowForm: function(type, status) {
                    var status = status || true;
                    this.formType = type;
                    this.showForm = status;
                },
                createKey: function() {
                    if(this.withDrawAuth && this.withDrawPwdConf != this.withDrawPwd && this.loginUser.userType == '1'){
                        return JuaBox.info(EXX.L('两次输入的密码不一致'))
                    }
                    var data = {
                        mobileCode: this.dynamicCode,
                        googleCode: this.googleCode,
                        withDrawAuth:this.withDrawAuth?1:0,
                        withDrawPwd:this.withDrawPwd,
                    };
                    Methods.ajax({
                        url: DOMAIN_MAIN + API_PREFIX + 'doCreateKey',
                        data: data,
                        success: function (res) {
                            this.dynamicCode = '';
                            this.googleCode = '';
                            this.withDrawAuth = false;
                            this.withDrawPwdConf = '';
                            this.withDrawPwd = '';
                            JuaBox.info(EXX.L(res.resMsg.message));
                            var userInfo = this.loginUser;
                            userInfo.apiStatus = '1';
                            this.loginUser = userInfo;
                            this.showForm = false;
                            Methods.setLocalUserInfo(userInfo);
                            this.accessKey = res.datas.accessKey;
                            this.secretKey = res.datas.secretKey;
                        }.bind(this)
                    })
                },
                refreshKey: function() {
                    this.showForm = true;
                    this.submitText = "<%= LANG('生成') %>";
                },
                openOrClose: function(isOpen) {
                    if(this.withDrawAuth && this.withDrawPwdConf != this.withDrawPwd && this.loginUser.userType == '1'){
                        return JuaBox.info(EXX.L('两次输入的密码不一致'))
                    }
                    var data = {
                        oper: isOpen,
                        mobileCode: this.dynamicCode,
                        googleCode: this.googleCode,
                        withDrawAuth:this.withDrawAuth?1:0,
                        withDrawPwd:this.withDrawPwd,
                    };
                    Methods.ajax({
                        url: DOMAIN_MAIN + API_PREFIX + 'openOrClose',
                        data: data,
                        success: function (res) {
                            this.dynamicCode = '';
                            this.googleCode = '';
                            this.withDrawAuth = false;
                            this.withDrawPwdConf = '';
                            this.withDrawPwd = '';
                            JuaBox.info(EXX.L(res.resMsg.message));
                            var userInfo = this.loginUser;
                            userInfo.apiStatus = isOpen == 'open' ? '1' : '0';
                            this.loginUser = userInfo;
                            this.showForm = false;
                            Methods.setLocalUserInfo(userInfo);
                            if (isOpen == 'open') {
                                this.accessKey = res.datas.accessKey;
                                this.secretKey = res.datas.secretKey;
                            }
                        }.bind(this)
                    })
                },
                getApiInfo: function() {
                    Methods.ajax({
                        url: DOMAIN_MAIN + API_PREFIX + 'apiKey',
                        success: function (res) {
                            this.accessKey = res.datas.accessKey;
                            this.secretKey = res.datas.secretKey;
                        }.bind(this)
                    })
                }

            },
            created: function() {
                if (this.loginUser.apiStatus == '1') {
                    this.getApiInfo();
                }
            },
            mounted: function() {
            },
            updated: function() {
                $('.api_input input').focusin(function(){
                    $(this).parent().addClass('active');
                });
                $('.api_input input').blur(function(){
                    if($(this).val().length > 0) {
                        $(this).parent().addClass('active');

                    }else if($(this).val().length == 0) {
                        $(this).parent().removeClass('active');
                    }

                });
            }

        });
    })
</script>
