<%-include("../component/modal.html")%>
<%-include("model/export.html")%>
<%-include("model/modalList.html")%>

<!--<link rel="stylesheet" href="/lib/bootstrap-datepicker-master/css/bootstrap-datepicker.css">-->
<!--<link rel="stylesheet" href="/lib/bootstrap-datepicker-master/css/bootstrap-datepicker.standalone.css">-->
<style>
    .datepicker.dropdown-menu.datepicker-orient-bottom {
        /*top: 170px !important;*/
    }
</style>

<div id="earnings" class="earningsDetails">
    <div class="topContiner">
        <div class="head">
            <h3><%= LANG('收益详情') %></h3>
            <div class="form-group">
                <div class="form-control">
                    <input v-model="month" type="text" class="form-control" id="dataPicker"  placeholder="请选择">
                    <i class="icon iconfont icon-shijian1"></i>
                </div>
            </div>
            <!--<div class="dropdown" v-cloak="">
                <p style="" role="button" data-toggle="dropdown"><em>{{month == 'all' ? "<%= LANG('请选择月份') %>" : month + "<%= LANG('月') %>"}}</em></p>
                <div class="dropdown-menu">
                    <ul class="dropdown-list">
                        &lt;!&ndash;<li><a role="button" @click="changeMonth('all')"><%= LANG('请选择月份') %></a></li>&ndash;&gt;
                        <li v-for="(item, index) in 12" :class="{'active': month==item}"><a role="button" @click="changeMonth(item)">{{item}}<%= LANG('月') %></a></li>

                        &lt;!&ndash;<li v-show="item.name !=='qtum'" v-for="(item,index) in coinConfig" :class="{'active': item.name == currentCoin}"><a @click="changeCoin(item.name)">{{item.name
                            .toUpperCase()}}</a></li>&ndash;&gt;
                    </ul>
                </div>
            </div>-->
            <div class="export" @click="openModal()">
                <%= LANG('导出') %>
                <i class="icon iconfont icon-excel"></i>
            </div>
        </div>
        <div class="continer">
            <ul>
                <li>
                    <div class="content">
                        <p><%= LANG('我的总收益') %></p>
                        <p v-cloak>{{earnData.allXt}}XT</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <p><%= LANG('昨日收益') %></p>
                        <p v-cloak>{{earnData.yesterdayXt}}<%= LANG('次') %></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottomContiner">
        <div class="earnings">
            <p class="">
                <%= LANG('每日详情') %>
            </p>
            <table>
                <thead>
                <tr>
                    <th><%= LANG('日期') %></th>
                    <th><%= LANG('每日收益') %>（XT）</th>
                    <th><%= LANG('交易次数') %></th>
                    <th><%= LANG('操作') %></th>
                </tr>
                </thead>
                <tbody>
                <tr v-cloak="" v-for="(item, index) in earnData.records">
                    <td>{{item.cashBackTime}}</td>
                    <td>{{item.coinXtCount}}</td>
                    <td>{{item.cnt}}</td>
                    <td><span class="btn" @click="lookDetails(item.cashBackTime)"><%= LANG('收益详情') %></span></td>
                </tr>
                <tr v-if="earnData.records.length == 0" class="nodata">
                    <td colspan="4"><%= LANG('暂无数据') %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--导出弹窗-->
    <modal v-cloak :open="showModal == 'export'" @close="showModal = false">
        <export :done="callCloseModal()" :mode="'income'"/>
    </modal>

    <!--查看详情-->
    <modal v-cloak :open="showModal == 'modalList'" @close="showModal = false">
        <modal-list :done="callCloseModal()" ref="modalList" :mode="'income'" :cash-back-time.sync="cashBackTime"/>
    </modal>
</div>
<script>
    require(['vue', 'common/methods', 'common/juabox', 'datepicker'], function (Vue, Methods, JuaBox) {
        var earningsDetails = new Vue({
            el: "#earnings",
            data: function () {
                return {
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
                    month: '',
                    showModal: false,
                    earnData: {records: []},
                    cashBackTime: ''
                }
            },
            computed: {},
            methods: {
                changeMonth: function (month) {
                    this.month = month
                },
                callCloseModal: function () {

                },
                openModal: function () {
                    this.showModal = 'export'
                },
                getIncomeDetails() {
                    Methods.ajax({
                        url: DOMAIN_DEV +
                        '/exchange/xt_extends/controller/website/partnercontroller/getOverviewOfEarnings',
                        type: 'post',
                        data: {userId: this.loginUser.userId},
                        success: function (res) {
                            this.earnData = res.datas
                        }.bind(this)
                    });
                },
                lookDetails: function (cashBackTime) {
                    this.cashBackTime = cashBackTime
                    console.log(this.cashBackTime, '111111111')
                    this.showModal = 'modalList'
                }
            },
            created: function () {

            },
            mounted: function () {
                this.getIncomeDetails()

                $('#dataPicker').datepicker({
                    orientation: "bottom left",
                    language: {
                        en: 'en',
                        cn: "zh-CN",
                    }[getCookie('wlan')],
                    autoclose: true,
                    format: 'yyyy-mm',
                    // startView: 0,
                    // minViewMode: 1,
                }).on('changeDate', function (ev) {
                    console.log($('#dataPicker').val())
                    this.getIncomeDetails()
                }.bind(this))

            },
            updated: function () {

            }
        });
    })
</script>
