<%-include("../component/modal.html")%>
<%-include("model/export.html")%>

<div id="earnings" class="earningsDetails">
    <div class="topContiner">
        <div class="head">
            <h3><%= LANG('收益详情') %></h3>
            <div class="dropdown" v-cloak="">
                <p style="" role="button" data-toggle="dropdown"><em>{{month == 'all' ? "<%= LANG('请选择月份') %>" : month + "<%= LANG('月') %>"}}</em></p>
                <div class="dropdown-menu">
                    <ul class="dropdown-list">
                        <!--<li><a role="button" @click="changeMonth('all')"><%= LANG('请选择月份') %></a></li>-->
                        <li v-for="(item, index) in 12"><a role="button" @click="changeMonth(item)">{{item}}<%= LANG('月') %></a></li>

                        <!--<li v-show="item.name !=='qtum'" v-for="(item,index) in coinConfig" :class="{'active': item.name == currentCoin}"><a @click="changeCoin(item.name)">{{item.name
                            .toUpperCase()}}</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="export" @click="openModal()">
                <%= LANG('导出') %>
                <i class="icon iconfont icon-excel"></i>
            </div>
        </div>
        <div class="continer">
            <ul>
                <li>
                    <div class="content">
                        <p><%= LANG('我的总收益') %></p>
                        <p>2323XT</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <p><%= LANG('我的交易总次数') %></p>
                        <p>232<%= LANG('次') %></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottomContiner">
        <div class="earnings">
            <p class="">
                <%= LANG('收益比例列表') %>
            </p>
            <table>
                <thead>
                <tr>
                    <th>发展会员数量</th>
                    <th>月交易额（BTC）</th>
                    <th>个人交易手续费优惠</th>
                    <th>返佣比例</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-49</td>
                    <td>100</td>
                    <td>95折</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td>50-99</td>
                    <td>200</td>
                    <td>85折</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>50-99</td>
                    <td>200</td>
                    <td>85折</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>50-99</td>
                    <td>200</td>
                    <td>85折</td>
                    <td>20%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--导出弹窗-->
    <modal v-cloak :open="showModal == 'export'" @close="showModal = false">
        <export :done="callCloseModal()"/>
    </modal>
</div>
<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        var userApi = new Vue({
            el: "#earnings",
            data: function () {
                return {
                    month: 'all',
                    showModal: false
                }
            },
            computed: {},
            methods: {
                changeMonth: function (month) {
                    this.month = month
                },
                callCloseModal: function () {

                },
                openModal: function () {
                    this.showModal = 'export'
                }
            },
            created: function () {

            },
            mounted: function () {

            },
            updated: function () {

            }
        });
    })
</script>
