<div class="content">
    <div class="user_center">
        <div class="tab">
            <a href="#" class="active">实币账户</a>
            <a href="#">模拟账户</a>
        </div>

        <div class="all">
            <div class="info">
                <h3>所有账户</h3>
                <p class="num">$0.000</p>
            </div>
            <div class="verification">
                <a href="#" class="on"><i class="iconfont icon-icon31"></i><p>手机</p></a>
                <a href="#"><i class="iconfont icon-youxiang1"></i><p>邮箱</p></a>
                <a href="#"><i class="iconfont icon-guge"></i><p>Google</p></a>
                <a href="#"><i class="iconfont icon-password"></i><p>密码</p></a>
            </div>

        </div>

        <div class="user_account_list">

            <div class="user_account_item">
                <div class="head">
                    <div class="user_info">
                        <div class="avatar"><img src="/src/images/userhead/u005.jpg"></div>
                        <h3>主账户</h3>
                        <div class="oper">
                            <a href="#"><i class="iconfont icon-edit"></i><span>修改账户</span></a>
                            <a href="#"><i class="iconfont icon-icon15"></i><span>账单</span></a>
                        </div>
                    </div>

                    <div class="capital_info">
                        <h3>账户净资产</h3>
                        <p class="num">$0.000</p>
                    </div>
                </div>
                <div class="user_account_info">
                    <div class="item active">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-eos.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>

                    <div class="item_box">

                        <ul>
                            <li><span>净总额</span>0 (¥0.000)</li>
                            <li><span>可用</span>0 (¥0.000)</li>
                            <li><span>冻结</span>0 (¥0.000)</li>
                        </ul>



                        <div class="account_progress">
                            <div class="circle">
                                <div class="circle_left">
                                    <div class="clip_left">
                                    </div>
                                </div>
                                <div class="circle_right">
                                    <div class="clip_right"></div>
                                </div>
                                <div class="mask">
                                    <span>20</span>%
                                </div>
                            </div>
                            <p>占比</p>
                        </div>



                        <div class="item_box_btn">
                            <a href="#" class="payinbtn">充值</a><a href="#">提币</a><a href="#">账单</a><a href="#">隐藏</a>
                        </div>

                    </div>


                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-eth.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>



                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-btc.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-etc.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-ltc.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>
                    <div class="more"><a href="#"></a></div>
                </div>

            </div>

            <div class="user_account_item">
                <div class="head">
                    <div class="user_info">
                        <div class="avatar"><img src="/src/images/userhead/u005.jpg"></div>
                        <h3>主账户</h3>
                        <div class="oper">
                            <a href="#"><i class="iconfont icon-edit"></i><span>修改账户</span></a>
                            <a href="#"><i class="iconfont icon-icon15"></i><span>账单</span></a>
                        </div>
                    </div>

                    <div class="capital_info">
                        <h3>账户净资产</h3>
                        <p class="num">$0.000</p>
                    </div>
                </div>
                <div class="user_account_info">
                    <div class="item active">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-eos.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>




                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-eth.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>



                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-btc.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-etc.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="coinname">
                            <img src="/src/images/icon/market-icon/market-ltc.png" class="market-icon">
                            <h3>EOS</h3>
                        </div>
                        <div class="total"><span>总额：</span>0 (¥0.000)</div>
                        <div class="oper">
                            <a href="#">详情</a>
                        </div>
                    </div>
                    <div class="more"><a href="#"></a></div>
                </div>




            </div>


            <div class="add_account">
                <i class="iconfont icon-zhuceyaoqing"></i>
                <div class="text">
                    <h4>新建独立账户</h4>
                    <p>新的独立账号可以用于代理投资、分仓管理等</p>
                </div>
            </div>


        </div>


