<script>

    $(function(){

        var curUrl = document.location.pathname;
        var minUrl = curUrl.substring(7);
        if(curUrl.indexOf("${coint.stag}") > 0){
            curUrl = curUrl.substring(0, curUrl.indexOf("/${coint.stag}"));
        }



        $(".menu-left li a").mouseenter(function(){
            if($(this).hasClass('active')) {
                return;
            }
            $(".menu-right").animate({left:"-220px"},80,"swing",function(){
                $(this).animate({left:"70px"},80,"swing");
            })
            $(".menu-left li a").removeClass("active");
            $(this).addClass("active");
            $(".sub-nav").eq($(this).parent("li").index()).removeClass("hide").addClass("on").siblings(".sub-nav").addClass("hide").removeClass("on");
        });

        $.fn.peity.defaults.bar = {
            delimiter: ",",
            fill: ["#404040"],
            height: 45,
            max: null,
            min: 0,
            padding: 0.1,
            width: 100
        }
        $(".barcharts").peity("bar");


        $.fn.peity.defaults.line = {
            delimiter: ",",
            fill: "#eef0f3",
            height: 35,
            max: null,
            min: 0,
            stroke: "#566c8c",
            strokeWidth: 1,
            width: 130
        }
        $(".echart-line").peity("line");



    });

</script>