<div class="user-nav">
    <div class="nowMenu-left">
        <b>EXX</b>
        <i class="sline">/</i>
        <a href="/"><i class="fa fa-home fa-lg"></i></a>
        <i class="sline">/</i>
        <a href="/manage" class="now-menu">工作台</a>
        <i class="sline">/</i>
        <span class="now-menu-sub">个人</span>
    </div>

    <div class="tr-echart-barcharts">
        <div class="slinetext"><span>总资产折合(￥)</span><b>77508</b></div>
        <span class="barcharts">5,3,9,6,5,9,7,3,5,2</span>
    </div>
    <div class="clearfloat"></div>
</div>



