<header id="uTop" class="clearfloat sticky u-menu">
  <div class="logo">
    <a href="/"><img src="/src/images/home/exxlogo.png"></a>
  </div>
  <div class="nav">
    <ul>
      <li><a href="/help"><%= LANG('帮助') %></a></a></li>
      <li><a href="#"></a>API</a></li>
      <li><a href="#"><%= LANG('费率') %></a></a></li>
      <li><a href="#"><%= LANG('安全') %></a></a></li>
      <li><a href="#"></a>APP</a></li>
      <li><a href="#"><%= LANG('关于') %></a></a></li>
    </ul>
  </div>
  <div class="language">
    <div class="lang-show cn"><i></i><span>中文</span></div>
    <div class="lang-hide">
      <div class="cn"><a onclick="setLan('cn')"><i></i><span>中文</span></a></div>
      <div class="en"><a onclick="setLan('en')"><i></i><span>English</span></a></div>
    </div>
  </div>

  <% if(isLogin){ %>
  <div class="logined">
    <ul>
      <li><img src="/src/images/u/headerimg.jpg"><a href="/u/safe" target="_self"><%= UNAME %></a></li>
      <li><a  onclick="Methods.logout()" href="javascript:;"><%= LANG('登出') %></a></a></li>
    </ul>
  </div>
  <% }else{ %>
  <div class="login">
    <ul>
      <li class="zc"><a href="/register"><%= LANG('注册') %></a></a></li>
      <li class="dl"><a href="/login"><%= LANG('登录') %></a></a></li>
    </ul>
  </div>
  <% } %>
</header>
<script>
require(['jquery', 'common/methods'], function($, Methods) {
})
</script>
