/* Million */

html, body { position: relative; height:100%; }

#million { height:100%; position: relative; }

footer { display: none; }

.million-banner { width: 100%; height:100%; background:url("../images/activity/million/exx-active-hd-bg.jpg"); background-size:cover; position: relative; display: flex; align-items: center; }
.million-banner h1 { margin:-100px auto 0 auto; font-size:56px; color:#FFF;   text-align: center; }
.million-banner h1 span { color:#f4ad3a; }
.million-banner h3 { font-size:14px; color:#FFF; text-align: center; padding-top: 20px; }
.million-banner .list { position: absolute; bottom: 0; width:1160px; left:50%; margin-left:-580px; }
.million-banner .list li { float:left; width:385px; height:185px; color:#FFF; font-size:36px;  background:#f4ad3a;  }
/*background:url("../images/activity/million/million-abtn-bg-off.png");*/
.million-banner .list li span { width:292px; height:127px; color:#FFF; text-align: center; display: block; padding-top: 40px; }
/*.million-banner .list li.on {  background:url("../images/activity/million/million-abtn-bg-on.png");   }*/
.bottext { background: #f4ad3a; color:#FFFFFF; font-size:36px; width:1200px; position: absolute; bottom: 0; left:50%; margin-left:-600px; height:160px; text-align: center; color:#FFFFFF; padding-top:62px; }
.bottext span { margin:0 40px; }
.bottext a { margin:0 40px; color:#FFFFFF; border:1px solid #666; background:#666; padding: 10px 20px; border-radius: 5px; font-size:24px; }
.bottext a:hover { background:#333; text-decoration: none; }
.million-content .stitle { font-size:32px; text-align: center;  padding-bottom: 20px; color:#FFF; margin: 0;   }
.million-content .sline { width:76px; height:4px; border-radius:4px; margin: 0px auto; background:#FFD38B;  }
.million-content .snote { font-size:18px; color:#FFF; text-align: center; margin-bottom: 80px; }

.million-step1 { background:url("../images/activity/million/exx-active-hd-bg3.jpg"); background-size: cover;  color:#FFF; height:100%;  display: flex; align-items: center;   }
.accoutlist { width: 1200px; margin: 100px auto; text-align:center; color: #FFFFFF; font-size:18px; }
.accoutlist li { display: inline-block; margin: 0 20px; padding: 5px;  }
.accoutlist a { color:#FFFFFF; margin:0px 20px; text-decoration: none; }
.accoutlist li:hover { background: rgba(255,255,255,0.1);  }
.accoutlist li.on {   background: #FDBC4F; }
.accoutlist p { color: #FFFFFF; margin-bottom: 50px; }
.accoutlist a img { width:60px; height:60px; border-radius: 100%; border:1px solid #FFFFFF; }

.million-cont {   margin: 0px auto 0 auto; text-align: center; }

.million-content .btnlist { text-align: center; margin-top: 45px; }
.million-content .btnlist a { height:68px; text-align: center; display: inline-block; border:1px solid #FFFFFF; border-radius: 5px; width:206px; font-size:18px; cursor: pointer; background:rgba(255,255,255,0);
  -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  -ms-transition: all 0.3s;  -o-transition: all 0.3s;  transition: all 0.3s; color: #FFFFFF; padding-top: 22px; margin:0 20px;  }
.million-content .btnlist a:hover { text-decoration: none; background:#FFFFFF; color: #f4ad3a; }
.million-content .btnlist a.graybtn { border-color:#666; cursor: not-allowed; background:rgba(100,100,100,0.9); color:#999;  }
.million-step2 { background:url("../images/activity/million/exx-active-hd-bg2.jpg"); color:#FFF; height:100%; background-size: cover; display: flex; align-items: center;  }
.million-step2 .marketlist { text-align: center; }
.million-step2 .marketlist li { display: inline-block; cursor: pointer; border: 1px solid #FFFFFF; margin: 0 20px; height:80px; width:170px; font-size:24px; position: relative;  -webkit-transition: all 0.2s;  -moz-transition: all 0.2s;  -ms-transition: all 0.2s;  -o-transition: all 0.2s;  transition: all 0.2s; }
.million-step2 .marketlist li:hover { background:rgba(245,166,35,0.1); }
.million-step2 .marketlist li i.iconfont { display:none; position: absolute; bottom: 2px; right:2px; width:20px; height:20px; }
.million-step2 .marketlist li.on { border:1px solid #f4ad3a; color:#f4ad3a; }

.million-step2 .marketlist li .left-m { display: block; position: absolute; left:20px; top:20px;   }
.million-step2 .marketlist li .right-m { display: block; position: absolute; right:20px; bottom: 20px; }
.million-step2 .marketlist li i { width:46px; height:46px; display: inline-block; vertical-align: middle; margin-top:-5px; }
.million-step2 .marketlist li i.icon-dbtc, .million-step2 .marketlist li i.icon-btc { background:url("../images/activity/million/icon/million-marketicon-btc-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dltc, .million-step2 .marketlist li i.icon-ltc { background:url("../images/activity/million/icon/million-marketicon-ltc-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-deth, .million-step2 .marketlist li i.icon-eth { background:url("../images/activity/million/icon/million-marketicon-eth-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-detc, .million-step2 .marketlist li i.icon-etc { background:url("../images/activity/million/icon/million-marketicon-etc-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dbts, .million-step2 .marketlist li i.icon-bts { background:url("../images/activity/million/icon/million-marketicon-bts-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dqtum, .million-step2 .marketlist li i.icon-qtum { background:url("../images/activity/million/icon/million-marketicon-qtum-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dbcc, .million-step2 .marketlist li i.icon-bcc { background:url("../images/activity/million/icon/million-marketicon-bcc-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dhsr, .million-step2 .marketlist li i.icon-hsr { background:url("../images/activity/million/icon/million-marketicon-hsr-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dusdx, .million-step2 .marketlist li i.icon-usdx { background:url("../images/activity/million/icon/million-marketicon-usdx-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-dusd, .million-step2 .marketlist li i.icon-dusd { background:url("../images/activity/million/icon/million-marketicon-dusd-w.png"); background-size:cover; }
.million-step2 .marketlist li i.icon-deos, .million-step2 .marketlist li i.icon-eos { background:url("../images/activity/million/icon/million-marketicon-eos-w.png"); background-size:cover; }
.million-step2 .marketlist li i:before { display: none;  }

.million-step2 .marketlist li.on i.iconfont, .million-step2 .marketlist li.on i.iconfont:before  { display:block; }

.million-step2 .marketlist li.on i.icon-dbtc, .million-step2 .marketlist li.on i.icon-btc { background:url("../images/activity/million/icon/million-marketicon-btc-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-dltc, .million-step2 .marketlist li.on i.icon-ltc { background:url("../images/activity/million/icon/million-marketicon-ltc-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-deth, .million-step2 .marketlist li.on i.icon-eth { background:url("../images/activity/million/icon/million-marketicon-eth-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-detc, .million-step2 .marketlist li.on i.icon-etc { background:url("../images/activity/million/icon/million-marketicon-etc-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-dbts, .million-step2 .marketlist li.on i.icon-bts { background:url("../images/activity/million/icon/million-marketicon-bts-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-dqtum, .million-step2 .marketlist li.on i.icon-qtum { background:url("../images/activity/million/icon/million-marketicon-qtum-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-dbcc, .million-step2 .marketlist li.on i.icon-bcc { background:url("../images/activity/million/icon/million-marketicon-bcc-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-deos, .million-step2 .marketlist li.on i.icon-eos { background:url("../images/activity/million/icon/million-marketicon-eos-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-dhsr, .million-step2 .marketlist li.on i.icon-hsr { background:url("../images/activity/million/icon/million-marketicon-hsr-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-usdx, .million-step2 .marketlist li.on i.icon-dusdx { background:url("../images/activity/million/icon/million-marketicon-usdx-y.png"); background-size:cover; }
.million-step2 .marketlist li.on i.icon-dusd, .million-step2 .marketlist li.on i.icon-ddusd { background:url("../images/activity/million/icon/million-marketicon-dusd-y.png"); background-size:cover; }


.million-step2 .marketlist li .mline {  border-top:1px solid #FFFFFF; width:150px; top:65px; left:60px; position: absolute;  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg); }
.million-step2 .more-market a { display: block; width:170px; height:70px; border:1px solid #FFFFFF; border-radius: 5px; color: #FFFFFF;   font-size:24px; text-align: center; margin:50px auto 0 auto; padding: 20px; cursor: pointer; }
.million-step2 .marketlist li.on .mline { border-color:#f4ad3a; }

.million-step3 { background:url("../images/activity/million/exx-active-hd-bg4.jpg"); background-size: cover;   height: 100%; display: flex; align-items: center; }
.million-step3 .coinlist { text-align: center; width: 100%; margin: 30px auto;  }
.million-step3 .coinlist li { display: inline-block; width: 200px; margin: 0px 10px; background:#FFF; height:180px; border-radius: 5px; padding-top:30px; }

.million-step3 input:focus { outline: none; }
.million-step3 li span { font-size:24px; color: #0a0a0a; margin-bottom: 15px; display: block; text-transform: Uppercase; }
.million-step3 li i { width:46px; height:46px; display: inline-block; margin:-2px 5px 3px 5px; vertical-align: middle; }

.million-step3 li i.icon-dbtc, .million-step3 li i.icon-btc { background:url("../images/activity/million/icon/million-marketicon-btc-b.png"); background-size:cover; }
.million-step3 li i.icon-dltc, .million-step3 li i.icon-ltc { background:url("../images/activity/million/icon/million-marketicon-ltc-b.png"); background-size:cover; }
.million-step3 li i.icon-deth, .million-step3 li i.icon-eth { background:url("../images/activity/million/icon/million-marketicon-eth-b.png"); background-size:cover; }
.million-step3 li i.icon-detc, .million-step3 li i.icon-etc { background:url("../images/activity/million/icon/million-marketicon-etc-b.png"); background-size:cover; }
.million-step3 li i.icon-dbts, .million-step3 li i.icon-bts { background:url("../images/activity/million/icon/million-marketicon-bts-b.png"); background-size:cover; }
.million-step3 li i.icon-dqtum, .million-step3 li i.icon-qtum { background:url("../images/activity/million/icon/million-marketicon-qtum-b.png"); background-size:cover; }
.million-step3 li i.icon-dbcc, .million-step3 li i.icon-bcc { background:url("../images/activity/million/icon/million-marketicon-bcc-b.png"); background-size:cover; }
.million-step3 li i.icon-deos, .million-step3 li i.icon-eos { background:url("../images/activity/million/icon/million-marketicon-eos-b.png"); background-size:cover; }
.million-step3 li i.icon-dhsr, .million-step3 li i.icon-hsr { background:url("../images/activity/million/icon/million-marketicon-hsr-b.png"); background-size:cover; }
.million-step3 li i.icon-dusdx, .million-step3 li i.icon-usdx { background:url("../images/activity/million/icon/million-marketicon-usdx-b.png"); background-size:cover; }
.million-step3 li i.icon-dusd { background:url("../images/activity/million/icon/million-marketicon-dusd-b.png"); background-size:cover; }
.million-step3 li i:before { display: none; }
.million-step3 li i.marketlist {  }
.million-step3 li input { width: 80%; margin:0 auto;  }

/*.select-account ul {
  background: transparent;
  text-align: center;
  overflow: inherit;
  border: 0;
  width: 90%;
  margin: 300px auto 30px auto;
}
.select-account li {
  width: 200px;
  display: inline-block;
  color: #FFF;
  border: 0;
  margin: 0 3em 3em 3em;
  cursor: pointer;
  clear: inherit;
  text-align: center;
}
.select-account.modal-mask {
  background-color: rgba(0, 0, 0, 0.8);
}
.select-account .avatar {
  width: 100px;
  height: 100px;
  opacity: 0.6;
  border-radius:100%;
  display:inline-block;
  overflow:hidden;
  border: 2px solid #616161;
  clear: both;
  margin-bottom: 0.75em;
  position: relative;
}
.avatar .gray-mask {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: bold;
  z-index: 11;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  color: #888;
  background: rgba(255, 255, 255, .7);
}
.select-account .gray-mask {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 18px;
}
.select-account li .memo {
  width: 100%;
  color: #999;
  text-align: center;
  display: inline-block;
  font-size: 24px;
}
.select-account li.current .avatar,
.select-account li:hover .avatar {
  border:2px solid #fba81c;
  opacity: 1;
  transition:opacity .4s ease-in-out;
}
.select-account li.current .memo,
.select-account li:hover .memo {
  color: #fba81c;
}*/


.million-cont .btnlist a.helpbtn { border: none; color:#0a8fc7; width: auto; font-size:14px; text-decoration: underline; line-height: inherit; padding: 0; height: inherit; }
.million-cont .btnlist a.helpbtn:hover { color:#FFFFFF; background: none; }

