.exx-clear {
    zoom: 1;
}
.exx-clear:after {
    content: '';
    display: table;
    clear: both;
}
.ex-container {
    max-width: 1200px;
    position: relative;
    padding-left: 240px;
    margin: 0 auto;
}
.ex-layout-left {
    position: absolute;
    top:0;
    left:0;

}

.ex-menu-content{
    width: 220px;
    background: #fff;
    border-radius: 3px;
    padding-bottom: 10px;
}
.ex-layout-main {
    background: #fff;
    min-height: 600px;
    padding: 0 20px 20px;
    border-radius: 3px;
}
.ex-menu {

}
.ex-menu dl {

}
.ex-menu dt {
    padding: 20px 0 10px 20px;
    font-size: 18px;
    color: #000;
}
.ex-menu dd {

}
.ex-menu dd a {
    padding: 15px 20px;
    display: block;
    color: #666;
}
.ex-menu dd a:hover,
.ex-menu dd a.active{
    color:#ff9d11;
    font-weight: bold;
    background-color: #f9f9f9;


}
.exx-table {
    margin-bottom: 15px;
}
.exx-title {
    padding: 30px 0 20px 10px;
    text-align: left;
}
.exx-title h2 {
    font-size: 18px;
    color:#000;
}
.exx-title p {
    font-size: 14px;
    line-height: 2;
    color:#666;
}
.exx-form-box {
    width: 400px;
    margin: 15px auto;
}
.exx-form-head {
    margin: 15px auto;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.exx-form-head ul li {
    display: inline-block;
    margin: 15px 15px 30px 15px;
    min-width: 120px;
    line-height: 2;
    padding: 10px 0;
    font-size: 18px;
    color: #333;
    border:1px solid #eee;
    cursor: pointer;
    border-radius: 5px;
}
.exx-form-head ul li.active,
.exx-form-head ul li:hover {
    border:1px solid #ff9d11;
    color:#ff9d11;
}
.exx-check {
    text-align: left;
}
.exx-check li {
    display: inline-block;
    border:1px solid #eee;
    margin-right: 15px;
    padding: 10px 15px;
    cursor: pointer;
}
.exx-check li.active {
    border: 1px solid #ff9d11;
    color:#ff9d11;
}

.exx-table-head {
    padding: 0;
    border-bottom:1px solid #eee;
}

.exx-table-head li {
    display: inline-block;
    border-bottom:2px solid transparent;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: -1px;
}
.exx-table-head li.active {
    border-bottom : 2px solid #ff9d11;
    color:#ff9d11;
}
.exx-table-head li .tab-num {
    display: inline-block;
    background-color: #ff9d11;
    border-radius: 50%;
    min-width: 15px;
    line-height: 1.4;
    font-weight: normal;
    font-size: 12px;
    color:#fff;
    text-align: center;
}
.exx-table-body {
    text-align: left;
}
.exx-table-body table thead th {
    background-color: #f9f9f9;
}
.exx-trade-info {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
}
.trade-info {
    flex:1;
    margin:0 15px;
    color : #888;
}
.trade-info h3 {
    color:#333;
    font-weight: bold;
}
.trade-info p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    padding-left: 80px;
}

.trade-info label {
    width: 80px;
    margin-left: -80px;
}
.trade-info span{
    color: #000;
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
    line-height: 1.5em;
}
.trade-remark {
    line-height: 1.8;
    font-size: 12px;
    color:#666;
    padding: 15px 30px;
    margin: 15px;
    background-color: #f9f9f9;

}
.trade-remark .titles {
    color:#333;
    font-size: 14px;
    font-weight: bold;

}
.trade-remark p {
    margin-bottom: 15px;
}






.ex-account .bind{
    color: #31C871;
    font-size:12px;
}
.ex-account .nobind{
    color: #ff9d11;
    font-size:12px;
}
/*绑定信息*/
.account-bind .title{
    background-color: white;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    -webkit-box-shadow: 0 2px 0 0 rgba(69, 112, 128, 0.06);
    box-shadow: 0 2px 0 0 rgba(69, 112, 128, 0.06);
    margin-bottom: 25px;
}
.account-bind .title .title-in{
    font-size: 16px;
    color: #242a4a;
    margin-right: 30px;
}
.account-bind .bind-item{
    margin-bottom: 10px;
}
.account-bind .bind-item .bind-in{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px 15px 50px;
    background-color: white;
    -webkit-box-shadow: 0 2px 0 0 rgba(69, 112, 128, 0.06);
    box-shadow: 0 2px 0 0 rgba(69, 112, 128, 0.06);
    font-size: 14px;
    color: #242a4a;
}
.account-bind .bind-item .bind-in .bind-title{
    width: 142px;
    height: 40px;
    margin-right: 15px;
    border-right: 1px dashed #d0d5de;
    padding: 0 15px;
    line-height: 40px;
    text-align: left;
    display: inline-block;
}
.account-bind .bind-item .bind-in .bind-desc{
    width: 70%;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.account-bind .bind-item .bind-in .btn{
    padding: 8px 10px;
    background: transparent;
    outline: none;
}
.account-bind .bind-item textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #e1e1e1;
}
    /*独立样式*/
.ex-select-dropdown {
    position: absolute;
    top:45px;
    width:100%;
    max-height: 200px;
    overflow: auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
            box-shadow: 0 1px 6px rgba(0,0,0,.2);
    z-index: 2;
}

.ex-select-icon {
    display: inline-block;
    width: 25px;
    margin-right: 6px;
    vertical-align: middle;
}

.ex-select-item {
    margin: 0;
    line-height: normal;
    padding: 12px 16px;
    clear: both;
    color: #495060;
    font-size: 14px;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.ex-select-item:hover{
    background: #eee;
}

.form-control .fade-enter-active, .form-control .fade-leave-active {
    transition: all 0.5s;
}

.form-control .fade-enter, .form-control .fade-leave-active {
    opacity: 0;
    transform: translateY(-10px);
}

.ex-tips-box{
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 15px;
    line-height: 2em;
    color: #636881;
    -webkit-box-shadow: 0 1px 6.79px 0.21px rgba(71, 78, 115, 0.15);
    box-shadow: 0 1px 6.79px 0.21px rgba(71, 78, 115, 0.15);
}
/*上传信息*/
.ex-upload-group{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.ex-upload-group .upload-item{
    padding: 0 10px;
}
.ex-upload-group .upload-item p{
    text-align: center;
    margin-bottom: 10px;
}
.pm-itemcont{
    background:url(/src/images/upload/upload.png) center center no-repeat;
    background-size:50%;
}
.pm-itemcont .item {
    width:200px;
    height:180px;
}
.pm-itemcont .item .preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pm-itemcont .item {
    position: relative;
}
.pm-itemcont .item .upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pm-itemcont .item .upload input[type=file] {
    width: 100%;
    height: 100%;
}
.pm-itemcont .item .preview a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    border:1px solid #eee;
}
.pm-itemcont .item .preview .ajaxing {
    background: url('/src/images/upload/loader.gif') no-repeat 50% 50%
}
.upload input {
    opacity: 0;
    cursor: pointer;
}
.trade-list .price {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
}
.trade-list .price .sub {
    font-size: 12px;
    font-weight: normal;
}
.trade-list .price .bold {
    font-size: 18px;
    font-weight: bold;
    color:#ff9d11;
}
.norecord {
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}


/*认证商家页面*/
.seller-content{
    padding: 50px 100px;
    background: #fff;
}
.seller-img-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
}
.seller-img-group .seller-img-item img{
    width: 145px;
    height: 95px;
}
.seller-img-group .seller-img-item h5{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
}
.seller-tip-box{
    padding: 30px 40px;
    background:#fff;
    margin-bottom: 30px;
    line-height: 2em;
    -webkit-box-shadow: 0 1px 6.79px 0.21px rgba(71, 78, 115, 0.15);
    box-shadow: 0 1px 6.79px 0.21px rgba(71, 78, 115, 0.15);
}
.seller-info-group {
    margin-top: 10px;
    line-height: 3em;
}
.seller-info-group p{
    text-indent: 2em;
    color: #636881;
    counter-increment:section;
}
.seller-info-group p:before{
    content:counter(section) ". ";
}
.seller-content .exx-form-group{
    text-align: center;
}
.seller-content .exx-form-group .exxbtn{
    width:300px;
}
.seller-loading{
    padding: 25px 0;
    margin: 0 auto;
    width:400px;
}
.seller-loading ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.seller-loading li{
    position: relative;
    list-style: none;
    color: #636881;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: inline-block;
    text-align: center;
}
.seller-loading li .circle{
    display: inline-block;
    width:30px;
    height:30px;
    line-height: 30px;
    border:1px solid #636881;
    border-radius: 50%;
    margin:10px 0;
}
.seller-loading li:before{
    position: absolute;
    content: '';
    left:0;
    right:0;
    top: 50%;
    height:1px;
    background: #636881;
    margin-top:-5px;
    margin-left:30px;
    -webkit-transform: translate(50%,-50%);
            transform: translate(50%,-50%);
}
.seller-loading li:last-child:before{
    content: none;
}
.exx-state-title{
    text-align: center;
    padding: 50px 0 20px 0;
    font-size: 14px;
    color: #888;
    border-top: 1px dashed #ebeff5;
}
.exx-state-title h2{
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
}
.exx-form-group.ex-btn{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
.ex-amount {
    font-weight: bold;
    color:#ff9d11;
    font-size: 18px;
}
/*申诉页面*/
.dispute-content{
    padding:20px;
    font-size:14px;
}
.dispute-order{
    display: flex;
    justify-content: center;
}
.order-status{
    flex:1;
    margin-right: 20px;
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 15px;
    line-height: 2em;
    color: #636881;
    -webkit-box-shadow: 0 1px 6.79px 0.21px rgba(71, 78, 115, 0.15);
    box-shadow: 0 1px 6.79px 0.21px rgba(71, 78, 115, 0.15);
}
.order-status:last-child{
    margin-right: 0;
}
.order-status .order-title{
    font-size: 16px;
    color: #ff9c11;
    margin-bottom: 10px;
}
.order-status .order-info{
    margin-bottom: 0px;
    padding-left: 75px;
    font-size: 12px;
}
.order-status .order-info:after {
    content: "";
    display: block;
    clear: both
}
.order-status .order-info .title{
    margin-left: -75px;
    float: left;
}
.order-status .order-info .contact{
    color: #ff9d11;
}
.dispute-group .dispute-item{
    padding:10px 10px 15px 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.dispute-group .dispute-item:last-child{
    border-bottom: none;
}
.dispute-group .dispute-item .dispute-item-title{
    padding-left: 10px;
    margin-bottom: 15px;
    border-left: 5px solid #ff9d11;
}
.dispute-group .dispute-item .dispute-item-content{
    padding-left:15px;
    color:#666;
}
.dispute-group .dispute-item .dispute-item-content .item-detail{
    margin-bottom: 15px;
    line-height: 1.6em;
}
.dispute-group .dispute-item .dispute-item-content .evidence-group{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.dispute-group .dispute-item .dispute-item-content .evidence-group .evidence-item{
    margin-right:15px;
    text-align: center;
}
.dispute-group .dispute-item .dispute-item-content .evidence-group .evidence-item .small-img{
    width: 120px;
    height: 110px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

/*对方信息*/
.business-info{
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;
}
.business-info p{
    line-height: 2em;
    color: #7b7b7b;
}

/*财务报表*/
.exx-report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}
.exx-report + .exx-report {
    border-top : 1px dashed #ddd;
}

.exx-report .item {
    padding: 10px 40px 10px 10px;
    line-height: 1.5;
}
.exx-report .item h3 {
    font-size: 12px;
    color:#666;
}
.exx-report .item p {
    font-size: 20px;
    color:#333;
}

.dropdown > .datepicker{
    border: 1px solid rgba(0, 0, 0, .08);
    position: relative;
}
.dropdown > .datepicker > input{
    padding: 9px;
    cursor: pointer;
}
.dropdown > .datepicker:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 16px;
    border: 3px solid transparent;
    border-top-color: currentColor;
}