/* CSS Document */
* {
	font: inherit;
	color: inherit;
	outline: 0;
	border: 0;
	margin: 0;
	padding: 0;
	font-style: normal;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 12px/1 "tahoma", "microsoft yahei", "微软雅黑";
	color: #888;
}
table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #999;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
a:hover {
	color: #333;
	text-decoration: none;
}
img {
	vertical-align: middle;
}
.clearfloat:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
.container {
	margin: auto;
	max-width: 1200px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 888;
	width: 100%;
	padding: 50px;
	-webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header.hover {
	padding: 20px 30px;
	background: rgba(0,0,0,.9);
}
.header .logo {
	float: left;
	width: 80px;
}
.header .logo img {
	max-width: 100%;
}
.header .nav {
	float: left;
	margin: 12px 0 0 100px;
}
.header .nav li {
	float: left;
	margin-right: 50px;
}
.header .login {
	float: right;
}
.header .login li {
	float: left;
	padding: 8px 30px;
	border: 2px solid rgba(255,255,255,.6);
	border-radius: 2px;
	color: rgba(255,255,255,.6);
}
.header .login li.zc {
	border: 2px solid rgba(255,255,255,0);
}
.banner {
	background: #050409 url(../images/home/bannerBg.jpg) no-repeat center center / cover;
	padding: 200px 0 60px 0;
	text-align: center;
	position: relative;
}
	
.banner .slogan-logo {
	width: 100px;
	margin: 0 auto;
}
.banner .slogan-logo img {
	max-width: 100%;
}
.banner .slogan {
	font-size: 30px;
	color: #fff;
	margin: 50px 0 30px 0;
}
.slogan-name {
	margin-top: 20px;
	font-size: 18px;
	color: #fff;
}
.banner .slogan em {
	font-size: 38px;
}
.banner .sub-slogan {
	font-size: 14px;
	color: rgba(255,255,255,.6);
}
.banner .info {
	overflow: hidden;
	margin-top: 100px;
}
.banner .info li {
	float: left;
	margin-bottom: 60px;
	width: 200px;
}
.banner .info li.m {
	margin: 0 300px;
}
.banner .info li .ico {
	width: 5px;
	height: 5px;
	background: #f7aa1b;
	margin: 0 auto 30px auto;
	text-align: center;
}
.banner .info li .ico img {
	position: relative;
	top: 12px;
}
.banner .info li h3 {
	color: #fff;
	margin-bottom: 15px;
	font-size: 14px;
}

.exx-info {
	padding: 100px 0;
	text-align: center;
}


.exx-info h2 {
	margin-bottom: 50px;
	
}
.exx-info h2 img{width: 90px;}
.exx-info p{line-height: 32px;}

.exx-time {
	overflow: hidden;
	font-family: arial;
}
.exx-time .left{float: left;width: 50%;background: #f7aa1b;padding: 80px;text-align: right;position: relative;height: 420px;}
.exx-time .right{float: right; width: 50%;background: #222 url(../images/home/banner-bg.jpg) no-repeat 0 top;padding: 80px 0;text-align: left;position: relative;height: 420px;}
.exx-time .time h2 {
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}
.exx-time .time p {
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 50px;
}
.exx-time .time-speed {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: arial;
	border-top: 1px solid rgba(255,255,255,.5);
}

.exx-time .time-speed .txt {
	float: left;
	width: 25%;
	padding: 18px 30px;
	color: #fff;
	position: relative;
}

.exx-time .time-speed .txt + .txt{border-left: 1px solid rgba(255,255,255,.5);}

.exx-time .time-speed .txt p {
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
}

.exx-time .time-speed .txt + .txt:after {
	content: "";
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: -8px;
	bottom: 0;
	margin: auto 0;
	z-index: 1;
	background: #fff;
}

.exx-time .completed{padding-left: 80px;}
.exx-time .completed h2 {
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}
.exx-time .completed p {
	font-size: 50px;
	color: #f7aa1b;
	font-weight: bold;
}
.exx-time .completed p em{color: #fff;font-size: 14px;margin-left: 10px;}
.exx-time .progress-bar {
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 0;
	background: rgba(0,0,0,.6);
	color: #fff;
}
.exx-time .progress-bar .w {
	background: #f7aa1b;
	text-align: right;
	padding: 10px 5px 5px 5px;
}
.exx-time .progress-bar .w em {
	font-size: 40px;
	display: block;
	margin-top: 5px;
}
.exx-time .progress-bar h2 {
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;
}
.exx-time .progress-bar p {
	font-size: 30px;
	position: relative;
}
.exx-time .btn {
	display: block;
	
	position: absolute;
	top: 220px;
	z-index: 1;
	left: -100px;
	color: #fff;
	border: 2px solid #fff;
	padding: 15px 70px;
	font-size: 14px;
	background: #151515;
	border-radius: 2px;
}

.exx-time .btn:after {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: 50%;
	border: 2px solid #f7aa1b;
	border-left: none;
	border-radius: 0 2px 2px 0;
}


.exx-plan {
	padding: 100px 0;
}
.exx-plan h2 {
	text-align: center;
	font-size: 26px;
	color: #000;
}
.exx-plan-info {
	text-align: center;
	line-height: 22px;
	margin: 30px 0 60px 0;
	font-family: arial;
}
.exx-plan .progress-bar {
	position: relative;
}
.exx-plan .progress-bar .w {
	height: 2px;
	position: absolute;
	left: 25px;
	top: 39px;
	right: 25px;
	background: rgba(0,0,0,.2);
}
.exx-plan .progress-bar .w .con {
	background: #f7aa1b;
	height: 2px;
}
.exx-plan .progress-bar .w:before {
	content: "-";
	display: block;
	height: 25px;
	width: 25px;
	background: #151515;
	position: absolute;
	top: -12px;
	left: -25px;
	color: #f7aa1b;
	font-family: arial;
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	border-radius: 50%;
}
.exx-plan .progress-bar .w:after {
	content: "+";
	display: block;
	height: 25px;
	width: 25px;
	background: #151515;
	position: absolute;
	top: -12px;
	right: -25px;
	color: #f7aa1b;
	font-family: arial;
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	border-radius: 50%;
}
.exx-plan .progress-bar .txt {
	float: left;
	margin-left: 50px;
	position: relative;
	font-family: arial;
	font-size: 14px;
	color: rgba(0,0,0,.5);
	font-weight: bold;
	border-radius: 2px;
	padding: 2px;
}
.exx-plan .progress-bar .txt.c {
	color: #fff;
	background: #f7aa1b;
}
.exx-plan .progress-bar .txt:after {
	content: "";
	display: block;
	height: 8px;
	width: 8px;
	position: absolute;
	border-radius: 50%;
	bottom: -26px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	background: #d5d5d5;
}
.exx-plan .progress-bar .txt.c:after {
	background: #f7aa1b;
}
.exx-plan .progress-bar .txt.c:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #f7aa1b;
	
}
.exx-plan .info {
	text-align: center;
	padding-top: 100px;
}
.exx-plan .info .time {
	color: #555;
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
}
.exx-plan .info h3 {
	font-size: 18px;
	color: #000;
	margin: 20px 0 30px 0;
	font-weight: bold;
}
.exx-plan .info p {
	line-height: 26px;
}
.white-paper {
	padding: 100px 0;
	background: rgba(0,0,0,.03) url(../images/home/bg3.jpg) no-repeat center -100px;
}
.white-paper h2 {
	text-align: center;
	font-size: 26px;
	color: #000;
}
.white-paper-info {
	text-align: center;
	line-height: 22px;
	margin: 30px 0 60px 0;
	font-family: arial;
}
.white-paper .btn {
	text-align: center;
	margin-top: 50px;
}
.white-paper .btn a {
	display: inline-block;
	border-radius: 2px;
	color: #f7aa1b;
	border: 2px solid #f7aa1b;
	padding: 15px 70px;
	font-size: 14px;
}
.exx-team {
	padding: 100px 0 200px 0;
}
.exx-team h2 {
	text-align: center;
	font-size: 26px;
	color: #000;
	margin-bottom: 50px;
}
.exx-team-info {
	position: relative;
}
.exx-team-info .img {
	width: 300px;
	height: 300px;
	margin-left: 50px;
	float: left;
}
.exx-team-info .img img {
	max-width: 100%;
}
.exx-team-info .info {
	padding: 40px 50px 0 400px;
}
.exx-team-info .info h3 {
	font-size: 22px;
	color: #333;
	margin-bottom: 120px;
}
.exx-team-info .info h3 em {
	font-size: 12px;
	color: #999;
	margin-left: 10px;
	font-family: arial;
}
.exx-team-info .info p {
	line-height: 26px;

}
.exx-team-info:before {
	content: "";
	display: block;
	position: absolute;
	top: 100px;
	bottom: -35px;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(0,0,0,.04);
}
.exx-team .bt {
	margin-top: 75px;
}
.exx-team .bt ul {
	margin: 0 50px;
}
.exx-team .bt li {
	float: left;
	text-align: center;
}
.exx-team .bt li + li {
	margin-left: 125px;
}
.exx-team .bt li .sub-img {
	width: 120px;
	border: 3px solid transparent;
	position: relative;
}
.exx-team .bt li .sub-img img {
	max-width: 100%;
}
.exx-team .bt li.c .sub-img {
	border: 3px solid #f7aa1b;
}
.exx-team .bt li.c .sub-img:after {
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	top: -8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f7aa1b;
}
.exx-team .bt li h3 {
	font-size: 14px;
	color: #333;
	margin: 8px 0;
}
.exx-team .btn {
	text-align: center;
	margin-top: 50px;
}
.exx-team .btn a {
	display: inline-block;
	border-radius: 2px;
	color: #f7aa1b;
	border: 2px solid #f7aa1b;
	padding: 15px 70px;
	font-size: 14px;
}

.exx-app{background: rgba(0,0,0,.03);}

.exx-app .container {
	position: relative;
}
.exx-app .iphone {
	position: absolute;
	right: 0;
	top: -100px;
	width: 480px;
}
.exx-app .iphone img {
	max-width: 100%;
}
.exx-app .info {
	padding: 150px 0 150px 115px;
}
.exx-app .info h2 {
	color: #000;
	font-size: 26px;
	margin-bottom: 20px;
}
.exx-app .info p {
	line-height: 26px;
}
.exx-app .info .btn {
	margin-top: 50px;
}
.exx-app .info .btn a {
	display: inline-block;
	font-family: arial;
	padding: 15px 50px 15px 80px;
	border: 2px solid #f7aa1b;
	color: #f7aa1b;
	border-radius: 2px;
	margin-right: 30px;
}
.exx-app .info .btn a.ios {
	background: url(../images/home/ios.png) no-repeat 50px center;
}
.exx-app .info .btn a.and {
	background: url(../images/home/and.png) no-repeat 50px center;
}
.exx-video {
	background: #f7aa1b;
	overflow: hidden;
	text-align: center;
	padding-top: 150px;
	position: relative;
}
.exx-video .video-img {
	display: inline-block;
	position: relative;
	bottom: -2px;
	margin: 0 20px;
}

