@media (max-width: 767px) {
    .container {
        padding: 0 20px;
        width: 100%
    }

    .rightcont {
        margin-right: 10px;
        margin-left: 10px
    }

    .login {
        display: none
    }

    .language {
        display: none
    }

    .logo {
        float: none;
        margin: 0 auto;
        width: 100px
    }

    .nav, .panel-nav, .panel-rightmenu {
        display: none
    }

    #user-nav, #user-nav {
        height: 63px
    }

    header.sticky .logo {
        margin-top: 0
    }

    header, header.sticky {
        overflow: hidden;
        padding: 22px 20px 5px 20px !important;
        width: 100% !important;
        background: #232731 !important;
        height: 63px;
    }

    .logined, .topmenu, .login-out {
        display: none;
    }

    .headerimg {
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 60px;
        margin: 5px auto;
    }

    .help-nav ul {
        width: 90%
    }

    .help-nav li {
        margin: 15px 2%;
        width: 29%
    }

    .help-nav li a {
        width: 100%
    }

    .help .search-box {
        width: 90%
    }

    .help-plan {
        padding: 50px 0
    }

    .help-plan h2 {
        margin-bottom: 50px
    }

    .phone-left {
        overflow-y: hidden
    }

    .phone-left:after {
        transform: translateX(-300px)
    }

    .phone-nav-left {
        display: block;
    }

    .phone-right .menu-btn:before {
        position: absolute;
        top: 30px;
        left: 25px;
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: #fff;
        content: '';
        transform: rotate(-45deg)
    }

    .phone-right .menu-btn:after {
        position: absolute;
        top: 30px;
        left: 25px;
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: #fff;
        content: '';
        transform: rotate(45deg)
    }

    .phone-left .menu-btn {
        transform: translateX(-300px);
        right: 0;
    }

    .phone-left .menu-btn-left {
        transform: translateX(-300px)
    }

    .panel-content .left {
        display: block;
    }

    .panel-content {
        top: 0;
    }

    .panel-content .sub-menu {
    }

    .panel-content .sub-menu .closebtn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        border-radius: 100%;
        color: #ffc550;
        text-align: center;
        font-size: 22px;
        line-height: 26px
    }

    .panel-content .sub-menu .closebtn a:hover {
        color: #ffc550;
        text-decoration: none
    }

    .panel-content .right {
        float: none !important;
        margin: 10px 10px 10px 10px !important;
        padding: 0 !important;
        width: auto !important
    }

    .panel-content .deal-time {
        margin-top: 10px !important
    }

    .panel-content .centre-content {
        margin: 10px 10px 10px 10px;
        padding: 0 !important
    }

    .panel-content .menu a {
        padding: 20px 8px
    }

    .panel-content .fillin .box {
        float: none !important;
        margin-bottom: 10px !important;
        width: 100% !important
    }

    .panel-content .fillin .buy, .panel-content .fillin .sell {
        margin: 0 !important
    }

    .panel-content .entrust .bd {
        overflow-x: scroll;
        margin: 0 10px
    }

    .phone-right {
        overflow-y: hidden
    }

    .phone-right:after {
        transform: translateX(275px)
    }

    .phone-right .menu-btn-left {
        display: block;
        transform: translateX(275px)
    }

    .phone-right .menu-btn-left .exx-zhanghu:before {
        content: "×";
        font-weight: 300;
        font-size: 48px;
        line-height: 24px
    }

    .phone-nav-left .menu {
        position: relative;
        z-index: 10;
        float: left;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, .08);
        background: #FFF;
        -webkit-transition: all .2s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .2s cubic-bezier(.215, .61, .355, 1);
        transition: all .2s cubic-bezier(.215, .61, .355, 1)
    }

    .phone-nav-left .menu li {
        cursor: pointer
    }

    .phone-nav-left .menu a {
        display: block;
        margin-right: -1px;
        padding: 20px;
        color: rgba(0, 0, 0, .8);
        cursor: pointer
    }

    .phone-nav-left .menu a:hover {
        color: #f4ad3a;
        text-decoration: none
    }

    .phone-nav-left .menu a i {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        font-size: 22px
    }

    .phone-nav-left .menu-box li {
        width: 210px
    }

    .phone-nav-left .menu li.current a {
        background: #f4ad3a;
        color: #fff;
        text-decoration: none
    }

    .phone-nav-left .menu li.current a:hover {
        text-decoration: none
    }

    .panel-content .sub-menu {
        float: left;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, .08)
    }

    .panel-content .sub-menu .menu-box li:nth-child(2n) {
        background: #fcfcfc
    }

    .phone-nav-left li a {
        display: block;
        padding: 20px 50px;
        border-bottom: 1px solid #f2f2f2;
        color: #888;
        font-size: 12px;
    }


    .phone-nav-left li a i {
        vertical-align: middle;
        margin-top: -1px;
        margin-right: 5px;
    }

    .bg-login.phone-left > div.container, .phone-left footer, .phone-left header, .phone-left section {
        transform: translateX(-300px)
    }

    .bg-login.phone-right > div.container, .phone-right .menu-btn, .phone-right footer, .phone-right header, .phone-right section {
        transform: translateX(275px);
        overflow: hidden;
    }

    .bg-login > div.container {
        -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        transition: all .6s cubic-bezier(.215, .61, .355, 1)
    }

    .menu-btn {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: block;
        width: 64px;
        height: 64px;
        cursor: pointer;
        -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        transition: all .6s cubic-bezier(.215, .61, .355, 1)
    }

    .menu-btn:before {
        position: absolute;
        top: 25px;
        left: 20px;
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: #fff;
        content: '';
        -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        transition: all .6s cubic-bezier(.215, .61, .355, 1)
    }

    .menu-btn:after {
        position: absolute;
        top: 35px;
        left: 20px;
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: #fff;
        content: '';
        -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        transition: all .6s cubic-bezier(.215, .61, .355, 1)
    }

    .menu-btn-left {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        display: block;
        width: 64px;
        height: 64px;
        cursor: pointer;
        -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        transition: all .6s cubic-bezier(.215, .61, .355, 1)
    }

    .menu-btn-left i {
        display: block;
        margin: 15px;
        width: 42px;
        height: 42px;
        color: #FFF;
        font-size: 28px
    }

    .phone-nav {
        position: fixed;
        top: 0;
        right: -300px;
        bottom: 0;
        width: 300px;
        background: #FFFFFF;
        transition: all 0.6s;
        display: block;
        overflow: auto;
    }

    .phone-nav li a {
        display: block;
        padding: 15px 0 15px 60px;
        border-bottom: 1px solid #f2f2f2;
        color: #888;
        font-size: 12px;
        position: relative;
        line-height: 1;
    }

    .phone-nav li.active a {
        color: #f39806;
        font-weight: 600;
    }
    .phone-nav li a span{height:20px;position: absolute; left: 32px; top: 0; bottom: 0; margin: auto;}
    .phone-nav li.dl a {
        color: #fff;
        background: #f4ad3a;
        border-radius: 20px;
        display: inline-block;
        padding: 2px 15px 2px 10px;
        margin-left: 40px;
        margin-top: 10px;
        line-height: 22px;
    }

    .phone-nav li.dl a i {
        color: #FFF;
    }

    .phone-nav li.on a {
        background: #fff
    }

    .phone-nav li i {
        margin-right: 5px;
        color: #999;
        vertical-align: middle;
        margin-top: -2px;
    }

    .phone-nav li a:hover, .phone-nav li.on a {
        color: #000
    }

    .phone-nav-left {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 2;
        left: -275px;
        width: 275px;
        background: #FFF;
        transition: all 0.6s;
    }

    .phone-right .phone-nav-left {
        left: 0px;
    }

    /*.phone-right .phone-nav { right:0px; }*/
    .phone-left .phone-nav-left {
        display: none
    }

    .phone-left .phone-nav {
        right: 0px;
    }

    .phone-nav-left li a {
        position: relative;
        display: block;
        padding: 15px 10px 15px 50px;
        color: #888;
        line-height: 1;
    }

    .phone-nav-left li a span {
        position: absolute;
        height: 20px;
        left: 20px;
        top:0;
        bottom: 0;
        margin:auto;
    }

    .phone-nav-left li.on a {
        background: #fff
    }

    .phone-nav-left li a:hover, .phone-nav-left li.on a {
        color: #000
    }

    .phone-nav-left .sub-nav {
        display: none
    }

    .phone-nav-left li.on .sub-nav {
        display: block
    }

    .phone-nav li.user_c img {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: absolute;
        left: 30px;
        top: 0;
        bottom: 0;
        margin:auto;

    }



    .mob-lang {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    .mob-lang ul {
        padding-left: 50px;
    }

    .mob-lang li {
        float: left;
        border-bottom: none;
        margin-right: 10px;
    }

    .mob-lang li a {
        border: none;
        padding: 0px;
        margin: 0px;
        text-align: center;
        background: none !important;
    }

    .mob-lang li a i {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .mob-lang li.on a i {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    .mob-lang .cn i {
        background: url(../images/guoqi/cn.png) no-repeat;
        background-size: cover;
    }

    .mob-lang .en i {
        background: url(../images/guoqi/en.png) no-repeat;
        background-size: cover;
    }

    .mob-lang .hk i {
        background: url(../images/guoqi/hk.png) no-repeat;
        background-size: cover;
    }
    .mob-lang .jp i {
        background: url(../images/guoqi/jp.png) no-repeat;
        background-size: cover;
    }

    .mob-lang .kr i {
        background: url(../images/guoqi/kr.png) no-repeat;
        background-size: cover;
    }

    .home * {
        -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        -o-transition: all .6s cubic-bezier(.215, .61, .355, 1);
        transition: all .6s cubic-bezier(.215, .61, .355, 1)
    }

    .home .banner {
        padding: 130px 0 220px 0
    }

    .home .banner-box h2 {
        margin-bottom: 25px;
        font-size: 26px
    }

    .home .banner-box p {
        font-size: 12px
    }

    .home .banner-box .other {
        display: block;
        margin-top: 65px;
        padding: 0 20px
    }

    .home .banner-box .other input {
        float: none;
        padding: 12px;
        width: 100%;
        text-align: center
    }

    .home .banner-box .other p {
        float: none;
        margin-top: 50px
    }

    .home .banner-box .other a {
        margin: 0 10px;
        padding: 10px 40px;
        font-size: 12px
    }

    .home .banner-data .box {
        overflow: hidden;
        margin: 0 20px
    }

    .home .banner-data h3 {
        margin-bottom: 20px;
        font-size: 12px;
        margin-top: 10px;
    }

    .home .banner-data p.p1 {
        font-size: 12px
    }

    .home .banner-data p.p1 em {
        font-size: 24px;
        font-weight: bold;
    }

    .home .banner-data p.p2 {
        margin-top: 12px
    }

    .home .banner-data p.p2 em {
        font-size: 14px
    }

    .home .banner-data ul {
        width: 100%;
    }

    .home .banner-data li {
        padding-right: 30px;
        padding-bottom: 10px;
        height: 95px;
        width: 100%;
    }

    .home .banner-data li + li {
        margin: 0
    }

    /*.home .banner-data li .quxian { display:none }*/
    .home .banner-data li .quxian {
        position: absolute;
        top: 50px;
        right: 44px;
    }

    .home .banner-data svg {
        transform: scale(2.4, 1.5);
    }

    .indicators-line > .carousel-indicators {
        display: none;
    }

    .mob-market {
        position: fixed;
        display: block;
        bottom: 20px;
        width: 94%;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        z-index: 9999;
        color: #FFF;
    }

    #mainForm, .panel-content > .content {
        min-width: inherit !important;
    }

    .activity {
        padding: 0
    }

    .activity h2 {
        font-size: 24px
    }

    .activity p.sub {
        margin-bottom: 40px;
        padding: 0;
        line-height: 20px
    }

    .activity .item {
        float: none;
        width: 100% !important
    }

    .activity .c {
        margin: 20px 0
    }

    .advantage {
        padding: 100px 0 60px 0
    }

    .advantage li {
        margin-bottom: 40px !important;
        padding: 0 !important;
        width: 100%
    }

    .advantage li h3 {
        margin: 20px 0 10px 0;
        font-size: 20px
    }

    .advantage li p {
        line-height: 20px
    }

    .safe p {
        font-size: 12px;
        line-height: 20px
    }

    .safe .container {
        padding: 100px 20px
    }

    .safe h2 {
        font-size: 24px
    }

    .safe a {
        padding: 10px 40px;
        font-size: 12px
    }

    .app {
        padding: 100px 0;
        text-align: center
    }

    .app .img {
        float: none;
        display: inline-block;
        margin: 0
    }

    .app .img .l, .app .img .r {
        margin-top: 60px
    }

    .app .img .c {
        width: 52%;
    }

    .app .info {
        float: none
    }

    .app .info h3 {
        font-size: 24px
    }

    .app .info .down {
        margin-top: 30px
    }

    .app .info .down a {
        margin: 0 10px;
        padding: 10px 15px 10px 40px;
        font-size: 12px
    }

    /* FOOTER */
    footer .follow {
        float: none;
        margin-bottom: 40px;
        text-align: center
    }

    footer .follow h3 {
        margin-bottom: 20px
    }

    footer .follow a {
        float: none;
        display: inline-block;
        margin: 0 5px;
        vertical-align: middle
    }

    footer .about {
        float: none;
        margin: 0;
        text-align: center
    }

    footer .about h3 {
        margin-bottom: 15px
    }

    footer .contact {
        float: none;
        margin: 40px 0;
        text-align: center
    }

    footer .contact h3 {
        margin-bottom: 15px
    }

    footer .logo {
        float: none;
        width: 120px
    }

    #mainForm, .panel-content > .content {
        padding: 0 !important;
    }

    .panel-content {
        overflow: visible;
    }

    .panel-content .left {
        top: 0;
        left: -276px;
    }

    .bk-sign-main {
        width: auto;
        margin-top: 125px !important;
    }

    /* ico Home首页 */
    .icohome-banner .info {
        width: 92%;
        margin: 100px auto 0 auto;
    }

    .icohome-banner .info li {
        margin-bottom: 40px;
        width: 100%;
    }

    .icohome-banner .info li.m {
        margin: 0 0 40px 0;
    }

    .exx-ico-app .iphone img {
        width: 80%;
    }

    .exx-ico-team-info .img {
        float: none;
    }

    .exx-ico-team-info .info {
        padding: 40px 40px;
    }

    .exx-ico-team-info .info h3 {
        margin-bottom: 20px;
    }

    .exx-ico-time .left, .exx-ico-time .right {
        width: 100%;
        float: none;
        clear: both;
    }

    .exx-ico-time .btn {
        top: -28px;
        left: 50%;
        margin-left: -100px;
    }

    .exx-ico-time .btn:after {
        border: none;
    }

    .exx-ico-time .ico-progress-bar {
        left: 0;
        right: 0;
    }

    .exx-ico-time .left {
        padding: 80px 20px;
    }

    .exx-ico-time .time-speed .txt {
        width: 50%;
        padding: 18px 15px;
    }

    .exx-ico-time .time-speed {
        bottom: 30px;
    }

    .exx-ico-time .time-speed .txt.txt1, .exx-ico-time .time-speed .txt.txt3 {
        border-left: none;
    }

    .exx-ico-time .time-speed .txt.txt2 + .txt:after {
        display: none;
    }

    .exx-ico-plan .exx-ico-progress-bar .w {
        display: none;
    }

    .exx-ico-plan .exx-ico-progress-bar .txt {
        margin-right: 15px;
        margin-left: 15px !important;
        margin-bottom: 10px;
    }

    .exx-ico-plan .exx-ico-progress-bar .txt:after {
        display: none;
    }

    .exx-ico-team .bt ul {
        margin: 0 30px;
    }

    .exx-ico-team-info .img {
        margin: 0 auto;
    }

    .exx-ico-team .bt li {
        margin: 0 15px !important;
    }

    .exx-ico-app .iphone {
        width: 100px;
    }

    .exx-ico-app .info {
        padding: 50px 0 50px 10px;
    }

    .exx-ico-team {
        padding: 50px 0;
    }

    .exx-ico-white-paper {
        padding: 50px 0;
    }

    .exx-ico-app .info .btn {
        text-align: left;
        padding: 0;
    }

    .exx-ico-app .info .btn a {
        margin-bottom: 20px;
    }

    .exx-ico-app .iphone {
        bottom: 0;
        top: initial;
    }

    .exx-ico-video {
        padding-top: 50px;
    }

    /* 关于我们 */
    .about-nav ul {
        width: 100%;
    }

    .about-nav li {
        width: 96%;
        border-bottom: 1px solid #ddd;
        margin: 20px auto;
        float: none;
    }

    .about-nav li a {
        width: 100%;
    }

    .aboutcont p {
        padding: 0;
    }

    .about-cont2 .piclist img, .about-cont3 .piclist img {
        display: block;
        margin: 10px auto;
        width: 96%;
    }

    /* 帮助中心 */
    .helpshow .container {
        position: relative;
    }

    .helpshow .help-ld {
        position: fixed;
        top: 70px;
        left: -250px;
        width: 250px;
        z-index: 9999999;
        float: none;
        padding-right: 0;
        display: block;
        transition: all 0.5s;
    }

    .helpshow .help-ld .rightbtn {
        display: block;
    }

    .helpshow .help-ld.out {
        left: 0px;
    }

    .helpshow .help-rd {
        width: 100%;
    }

    .helpshow .help-ld .help-ldlist {
        background: rgba(255, 255, 255, 0.95) !important;
    }

    .helpshow .help-ld .rightbtn {
        border: 1px solid #eee;
        height: 42px;
        width: 42px;
        background: rgba(255, 255, 255, 0.95);
        line-height: 42px;
        text-align: center;
        display: block;
        position: absolute;
        top: 0px;
        right: -42px;
        cursor: pointer;
    }

    .helpshow .help-ld .rightbtn i {
        font-size: 20px;
    }

    .helpshow .help-ld .rightbtn i.icon-jiantouleft {
        font-size: 16px;
        display: none;
    }

    .helpshow .help-ld.out i.icon-jiantouleft {
        display: block;
    }

    .helpshow .help-ld.out i.icon-liebiao {
        display: none;
    }

    /** 内页框架 **/
    .s-user header.inner-header .logo, header .logo {
        width: 100px !important;
        margin: 0px auto !important;
        float: none;
    }

    #mainForm, .panel-content > .content {
        width: 100% !important;
    }

    .pd-fff {
        padding: 20px 10px;
        width: 100%;
        overflow-x: scroll;
    }

    .breadcrumb {
        padding: 8px 0px !important;
    }

    .fill-dizhi .fill-dizhi-con {
        padding: 30px 5% !important;
    }

    .user-card .user-info .avatar {
        margin: 20px 20px 20px 0px !important;
    }

    .user-card .user-info .info {
        padding: 15px 0;
    }

    .user-card .user-info .info > div {
        font-size: 24px;
        margin-top: -13px;
    }

    .user-card .user-info .info > div.user-memo {
        padding-top: 0px;
        line-height: 38px;
        font-size: 24px;
    }

    .user-card .user-info .info div.user-name, .user-card .user-info .info > div {
        font-size: 14px;
    }

    .user-card .user-info .info > div.tips-coin {
        font-size: 12px;
    }

    .user-card .user-info .actions-group {
        width: 70%;
    }

    .user-card .user-info .info div.user-name {
        margin-bottom: 6px;
        display: none !important;
    }

    .modal-container {
        width: 96% !important;
    }

    .user-card .user-info a.abtn span {
        display: none;
    }

    .user-card .user-info a.abtn i {
        margin-right: 0 !important;
    }

    .user-card .user-info {
        height: 120px;
    }

    .user-card .netasset {
        margin-right: 20px !important;
        margin-left: -10px !important;
    }

    .user-card .assets-info {
        border-top: 1px solid #eee;
        margin-top: 40px;
    }

    .user-card .assets-chart {
        float: left !important;
        margin-right: 25px !important;
    }

    .user-card .text {
        float: left !important;
        text-align: left !important;
    }

    .exx-modal-container {
        padding-top: 44px;
        width: 100% !important;
        border-radius: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .exx-coin-info {
        padding-bottom: 70px !important;
    }

    .exx-modal-container .choice-addr,
    .exx-modal-container .exx-tab-panel {
        width: auto !important;
    }

    .exx-prompt {
        padding: 15px 10px;
    }

    .account-all {
        padding: 15px;
    }

    .account-all .ld {
        width: 100%;
    }

    .account-all .ld .accout-num {
        width: 100%;
        text-align: left;
    }

    .account-all .ld .s-bd.user-info .tips-coin {
        margin: 0px;
        position: absolute;
        top: 16px;
        right: -6px;
    }

    .account-all .ld .add-account {
        position: absolute;
        top: -87px;
        right: -12px;
    }

    .account-all .ld .s-bd.user-info {
        clear: both;
        display: block;
        position: relative;
        margin-top: 10px;
    }

    .account-all .rd a {
        margin: 10px 10px;
    }

    .account-all .rd {
        margin-top: 15px;
        margin-right: -10px;
    }

    .account-all .rd .onffflist, .account-all .rd .iconlist {
        float: left;
    }

    /* 账号表格 */
    .user-assets .tbody div.tr {
        position: relative;
    }

    /*.user-assets .th:first-child, .user-assets .td:first-child { position: absolute; top:0; left:0; }*/
    .user-assets .cointTag {
        position: absolute !important;
        z-index: 99;
        padding-left: 10px !important;
        width: 130px !important;
        background: #FFF;
    }

    .user-assets .total {
        width: 20% !important;
    }

    .user-assets .tbody div.tr {
        padding-left: 120px;
        margin-left: 120px !important;
    }

    .user-assets .cointTag .act {
        font-size: 12px;
        margin-top: -14px;
    }

    .user-assets .total .cell {
        margin-left: 120px;
    }

    .user-assets .td .cell {
        height: 60px;
        font-size: 14px;
    }

    .user-assets .td .cell {
        line-height: 32px;
    }

    .user-assets .progress-text {
        top: -15px !important;
    }

    /* 注册 */
    .bk-sign-header{padding: 20px 20px 0 20px;}
    .bk-sign-header h3{font-size: 16px;}
    .bk-sign-form{padding: 0 20px 20px 20px}
    #logBox.bk-sign-main {
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 !important;
        border-radius: 0 !important;
        overflow-y: auto;
    }
    .bk-sign-form .exx-form-group{margin-top: 20px !important;}
    .exx-form-group .exx-alert{top: 44px !important;}
    /* 行情按钮入口 */
    .mob-market-w {
        display: block;
        z-index: 999;
        position: fixed;
        width: 42px;
        height: 42px;
        background: rgba(35, 39, 49, 0.9);
        color: #FFF;
        border: 1px solid rgba(255, 255, 255, 0.9);
        border-radius: 100%;
        right: 10px;
        bottom: 80px;
        overflow: hidden;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    .mob-market-w i.icon-market {
        margin: 6px 0px 0px 6px;
        display: block;
        position: relative;
    }

    .mob-market-w i.icon-market:before, .mob-market-w i.icon-market:after {
        width: 26px;
        height: 26px;
        display: block;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 2;
    }

    .mob-market-w i.icon-market:after {
        z-index: 4;
    }

    .mob-market-w i.icon-market:before {
        background: url(../images/home/leftmenu-icon-m-2-1-w.png);
        background-size: cover;
    }

    .mob-market-w i.icon-market:after {
        background: url(../images/home/leftmenu-icon-m-2-2-w.png);
        background-size: cover;
    }

    .mob-market-w i.icon-market:before {
        animation: iconflashn3n 5s infinite;
        -moz-animation: iconflashn3n 5s infinite;
        -webkit-animation: iconflashn3n 5s infinite;
        -o-animation: iconflashn3n 5s infinite;
    }

    .mob-market-w i.icon-market:after {
        animation: iconflashn4n 5s infinite;
        -moz-animation: iconflashn4n 5s infinite;
        -webkit-animation: iconflashn4n 5s infinite;
        -o-animation: iconflashn4n 5s infinite;
    }

    @keyframes iconflashn3n {
        0% {
            opacity: 0.5;
            transform: scale(0.5, 0.5);
            top: -5px;
        }
        20% {
            opacity: 0.8;
            transform: scale(1, 1);
            top: 0;
        }
    }
    @-moz-keyframes iconflashn3n {
        0% {
            opacity: 0.5;
            -moz-transform: scale(0.5, 0.5);
            top: -5px;
        }
        20% {
            opacity: 0.8;
            -moz-transform: scale(1, 1);
            top: 0;
        }
    }
    @-webkit-keyframes iconflashn3n {
        0% {
            opacity: 0.5;
            -webkit-transform: scale(0.5, 0.5);
            top: -5px;
        }
        20% {
            opacity: 0.8;
            -webkit-transform: scale(1, 1);
            top: 0;
        }
    }
    @-o-keyframes iconflashn3n {
        0% {
            opacity: 0.5;
            -o-transform: scale(0.5, 0.5);
            top: -5px;
        }
        20% {
            opacity: 0.8;
            -o-transform: scale(1, 1);
            top: 0;
        }
    }

    @keyframes iconflashn4n {
        0% {
            opacity: 0.5;
            transform: scale(0.5, 0.5);
            top: 15px;
        }
        20% {
            opacity: 0.8;
            transform: scale(1, 1);
            top: 0;
        }
    }
    @-moz-keyframes iconflashn4n {
        0% {
            opacity: 0.5;
            -moz-transform: scale(0.5, 0.5);
            top: 15px;
        }
        20% {
            opacity: 0.8;
            -moz-transform: scale(1, 1);
            top: 0;
        }
    }
    @-webkit-keyframes iconflashn4n {
        0% {
            opacity: 0.5;
            -webkit-transform: scale(0.5, 0.5);
            top: 15px;
        }
        20% {
            opacity: 0.8;
            -webkit-transform: scale(1, 1);
            top: 0;
        }
    }
    @-o-keyframes iconflashn4n {
        0% {
            opacity: 0.5;
            -o-transform: scale(0.5, 0.5);
            top: 15px;
        }
        20% {
            opacity: 0.8;
            -o-transform: scale(1, 1);
            top: 0;
        }
    }


    /* 交易页面 */
    #trade-index {
        height: auto
    }

    #trade-main {
        position: relative;
        padding: 0 10px;
        margin-right: 0;
        height: auto;
    }

    /*.trade-sidebar .user-info { display: none; }*/
    .trade-sidebar {
        width: 100%;
        padding: 0 10px;
        position: relative;;
    }

    #trade-main .chart-wrap {
        margin: 0;
        height: auto;
    }

    #trade-main .chart-kline {
        height: 300px;
    }

    #trade-main .stock-data {
        padding-top: 0;
        width: 100%;
        position: relative;
    }

    #trade-main .entrust {
        height: auto;
        margin-bottom: 8px;
        padding-bottom: 44px;
    }

    #trade-main .disk-box {
        height: 300px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .market-info.is-active .line-chart-wrap {
        display: block;
    }

    .icon-jisuanqi {
        display: none;
    }

    .trade-page .mob-market-w {
        display: none;
    }

    .entrust-record {
        overflow-x: scroll;
    }

    .entrust-record table {
        min-width: 800px;
    }

    /* 首页 */
    .home-page {
        height: auto !important;
    }

    .home-page .bs-slider {
        height: 100vh;
    }

    .home .banner-data {
        position: relative;
        margin-top: -100px;
        background: #000000;
        margin-bottom: 30px;
        padding: 15px 0px;
    }

    .home .banner-data li {
        width: 100%;
        border-bottom: 1px solid #222;
    }

    .home .banner-data h3 {
        display: block;
        margin-right: 15px;
    }

    .home .banner-data p.p1 {
        display: block;
        margin-right: 15px;
    }

    .home .banner-data p.p2 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
    }

    .home .banner-data h3 em {
        position: relative;
    }

    .exx-modal-wrap {
        background-color: #fff;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        left: auto !important;
        top: auto !important;
        transform: none !important;
    }

    .trade-page .exx-modal-wrap {
        background-color: #262b35;
    }

    .control-round .carousel-control {
        z-index: 98 !important;
    }

    .s-user .panel-content {
        padding: 0;
        margin: 0;
    }

    .card-body {
        overflow-x: scroll;
    }

    .vue-grid {
        min-width: 1250px;
    }

    .exx-modal-header {
        padding: 15px 0 !important;
        position: fixed !important;
        top: 63px;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .exx-modal-header img {
        top: 12px !important;
        width: 26px !important;
        left: 14px !important;
    }

    .exx-modal-header h3 {
        font-size: 14px !important;
    }

    .exx-modal-wrap .closebutton {
        position: fixed !important;
        top: 70px !important;
        right: 10px !important;
        z-index: 101 !important;
    }

    .exx-tab {
        padding: 25px 0 !important;
    }

    .exx-tab li {
        font-weight: normal !important;
        padding: 8px 20px !important;
    }

    .exx-table table th {
        padding: 12px 0px;
    }

    .exx-table table td {
        padding: 15px 0px;
    }

    .exx-table table thead tr th:first-child,
    .exx-table table tbody tr td:first-child {
        padding-left: 8px;
    }

    .exx-table table thead tr th:last-child,
    .exx-table table tbody tr td:last-child {
        padding-right: 8px;
    }

    .exx-table table td:first-child img {
        margin-right: 5px;
    }

    .exx-payin-box img {
        width: 140px !important;
    }

    .exx-modal-header .iconfont {
        top: 10px !important;
        left: 12px !important;
        font-size: 20px !important;
    }

    .exx-payin-box .addr p {
        float: none;
    }

    .exx-payin-box .addr p:nth-child(1) {
        float: none !important;
        background: none !important;
    }

    /* 创建子账户 */
    .exx-account-avatar {
        height: 90px !important;
        margin-bottom: 0px !important;
    }

    .exx-account-avatar .scrolllist {
        width: 100% !important;
        height: auto !important;
    }

    .exx-account-avatar a.aleft, .exx-account-avatar a.aright {
        display: none !important;
    }

    .exx-account-avatar .avatar {
        width: 36px !important;
        height: 36px !important;
    }

    .exx-account-avatar .scrolllist .imglist_w {
        height: 90px !important;
    }

    .exx-account-avatar .scrolllist .imglist_w ul {
        width: 100% !important;
        position: relative !important;
    }

    .exx-account-avatar .scrolllist .imglist_w li {
        height: 36px !important;
        margin-bottom: 10px !important;
    }

    .exx-account-avatar .scrolllist .imglist_w li:after {
        height: 36px !important;
        width: 36px !important;
    }

    /* 聊天按钮 */
    .webchat-r {
        display: none;
    }

    .webchat-r.mob-webchat {
        width: 42px;
        height: 42px;
        background: rgba(35, 39, 49, 0.9);
        border: 1px solid rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        display: block;
        position: fixed;
        right: 10px;
        bottom: 20px;
        z-index: 999;
        display: block;
    }

    .webchat-r.mob-webchat a {
        padding: 7px;
        border-left: none;
        height: auto;
    }

    .webchat-r.mob-webchat a i {
        font-size: 26px;
        color: #ddd;
        width: 26px;
        height: 26px;
        background: url(../images/icon/icon-webchat-w.png);
        background-size: cover;
        opacity: 0.8;
    }

    .webchat-r.mob-webchat a span.newnum {
        top: -5px;
        right: -5px;
    }

    .panel-nav.logo {
        display: block;
    }

    .panel-nav.logo a {
        padding: 0;
        margin: 0;
    }

    .panel-nav.logo span.weblan {
        display: none;
    }

    .panel-nav.logo:after {
        display: none;
    }

    .bs-slider {
        position: relative !important;
    }

    /* 聊天窗口兼容 */
    body.chat-open, .chat-open .bg-login section {
        padding-right: inherit !important;
    }

    .exx-msg {
        width: 350px !important;
    }

    /* 弹出窗 */
    .exx-modal-mask {
        padding-top: 63px;
    }

    /*.exx-modal-body { max-height:420px; overflow-y:scroll;  }*/
    /*  弹出窗--安全设置 */
    .exx-safe-panel .exx-line .tit {
        width: 100% !important;
        display: block;
        text-align: left !important;;
    }

    .exx-safe-panel .exx-line .tit {
        border-bottom: 1px dotted #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .exx-safe-panel .exx-line .con ul li + li {
        margin-left: 0 !important;
    }

    .exx-safe-panel .exx-line .con ul li {
        margin-right: 20px;
    }

    .exx-safe-panel .exx-line .con ul li.jia {
        display: block;
        margin: 15px 0;
        text-align: left;
        font-size: 16px;
    }

    /* 小屏取消滚动区 */
    .trade-sidebar { /* overflow: auto !important;*/
    }

    .user-card .onffflist {
        display: none;
    }

    .actions-btn-childlogin {
        display: inline-block;
    }

    /* 推荐人小屏 */
    .recommend-cont .recommend-hd.exx-pd30 {
        padding: 20px !important;
    }

    .recommend-cont .recommend-hd img.exx-floatleft {
        float: none !important;
        margin: 0px auto;
        display: block;
    }

    .recommend-cont .recommend-info {
        width: 100%;
        margin-left: 0px;
        padding-top: 10px;
    }

    .recommend-cont .recommend-note .exx-floatleft {
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    .recommend-cont .recommend-note .exx-floatright {
        width: 100%;
        padding: 0px;
    }

    .recommend-cont .exx-record {
        width: 100%;
        overflow-x: scroll
    }

    .recommend-cont table {
        min-width: 800px;
    }

    .recommend-cont #copy_url {
        display: none;
    }

    .recommend-cont .mobbtntext {
        display: block;
        color: #FFF;
        background: #fba81c;
        border-radius: 30px;
        padding: 9px 12px !important;
        text-align: center;
    }

    /*.pc-btn-copy { display: none !important; }*/
    .pc-btn-copy {
        display: block;
        width: 100%;
    }

    .exx-font18.exx-mob-add {
        font-size: 14px !important;
    }

    /* 弹出窗适配 */
    .exx-modal-body img.exx-floatleft {
        float: none !important;
        margin: 0px auto !important;
        display: block;
    }

    .exx-light .exx-account-avatar {
        padding: 30px 0 !important;
    }

    .exx-light .exx-form-box {
        padding: 0px !important;
        margin-top: 30px;
    }

    .mobbtntext {
        display: block;
    }

    .exx-payin-box {
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .exx-payin-box p#payinaddress {
        font-size: 12px;
        border: 1px solid #f2f3f5;
    }

    .exx-payin-box .addr {
        overflow: visible !important;
        overflow: visible;
        border: none !important;
    }

    .exx-payin-box .addr .exxbtn {
        float: none;
        margin: 10px 0 0 0 !important;
    }

    #payin .exx-table {
        width: 100% !important;
        overflow-x: scroll;
    }

    #payin .exx-table table {
        min-width: 1000px;
    }

    .exx-table table.modal-bills {
        min-width: 640px;
    }

    .bill-w .exx-table {
        overflow-x: scroll;
        width: 100%;
    }

    .bill-w .exx-tab li {
        padding: 10px 0px;
        text-align: center;
        min-width: 20%;
    }

    .payoutshow {
        width: 100% !important;
    }

    .payoutshow .exx-table, .payoutshow .exx-record, .exx-record.exx-table {
        width: 100%;
        overflow-x: scroll;
    }

    .payoutshow .exx-table table {
        min-width: 600px;
    }

    .exx-record.exx-table table {
        min-width: 1000px;
    }

    .exx-account-transfer {
        padding: 30px 40px !important;
    }

    .exx-account-transfer .text-arrow {
        left: 50% !important;
        margin-left: -22px;
        right: auto !important;
    }

    /* 模拟交易大赛 */
    .million-content .bottext {
        width: 100%;
        margin: 0;
        left: 0;
        padding-top: 20px;
    }

    .million-content .bottext span {
        font-size: 24px;
        margin: 10px 5px;
    }

    .million-content .bottext a {
        display: block;
        margin-top: 30px;
    }

    .million-banner h1 {
        font-size: 36px;
    }

    .million-content .accoutlist {
        width: 100%;
        margin: 30px auto 80px auto
    }

    .million-content .snote {
        margin-bottom: 50px !important;
    }

    .million-content .accoutlist a img {
        width: 42px;
        height: 42px;
    }

    .million-content .accoutlist li {
        margin: 0 10px !important;
    }

    .million-content .accoutlist p {
        margin-bottom: 20px;
    }

    .million-content .btnlist a {
        margin: 0 10px !important;
        width: 142px !important;
        font-size: 16px !important;
    }

    .million-step2 .marketlist {
        width: 90%;
        margin: 0px auto;
    }

    .million-step2 .marketlist li {
        width: 46% !important;
        margin: 5px 2% !important;
        height: 60px !important;
        line-height: 60px !important;
    }

    .million-step2 .marketlist li .left-m {
        position: relative !important;
        left: auto !important;
        top: auto !important;
    }

    .million-step2 .marketlist li i.iconfont {
        line-height: 20px;
    }

    .million-step3 li input {
        margin-bottom: 15px !important;
    }

    .million-step3 .coinlist li {
        width: 90% !important;
        margin: 0px 10px !important;;
        height: 70px !important;;
        margin-bottom: 20px !important;
        padding-top: 15px !important;
    }

    .million-step3 li span {
        display: inline-block !important;;
        font-size: 18px !important;;
    }

    .million-step3 li input {
        width: 40% !important;
        display: inline-block !important;
        margin-right: 10px !important;
    }

    .million-step3 .coinlist li span:first-child {
        width: 35% !important;
        text-align: left !important;;
        margin-left: -30px !important;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 300px;
        border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
        border-radius: 10px; /*将轨道设为圆角的*/
        background: #aaa;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        margin-top: -2px; /*使滑块超出轨道部分的偏移量相等*/
        background: #ffffff;
        border-radius: 50%; /*外观设置为圆形*/
        border: solid 1px rgba(100, 100, 100, 1); /*设置边框*/

    }

    /* 新手指导 */
    .exx-tech .exx-tech-piclsit {
        width: 96% !important;
        margin: 0px auto;
    }

    .exx-tech .exx-tech-piclsit img {
        width: 100%;
    }

    .exx-tech .exx-tech-banner h3 {
        font-size: 32px !important;
    }

    .exx-tech .exx-tech-banner h4 {
        font-size: 24px !important;
    }

    .mobile_entrust {
        background: #282d38;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .mobile_entrust * {
        font: inherit;
        line-height: 1;
        padding: 0;
        margin: 0;
        font-style: normal;
    }
    .mobile_entrust_hd{display: flex;justify-content:space-between;background: #191e21; padding: 10px !important;color: #7b8297 !important;}
    .mobile_entrust_item{border-bottom: 1px solid rgba(255,255,255,.05) !important;color: #858da3 !important;}
    .mobile_entrust_item .line {display: flex;align-items:center;justify-content:space-between;padding:10px;}
    .mobile_entrust_item .hd .line:nth-child(2){padding-top: 0;}
    .mobile_entrust_item .line .info{display: flex;align-items:center;}
    .mobile_entrust_item .line .type{margin: 0 5px;font-size: 11px;}
    .mobile_entrust_item .line .time{margin-right: 10px;}
    .mobile_entrust_item .number{color: #b8bfd2;}
    .mobile_entrust_item .number span{color: #858da3;;margin-right: 3px;display: inline-block;}
    .mobile_entrust_item .number em{color: #858da3;display: inline-block;margin-left: 3px;}
    .mobile_entrust_item .line .state.no{color: rgba(255,255,255,.3);}
    .mobile_entrust_item .line .state a{color: #f39806;display: inline-block;margin-left: 3px;}
    .mobile_entrust_item .bd{display: flex;justify-content:space-between;padding:0 10px 10px 10px;}


.mobile_entrust_item_more {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px 0;
    color: #858da3 !important;
}
.mobile_entrust_item_more i {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #666d7e;
    position: relative;
    margin-right: 3px;
}
.mobile_entrust_item_more i:before, .mobile_entrust_item_more i:after {
    content: "";
    display: block;
    position: absolute;
    background: #666d7e;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mobile_entrust_item_more i:before {
    width: 8px;
    height: 1px;
}
.mobile_entrust_item_more i:after {
    width: 1px;
    height: 8px;
}
.mobile_entrust_item .red {
    color: #e83057 !important;
}
.mobile_entrust_item .green {
    color: #31C871 !important;
}
}