@media (max-width:767px) {
    #user-index {
        padding-top: 80px;
    }

    .mobile {
        font: 12px/1 "arial", "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", "tahoma", "宋体";
    }

    .mobile * {
        font: inherit;
        color: inherit;
        outline: 0;
        border: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mobile a {
        text-decoration: none;
    }

    .user_center_head {
        background: #232731;
        position: fixed;
        left: 0;
        right: 0;
        top: 63px;
        z-index: 30;
    }

    .user_center .tab {
        overflow: hidden;
    }

    .user_center .tab p {
        float: left;
        width: 50%;
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        color: #fff;
    }

    .user_center .tab p.active {
        color: #fba81c;
        border-bottom-color: #fba81c;
    }

    .user_center .all {
        background: #fff;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .06);
    }

    .user_center .all .verification {
        border-bottom: 1px solid rgba(0, 0, 0, .03);
        padding: 10px 0;
        display: -webkit-flex;
        display: flex;
    }

    .user_center .all .verification p {
        flex: 1;
        display: -webkit-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .user_center .all .verification p i {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 50%;
        font-size: 14px;
        color: #666;
    }

    .user_center .all .verification p span {
        margin-top: 5px;
        color: #888;
        display: block;
    }

    .user_center .all .verification p.on i {
        color: #fff;
        border-color: #fba81c;
        background: #fba81c;
    }

    .user_center .all .info {
        padding: 20px;
    }

    .user_center .all .info h3 {
        margin-bottom: 10px;
        color: #555;
    }

    .user_center .all .info p {
        font-size: 26px;
        font-weight: bold;
    }

    .user_account_list {
        padding: 10px;
    }

    .user_account_item {
        background: #fff;
        border-radius: 3px;
        border: 1px solid #f0f0f0;
        margin-bottom: 10px;
    }

    .user_account_item .head {
        padding: 20px 10px;
        position: relative;
    }

    .user_account_item .head .user_info {
        position: relative;
        padding-left: 50px;
    }

    .user_account_item .head .user_info .avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .user_account_item .head .user_info .avatar img {
        border-radius: 50%;
    }

    .user_account_item .head .user_info .avatar .gray-mask {
        position: absolute;
        line-height: 40px;
        font-weight: normal;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .user_account_item .head .user_info h3 {
        font-size: 14px;
        font-weight: bold;
    }

    .user_account_item .head .user_info .oper {
        margin-top: 8px;
    }

    .user_account_item .head .user_info .oper a {
        display: inline-block;
        border: 1px solid #e5e5e5;
        color: #888;
        padding: 2px 3px;
        border-radius: 2px;
    }

    .user_account_item .head .capital_info {
        position: absolute;
        right: 12px;
        top: 24px;
        text-align: right;
    }

    .user_account_item .head .capital_info h3 {
        margin-bottom: 8px;
        color: #888;
    }

    .user_account_item .head .capital_info p {
        font-size: 16px;
        font-weight: bold;
        color: #555;
    }

    .user_account_item .head .capital_info p span {
        font-size: 12px;
        margin-right: 3px;
        color: #888;
    }

    .user_account_item .user_account_info .item {
        overflow: hidden;
        padding: 15px 10px;
        border-top: 1px solid #eee;
        position: relative;
    }

    .user_account_item .user_account_info .item.active {
        background: #fffaf1;
    }

    .user_account_item .user_account_info .item.hide-coin {
        background: #fafafa;
    }

    .user_account_item .user_account_info .item .coinname {
        float: left;
        position: relative;
        padding-left: 26px;
        width: 70px;
    }

    .user_account_item .user_account_info .item .coinname img {
        width: 20px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .user_account_item .user_account_info .item .coinname h3 {
        font-weight: bold;
        color: #555;
    }

    .user_account_item .user_account_info .item .total {
        float: left;
        margin-left: 15px;
        font-weight: bold;
        color: #555;
    }

    .user_account_item .user_account_info .item .total span {
        color: #888;
        font-weight: normal;
    }

    .user_account_item .user_account_info .item .arrow {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid #b5b5b5;
        border-right: 1px solid #b5b5b5;
        transform: rotate(45deg);
    }

    .user_account_item .user_account_info .item.active .arrow {
        transform: rotate(225deg);
    }

    .user_account_item .user_account_info .item .add_coin {
        position: absolute;
        right: 0;
        top: 5px;
        bottom: 5px;
        width: 38px;
    }

    .user_account_item .user_account_info .item .add_coin span {
        display: block;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }

    .user_account_item .user_account_info .item .add_coin span:before, .user_account_item .user_account_info .item .add_coin span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background: #ccc;
    }

    .user_account_item .user_account_info .item .add_coin span:before {
        width: 8px;
        height: 1px;
    }

    .user_account_item .user_account_info .item .add_coin span:after {
        width: 1px;
        height: 8px;
    }

    .user_account_item .user_account_info .item_box {
        padding: 20px;
        position: relative;
    }

    .user_account_item .user_account_info .item_box li {
        margin-bottom: 15px;
        color: #555;
    }

    .user_account_item .user_account_info .item_box li span {
        color: #888;
        display: inline-block;
        width: 50px;
        text-align: right;
    }

    .user_account_item .user_account_info .item_box .account_progress {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .user_account_item .user_account_info .item_box .account_progress p {
        margin-top: 8px;
        color: #888;
        text-align: center;
    }

    .user_account_item .user_account_info .item_box .item_box_btn {
        text-align: center;
        padding-top: 10px;
    }

    .user_account_item .user_account_info .item_box .item_box_btn a {
        display: inline-block;
        border-radius: 30px;
        border: 1px solid #d5d5d5;
        color: #a5a5a5;
        padding: 5px 15px;
        margin: 0 3px;
    }

    .user_account_item .user_account_info .item_box .item_box_btn a.payinbtn {
        background: #fba81c;
        border: 1px solid #fba81c;
        color: #fff;
    }

    .user_account_item .user_account_info .more {
        border-top: 1px solid #eee;
        padding: 10px 0;
        text-align: center;
    }

    .user_account_item .user_account_info .more a {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: 1px solid #dadada;
        border-radius: 50%;
    }

    .user_account_item .user_account_info .more a:after {
        content: "";
        display: block;
        margin: 5px 0 0 6px;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid #b5b5b5;
        border-right: 1px solid #b5b5b5;
        transform: rotate(45deg);
    }

    .user_account_item .user_account_info .more.show-hide {
        background: #fafafa;
    }

    .user_account_item .user_account_info .more.show-hide a {
        background: #fff;
    }

    .user_account_item .user_account_info .more.show-hide a:after {
        transform: rotate(225deg);
        margin-top: 8px;
    }

    .user_account_list .add_account {
        border-radius: 3px;
        background: #fff;
        padding: 15px;
        border: 1px dashed #ddd;
        text-align: center;
    }

    .user_account_list .add_account i {
        font-size: 30px;
        color: #555;
        position: relative;
        top: -2px;
        margin-right: 5px;
    }

    .user_account_list .add_account .text {
        display: inline-block;
        text-align: left;
    }

    .user_account_list .add_account h4 {
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
    }

    .user_account_list .add_account p {
        color: #bbb;
    }

    .user_center .circular-progress-inner {
        margin: 0 auto;
        position: absolute;
    }

    .mobile_bill{padding-top: 77px;}
    .mobile_bill .mobile_bill_head{padding: 20px 0 10px 0;background:#fff;z-index:1;position: fixed;top:63px;left:0; width:100%;border-bottom: 1px solid #eee; text-align: center;}
    .mobile_bill .mobile_bill_head img{width: 35px;position: absolute; left: 20px;top: 20px;}
    .mobile_bill .mobile_bill_head h3{font-size: 14px; font-weight: bold;}
    .mobile_bill .mobile-bill_head .tab{position: relative;}
    .mobile_bill .mobile_bill_head .tab p{display: inline-block; padding: 10px 8px 10px 0;color: #555;position: relative;}
    .mobile_bill .mobile_bill_head .tab p:after{content: "";display: block; width: 0; height: 0;position: absolute; right: 0; bottom: 0; top: 0; margin: auto; border-left: 3px solid transparent;border-right: 3px solid transparent;border-top: 3px solid #999;}
    .mobile_bill .mobile_bill_head.open .tab p{color: #fba81c !important;}
    .mobile_bill .mobile_bill_head.open .tab p:after{border-top: 3px solid #fba81c;transform: rotate(180deg);}
    .mobile_bill .mobile_bill_head .tab ul{padding-top: 10px;display: none;}
    .mobile_bill .mobile_bill_head .tab ul li{padding-bottom: 10px;}
    .mobile_bill .mobile_bill_head .tab ul li a{display: inline-block;padding: 5px 10px;border: 1px solid #dadada;border-radius: 3px;color: #999;}
    .mobile_bill .mobile_bill_head .tab ul li.on a{border: 1px solid #fba81c;color: #fba81c;}
    .mobile_bill .mobile_bill_head.open .tab ul{display: block;}

    .mobile_bill .mobile_bill_list .item{padding: 15px 20px;border-bottom: 1px solid #eee;position: relative;}
    .mobile_bill .mobile_bill_list .item p.type{margin-bottom: 10px;}
    .mobile_bill .mobile_bill_list .item p.time{color: #999;}
    .mobile_bill .mobile_bill_list .item p.amount{position: absolute; right: 20px;top:15px;font-weight: bold;}

    .mobile_bill.dark .mobile_bill_head{background: #181b22;border-bottom: 1px solid rgba(255,255,255,.1);}
    .mobile_bill.dark .mobile_bill_head .tab p{color: rgba(255,255,255,.7);}

    .mobile_bill_list .mobile_entrust_item{padding: 5px 0;}
    .mobile_bill_list .no-items,
    .mobile_entrust_list .no-items {
        color: #7b8297;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

}