$font_family: 'Microsoft YaHei';   //公用主题
$theme_color: #B88B00;   //全站主题色
$trade_background_theme: #130E00;  //交易页面 背景色
$trade_bottom_color: #202020;   //交易页面 最底层 颜色
$white_font_opacity: #D8D8D8;  //交易页面 主要字体  白色0.7透明度
$buyColor: #32c39f;
$sellColor: #ff5353;
$trade_list_title: #1D1816;
$trade_input_background: #463C37;
$trade_nodata: #596474;
$scollor_color: #322B27;

$home_color: #FFBE3F; // 首页主要字体颜色


