body.trading-dark {
    background: #1f2228 !important;
}
.corW {
    color: #fff;
}

.corY {
    color: #ff9d11;
}

.buyColor {
    color: #d6435b;
}

.buyBgColor {
    background: #d6435b;
}

.sellColor {
    color: #41986c;
}

.sellBgColor {
    background: #41986c;
}

#asksWrap .amountColor {
    color: #41986c;
}

#bidsWrap .amountColor {
    color: #d6435b;
}

.tradeNew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 52px;
}
.tradeNew a {
    text-decoration: none;
}

.common-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #262830;
}

.tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab li {
    color: #ababbb;
    padding: 8px 10px;
    cursor: pointer;
}

.tab li:hover {
    color: #fff;
}

.tab li.on {
    color: #ff9d11;
    background: #262830;
}

.l-area, .r-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.common-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.common-select + .common-select {
    margin-left: 10px;
}

.common-select p {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 5px;
    color: #ababbb;
}

.common-select a {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 37px;
    height: 18px;
    border-radius: 30px;
    position: relative;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    overflow: hidden;
    background: #424352;
}

.common-select a:after {
    content: "";
    display: block;
    background: #fff;
    margin: 3px 0 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.common-select a.on {
    background: #ff9d11;
}

.common-select a.on:after {
    margin-left: 22px;
}

.tradeNew-table .tr.add {
    display: none
}

.tradeNew-table .tr.remove {
    opacity: 0.4;
}

.chartEntrust-area {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.chart-area {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.chart-box {
    position: relative;
    overflow: hidden
}

.chart-area.full .chart-box {
    position: fixed;
    left: 0;
    right: 52px;
    top: 52px;
    bottom: 0;
    z-index: 10;
}

.chart-box-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #353741;
}

.chart-box-head .line {
    width: 1px;
    height: 10px;
    margin: 0 10px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background: #6c7282;
}

.chart-box-head .item {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
}

.chart-box-head .item > p {
    display: block;
    padding: 8px;
    cursor: pointer;
    color: #ababbb;
}

.chart-box-head .item:hover > p {
    color: #fff;
}

.chart-box-head .item.arrow > p:after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    height: 0;
    width: 0;
    border: 3px solid transparent;
    border-top-color: currentColor;
}

.chart-box-head .item > p span {
    color: #ff9d11;
}

.chart-box-head .item p.active {
    color: #ff9d11;
}

.chart-box-head .item .item-list {
    overflow: hidden;
    position: absolute;
    left: 0;
    min-width: 100%;
    white-space: nowrap;
    display: none;
    z-index: 2;
    background: #1c1f25;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.chart-box-head .item .item-list li {
    padding: 10px;
    cursor: pointer;
    color: #ababbb;
}

.chart-box-head .item .item-list li:hover {
    color: #fff;
    background: #353541;
}

.chart-box-head .item .item-list li.active {
    color: #ff9d11;
}

.chart-box-head .item .item-list.more li {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    background: none !important;
}

.chart-box-head .item .item-list.more li:hover {
    color: #ababbb;
}

.chart-box-head .item .item-list.more li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.chart-box-head .item .item-list.more li a {
    color: #ababbb;
}

.chart-box-head .item .item-list.more li a:hover {
    color: #fff;
}

.chart-box-head .item .item-list.more li a.selected {
    color: #ff9d11;
}

.chart-box-head .item .item-list.more li p {
    width: 65px;
}

.chart-box-head .item .item-list.more li a + a {
    margin-left: 10px;
}

.chart-box-head .item:hover .item-list {
    display: block;
}

.chart-area .chart-box-head .full-screen {
    padding: 0 5px 0 10px;
    height: 32px;
}

.chart-area .chart-box-head .full-screen a {
    display: block;
    height: 100%;
    position: relative;
    padding: 10px 15px 0 0;
}

.chart-area .chart-box-head .full-screen a:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border: 1px solid currentColor;
    right: 0;
    top: 10px;
    z-index: 1;
}

.chart-area.full .chart-box-head .full-screen a:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid currentColor;
    right: 0;
    top: 10px;
}

.chart-area.full .chart-box-head .full-screen a:after {
    width: 5px;
    height: 5px;
    right: 3px;
    top: 14px;
}

.chart-box-body {
    position: absolute;
    left: 0;
    top: 28px;
    right: 0;
    bottom: 0;
}

.entrust-area {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 246px;
    margin-top: 2px;
}

.entrust-box {
    height: 100%;
}

.entrust-box-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10px;
    background: #353741;
}

.entrust-box-head .oper a {
    margin-left: 10px;
    color: #ababbb;
}

.entrust-box-head .oper a:hover {
    color: #fff;
}

.entrust-box-body {
    height: calc(100% - 34px);
    overflow: hidden;
    position: relative;
}

.entrust-box-body .tradeNew-table .tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.entrust-box-body .tradeNew-table .td {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.entrust-box-body .tradeNew-table .head .td {
    color: #82828f;
}

.entrust-box-body .tradeNew-table .head .td span {
    display: inline-block;
    white-space: nowrap;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    font-weight: 600;
}

.entrust-box-body .tradeNew-table .head .td.type span {
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.entrust-box-body .tradeNew-table .body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entrust-box-body .tradeNew-table .body:hover {
    background: rgba(0, 0, 0, 0.1);
}

.entrust-box-body .tradeNew-table .time {
    padding-left: 30px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 140px;
}

.entrust-box-body .tradeNew-table .time i {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    border-radius: 2px;
    color: #fff;
}

.entrust-box-body .tradeNew-table .type {
    text-align: right;
}

.entrust-box-body .tradeNew-table .type a {
    display: inline-block;
    margin-left: 3px;
    color: #ff9d11;
}

.plateFill-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 570px;
            flex: 0 0 570px;
    margin-left: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.plate-area {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.plateInside-line{
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 2px;
    background: #1f2228;
}
.plateInside-area {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.plate-box {
    position: relative;
}

.plate-box-head {
    background: #353741;
    height: 28px;
    position: relative;
    color: #82828f;
}

.plate-box-head .item {
    position: absolute;
    top: 9px;
}

.plate-box-head .item.price {
    left: 40px;
}

.plate-box-head .item.foldPrice {
    left: 138px;
}

.plate-box-head .item.foldPrice2 {
    left: 75px;
}

.plate-box-head .item.foldPrice2 input {
    position: absolute;
    left: 80px;
    top: -1px;
}

.plate-box-head .item.num {
    right: 5px;
}

.plate-box-head .item.time {
    left: 5px;
}

.plate-box-head .item span {
    display: inline-block;
    white-space: nowrap;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    font-weight: 600;
}

.plate-box-head .item.num span {
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.plate-box-body {

    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    color: #6c7282;
}

.plate-box .box {
    height: calc(50% - 17px);
    overflow: auto;
    position: relative;
}
#asksWrap{
    display: flex;
    flex-direction: column-reverse;
}


/*firefox*/
.parent_direction-downs .amountColor {
    color: #41986c;
}
.parent_direction-downs .tradeNew-table1 .td {
    float: left;
    padding: 2px 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.parent_direction-downs .tradeNew-table1 .td.price{
    width: 32%;
}
.parent_direction-downs .tradeNew-table1 .body {

    cursor: pointer;
}

.parent_direction-downs .tradeNew-table1 .tr {
    overflow: hidden;
}
.plate-box1 .tradeNew-table1 .td.foldPrice {
    width: 70px;
}
.plate-box1 .tradeNew-table1 .td.type {
    width: 40px;
}
.plate-box1 .tradeNew-table1 .td.num {
    width: 72px;
}
.plate-box .tradeNew-table1 .body {

    cursor: pointer;

}
.plate-box .tradeNew-table1 .tr {

    overflow: hidden;

}
.plate-box .tradeNew-table1 .td.num {
    padding-right: 5px;
    text-align: right;
}
.parent_direction-downs{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.parent_direction-downs .direction-downss{
     display: flex;
     flex-direction: column-reverse;
     flex-grow: 1;
 }
.parent_direction-downs .direction-downss .common-type p{
    /*flex:1;*/
}
.plate-box .tradeNew-table1 .body:hover {
    background: rgba(0, 0, 0, 0.1);
}


/*firefox end*/




.plate-box .box::-webkit-scrollbar{
    display: none;
}

.plate-box .box .common-type {
    position: absolute;
    left: 5px;
}

.plate-box .box .common-type p {
    padding: 2px 0;
}

.plate-box .current-price {
    font-size: 18px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #747a8c;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.plate-box .current-price em {
    font-size: 10px;
    display: inline-block;
    margin-left: 3px;
}

.plate-box .box.direction-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.plate-box .tradeNew-table .tr {
    overflow: hidden;
}

.plate-box .tradeNew-table .td {
    float: left;
    padding: 2px 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

.plate-box .tradeNew-table .td .cor1 {
    color: #fff;
}

.plate-box .tradeNew-table .td .cor2 {
    color: #ababbb;
}

.plate-box .tradeNew-table .td.num {
    padding-right: 5px;
    text-align: right;
}

.plate-box .tradeNew-table .body {
    cursor: pointer;
}

.plate-box .tradeNew-table .body:hover {
    background: rgba(0, 0, 0, 0.1);
}

.plate-box1 .tradeNew-table .td.type {
    width: 40px;
}

.plate-box1 .tradeNew-table .td.price {
    width: 32%;
}

.plate-box1 .tradeNew-table .td.foldPrice {
    width: 70px;
}

.plate-box1 .tradeNew-table .td.num {
    width: 72px;
}

.plate-box2 .tradeNew-table .td.time {
    width: 75px;
    padding-left: 5px;
}

.plate-box2 .tradeNew-table .td.foldPrice, .plate-box2 .tradeNew-table .td.price {
    position: relative;
    width: 102px;
}

.plate-box2 .tradeNew-table .td.foldPrice input {
    position: absolute;
    right: 0;
    top: 8px;
    margin: 0;
}

.plate-box2 .tradeNew-table .td.num {
    width: 107px;
}

.fill-area {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: 2px;
}

.fill-box-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 5px;
    background: #353741;
}

.fill-box-body .fill-box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}

.fill-box-body .box {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%;
    padding: 5px;
    color: #ababbb;
}
.fill-box-body .box .box-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.fill-box-body .box .box-head h3 {
    font-weight: 600;
}

.fill-box-body .box .input {
    position: relative;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.fill-box-body .box .input label {
    position: absolute;
    top: 13px;
    color: #6c7282;
}

.fill-box-body .box .input label span {
    display: inline-block;
    white-space: nowrap;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    font-weight: 600;
}

.fill-box-body .box .input label.t {
    left: 10px;
}

.fill-box-body .box .input label.t span {
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.fill-box-body .box .input label.p {
    right: 20px;
}

.fill-box-body .box .input label.p span {
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.fill-box-body .box .input.focus label.p {
    display: none;
}

.fill-box-body .box .input .coverPrice {
    display: none;
    background: #1a1e21;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    position: absolute;
    z-index: 5;
    top: -30px;
    right: -1px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
}

.fill-box-body .box .input .coverPrice b {
    font-size: 12px;
}

.fill-box-body .box .input .coverPrice:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 5px;
    border: 5px solid transparent;
    border-top-color: #1a1e21;
}

.fill-box-body .box .input.focus .coverPrice {
    display: block;
}

.fill-box-body .box .input i {
    position: absolute;
    right: 0;
    width: 20px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}

.fill-box-body .box .input i:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    margin-left: 8px;
    border-right: 1px solid #55565a;
    border-bottom: 1px solid #55565a;
}

.fill-box-body .box .input i:hover:after {
    border-color: #fff;
}

.fill-box-body .box .input i.up {
    top: 0;
}

.fill-box-body .box .input i.up:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: 8px;
}

.fill-box-body .box .input i.down {
    bottom: 0;
}

.fill-box-body .box .input i.down:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 5px;
}

@keyframes inputBorder {
    from {
        border-color: rgba(255, 255, 255, 0.06);
    }
    to {
        border-color: currentColor;
    }
}

@-webkit-keyframes inputBorder {
    from {
        border-color: rgba(255, 255, 255, 0.06);
    }
    to {
        border-color: currentColor;
    }
}

.fill-box-body .box .input input {
    background: transparent;
    height: 36px;
    display: block;
    width: 100%;
    padding-right: 20px;
    text-align: right;
    font-size: 22px;
    position: relative;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.fill-box-body .box.flash .input input {
    -webkit-animation: inputBorder .3s infinite linear;
    animation: inputBorder .3s infinite linear;
}

.fill-box-body .box .settle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fill-box-body .box .box-btn {
    margin-top: 10px;
}

.fill-box-body .box .box-btn a {
    display: block;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    font-weight: bold;
}

.notLogin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.notLogin a {
    display: inline-block;
    margin: 0 3px;
}

.noRecord {
    text-align: center;
    padding: 60px 0;
}

#tradeRecord .price {
    display: block
}

#tradeRecord .foldPrice {
    display: none;
}

#tradeRecord .showAssistPrice .price {
    display: none
}

#tradeRecord .showAssistPrice .foldPrice {
    display: block;
}

.notLogin {
    color: #ababbb;
}

.noRecord {
    color: #ababbb;
}

.lever-box {
    background: #262830;
    color: #82828f;
}

.lever-box-head {
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    color: #ababbb;
}

.lever-box-head span {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    position: relative;
    top: -1px;
}

.lever-box-proportion {
    padding: 15px 0;
    background: #2c2e38;
}

.lever-box-proportion ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.lever-box-proportion ul li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
}

.lever-box-proportion ul li + li {
    border-left: 1px solid #343741;
}

.lever-box-proportion ul li p {
    font-size: 14px;
    margin-top: 10px;
    color: #cdced1;
}

.lever-box-proportion .lever-safe {
    padding: 15px 20px 0 20px;
}

.lever-box-proportion .lever-safe p {
    border-radius: 10px;
    overflow: hidden;
    background: #1a1e21;
}
.lever-box-proportion .lever-safe p span {
    display: block;
    height: 8px;
    background-image: -webkit-gradient(linear, left top, right top, from(#00e360), to(#f00));
    background-image: linear-gradient(left, #00e360, #f00);
}

.lever-box-data {
    padding: 20px 0;
    text-align: center;
}

.lever-date {
    display: inline-table;
    text-align: left;
}

.lever-date .item {
    display: table-row;
}

.lever-date .item p {
    display: table-cell;
    padding: 8px 30px 0 30px;
    font-size: 14px;
    vertical-align: middle;
    color: #cdced1;
}

.lever-date .item.head p {
    font-size: 12px;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 5px;
    color: #82828f;
}

.lever-date .item p.coinname {
    padding-right: 0;
    text-align: right;
}

.lever-date .item p.surplus {
    padding-left: 0;
}

.lever-date .item p a {
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
    padding: 3px 5px;
    color: #f39806;
}

.lever-introduce {
    overflow-y: auto;
    padding: 20px;
    height: 270px;
    background: #24262f;
}

.lever-introduce h3 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #84889c;
}

.lever-introduce h4 {
    margin-bottom: 8px;
    color: #84889c;
}

.lever-introduce p {
    line-height: 20px;
    margin-bottom: 20px;
    color: #616576;
}

.lever-introduce p span {
    display: block;
}

.lever-introduce p span + span {
    margin-top: 8px;
}

.range {
    padding: 10px 65px 20px 0;
    position: relative;
    z-index: 0;
}

.range_wrap {
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    cursor: pointer;
}

.range .sliderPercent {
    position: absolute;
    right: 0;
    top: 5px;
    color: #9ea1ac;
}

.range_wrap .range_paths_wrap {
    position: relative;
    z-index: 1
}

.range_wrap .range_path {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    -webkit-transition: all .05s;
    transition: all .05s;
}

.range_wrap .range_track_wrap {
    position: relative
}

.range_wrap .range_track {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 0;
    background: #090;
    -webkit-transition: all .05s;
    transition: all .05s;
}

.range_wrap .range_handle {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #99a4aa;
    border-radius: 50%;
    top: -6px;
    z-index: 4;
    cursor: col-resize;
    cursor: -webkit-grab;
    -webkit-transition: left .05s;
    transition: left .05s;
}

.range_wrap .range_points_wrap {
    position: relative;
    top: -3px
}

.range_wrap .range_point {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    text-align: center
}

.range_wrap .range_point:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #99a4aa;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 4px
}

.range_wrap .range_point:hover:after {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    -webkit-transition: all .05s;
    transition: all .05s;
}

.range_wrap .range_point.active:after {
    background: #090
}

.range_wrap.click {
    cursor: -webkit-grabbing
}

.range_wrap.click .range_handle {
    cursor: -webkit-grabbing
}

.range_wrap.focus .range_handle {
    border-color: #090
}

.bk-kMarket .range_wrap .range_point:after {
    background: #4d4d4d
}

.bk-kMarket .range_wrap .range_path {
    background: #4d4d4d
}

.range_buy .range_point.active:after, .range_buy .range_track, .range_edit_buy .range_point.active:after, .range_edit_buy .range_track {
    background-color: #d6435b;
}

.range_buy .focus .range_handle, .range_edit_buy .focus .range_handle {
    border-color: #de211d
}

.range_sell .range_point.active:after, .range_sell .range_track, .range_edit_sell .range_point.active:after, .range_edit_sell .range_track {
    background-color: #3dc18e
}

.range_sell .focus .range_handle, .range_edit_sell .focus .range_handle {
    border-color: #3dc18e
}

.plate-time {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(28, 31, 39, .9);
    z-index: 10;
    text-align: center;
    color: #fff;
}

.plate-time .time {
    font-size: 14px;
}

.plate-time .time h3 {
    font-size: 40px;
}

.plate-time .time .countdown {
    margin: 40px 0 50px 0;
}

.plate-time .time .countdown p {
    padding: 10px;
    background: #000;
    font-size: 40px;
    border-radius: 5px;
    width: 70px;
}

.plate-time .time .countdown p.sec {
    background: #ff8d00;
}

.plate-time .time .countdown em {
    margin: 0 10px;
}

.plate-time .time h3.text {
    color: #f39806;
}
