@import "./new_theme.scss";

@media (max-width: 768px) {
  .trading-dark .header {
    //background: #1d1d3c !important;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 15px;
    width: 100%;
    height: 70px;
    #header-navigator .active {
      border: none;
    }
    .header-button {
      display: block;
    }
    .container {
      width: 100%;
      padding: 0 20px;
    }
    .logo {
      img {
        width: 100px;
      }
    }
    .notice-nav {
      display: none;
    }
    .header-nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 70px;
      height: auto;
      display: none;
      background: #2a266d;
      > ul {
        display: block;
        > li {
          display: block;
          border-top: 1px solid rgba(255, 255, 255, .1);
          margin: 0 !important;
          padding: 15px 25px;
          > [role="button"] {
            font-size: 14px !important;
            width: 100%;
            &.arrow:after {
              margin-left: auto;
            }
          }
          &.signup > [role="button"] {
            padding: 0;
            background: transparent !important;
            color: #a3adc7 !important;
          }
        }
      }
    }
    .dropdown {
      position: relative;
      .dropdown-menu {
        display: none;
        position: inherit;
        top: 100%;
        left: 0;
        min-width: 100%;
        z-index: 1000;
        background: #29295f;
        padding: 10px 0;
        border: 2px solid #1d1d3c;
        border-top: none;
        li {
          a {
            display: block;
            white-space: nowrap;
            position: relative;
            padding: 15px 20px;
            color: #a3adc7;
            &:hover {
              background: #3a3a79;
            }
          }
          .active a {
            color: #fff;
            background: #3b395b;
          }
        }

      }
    }
    &.open {
      background: #2a266d;
      .header-nav {
        display: block;
      }
    }

    &.sticky {
      .header-nav {
        top: 60px;
      }
    }

  }
}

body.trading-dark {
  background: #202020;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #000;
}

.header {
  background: #130E00;
}

.buyColor {
  color: $buyColor !important;
}

.buyBgColor {
  background: $buyColor;
}

.sellColor {
  color: $sellColor !important;
}

.sellBgColor {
  background: $sellColor;
}

.trade-navbar {
  font-size: 12px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //background-image: linear-gradient(0deg, #232250 2%, #323266 99%);
  min-width: 554px;
  background: $trade_background_theme;
  .market-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    .current-market {
      height: 100%;
      position: relative;
      .current {
        width: 130px;
        color: #fff;
        padding-left: 20px;
        cursor: pointer;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 14px;
          opacity: 0.7;
          .denominator {
            color: $white_font_opacity;
            i {
              display: inline-block;
              margin: 0 2px;
            }
          }
          &:after {
            /*content: "";
            display: inline-block;
            vertical-align: middle;
            height: 0;
            width: 0;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            border-top: 4px solid;
            margin-left: 3px;*/
          }

        }
      }
      .market-box {
        position: absolute;
        width: 400px;
        top: calc(100% + 4px);
        left: 0;
        background: #29295f;
        border-radius: 3px;
        display: none;
        z-index: 9;
        .tabBox {
          display: flex;
          li {
            float: left;
            width: 33.33%;
            text-align: center;
            padding: 12px 5px;
            background: #1d1d34;
            cursor: pointer;
            flex: 1;
            &.active {
              background: #29295f;
            }
          }
        }
        .mark-list {
          h3 {
            background-color: rgba(0, 0, 0, .15);
            padding: 10px 20px;
            color: #958eff;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 10px;
              top: 10px;
              bottom: 10px;
              width: 2px;
              border-radius: 10px;
              background-color: currentColor;
            }
          }
          li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0 20px;
            p {
              flex: none;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              &:first-child {
                width: 40%;
                justify-content: flex-start;
                img {
                  width: 20px;
                  margin-right: 5px;
                }
              }
              &:nth-child(2) {
                width: 30%;
              }
              &:last-child {
                width: 30%;
              }
            }
          }
          .list {
            padding: 8px 0;
            max-height: 400px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 10px;
              height: 10px;
            }
            &::-webkit-scrollbar-track-piece {
              background-color: #29295f;
            }
            &::-webkit-scrollbar-thumb {
              background-color: rgba(255, 255, 255, 0.3);
              background-clip: padding-box;
              border-radius: 20px;
              border: 2px solid rgba(255, 255, 255, 0.3);
              min-height: 50px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
            li {
              cursor: pointer;
              p {
                color: #dcdce4;
                &:nth-child(1) {
                  font-weight: 500;
                  span {
                    opacity: .5;
                    i {
                      display: inline-block;
                      margin: 0 2px;
                    }
                  }
                }
              }
              &:hover {
                background: #33336d;
              }
            }
          }

        }
      }
      &.open .market-box {
        display: block;
      }
    }
  }
  > img {
    position: absolute;
    right: 18px;
    top: 13px;
    width: 25px;
    cursor: pointer;
  }
}

.trade-navbar .market-menu .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.trade-navbar .market-menu .statistics li {
  margin-left: 80px;
  font-size: 12px;
  text-align: right;
}

@media (max-width: 1630px) {
  .trade-navbar .market-menu .statistics li {
    opacity: 0.7;
    color: $white_font_opacity;
    margin-left: 20px;
    font-size: 12px;
    text-align: right;
  }
}

.trade-navbar .market-menu .statistics li {
  opacity: 0.7;
  color: $white_font_opacity;
}

.trade-navbar .market-menu .statistics li:first-child {
  margin: 0px;
  font-size: 16px;
}

.trade-navbar .market-menu .statistics li:first-child p {
  font-size: 16px;
}

.trade-navbar .market-menu .statistics li p {
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  text-align: right;
  line-height: 20px;
}

.trade-navbar .market-menu .statistics li p span {
  color: #9e9eca;
  //margin-left: 10px;

  font-size: 12px;
}

.trade-navbar .market-menu .statistics li p.up {
  color: #32c39f;
}

.chart-oper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 30px;
}

.chart-oper .line {
  width: 1px;
  height: 10px;
  margin: 36px 20px 0 20px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  background: #6c7282;
}

.chart-oper .item {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  position: relative;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.chart-oper .item > p {
  opacity: 0.7;
  color: $white_font_opacity;
  position: relative;
  cursor: pointer;
}

.chart-oper .item:hover > p {
  color: #fff;
}

.chart-oper .item > p:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: currentColor;
}

.chart-oper .item .item-list {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 100%;
  white-space: nowrap;
  z-index: 2;
  padding-top: 2px;
  display: none;
}

.chart-oper .item .item-list ul {
  background: $trade_bottom_color;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.chart-oper .item .item-list li {
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
}

.chart-oper .item .item-list li:hover {
  background: $trade_background_theme;
}

.chart-oper .item .item-list li.active {
  color: #fff;
  background: $trade_nodata;
}

.chart-oper .item .item-list.more li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chart-oper .item .item-list.more li p {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 70px;
}

.chart-oper .item .item-list.more li a + a {
  margin-left: 10px;
}

.chart-oper .item .item-list.more li a.selected {
  color: #5d55ff;
}

.chart-oper .item:hover .item-list {
  display: block;
}

@mixin title-style {
  color: $theme_color;
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
}

@mixin web-kit-scroll {
  &::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $trade_background_theme;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scollor_color;
    background-clip: padding-box;
    border-radius: 20px;
    border: 2px solid $scollor_color;
    min-height: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $scollor_color;
  }
}

@media only screen and (max-width: 1200px) {
  .tradeNew-container {
    .trade-navbar {
      display: none;
    }
    .plateFill-area .plate-area {
      flex-wrap: wrap;
      .asks-box{
        height: unset!important;
      }
      .fill-area{
        width: 100%!important;
        height: unset!important;
        margin: 8px 0!important;
      }
    }
    .entrust-area{
      .entrust-list li p:nth-child(2){
        width: unset!important;
      }
      .entrust-list li p:last-child{
        width: unset!important;
      }
    }
  }
}

//交易大盒子  2018-10-16  czh
.tradeNew {
  display: flex;
  justify-content: flex-end;
  margin-top: 68px;
  &.close {
    .market-trade {
      transition: all 0.2s;
      width: 80px;
      .market-title {
        justify-content: center;
        padding: 0px 0px 15px 0px;
        span {
          padding-top: 15px;
        }
        .img-box {
          width: 100%;
          padding: 10px 36px;
          text-align: center;
          border-radius: 0;
          img {
            transform: scaleX(1);
          }
        }
      }
      .market-zone {
        > ul {
          li {
            &:not(.active) {
              display: none;
            }
          }
        }
        .mark-list {
          .title {
            padding: 0;
            li {
              justify-content: center;
              p:not(:first-child) {
                display: none;
              }
            }
          }
          .list {
            height: calc(100vh - 210px);
            li {
              padding: 0;
              flex-wrap: wrap;
              align-content: flex-start;
              p {
                justify-content: center;
                width: 100%;
                height: 30px;
                &:nth-child(2) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .tradeNew-container {
      width: calc(100% - 96px);
    }
  }
  .market-trade {
    position: fixed;
    top: 68px;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 230px;
    background: $trade_background_theme;
    transition: all 0.2s;
    margin-right: 8px;
    .market-title {
      padding: 20px 10px 15px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
      span {
        color: rgba(184, 139, 0, 1);
        font-size: 16px;
        font-family: MicrosoftYaHei-Bold;
      }
      .img-box {
        background: $scollor_color;
        padding: 5px 8px;
        border-radius: 4px;
        cursor: pointer;
        img {
          float: right;
          width: 8px;
          transform: scaleX(-1);
        }
      }
    }
    .market-zone {
      flex-wrap: nowrap;
      > ul {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        width: 100%;
        li {
          width: 100px;
          height: 20px;
          line-height: 20px;
          opacity: 0.7;
          text-align: center;
          color: $white_font_opacity;
          cursor: pointer;
          box-sizing: border-box;
          &.active {
            span {
              color: #fff;
              font-size: 16px;
            }
          }
          span {
            font-size: 14px;
            -webkit-transition: all .3s;
            transition: all .3s;
            &:hover {
              font-size: 16px;
            }
          }
        }
      }
      .mark-list {
        h3 {
          background-color: rgba(0, 0, 0, .15);
          padding: 10px 20px;
          color: #958eff;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 10px;
            bottom: 10px;
            width: 2px;
            border-radius: 10px;
            background-color: currentColor;
          }
        }
        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          p {
            flex: none;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 14px;
            &:first-child {
              width: 30%;
              justify-content: flex-start;
              img {
                width: 20px;
                margin-right: 5px;
              }
            }
            &:nth-child(2) {
              width: 40%;
              justify-content: flex-start;
            }
            &:last-child {
              width: 30%;
            }
          }
        }
        .title {
          padding: 0px 10px;
          li p {
            color: $theme_color;
            font-size: 14px;
          }
        }
        .list {
          height: calc(100vh - 200px);
          overflow-y: scroll;
          @include web-kit-scroll;
          li {
            padding: 0 10px;
            cursor: pointer;
            p {
              color: $white_font_opacity;
              &:nth-child(1) {
                font-weight: 500;
                span {
                  opacity: .5;
                  i {
                    display: inline-block;
                    margin: 0 2px;
                  }
                }
              }
            }
            &:hover {
              background: $trade_bottom_color;
            }
          }
        }
      }
    }
  }
  .tradeNew-container {
    transition: all 0.2s;
    //min-height: calc(100vh - 63px);
    width: calc(100% - 246px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8px 8px 8px;
    flex-wrap: wrap;
    .chartEntrust-area {
      width: 100%;
      min-height: 400px;
      padding: 0 40px 20px 40px;
      background: $trade_background_theme;
      .chart-title {
        color: $sellColor;
        padding: 20px;
        font-size: 18px;
      }
      .chart-area {
        height: 290px;
      }
      /*.item-list {
        ul {
          display: flex;
          li {

          }
        }
      }*/
    }
    .plateFill-area {
      //min-height: 385px;
      //background: $trade_background_theme;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 602px;
      position: relative;
      margin-top: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      flex: 0 1 100%;
      .plate-area {
        display: flex;
        //flex-wrap: wrap;
        justify-content: space-between;
        .asks-box, .bids-box {
          width: 100%;
          height: 100%;
          background: $trade_background_theme;
          .title li P {
            justify-content: flex-start;
            &:last-child {
              justify-content: flex-end;
            }
          }
          .tradeNew-table, .tradeNew-table1 {
            li p {
              justify-content: flex-start;
              &:last-child {
                justify-content: flex-end;
              }
            }
          }
        }
        .fill-area {
          height: 100%;
          background: $trade_background_theme;
          width: 550px;
          margin: 0 8px;
          .body {
            flex-wrap: wrap;
            .login-trade {
              flex: 0 1 280px;
              margin: 50px auto 0 auto;
              p {
                text-align: center;
                color: #AAAEC1;
                font-size: 14px;
              }
              .btn {
                margin: 20px 0;
                a {
                  display: block;
                  text-align: center;
                  padding: 14px 0;
                  width: 100%;
                  color: #fff;
                  font-size: 14px;
                  border-radius: 4px;
                }
              }
            }
            .box {
              padding: 15px;
              .btn {
                border-radius: 4px;
              }
            }
            .asks-bids-shifts {
              flex: 0 1 100%;
              padding-top: 25px;
              ul {
                display: flex;
                justify-content: center;
                width: 280px;
                margin: 0 auto;
                li {
                  color: $white_font_opacity;
                  font-size: 14px;
                  padding: 9px 15px;
                  justify-content: space-between;
                  background-color: $trade_input_background;
                  margin: 0 1px;
                  cursor: pointer;
                  &:first-child {
                    border-radius: 4px 0 0 4px;
                  }
                  &:last-child {
                    border-radius: 0 4px 4px 0;
                  }
                  &.active, &:hover {
                    color: $theme_color;
                    opacity: 0.7;
                  }
                }
              }
            }
          }
          .body .box .form-group .form-control {
            input {
              background: $trade_list_title;
              border-radius: 4px;
              border: none;
              padding: 0 10px;
              opacity: 0.7;
            }
          }
          .body .box .form-group .form-control .current-num {
            color: #fff;
            left: 10px;
          }
          .body .box .assets-num {
            font-size: 14px;
            padding: 20px 0;
            color: $white_font_opacity;
          }
        }
      }
    }
    .tradeRecordBox {
      width: 100%;
      min-height: 366px;
      margin-top: 8px;
      background: $trade_background_theme;
      .head {
        @include title-style;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
      }
      .plateInside-area {
        padding-bottom: 40px;
        p:nth-child(2) {
          justify-content: flex-start;
        }
        p:nth-child(3) {
          justify-content: flex-start;
        }
        .title {
          li {
            background: $trade_list_title !important;
          }
        }
        #tradeRecord {
          height: 500px;
          overflow: auto;
          @include web-kit-scroll;
        }
      }
    }
  }
}

.tradeNew-table .tr.add {
  display: none
}

.tradeNew-table .tr.remove {
  // display: none !important;
  opacity: 0.4;
}

.chartEntrust-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chart-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  background: $trade_background_theme;
  //overflow: hidden;
  position: relative;
}

.entrust-area {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
  height: 278px;
  background: $trade_background_theme;
  overflow: hidden;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.entrust-area .head {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
  //background: $trade_list_title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  ul li {
    @include title-style;
  }
}

.entrust-area .head .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entrust-area .head .tab li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

/*.entrust-area .head .tab li.on {
  background: #23234c;
  color: #fff;
}*/

.entrust-area .head .oper {
  opacity: 0.7;
  color: $white_font_opacity;
  padding-right: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.entrust-area .head .oper .Refresh {
  width: 12px;
  height: 14px;
  margin-left: 20px;
}

.entrust-area .head .oper a {
  margin-left: 20px;
}

.entrust-area .head .oper a:hover {
  color: #fff;
}

.entrust-area .body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  position: relative;
}

.entrust-list .title {
  background: $trade_list_title;
  li p {
    color: $white_font_opacity;
    font-size: 14px;
  }
}

.entrust-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.entrust-list li p {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px 0;
}

.entrust-list li p:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100px;
  text-align: left;
}

.entrust-list li p:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 80px;
  text-align: center;
}

@media (max-width: 1445px) {
  .entrust-list li p:nth-child(5) {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .entrust-list li p:nth-child(1) {
    display: none !important;
  }
  .entrust-list li p:nth-child(2) {
    text-align: left !important;
  }
}

.entrust-list li p:last-child {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 130px;
}

.entrust-list li p:last-child a {
  color: #8f77d2;
}

.entrust-list .list li p {
  color: #dcdce4;
}

.entrust-list .list li:hover {
  background: $trade_bottom_color;
}

.entrust-area .body .norecord {
  text-align: center;
  padding: 80px 0;
  color: $trade_nodata;
  font-size: 12px;

}

.plate-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.more {
  //position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  //background-color: #232336;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.more a {
  opacity: 0.7;
  color: $white_font_opacity;
  padding-right: 20px;
  font-size: 14px;
}

.more a:hover {
  color: #fff;
}

.plateInside-area {
  background: $trade_background_theme;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.plateInside-area li {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0 20px;
}

.plateInside-area li p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.plateInside-area li p:first-child {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  //flex-basis: 100px;
}

.plateInside-area .asks-title {
  @include title-style;
  padding: 20px;
  line-height: 22px;
}

.plateInside-area .title li {
  background: $trade_background_theme;
}

.plateInside-area .title li p {
  height: 40px;
  font-size: 14px;
  color: $white_font_opacity;
}

.plateInside-area .title li p.buy-title {
  color: $buyColor;
}

.plateInside-area .title li p.sell-title {
  color: $sellColor;
}

.plateInside-area .tradeNew-table li, .plateInside-area .tradeNew-table1 li {
  cursor: pointer;
}

.plateInside-area .tradeNew-table li:hover, .plateInside-area .tradeNew-table1 li:hover {
  background: $trade_bottom_color;
}

.plateInside-area .tradeNew-table li p, .plateInside-area .tradeNew-table1 li p {
  color: $white_font_opacity;
  font-size: 14px;
  padding: 6px 0;
}

.plateInside-area div.body {
  //position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.plateInside-area div.body .box {
  //position: absolute;
  height: calc(50% - 24px);
  left: 0;
  width: 100%;
  overflow: hidden;
}

.plateInside-area div.body .box.sell-disc {
  top: 0;
}

.plateInside-area div.body .box.sell-disc ul {
  //position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.plateInside-area div.body .box.buy-disc {
  bottom: 0;
}

.plateInside-area div.body .current-price {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
}

/*.plateInside-area .sell-disc li p.price,*/
.plateInside-area .sell-disc li p.type {
  color: $sellColor !important;
}

/*.plateInside-area .buy-disc li p.price,*/
.plateInside-area .buy-disc li p.type {
  color: $buyColor !important;
}

.notLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.notLogin a {
  display: inline-block;
  margin: 0 3px;
}

.notLogin {
  color: #ababbb;
}

.lever-box {
  background: #262830;
  color: #82828f;
}

.lever-box-head {
  font-size: 16px;
  padding: 20px 0;
  text-align: center;
  color: #ababbb;
}

.lever-box-head span {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.lever-box-proportion {
  padding: 15px 0;
  background: #2c2e38;
}

.lever-box-proportion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lever-box-proportion ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px;
}

.lever-box-proportion ul li + li {
  border-left: 1px solid #343741;
}

.lever-box-proportion ul li p {
  font-size: 14px;
  margin-top: 10px;
  color: #cdced1;
}

.lever-box-proportion .lever-safe {
  padding: 15px 20px 0 20px;
}

.lever-box-proportion .lever-safe p {
  border-radius: 10px;
  overflow: hidden;
  background: #1a1e21;
}

.lever-box-proportion .lever-safe p span {
  display: block;
  height: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00e360), to(#f00));
  background-image: -webkit-linear-gradient(left, #00e360, #f00);
  background-image: -o-linear-gradient(left, #00e360, #f00);
  background-image: linear-gradient(left, #00e360, #f00);
}

.lever-box-data {
  padding: 20px 0;
  text-align: center;
}

.lever-date {
  display: inline-table;
  text-align: left;
}

.lever-date .item {
  display: table-row;
}

.lever-date .item p {
  display: table-cell;
  padding: 8px 30px 0 30px;
  font-size: 14px;
  vertical-align: middle;
  color: #cdced1;
}

.lever-date .item.head p {
  font-size: 12px;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 5px;
  color: #82828f;
}

.lever-date .item p.coinname {
  padding-right: 0;
  text-align: right;
}

.lever-date .item p.surplus {
  padding-left: 0;
}

.lever-date .item p a {
  display: inline-block;
  font-size: 12px;
  border-radius: 20px;
  padding: 3px 5px;
  color: #f39806;
}

.lever-introduce {
  overflow-y: auto;
  padding: 20px;
  height: 270px;
  background: #24262f;
}

.lever-introduce h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #84889c;
}

.lever-introduce h4 {
  margin-bottom: 8px;
  color: #84889c;
}

.lever-introduce p {
  line-height: 20px;
  margin-bottom: 20px;
  color: #616576;
}

.lever-introduce p span {
  display: block;
}

.lever-introduce p span + span {
  margin-top: 8px;
}

.range {
  padding: 10px 65px 10px 0;
  position: relative;
  z-index: 0;
  margin: 10px 0;
}

.range_wrap {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  cursor: pointer;
}

.range .sliderPercent {
  position: absolute;
  right: 0;
  top: 5px;
  color: #9ea1ac;
}

.range_wrap .range_paths_wrap {
  position: relative;
  z-index: 1
}

.range_wrap .range_path {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, .1);
  -webkit-transition: all .05s;
  -o-transition: all .05s;
  transition: all .05s;
}

.range_wrap .range_track_wrap {
  position: relative
}

.range_wrap .range_track {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background: #090;
  -webkit-transition: all .05s;
  -o-transition: all .05s;
  transition: all .05s;
}

.range_wrap .range_handle {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #99a4aa;
  border-radius: 50%;
  top: -6px;
  z-index: 4;
  cursor: col-resize;
  cursor: -webkit-grab;
  -webkit-transition: left .05s;
  -o-transition: left .05s;
  transition: left .05s;
}

.range_wrap .range_points_wrap {
  position: relative;
  top: -3px
}

.range_wrap .range_point {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  text-align: center
}

.range_wrap .range_point:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #99a4aa;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 4px
}

.range_wrap .range_point:hover:after {
  width: 14px;
  height: 14px;
  margin-top: 1px;
  -webkit-transition: all .05s;
  -o-transition: all .05s;
  transition: all .05s;
}

.range_wrap .range_point.active:after {
  background: #090
}

.range_wrap.click {
  cursor: -webkit-grabbing
}

.range_wrap.click .range_handle {
  cursor: -webkit-grabbing
}

.range_wrap.focus .range_handle {
  border-color: #090
}

.bk-kMarket .range_wrap .range_point:after {
  background: #4d4d4d
}

.bk-kMarket .range_wrap .range_path {
  background: #4d4d4d
}

.range_buy .range_point.active:after, .range_buy .range_track, .range_edit_buy .range_point.active:after, .range_edit_buy .range_track {
  background-color: #d6435b;
}

.range_buy .focus .range_handle, .range_edit_buy .focus .range_handle {
  border-color: #de211d
}

.range_sell .range_point.active:after, .range_sell .range_track, .range_edit_sell .range_point.active:after, .range_edit_sell .range_track {
  background-color: #3dc18e
}

.range_sell .focus .range_handle, .range_edit_sell .focus .range_handle {
  border-color: #3dc18e
}

.plate-time {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(28, 31, 39, .9);
  z-index: 10;
  text-align: center;
  color: #fff;
}

.plate-time .time {
  font-size: 14px;
}

.plate-time .time h3 {
  font-size: 40px;
}

.plate-time .time .countdown {
  margin: 40px 0 50px 0;
}

.plate-time .time .countdown p {
  padding: 10px;
  background: #000;
  font-size: 40px;
  border-radius: 5px;
  width: 70px;
}

.plate-time .time .countdown p.sec {
  background: #ff8d00;
}

.plate-time .time .countdown em {
  margin: 0 10px;
}

.plate-time .time h3.text {
  color: #f39806;
}

.tradeNew-table1 li p.price {
  // color: rgba(255, 83, 83, 1);
  color: #D8D8D8 !important;
}

#parent_direction-downs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

#dishWrap .tradeNew-table1 li.tr {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#dishWrap .tradeNew-table1 li.tr p {
  font-size: 14px;
  color: #ff5353;
}

#dishWrap .tradeNew-table1 li.tr p.num {
  color: #dcdce4;
}

.dishWrap_container {
  //position: absolute;
  top: 0px;
  bottom: 40px;
  left: 0;
  width: 100%;
}

