<script type="text/x-template" id="add-market">
    <div :class="'exx-modal-container exx-' + theme" style="width: 800px;">

        <div class="exx-modal-header"><h3><%= LANG('管理我的市场') %></h3>
        </div>
        <div class="exx-modal-body">
            <div class="exx-account-info">
                <h3>
                    {{account.nickName}}
                </h3>
                <p><%= LANG('将下列交易对添加到此账户') %></p>
                <div class="avatar">
                    <img v-if="account.photo" :src="'<%= STATIC %>/images/userhead/' + account.photo">
                    <img v-else src="<%= STATIC %>/images/userhead/default.jpg">
                </div>
            </div>
            <div class="exx-coin-info">
                <!--<ul class="exx-tab">
                  <li v-for="coin in Object.keys(marketCoin)" @click="selectedMainCoin = coin" :class="{active: selectedMainCoin == coin }"><span>{{coin.toUpperCase()}}</span></li>
                </ul>-->
                <div class="exx-table">
                    <div class="tab-panel" style="max-height: 400px; overflow-y: auto">
                        <table>
                            <thead>
                            <tr>
                                <th><%= LANG('交易市场') %></th>
                                <th><%= LANG('24小时交易量') %></th>
                                <th><%= LANG('24小时涨跌幅') %></th>
                                <th><%= LANG('操作') %></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(market,key) in allMarketsData" v-if="account.userType == 3 && market[9]">
                                <td style="font-size: 14px"><img
                                        :src="'/src/images/icon/market-icon/market-' + key.split('_')[0] + '.png'"
                                        class="market-icon"><b>{{getRealCoinName(key.split("_")[0]).toUpperCase()}}</b>
                                    / {{getRealCoinName(key.split("_")[1]).toUpperCase()}}
                                </td>
                                <td>{{market[5]}} {{getRealCoinName(key.split("_")[0]).toUpperCase()}}</td>
                                <td :class="market[8] > 0 ? 'txt-red' : 'txt-green'">{{market[8] > 0 ? ("+" + market[8])
                                    : market[8] }}
                                </td>
                                <td>
                                    <a @click="editUserMarket('1', key)" v-if="currentUserMarkets.indexOf(key) == -1"
                                       class="add"><%= LANG('添加市场') %></a>
                                    <a v-else @click="editUserMarket('0', key)" class="del"><%= LANG('删除市场') %></a>
                                </td>
                            </tr>

                            <tr v-for="(market,key) in allMarketsData" v-if="account.userType != 3 && !market[9]">
                                <td style="font-size: 14px"><img
                                        :src="'/src/images/icon/market-icon/market-' + key.split('_')[0] + '.png'"
                                        class="market-icon"><b>{{getRealCoinName(key.split("_")[0]).toUpperCase()}}</b>
                                    / {{getRealCoinName(key.split("_")[1]).toUpperCase()}}
                                </td>
                                <td>{{market[5]}} {{getRealCoinName(key.split("_")[0]).toUpperCase()}}</td>
                                <td :class="market[8] > 0 ? 'txt-red' : 'txt-green'">{{market[8] > 0 ? ("+" + market[8])
                                    : market[8] }}
                                </td>
                                <td>
                                    <a @click="editUserMarket('1', key)" v-if="currentUserMarkets.indexOf(key) == -1"
                                       class="add"><%= LANG('添加市场') %></a>
                                    <a v-else @click="editUserMarket('0', key)" class="del"><%= LANG('删除市场') %></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>

</script>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        return Vue.component('add-market', {
            template: "#add-market",
            props: {
                done: {
                    type: Function,
                    default: function () {
                        console.log('success');
                    }
                },
                params: {
                    type: Object,
                    default: function () {
                        return {}
                    }
                },
                theme: {
                    type: String,
                    default: 'light'
                },
                close: {
                    type: Function,
                    default: function () {
                        console.log('close');
                    }
                }
            },
            data: function () {
                return {
                    account: this.params.account,
                    selectedMainCoin: '',
                    allMarketsData: [],
                    userMarketsData: []
                }
            },
            computed: {
                marketCoin: function () {
                    var obj = {};
                    var markets = Object.keys(this.allMarketsData);
                    var marketsArr = markets.map(function (market) {
                        return market.split('_');
                    })
                    marketsArr.map(function (item) {
                        obj[item[1]] = obj[item[1]] || [];
                        obj[item[1]].push(item[0])
                    });
                    // 设置默认选中
                    if (!this.selectedMainCoin || this.selectedMainCoin == '') {
                        this.selectedMainCoin = Object.keys(obj)[0];
                    }
                    return obj;
                },
                currentUserMarkets: function () {
                    var marketsData = this.userMarketsData || [];
                    //var marketsData = this.allMarketsData || [];
                    var markets = marketsData.map(function (market) {
                        return market.market;
                    });
                    return markets;
                }
            },
            methods: {
                //去掉虚拟市场货币的D字符
                getRealCoinName: function (coin) {
                    if (coin.length > 3 && coin.substring(0, 1) == 'd') {
                        return coin.substring(1);
                    } else {
                        return coin;
                    }
                },
                updateMarkets: function () {
                    if (EXX.million) {
                        EXX.million.getUserMarkets();
                        this.getUserMarkets();
                    } else if (EXX.userIndex) {
                        EXX.userIndex.getUserAssets();
                        this.getUserMarkets();
                    }
                },
                getAllMarkets: function () {
                    Methods.getJSONP({
                        url: DOMAIN_TRADE + API_PREFIX + 'getAllMarket',
                        success: function (res) {
                            var result = res.datas;
                            for (var key in result) {
                                if (result[key].length < 7) {
                                    result[key][6] = 0;
                                    result[key][7] = [];
                                    result[key][7][0] = [];
                                    result[key][8] = '0.00';
                                }
                            }
                            this.allMarketsData = result
                        }.bind(this)
                    });
                },
                getUserMarkets: function (callback) {
                    var data = {
                        childId: this.account.userId
                    };
                    Methods.ajax({
                        url: DOMAIN_MAIN + API_PREFIX + 'getUserMarket?modal',
                        data: data,
                        success: function (res) {
                            if (!res.datas.userMarket) {
                                return console.log('getAllMarket failed.')
                            }
                            this.userMarketsData = res.datas.userMarket;
                            if (typeof callback == 'function') {
                                callback();
                            }
                        }.bind(this)
                    });
                },
                //编辑用户市场
                editUserMarket: function (type, market) {
                    var data = {
                        isType: type,
                        market: market,
                        childId: this.account.userId
                    };
                    Methods.ajax({
                        url: DOMAIN_MAIN + API_PREFIX + 'doEditMarket',
                        data: data,
                        success: function (res) {
                            this.updateMarkets();
                            this.getUserMarkets();
                            this.done();
                            if (typeof callback == 'function') {
                                callback();
                            }
                            $.toast({
                                heading: "<%= LANG('修改用户市场信息成功') %>",
                                text: "<%= LANG('修改用户市场信息成功') %>",
                                showHideTransition: 'plain',
                                icon: 'success'
                            });
                        }.bind(this)
                    });
                }
            },
            created: function () {
                this.getAllMarkets();
                if (this.params.userMarketsData) {
                    this.userMarketsData = this.params.userMarketsData
                } else {
                    this.getUserMarkets();
                }
            }
        })
    })
</script>

