<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="author" content="<%= WEB.EMAIL.val %>">
    <meta name="copyright" content="Copyright &copy;<%= WEB.NAME %> 版权所有">
    <meta name="revisit-after" content="1 days">
    <meta name="keywords" content="<%= WEB.KEYWORD %>">
    <meta name="description" content="<%= WEB.DESCRIPTION %>">
    <title>XT.COM - <%= WEB.TITLE %></title>
    <link rel="shortcut icon" href="<%= STYLE_STATIC %>/images/favicon/favicon.ico?<%= VERSION %>">
    <link href="<%= STYLE_STATIC %>/styles/xulei-v1.css" rel="stylesheet" type="text/css">
    <style>
        div.w {
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: url(/src/images/home/exx-bg.jpg?<%= VERSION %>) no-repeat center center / cover;
        }
    </style>
</head>
<body>
<div class="w">
</div>
</body>
</html>
