
<link href="<%= STATIC %>/styles/chat.css" rel="stylesheet" type="text/css">

<div class="exx-msg-icon" style="display: none">
    <div class="box">
        <div class="hd">
            <div class="kefu">
                <p class="kefu1"></p>
                <p></p>
                <p class="kefu3"></p>
            </div>
            <p class="p1">Patrick Leary, Nick Brown, Tanner</p>
            <p>Need help with something? Leave us a message<br>and we’ll follow up as soon as we can.</p>
        </div>
        <div class="bd">
            <textarea style="resize: none" placeholder="Leave a message…"></textarea>
            <span onclick="connect();"><i id="connect">
                <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z" fill-rule="evenodd" /></svg>
            </i>Leave Message</span>
        </div>
    </div>
    <div class="button" data-toggle="dropdown">
        <span class="on">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4.583 14.894l-3.256 3.78c-.7.813-1.26.598-1.25-.46a10689.413 10689.413 0 0 1 .035-4.775V4.816a3.89 3.89 0 0 1 3.88-3.89h12.064a3.885 3.885 0 0 1 3.882 3.89v6.185a3.89 3.89 0 0 1-3.882 3.89H4.583z" fill="#FFF" fill-rule="evenodd"/></svg>
        </span>
        <span class="off">
            <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M16.726 15.402c.365.366.365.96 0 1.324-.178.178-.416.274-.663.274-.246 0-.484-.096-.663-.274L8.323 9.648h.353L1.6 16.726c-.177.178-.416.274-.663.274-.246 0-.484-.096-.663-.274-.365-.365-.365-.958 0-1.324L7.35 8.324v.35L.275 1.6C-.09 1.233-.09.64.274.274c.367-.365.96-.365 1.326 0l7.076 7.078h-.353L15.4.274c.366-.365.96-.365 1.326 0 .365.366.365.958 0 1.324L9.65 8.675v-.35l7.076 7.077z" fill="#FFF" fill-rule="evenodd"/></svg>
        </span>
    </div>
</div>

<div id="exx-chat" ref="exxChat" class="exx-msg" :class="{open: isOpen, 'in-conversation': selectedConversation}" >
    <div class="td" id="msgTab" v-show="!selectedConversation">
        <ul>
            <li>
                <a role="button" class="chat" :class="{active: showTab == 'conversations'}" @click="switchTab('conversations')" title="<%= LANG('客服')%>" data-id="100" id="roleMsg_100">
                    <span v-if="unreadChatCount > 0" class="newnum">{{unreadChatCount}}</span>
                </a>
            </li>
            <li>
                <a role="button" class="notice" :class="{active: showTab == 'notice'}" @click="switchTab('notice')" title="<%= LANG('公告')%>" data-id="101" id="roleMsg_101">
                    <span v-if="unreadNoticeCount > 0" class="newnum">{{unreadNoticeCount}}</span>
                </a>
            </li>
            <li>
                <a role="button" class="news" :class="{active: showTab == 'news'}" @click="switchTab('news')" title="<%= LANG('新闻')%>" data-id="102" id="roleMsg_102">
                    <span v-if="unreadNewsCount > 0" class="newnum">{{unreadNewsCount}}</span>
                </a>
            </li>
            <!--<li><a role="button" class="chatlist" title="<%= LANG('会话列表')%>" data-id="103" id="roleMsg_103"><span class="newnum"></span></a></li>-->
        </ul>
    </div>
    <div class="hd">
        <div v-if="!selectedConversation" class="current-service">
            <div class="img">
                <img v-if="service.avatar" :src="service.avatar" />
                <img v-else src="<%= STATIC %>/images/chat/webchat-header.png"/>
            </div>
            <h2 id="userName">{{service.nickName}}</h2>
        </div>
        <div v-else class="current-service">
            <div class="img">
                <img v-if="selectedConversation.conversationType == '0'" :src="selectedConversation.userInfo.avatarUrl" />
                <img v-else src="<%= STATIC %>/images/chat/default_group.jpg"/>
            </div>
            <h2 id="userName">{{selectedConversation.conversationName}}</h2>
        </div>
        <p class="online" v-if="chatStatus == 'online'"><%= LANG('会话在线')%></p>
        <p class="offline" v-else-if="chatStatus == 'disconnect'"><%= LANG('会话断开')%></p>
        <p class="connecting" v-else><%= LANG('正在连接...')%></p>
        <span class="jilu" style="display: none">
            <svg width="24" height="17" viewBox="0 0 24 17" xmlns="http://www.w3.org/2000/svg"><path d="M7 14.94h16c.552 0 1 .346 1 .772 0 .427-.448.773-1 .773H7c-.552 0-1-.346-1-.773 0-.426.448-.773 1-.773zM2.25 3.09H.75C.336 3.09 0 2.746 0 2.32V.773C0 .346.336 0 .75 0h1.5c.414 0 .75.346.75.773v1.545c0 .427-.336.773-.75.773zM2.25 10.303H.75c-.414 0-.75-.346-.75-.773V7.985c0-.427.336-.773.75-.773h1.5c.414 0 .75.346.75.773V9.53c0 .427-.336.773-.75.773zM2.25 17H.75c-.414 0-.75-.346-.75-.773v-1.545c0-.427.336-.773.75-.773h1.5c.414 0 .75.345.75.772v1.545c0 .427-.336.773-.75.773zM23 2.06H7c-.552 0-1-.346-1-.772 0-.427.448-.773 1-.773h16c.552 0 1 .346 1 .773 0 .426-.448.773-1 .773zM23 9.273H7c-.552 0-1-.346-1-.773 0-.427.448-.773 1-.773h16c.552 0 1 .346 1 .773 0 .427-.448.773-1 .773z"></path></svg>
        </span>
        <span class="back" @click="backIndex" title="<%= LANG('返回')%>">
            <i class="trading-icon trading-icon-fanhui"></i>
            <%= LANG('会话') %>
            <template v-if="totalUnreadCount > 0">({{totalUnreadCount}})</template>
            <!--<svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><path d="M769.799779 68.804451L388.949268 515.243701l380.647593 441.94305-77.538954 66.813249-437.856687-508.346463L691.954948 2.400039z" fill-rule="evenodd"></path></svg>-->
        </span>
        <span class="closes" @click="toggle(false)" title="<%= LANG('收起')%>">
            <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><path d="M9.502 8.5l7.29 7.29c.277.278.277.727 0 1.003-.137.138-.32.207-.5.207s-.362-.07-.5-.207L8.5 9.503l-7.29 7.29c-.14.138-.32.207-.5.207-.183 0-.364-.07-.502-.207-.277-.276-.277-.725 0-1.002l7.29-7.29-7.29-7.29C-.07.932-.07.483.208.206c.277-.276.725-.276 1 0L8.5 7.497l7.29-7.29c.277-.276.725-.276 1.002 0 .277.277.277.726 0 1.002L9.502 8.5z" fill-rule="evenodd"></path></svg>
        </span>
    </div>
    <div class="bd" id="bdScroll">
        <div class="scroll-warp">
            <div v-show="isLoading" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div class="chat-bd" id="chatContent_100" v-show="showTab == 'conversations'">
                <div class="message-list" v-if="selectedConversation">
                    <div class="message-item" :class="message.senderkey == selfInfo.key ? 'user' : 'kefu'" v-for="message in messages">
                        <template v-if="message.senderInfo.role == '109'">
                            <div class="datetime"><span>{{message.content}}</span></div>
                        </template>
                        <template v-else>
                            <div v-if="messageDatetime(message) != null" class="datetime"><span>{{messageDatetime(message)}}</span></div>
                            <div class="img">
                                <img v-if="message.senderkey != selfInfo.key" :src="message.senderInfo.avatarUrl" />
                            </div>
                            <div class="txt">
                                <h4>
                                    <template v-if="message.senderkey == selfInfo.key">Me</template>
                                    <template v-else>{{message.senderInfo.nickname}}</template>
                                </h4>
                                <div class="chat-content">{{message.content}}</div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="chat-list" v-else>
                    <div class="chat-list-item" :class="{offline: conversation.conversationType == '0' && conversation.objectModel.online == '0'}" v-for="conversation in conversations">
                        <div class="item-inner" @click="selectConversation(conversation)">
                            <span v-if="conversation.unreadCount > 0" class="newnum">{{conversation.unreadCount}}</span>
                            <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                            <h3>{{conversation.conversationName}}</h3>
                            <template v-if="conversation.lastChatMessage">
                                <p>最后发言：{{conversation.lastChatMessage.content}}</p>
                                <em>{{formatDateTime(conversation.lastChatMessage.sendTime)}}</em>
                            </template>
                        </div>
                        <span @click="closeConversation(conversation)" class="del" title="<%= LANG('删除会话') %>"><i class="trading-icon trading-icon-delete"></i></span>
                    </div>
                </div>
            </div>
            <div class="chat-bd" id="chatContent_101" v-show="showTab == 'notice'">
                <div class="kefu" v-for="item in notice">
                    <div class="img">
                        <img :src="item.senderInfo.avatarUrl" />
                    </div>
                    <div class="txt">
                        <h4> {{item.senderInfo.nickname}} </h4>
                        <div class="chat-content" v-html="item.content"></div>
                    </div>
                </div>
            </div>
            <div class="chat-bd" id="chatContent_102" v-show="showTab == 'news'">
                <div class="kefu" v-for="item in news">
                    <div class="img">
                        <img :src="item.senderInfo.avatarUrl" />
                    </div>
                    <div class="txt">
                        <h4> {{item.senderInfo.nickname}} </h4>
                        <div class="chat-content" v-html="item.content"></div>
                    </div>
                </div>
            </div>
            <div class="chat-bd" id="chatContent_103" style="display: none">
                <div class="chat-list">

                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="fill" v-if="showTab == 'conversations' && selectedConversation">
        <textarea @keyup.ctrl.enter="sendMessage" v-model="messageContent"  style="resize: none" placeholder="<%= LANG('在这里输入消息...')%>"></textarea>
        <span @click="sendMessage">
            <i>
                <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z" fill-rule="evenodd"/></svg>
            </i><%= LANG('发送消息') %>
        </span>
    </div>
</div>

<script>
    var ws = null;
    //滚动条
    var chatNiceScroll;
    require(['vue', 'common/methods', 'common/juabox'], function(Vue, Methods, JuaBox) {
        EXX.chatPlugin = new Vue({
            el : "#exx-chat",
            data : function () {
                return {
                    chatManage : '',
                    isLoading: false,
                    tempData: false,
                    curChatChannel : 100,
                    //请求消息过程中锁定
                    lockChatRequest: true,
                    isOpen: false,
                    messageContent: '',
                    showTab: 'conversations',
                    selectedConversation: false,
                    wsServer: null,
                    ws: null,
                    appkey: null,
                    selfInfo: {
                        key: null,
                        nickName: null,
                        avatar: null
                    },
                    service: {
                        key: null,
                        nickName: null,
                        avatar: null
                    },
                    serviceList: [],
                    //会话集合
                    conversations: [],
                    messages: [],
                    news: [],
                    notice: [],
                    unreadCount: 0,
                    newsConversation: {},
                    noticeConversation: {},
                    //会话分页数量
                    chatPageSize: 10
                }
            },
            computed : {
                //会话状态
                chatStatus: function() {
                    var status = 'contecting';
                    if (ws == null && this.service.key != null) {
                        status = 'disconnect'
                    } else if (ws != null && this.service.key != null) {
                        status = 'online'
                    }
                    return status;
                },
                unreadChatCount: function() {
                    var count = 0;
                    this.conversations.map(function(item){
                        count += Number(item.unreadCount);
                    });
                    return count;
                },
                unreadNoticeCount: function() {
                    return this.noticeConversation.unreadCount ? Number(this.noticeConversation.unreadCount) : 0;
                },
                unreadNewsCount: function() {
                    return this.newsConversation.unreadCount ? Number(this.newsConversation.unreadCount) : 0;
                },
                totalUnreadCount: function() {
                    return 0 + this.unreadChatCount + this.unreadNewsCount + this.unreadNoticeCount;
                },
                welcomeMessage: function() {
                    var message = {
                        content: "<%= LANG('您好，请问您有什么需要帮助的吗？') %>",
                        senderInfo: this.service
                    };
                    return message;
                },
                lastMessage: function() {
                    return this.messages.length ? this.messages[this.messages.length -1] : null;
                }

            },
            watch : {

            },
            methods : {
                toggle: function(boolean) {
                    this.isOpen = boolean ? boolean : !this.isOpen;
                    if (this.isOpen) {
                        //this.initConnect();
                        this.getConversations();
                        this.unreadCount = 0;
                        if (!this.selectedConversation && this.service.key != null) {
                            this.createConversation();
                        }
                        $("body").addClass('chat-open');
                        try{
                            //关闭行情
                            $('body').removeClass('side-open');
                            EXX.appSider.currentTab = ''
                        }catch (e){}
                    } else {
                        $("body").removeClass('chat-open');
                    }
                },
                getMessageClass: function(msg) {
                    if (msg.senderInfo.role == '109') {

                    } else {
                        return msg.senderkey == selfInfo.key ? 'user' : 'kefu';
                    }
                },
                backIndex: function() {
                    this.selectedConversation = false;
                    this.messages = [];
                    this.messageContent = '';
                    if (!this.conversations.length) {
                        this.getConversations();
                    }
                },
                //单独的获取未读统计接口
                getUnreadCount: function() {
                    var body = {
                        userkey: this.selfInfo.key
                    };
                    this.wsSend('getUnReadCount', body);
                },
                formatDateTime: function(timestamp) {
                    return Methods.getDateTime(timestamp * 1000, 'YYYY-MM-DD HH:MM');
                },
                messageDatetime: function(message) {
                    var index = this.messages.indexOf(message);
                    var preMessage = this.messages[index - 1];
                    if (!message.sendTime) {
                        return null;
                    }
                    // 当前信息与上一条信息发送时间在一分钟内不显示时间
                    if (preMessage && message.sendTime - preMessage.sendTime < 60) {
                        return null;
                    } else {
                        return this.formatDateTime(message.sendTime)
                    }
                },
                switchTab: function(tab) {
                    this.showTab = tab;
                    if (tab == 'notice' && this.noticeConversation.conversationkey) {
                        this.readConversation(this.noticeConversation);
                        this.getNews('101');
                        this.noticeConversation.unreadCount = 0;
                    } else if (tab == 'news' && this.newsConversation.conversationkey) {
                        this.readConversation(this.newsConversation);
                        this.getNews('102');
                        this.newsConversation.unreadCount = 0;
                    }
                },
                createConversation: function() {
                    var body = {
                        userkey: this.selfInfo.key,
                        objectkey: this.service.key,
                        conversationName: "<%= LANG('客服') %>: " + this.service.nickName
                    };
                    this.wsSend('createConversation', body);
                },
                openOrderChat: function(groupkey) {
                    var body = {
                        type: 1,
                        userkey: this.selfInfo.key,
                        objectkey: groupkey
                    };
                    this.closeConversation(this.selectedConversation);
                    this.wsSend('createConversation', body);
                    this.isOpen = true;
                    $("body").addClass('chat-open');
                },
                getConversations: function() {
                    var body = {
                        userkey: this.selfInfo.key,
                        isUnread : "0",
                        isContainMessage: "1"
                    };
                    this.wsSend('getConversations', body);
                },
                handleGetConversations: function(message) {
                    var conversations = message.body.datas.conversations;
                    var chatConversations = [];
                    conversations.map(function(item){
                        if (item.conversationType == '1' || item.objectModel.role == '100') {
                            chatConversations.push(item);
                        } else if (item.objectModel.role == '101') {
                            this.noticeConversation = item;
                        } else if (item.objectModel.role == '102') {
                            this.newsConversation = item;

                        }
                    }.bind(this));
                    this.conversations = chatConversations;
                },
                selectConversation: function(conversation) {
                    if(conversation.conversationType == '0' && conversation.objectModel.online == '0' && $('body').hasClass('chat-open')) {
                        JuaBox.info("<%= LANG('该客服暂时不在线，可能无法立即解答您的问题，您可以重新选择当前在线的客服进行咨询，也可以继续留言给该客服，该客服上线后会第一时间为您解答。') %>")
                    }
                    this.selectedConversation = conversation;
                    this.readConversation(conversation);
                    this.getMessage(conversation);
                },
                readConversation: function(conversation) {
                    var body = {
                        userkey: this.userkey,
                        conversationkey: conversation.conversationkey
                    };
                    this.wsSend('setReadConversation', body);

                    //var fConverstation = this.conversations.getObject('conversationkey', conversationkey);
                    var index = this.conversations.indexOf(conversation);
                    if (index !== -1) {
                        this.conversations[index].unreadCount = 0;
                    }
                },
                closeConversation: function(conversation) {
                    this.tempData = conversation;
                    var body = {
                        userkey: this.selfInfo.key,
                        conversationkey: conversation.conversationkey,
                        number: conversation.number
                    };
                    this.wsSend('closeConversation', body);
                },
                getMessage: function(conversation) {
                    this.isLoading = true;
                    var selectedConversation = this.selectedConversation;
                    var userKey = selectedConversation.conversationType == '0' ? selectedConversation.objectModel.userkey : this.selfInfo.key;
                    var body = {
                        userkey : this.selfInfo.key,
                        objectkey: selectedConversation.objectkey,
                        lastMsgid : '',
                        conversationType : selectedConversation.conversationType,
                        isContainUser:"1",
                        count : "20"
                    };
                    this.wsSend('getMessages', body);
                },
                handleGetMessages: function(data) {
                    var messages = data.body.datas.chatMessages.reverse();
                    this.messages = messages;
                    var lastMessage = null;
                    var diffTime = 0;
                    //欢迎信息
                    if (!messages.length) {
                        //this.messages.push(this.welcomeMessage);
                    } else {
                        lastMessage = messages[messages.length - 1];
                        var now = new Date().valueOf();
                        diffTime = now - lastMessage.sendTime * 1000;
                        if (diffTime > 6 * 1000 * 60 * 60 ) {
                            //this.messages.push(this.welcomeMessage);
                        }
                    }
                    this.$nextTick(function(){
                        this.scrollToBottom();
                        //$('#chat-body').animate({scrollTop: $('#chat-body').get(0).scrollHeight}, 800);
                    });
                },
                sendMessage: function() {
                    if (this.messageContent == '') {
                        JuaBox.info("<%= LANG('请不要惜字如金') %>")
                        return;
                    }
                    var body = {
                        objectkey : this.selectedConversation.objectkey,
                        objectType: this.selectedConversation.conversationType,
                        messageType : "1",
                        content : this.messageContent
                    };
                    this.wsSend('sendMessage', body);
                },
                handleReceiveMessage: function(data) {
                    var conversation =  data.body.conversation;
                    var chatMessage =  data.body.chatMessage;
                    if (conversation.userInfo) {
                        this.spawnNotification(conversation.userInfo.nickname, chatMessage.content);
                    }
                    chatMessage.senderInfo = conversation.userInfo;
                    conversation.lastChatMessage = chatMessage;

                    if (this.selectedConversation.conversationkey == conversation.conversationkey) {
                        this.messages.push(chatMessage);
                        this.$nextTick(function(){
                            this.scrollToBottom();
                        });
                    }

                    if(conversation.conversationType == '0' && conversation.objectModel.role == '101') {
                        this.noticeConversation = conversation;
                        return;
                    } else if(conversation.conversationType == '0' && conversation.objectModel.role == '102') {
                        this.newsConversation = conversation;
                        return;
                    }

                    var conversations = this.conversations.slice(0);
                    var fConverstation = conversations.getObject('conversationkey', conversation.conversationkey);
                    //如果不存在，直接添加到列表
                    if (conversations.indexOf(fConverstation) === -1 ) {
                        this.conversations.unshift(conversation);
                    } else {
                        conversation.unreadCount = 0;
                        conversations.remove(fConverstation);
                        conversations.unshift(conversation);
                        this.conversations = conversations;
                    }
                },
                //获取公告/新闻
                //role（101：公告，102：新闻）
                getNews: function(role,lastMsgid) {
                    //console.log('huoqu:',datas);
                    var messageJson = {
                        type : "1",
                        protocol : "1",
                        ver : "1",
                        method : "getMessages",
                        seq : this.selfInfo.key + "_" +role,
                        body : {
                            //userkey : datas.userkey,
                            count : this.chatPageSize + "",
                            conversationType : "0",
                            role : role || "100",
                            isContainUser : '1',
                            isHTMLEscape : role == 100 ? "1" : "0"
                        }
                    };
                    if(lastMsgid){
                        messageJson.body.lastMsgid = lastMsgid;
                    }
                    ws.send(JSON.stringify(messageJson));
                },
                wsSend: function(method, body, seq) {
                    var seq = seq || "c_124";
                    if (ws != null) {
                        ws.send(JSON.stringify({
                            type : "1",
                            protocol : "1",
                            ver : "1",
                            method : method,
                            seq : seq,
                            body : body
                        }));

                    } else {
                        console.log('连接未开启!');
                    }
                },
                wsConnect: function() {
                    ws = new WebSocket(this.wsServer); //创建WebSocket对象
                    //var wsUrl = "ws://192.168.4.238:8080/api/c/v1/loginAndBind?appkey=2d68067484a20f1a346b3cf28a898ed7f5736f5bacf0fe60449da95efdb97ad4&userkey=27c6090228b66adca5a6900a1aaee8f9e326c929fe4dd9f2d47b340d2dfb9612&username=13712345671&avatarUrl=u012.jpg&sigtime=1515129767&nickname=13712345671&role=1&period=3600&usersig=70029a725edcacdfb396e15445792e2566061462&appsig=6e8025bef98f5ccb3f6b4e15f77c8620a197c3ee";
                    //ws = new WebSocket(wsUrl); //创建WebSocket对象
                    ws.onopen = function(evt) {
                        console.log('成功建立连接');
                        this.getUnreadCount();
//                        this.getConversations();
//                        this.getNews('101');
//                        this.getNews('102');
//                        if (this.service.key != null) {
//                            this.createConversation();
//                        }
                    }.bind(this);
                    ws.onmessage = function(evt) {
                        this.handleWsMessage(evt.data); //解析后台传回的消息,并予以展示
                    }.bind(this);
                    ws.onerror = function(evt) {
                        console.log('产生异常');
                    };
                    ws.onclose = function(evt) {
                    };
                },
                handleWsMessage: function(data) {
                    var message = JSON.parse(data);
                    var method = message.method;
                    this.isLoading = false;
                    //console.log(message);
                    if (method == 'getConversations' && message.body.resMsg.code == '1000') {
                        this.handleGetConversations(message);
                    } else if (method == 'getMessages' && message.body.resMsg.code == '1000') {
                        var role = message.seq.split('_')[1];
                        if ( role == '101') {
                            this.notice = message.body.datas.chatMessages;
                        } else if (role == '102') {
                            this.news = message.body.datas.chatMessages;
                        } else {
                            this.handleGetMessages(message);
                        }
                    } else if (method == 'sendMessage' && message.body.resMsg.code == '1000') {
                        this.messageContent = '';
                        this.getMessage(this.selectedConversation.conversationkey);
                    } else if (method == 'createConversation' && message.body.resMsg.code == '1000') {
                        this.selectConversation(message.body.datas.conversation);
                    } else if (method == 'getUnReadCount' && message.body.resMsg.code == '1000') {
                        this.unreadCount = message.body.datas.count;
                        this.$forceUpdate();
                    } else if (method == 'closeConversation' && message.body.resMsg.code == '1000') {
                        this.conversations.remove(this.tempData);
                        this.tempData = false;
                    } else if (method == 'didReceiveAIChatMessage') {
                        this.handleReceiveMessage(message);
                    } else if (message.body.resMsg.code != '1000') {
                        console.log('出错了')
                    }

                },
                initConnect: function()  {
                    if(ws==null){
                        $.ajax({
                            url: DOMAIN_MAIN + '/api/web/v1_0/connect?jsoncallback=?',
                            type: 'POST',
                            dataType: "jsonp",
                            success: function (json) {
                                if (json.isSuc) {
                                    this.selfInfo = {
                                        nickName: json.datas.nickname,
                                        key: json.datas.userkey,
                                        avatar: json.datas.avatarUrl
                                    };
                                    this.appkey = json.datas.appkey;
                                    this.serviceList = json.datas.services;
                                    if(json.datas.servicekey!=null){
                                        this.service = {
                                            nickName: json.datas.servicenickname,
                                            key: json.datas.servicekey,
                                            avatar: json.datas.serviceicon
                                        };
                                    }else{
                                        //$('#hello').html("<%= LANG('当前客服人员繁忙，请稍候...')%>");
                                    }

                                    this.wsServer = json.datas.url;
                                    this.wsConnect();
                                } else {
                                    console.log(json.des);
                                }
                            }.bind(this),
                            error: function () {
                                console.log('network error');
                            }
                        });
                    }
                },
                //重连定时器
                reConnect: function () {
                    if(ws && ws.readyState != 1){
                        this.initConnect();
                    }
                },
                getService: function() {
                    if(this.service.key==null && ws){
                        $.ajax({
                            url: DOMAIN_MAIN + '/api/web/v1_0/connect?jsoncallback=?',
                            type: 'POST',
                            dataType: "jsonp",
                            success: function (json) {
                                if (json.isSuc) {
                                    servicekey = json.datas.servicekey;
                                    if(servicekey!=null){
                                        this.service = {
                                            nickName: json.datas.servicenickname,
                                            key: json.datas.servicekey,
                                            avatar: json.datas.serviceicon
                                        };
                                    }
                                }
                            }.bind(this),
                            error: function () {
                                console.log('network error');
                            }
                        });
                    }
                },
                initChatScroll: function() {
                    if(!chatNiceScroll){
                        chatNiceScroll = new IScroll('#bdScroll',{
                            mouseWheel: true,
                            scrollbars: true
                            //fadeScrollbars : true
                        });
                        //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
                        //添加滚动监听事件
                        chatNiceScroll.on('scrollEnd', function () {
                            var $curContent = $("#bdScroll .chat-bd:visible");
                            var role = $curContent.attr('id').split("_")[1];
//                            if(Math.abs(this.y) == 0 && msgRecord[role].lastCount == chatPageSize && !lockChatRequest){
//                                $curContent.find(".spinner").show();
//                                lockChatRequest = true ;
//                                setTimeout(function () {
//                                    //getMessages({userkey: userName}, role, msgRecord[role].lastId, "getMessages");
//                                },500)
//                                setTimeout(function () {
//                                    lockChatRequest = false;
//                                },3000)
//
//                            }else{
//                                $curContent.find(".spinner").hide();
//                            }
                            //console.log(this.y)
                            //if ( this.x < -1000 ) {
                            // do something
                            // }
                        });
                    }else{
                        chatNiceScroll.refresh();

                    }

                },
                scrollToBottom: function() {
                    setTimeout(function () {
                        chatNiceScroll.scrollTo(0, chatNiceScroll.maxScrollY, 500)
                    }, 500)
                },
                handleClickOutside: function (e) {
                    var el = this.$refs.exxChat;
                    if (this.isOpen && !el.contains(e.target)) {
                        this.toggle(false);
                    }
                },
                spawnNotification: function(theTitle, theBody, theIcon) {
                    var options = {
                        body: theBody,
                        icon: theIcon
                    };
                    var n = new Notification(theTitle, options);
                    setTimeout(n.close.bind(n), 4000);
                }
            },
            created : function() {
                this.initConnect();
                // 桌面通知权限申请
                Notification.requestPermission().then(function(result) {
                });
            },
            mounted : function() {
                this.initChatScroll();
                document.addEventListener('click', this.handleClickOutside, true);
                setInterval(this.reConnect, 10000);// 定时器10秒检测一次重连
                setInterval(this.getService, 10000);// 定时器10秒检查一次客服
            },
            updated : function() {
                if(!chatNiceScroll) {
                    chatNiceScroll = new IScroll('#bdScroll', {
                        mouseWheel: true,
                        scrollbars: true
                        //fadeScrollbars : true
                    });
                } else {
                    chatNiceScroll.refresh();
                }

                if (this.unreadCount > 0) {
                    $(".webchat-r .newnum").text(this.unreadCount);
                    $(".webchat-r .newnum").show();
                } else {
                    $(".webchat-r .newnum").hide();
                }


//                if (this.totalUnreadCount > 0) {
//                    $(".webchat-r .newnum").text(this.totalUnreadCount);
//                    $(".webchat-r .newnum").show();
//                } else {
//                    $(".webchat-r .newnum").hide();
//                }
            },
            beforeDestroy: function() {
                document.removeEventListener('click', this.handleClickOutside, true);
            }
        })
    });




    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return (Min + Math.round(Rand * Range));
    }

    $(function () {
        $("body").on('click', ".webchat-r", function(){
            EXX.chatPlugin.toggle();
        });

    })


    /**
     * 连接
     */
    function getConnection() {
        if (ws == null) {
            ws = new WebSocket(wsServer); //创建WebSocket对象
            ws.onopen = function(evt) {

                layer.msg("成功建立连接!", {
                    offset : 0
                });
            };
            ws.onmessage = function(evt) {
                analysisMessage(evt.data); //解析后台传回的消息,并予以展示
            };
            ws.onerror = function(evt) {
                layer.msg("产生异常", {
                    offset : 0
                });
            };
            ws.onclose = function(evt) {
                layer.msg("已经关闭连接", {
                    offset : 0
                });
            };
        } else {
            layer.msg("连接已存在!", {
                offset : 0,
                shift : 6
            });
        }
    }

    /**
     * 关闭连接
     */
    function closeConnection() {
        if (ws != null) {
            ws.close();
            ws = null;
            $("#list").html(""); //清空在线列表
            layer.msg("已经关闭连接", {
                offset : 0
            });
        } else {
            layer.msg("未开启连接", {
                offset : 0,
                shift : 6
            });
        }
    }

    /**
     * 检查连接
     */
    function checkConnection() {
        if (ws != null) {
            layer.msg(ws.readyState == 0 ? "连接异常" : "连接正常", {
                offset : 0
            });
        } else {
            layer.msg("连接未开启!", {
                offset : 0,
                shift : 6
            });
        }
    }

    //获取未读消息数量
    function getUnReadMsg() {
        $.ajax({
            url: DOMAIN_MAIN + '/api/web/v1_0/getUnReadMsg?jsoncallback=?',
            type: 'POST',
            dataType: "jsonp",
            success: function (json) {
                if (json.isSuc) {
                    //设置页面的未读消息
                    var allCount = json.datas.unreadcount && json.datas.unreadcount > 0 ? json.datas.unreadcount : '';
                    $(".webchat-r .newnum").text(allCount);
                    for(var key in json.datas.group){
                        var count = json.datas.group[key] && json.datas.group[key] > 0 ? json.datas.group[key] : '';
                        $("#roleMsg_"+key+" .newnum").text(count);
                    }
                }
            },
            error: function () {
                console.log('network error');
            }
        });
    }

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month
            + seperator1 + strDate + " " + date.getHours() + seperator2
            + date.getMinutes() + seperator2 + date.getSeconds();
        return currentdate;
    }

</script>

