
<link href="<%= STATIC %>/styles/chat.css" rel="stylesheet" type="text/css">

<div class="exx-msg-icon" style="display: none">
    <div class="box">
        <div class="hd">
            <div class="kefu">
                <p class="kefu1"></p>
                <p></p>
                <p class="kefu3"></p>
            </div>
            <p class="p1">Patrick Leary, Nick Brown, Tanner</p>
            <p>Need help with something? Leave us a message<br>and we’ll follow up as soon as we can.</p>
        </div>
        <div class="bd">
            <textarea style="resize: none" placeholder="Leave a message…"></textarea>
            <span onclick="connect();"><i id="connect">
                <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z" fill-rule="evenodd" /></svg>
            </i>Leave Message</span>
        </div>
    </div>
    <div class="button" data-toggle="dropdown">
        <span class="on">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4.583 14.894l-3.256 3.78c-.7.813-1.26.598-1.25-.46a10689.413 10689.413 0 0 1 .035-4.775V4.816a3.89 3.89 0 0 1 3.88-3.89h12.064a3.885 3.885 0 0 1 3.882 3.89v6.185a3.89 3.89 0 0 1-3.882 3.89H4.583z" fill="#FFF" fill-rule="evenodd"/></svg>
        </span>
        <span class="off">
            <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M16.726 15.402c.365.366.365.96 0 1.324-.178.178-.416.274-.663.274-.246 0-.484-.096-.663-.274L8.323 9.648h.353L1.6 16.726c-.177.178-.416.274-.663.274-.246 0-.484-.096-.663-.274-.365-.365-.365-.958 0-1.324L7.35 8.324v.35L.275 1.6C-.09 1.233-.09.64.274.274c.367-.365.96-.365 1.326 0l7.076 7.078h-.353L15.4.274c.366-.365.96-.365 1.326 0 .365.366.365.958 0 1.324L9.65 8.675v-.35l7.076 7.077z" fill="#FFF" fill-rule="evenodd"/></svg>
        </span>
    </div>
</div>

<div class="exx-msg">
    <div class="td" id="msgTab">
        <ul>
            <li><a role="button" class="chat active" title="<%= LANG('客服')%>" data-id="100" id="roleMsg_100"><span class="newnum"></span></a></li>
            <li><a role="button" class="notice" title="<%= LANG('公告')%>" data-id="101" id="roleMsg_101"><span class="newnum"></span></a></li>
            <li><a role="button" class="news" title="<%= LANG('新闻')%>" data-id="102" id="roleMsg_102"><span class="newnum"></span></a></li>
            <!--<li><a role="button" class="chatlist" title="<%= LANG('会话列表')%>" data-id="103" id="roleMsg_103"><span class="newnum"></span></a></li>-->
        </ul>
    </div>
    <div class="hd">
        <div class="img">
            <img src="<%= STATIC %>/images/chat/webchat-header.png"/>
        </div>
        <h2 id="userName"></h2>
        <p class="online"><%= LANG('会话在线')%></p>
        <p class="offline"><%= LANG('会话断开')%></p>
        <p class="connecting"><%= LANG('正在连接...')%></p>
        <span class="jilu" style="display: none">
            <svg width="24" height="17" viewBox="0 0 24 17" xmlns="http://www.w3.org/2000/svg"><path d="M7 14.94h16c.552 0 1 .346 1 .772 0 .427-.448.773-1 .773H7c-.552 0-1-.346-1-.773 0-.426.448-.773 1-.773zM2.25 3.09H.75C.336 3.09 0 2.746 0 2.32V.773C0 .346.336 0 .75 0h1.5c.414 0 .75.346.75.773v1.545c0 .427-.336.773-.75.773zM2.25 10.303H.75c-.414 0-.75-.346-.75-.773V7.985c0-.427.336-.773.75-.773h1.5c.414 0 .75.346.75.773V9.53c0 .427-.336.773-.75.773zM2.25 17H.75c-.414 0-.75-.346-.75-.773v-1.545c0-.427.336-.773.75-.773h1.5c.414 0 .75.345.75.772v1.545c0 .427-.336.773-.75.773zM23 2.06H7c-.552 0-1-.346-1-.772 0-.427.448-.773 1-.773h16c.552 0 1 .346 1 .773 0 .426-.448.773-1 .773zM23 9.273H7c-.552 0-1-.346-1-.773 0-.427.448-.773 1-.773h16c.552 0 1 .346 1 .773 0 .427-.448.773-1 .773z"></path></svg>
        </span>
        <span class="closes" title="<%= LANG('收起')%>">
            <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><path d="M9.502 8.5l7.29 7.29c.277.278.277.727 0 1.003-.137.138-.32.207-.5.207s-.362-.07-.5-.207L8.5 9.503l-7.29 7.29c-.14.138-.32.207-.5.207-.183 0-.364-.07-.502-.207-.277-.276-.277-.725 0-1.002l7.29-7.29-7.29-7.29C-.07.932-.07.483.208.206c.277-.276.725-.276 1 0L8.5 7.497l7.29-7.29c.277-.276.725-.276 1.002 0 .277.277.277.726 0 1.002L9.502 8.5z" fill-rule="evenodd"></path></svg>
        </span>
    </div>
    <div class="bd" id="bdScroll">
        <div class="scroll-warp">
            <div class="chat-bd" id="chatContent_100">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div class="kefu">
                    <div class="img">
                        <img id="serviceicon" src="<%= STATIC %>/images/chat/webchat-header.png"/>
                    </div>
                    <div class="txt">
                        <h4 id="servicenickname">Hello!</h4>
                        <div class="chat-content" id="hello"><%= LANG('正在连接客服，请稍候...')%></div>
                    </div>
                </div>
            </div>
            <div class="chat-bd" id="chatContent_101" style="display: none">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
            <div class="chat-bd" id="chatContent_102" style="display: none">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
            <div class="chat-bd" id="chatContent_103" style="display: none">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div class="chat-list">

                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>
                    <div class="chat-list-item">
                        <div class="img"><img src="/src/images/chat/webchat-header.png"> </div>
                        <h3>客服：Admin</h3>
                        <p>最后发言：请问你是女的还是女的？</p>
                        <em>10/10/20:45</em>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="fill">
		<textarea id="message" style="resize: none" placeholder="<%= LANG('在这里输入消息...')%>"></textarea>
        <span onclick="sendMessage()">
            <i>
                <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z" fill-rule="evenodd"/></svg>
            </i><%= LANG('发送消息') %>
        </span>
    </div>
</div>

<script>
    require(['vue', 'common/methods', 'common/juabox'], function(Vue, Methods, JuaBox) {
        EXX.chatPlugin = new Vue({
            el : "",
            data : function () {
                return {
                    chatManage : '',
                    curChatChannel : 100,


                }
            },
            computed : {

            },
            watch : {

            },
            methods : {

            },
            created : function() {

            },
            mounted : function() {

            },
            updated : function() {

            },
            beforeDestroy: function() {

            }
        })
    });



















    var layer = {};
    require(['common/juabox', 'common/methods'], function(JuaBox, Methods) {
        layer.msg = function (msg) {
            JuaBox.info(msg);
        }
    });

    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return (Min + Math.round(Rand * Range));
    }
    //$('.exx-msg-icon .button').dropdown();

    /*$(".exx-msg-icon .button").on('click', function () {
        $('.exx-msg-icon').addClass("open");
    })*/

    $(function () {

        //展开聊天
        $("body").on('click',".exx-msg-icon .box .bd span, .webchat-r", function () {
            connect();
            $(".exx-msg").toggleClass("open");
            $("body").toggleClass("chat-open");
            if($(".exx-msg").hasClass("open")){
                //展开初始化一次滚动条
                initChatScroll();

                $("#msgTab a").each(function (i,c) {
                    if($(this).hasClass("active")){
                        setReadConversationByRole($(this).data('id'));
                    }
                })
            }
            try{
                //关闭行情
                $('body').removeClass('side-open');
                EXX.appSider.currentTab = ''
            }catch (e){}
        })

        //隐藏聊天窗
        $(".exx-msg .hd .closes").on('click', function () {
            $(".exx-msg").removeClass("open");
            $("body").removeClass("chat-open");
        })

        //绑定ENTER事件
        $("body").keypress(function(e) {
            if (e.keyCode == 13 && $(".exx-msg").hasClass("open")) {
                sendMessage();
            }
        });

        //Tab切换事件
        $("#msgTab li a").on("click",function () {
            var role = $(this).data('id');
            $("#msgTab li a").removeClass('active');
            $(this).addClass('active');
            $("#bdScroll .chat-bd").hide();
            $("#chatContent_" + role).show();
            initChatScroll();
            scrollToBottom();
            //切换标签时候标识未读信息
            setReadConversationByRole(role);
        })

        //打开页面的时候获取未读消息数量 20秒定时器
        //setTimeout(getUnReadMsg, 1000);
        //setInterval(function(){
            //关闭聊天窗口或未建立WS
        //    if(!$("body").hasClass("chat-open") || !ws){
        //        getUnReadMsg();
        //    }
        //}, 20000)
    })







    var wsServer = null;
    var ws = null;
    var userName;
    var appkey;
    var servicekey;
    var servicenickname;
    var serviceicon ;
    //默认客服头像
    var defaultServiceicon = '<%= STATIC %>/images/chat/webchat-header.png';
    //会话集合
    var conversations ;
    //滚动条
    var chatNiceScroll;
    //会话状态
    var chatStatus;
    //请求消息过程中锁定
    var lockChatRequest = true;
    //会话分页数量
    var chatPageSize = 10;
    //历史记录ID
    var msgRecord = {
        100 : {
            lastId : 0,
            pageIndex : 0,
            lastCount : 0
        },
        101 : {
            lastId : 0,
            pageIndex : 0,
            lastCount : 0
        },
        102 : {
            lastId : 0,
            pageIndex : 0,
            lastCount : 0
        }
    }
    function connect() {
        if(ws==null){
            $.ajax({
                url: DOMAIN_MAIN + '/api/web/v1_0/connect?jsoncallback=?',
                type: 'POST',
                dataType: "jsonp",
                success: function (json) {
                    if (json.isSuc) {
                        $('#userName').html(json.datas.servicenickname);
                        userName = json.datas.userkey;
                        appkey = json.datas.appkey;
                        var icon = json.datas.avatarUrl;
                        if(icon!=null){
                            $('#userIcon').html(icon);
                        }
                        servicekey = json.datas.servicekey;
                        if(servicekey!=null){
                            //console.log(servicenickname);
                            servicenickname = json.datas.servicenickname;
                            $('#servicenickname').html(servicenickname);
                            serviceicon = json.datas.serviceicon;
                            if(serviceicon!=null){
                                $('#serviceicon').attr("src",serviceicon);
                            }else{
                                $('#serviceicon').attr("src",defaultServiceicon);
                            }
                        }else{
                            $('#hello').html("<%= LANG('当前客服人员繁忙，请稍候...')%>");
                        }

                        wsServer = json.datas.url;
                        ws = new WebSocket(wsServer); //创建WebSocket对象
                        ws.onopen = function(evt) {
                            console.log('chat connect success.')
                            if(servicekey!=null){
                                $('#hello').html("<%= LANG('您好，请问您有什么需要帮助的吗？')%>");
                            }
                            getConversations();
                            getMessages(json.datas,'100','',servicenickname);
                            getMessages(json.datas,'101','',servicenickname);
                            getMessages(json.datas,'102','',servicenickname);
                        };
                        ws.onmessage = function(evt) {
                            analysisMessage(evt.data); //解析后台传回的消息,并予以展示
                        };
                        ws.onerror = function(evt) {
                            $('#connect').html("<%= LANG('客服系统繁忙，正在重连，请稍候...')%>");
                        };
                        ws.onclose = function(evt) {
                            $('#connect').html("<%= LANG('客服系统繁忙，正在重连，请稍候...')%>");
                        };
                    } else {
                        console.log(json.des);
                    }
                },
                error: function () {
                    console.log('network error');
                }
            });
        }
    }

    function getService(){
        if(servicekey==null && ws){
            $.ajax({
                url: DOMAIN_MAIN + '/api/web/v1_0/connect?jsoncallback=?',
                type: 'POST',
                dataType: "jsonp",
                success: function (json) {
                    if (json.isSuc) {
                        servicekey = json.datas.servicekey;
                        if(servicekey!=null){
                            $('#userName').html(json.datas.servicenickname);
                            servicenickname = json.datas.servicenickname;
                            $('#servicenickname').html(servicenickname);
                            serviceicon = json.datas.serviceicon;
                            $('#serviceicon').attr("src",serviceicon || defaultServiceicon);
                            $('#hello').html("<%= LANG('您好，请问您有什么需要帮助的吗？')%>");
                        }
                    }
                },
                error: function () {
                    console.log('network error');
                }
            });
        }
    }
    setInterval(getService,10000);// 定时器10秒检查一次客服

    //重连定时器
    function reChatConnect(){
        if(ws && ws.readyState != 1){
            ws = new WebSocket(wsServer); //创建WebSocket对象
            ws.onopen = function(evt) {
                console.log('chat reconnect success.')
                getConversations();
            };
            ws.onmessage = function(evt) {
                analysisMessage(evt.data); //解析后台传回的消息,并予以展示
            };
            ws.onerror = function(evt) {
                $('#connect').html("<%= LANG('客服系统繁忙，正在重连，请稍候...')%>");
            };
            ws.onclose = function(evt) {
                $('#connect').html("<%= LANG('客服系统繁忙，正在重连，请稍候...')%>");
            };
        }
    }
    setInterval(reChatConnect,10000);// 定时器10秒检测一次重连


    function initChatScroll() {
        if(!chatNiceScroll){
            chatNiceScroll = new IScroll('#bdScroll',{
                mouseWheel: true,
                scrollbars: true
                //fadeScrollbars : true
            });
            //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
            //添加滚动监听事件
            chatNiceScroll.on('scrollEnd', function () {
                var $curContent = $("#bdScroll .chat-bd:visible");
                var role = $curContent.attr('id').split("_")[1];
                if(Math.abs(this.y) == 0 && msgRecord[role].lastCount == chatPageSize && !lockChatRequest){
                    $curContent.find(".spinner").show();
                    lockChatRequest = true ;
                    setTimeout(function () {
                        getMessages({userkey: userName}, role, msgRecord[role].lastId, "getMessages");
                    },500)
                    setTimeout(function () {
                        lockChatRequest = false;
                    },3000)

                }else{
                    $curContent.find(".spinner").hide();
                }
                //console.log(this.y)
                //if ( this.x < -1000 ) {
                // do something
                // }
            });
        }else{
            chatNiceScroll.refresh();

        }

    }

    function scrollToBottom(row) {
        var scrollRow ;
        if(row){
            var sid = $("#bdScroll .chat-bd:visible").attr('id');
           scrollRow = document.querySelector('#' + sid + ' > div:nth-child('+(row+1)+')');
        }else{
           scrollRow = $("#bdScroll .chat-bd:visible > div:last-child")[0];
        }
        setTimeout(function () {
            //chatNiceScroll.scrollToElement(scrollRow, 1200, null, null, IScroll.utils.ease.elastic)
            chatNiceScroll.scrollToElement(scrollRow)
        }, 500)
    }

    /**
     * 连接
     */
    function getConnection() {
        if (ws == null) {
            ws = new WebSocket(wsServer); //创建WebSocket对象
            ws.onopen = function(evt) {

                layer.msg("成功建立连接!", {
                    offset : 0
                });
            };
            ws.onmessage = function(evt) {
                analysisMessage(evt.data); //解析后台传回的消息,并予以展示
            };
            ws.onerror = function(evt) {
                layer.msg("产生异常", {
                    offset : 0
                });
            };
            ws.onclose = function(evt) {
                layer.msg("已经关闭连接", {
                    offset : 0
                });
            };
        } else {
            layer.msg("连接已存在!", {
                offset : 0,
                shift : 6
            });
        }
    }

    /**
     * 关闭连接
     */
    function closeConnection() {
        if (ws != null) {
            ws.close();
            ws = null;
            $("#list").html(""); //清空在线列表
            layer.msg("已经关闭连接", {
                offset : 0
            });
        } else {
            layer.msg("未开启连接", {
                offset : 0,
                shift : 6
            });
        }
    }

    /**
     * 检查连接
     */
    function checkConnection() {
        if (ws != null) {
            layer.msg(ws.readyState == 0 ? "连接异常" : "连接正常", {
                offset : 0
            });
        } else {
            layer.msg("连接未开启!", {
                offset : 0,
                shift : 6
            });
        }
    }

    function getConversations() {

        if (ws != null) {
            ws.send(JSON.stringify({
                type : "1",
                protocol : "1",
                ver : "1",
                method : "getConversations",
                seq : "c_124",
                body : {
                    isUnread : "0",
                }
            }));

        } else {
            layer.msg("连接未开启!获取会话失败", {
                offset : 0,
                shift : 6
            });
        }
    }
    //获取未读消息数量
    function getUnReadMsg() {
        return false;
        Methods.ajax({
            url: DOMAIN_MAIN + '/api/web/v1_0/getUnReadMsg',
            type: 'GET',
            dataType: "jsonp",
            success: function (json) {
                if (json.isSuc) {
                    //设置页面的未读消息
                    var allCount = json.datas.unreadcount && json.datas.unreadcount > 0 ? json.datas.unreadcount : '';
                    $(".webchat-r .newnum").text(allCount);
                    for(var key in json.datas.group){
                        var count = json.datas.group[key] && json.datas.group[key] > 0 ? json.datas.group[key] : '';
                        $("#roleMsg_"+key+" .newnum").text(count);
                    }
                }
            },
            error: function () {
                console.log('network error');
            }
        });
    }


    //获取历史消息
    //role（100：聊天，101：公告，102：新闻）
    function getMessages(datas,role,lastMsgid,getMessages){
        //console.log('huoqu:',datas);
        var messageJson = {
            type : "1",
            protocol : "1",
            ver : "1",
            method : "getMessages",
            seq : datas.userkey + "_" +role,
            body : {
                //userkey : datas.userkey,
                count : chatPageSize + "",
                conversationType : "0",
                role : role || "100",
                isContainUser : '1',
                isHTMLEscape : role == 100 ? "1" : "0"
                //isHTMLEscape : "0"
            }
        };
        if(lastMsgid){
            messageJson.body.lastMsgid = lastMsgid;
        }
        ws.send(JSON.stringify(messageJson));
    }

    function setReadConversationByRole(role) {
        if(!conversations){
            return false;
        }
        if(ws){
            for(var i = 0, ilength =  conversations.length; i < ilength ; i++){
                if(conversations[i].objectModel.role == role){
                    var conversationid = conversations[i].conversationid + "";
                    setReadConversation(conversationid);
                }
            }
            getUnReadMsg();
        }
    }

    // 设置已读消息
    function setReadConversation (objectkey,setReadConversation){
        if(!ws){
            return false;
        }
        var messageJson = {
            type : "1",
            protocol : "1",
            ver : "1",
            method : "setReadConversation",
            seq : "c_124",
            body : {
                conversationid : objectkey
            }
        }
        ws.send(JSON.stringify(messageJson));
    }


    function dealHisMessage(message,userkey,servicenickname, role){
        //console.log(JSON.stringify(message));
        if(!message){
            return false;
        }
        var obj=message.chatMessages;
        obj.sort(sortJSON);

        //记录历史记录情况
        if(obj.length > 0){
            msgRecord[role].lastId = obj[obj.length - 1].msgid;
            msgRecord[role].pageIndex += 1;
            msgRecord[role].lastCount = message.count;

            $.each(obj,function(index) {
                addMsg(obj[index],userkey,servicenickname,role);
            });
        }else{
            $("#chatContent_" + role).find(".spinner").hide();
            msgRecord[role].lastCount = 0;
        }
    }

    function sortJSON(a,b){
        return b.sendTime-a.sendTime;
    }

    function addMsg(msg,userkey,servicenickname,role){
        var html = "";
        if(userkey==msg.senderkey){
            var isSef = "am-comment-flip"; //如果是自己则显示在右边,他人信息显示在左边
            html = html + ("<div class=\'user\'>");
            html = html+ ("<div class=\'txt\'><h4>me</h4><div class='chat-content'>"+ msg.content + "</div></div>");
            html = html + ("</div>");
        }else{
            html = html + ("<div class=\'kefu\'>");
            html = html+ ("<div class=\'img\'><img onerror='this.src="+defaultServiceicon+"' src=\'"+ (msg.senderInfo.avatarUrl || defaultServiceicon) +"\'/></div>");
            html = html+ ("<div class=\'txt\'><h4>" + msg.senderInfo.nickname + "</h4><div class='chat-content'>" + msg.content + "</div></div>");
            html = html + ("</div>");
        }
        var role = role || "100";



        //$("#chatContent_" + role).find('.spinner').after(html);
        $("#chatContent_" + role).find('.spinner').hide();
        //initChatScroll();
        if(msgRecord[role].pageIndex > 1){
            if(role == 100){
                //console.log('100-2')
            }
            $("#chatContent_" + role).find('.spinner').after(html);
            initChatScroll();
            scrollToBottom(msgRecord[role].lastCount);
        }else{
            if(role == 100){
                //console.log('100-1')
            }
            $("#chatContent_" + role).find('.spinner').after(html);
            //$("#chatContent_" + role).append(html);
            initChatScroll();
            scrollToBottom();
            setTimeout(function () {
                lockChatRequest = false;
            },3000)
        }

    }



    /**
     * 发送信息给后台
     */
    function sendMessage() {
        if (ws == null) {
            layer.msg("连接未开启!", {
                offset : 0,
                shift : 6
            });
            return;
        }
        var message = $.trim($("#message").val());
        var to = $("#sendto").text() == "全体成员" ? "" : $("#sendto").text();
        if (message == null || message == "") {
            layer.msg("请不要惜字如金!", {
                offset : 0,
                shift : 6
            });
            return;
        }

        var messageJson = JSON
            .stringify({
                type : "1",
                protocol : "1",
                ver : "1",
                method : "sendMessage",
                seq : "c_124",
                body : {
                    objectkey : servicekey,
                    messageType : "1",
                    content : "" + message,
                    isHTMLEscape : "1"
                }
            })
        ws.send(messageJson);
        if(!$("#roleMsg_100").hasClass('active')){
            $("#roleMsg_100").click();
        }
        showChat(messageJson);
    }

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month
            + seperator1 + strDate + " " + date.getHours() + seperator2
            + date.getMinutes() + seperator2 + date.getSeconds();
        return currentdate;
    }
    /**
     * 解析后台传来的消息
     * "massage" : {
*              "from" : "xxx",
*              "to" : "xxx",
*              "content" : "xxx",
*              "time" : "xxxx.xx.xx"
*          },
     * "type" : {notice|message},
     * "list" : {[xx],[xx],[xx]}
     */
    function analysisMessage(strMessage) {
        //console.log(strMessage);
        var message = JSON.parse(strMessage);
        var method = message.method;

        if (method == "didReceiveAIChatMessage") { //会话消息
            receiveChat(message);
        } else if (method == "getConversations") { //提示消息
            showOnline(message);
            //会话信息存储在本地
            conversations = message.body.datas.conversations
        }else if (method == "getMessages") {
            dealHisMessage(message.body.datas, userName, servicenickname, message.seq.split('_')[1]);
        }
    }
    /**
     * 过滤HTML标签及空格
     */
    function removeHTMLTag(str) {
        str = str.replace(/<\/?[^>]*>/g,''); //去除HTML tag
        str = str.replace(/[ | ]*\n/g,'\n'); //去除行尾空白
        //str = str.replace(/\n[\s| | ]*\r/g,'\n'); //去除多余空行
        str=str.replace(/&nbsp;/ig,'');//去掉&nbsp;
        return str;
    }

    /**
     * 展示会话信息
     */
    function showChat(messageStr) {
        var message = JSON.parse(messageStr);

        var isSef = '' == message.body.userid ? "am-comment-flip"
            : ""; //如果是自己则显示在右边,他人信息显示在左边
        var html = "";
        html = html + ("			<div class=\'user\'>");
        html = html + ("				");
        html = html
            + ("				<div class=\'txt\'><h4>me</h4><div class='chat-content'>"
            + removeHTMLTag(message.body.content) + "</div></div>");
        html = html + ("				");
        html = html + ("			</div>");

        $("#chatContent_100").append(html);
        $("#message").val(""); //清空输入区
        var chat = $("#chat-view");
        initChatScroll();
        scrollToBottom();
    }

    /**
     * 展示接收会话信息
     */
    function receiveChat(message) {
        var chatMessage = message.body.chatMessage;
        var conversation = message.body.conversation;
        var html = "";
        html = html + ("			<div class=\'kefu\'>");
        html = html
            + ("				<div class=\'img\'><img src=\'"+DOMAIN_FILE+"/statics/img/admin/chat/webchat-header.png\'/></div>");
        html = html
            + ("				<div class=\'txt\'><h4>" + conversation.objectModel.nickname
            + "</h4><div class='chat-content'>" + chatMessage.content + "</div></div>");
        html = html + ("				");
        html = html + ("			</div>");

        var role = message.body.conversation.objectModel.role || 100;

        $("#chatContent_" + role).append(html);
        //更新客服key
        if(role == 100 && chatMessage.senderkey){
            servicekey = chatMessage.senderkey;
        }
        //回传消息时候如果是当前窗口则标为已读
        if($("#roleMsg_" + role).hasClass('active')){
            setReadConversationByRole(role);
        }else{
            getUnReadMsg();
        }

        initChatScroll();
        scrollToBottom();
    }
    /**
     * 展示在线列表
     */
    function showOnline(message) {
        var list = message.body.datas.conversations;
        $("#list").html(""); //清空在线列表
        for ( var i in list) {
            var item = list[i];
            var li = "<li>" + item.conversationName + "</li>";
            li = "<li>"
                + item.conversationName
                + " <button type=\"button\" class=\"am-btn am-btn-xs am-btn-primary am-round\" onclick=\"addChat('"
                + item.conversationName
                + "');\"><span class=\"am-icon-phone\"><span> <%= LANG('私聊')%></button></li>";
            $("#list").append(li);
        }

        $("#onlinenum").text($("#list li").length); //获取在线人数
    }

    /**
     * 添加接收人
     */
    function addChat(user) {
        var sendto = $("#sendto");
        var receive = sendto.text() == "全体成员" ? "" : sendto.text() + ",";
        sendto.text(user);
    }

</script>

