<div class="user-container">
    <div class="assets-panel" id="app-bill">
        <div class="assets-record" v-cloak="">
            <div class="assets-list">
                <div class="head">
                    <h2 style="padding-left: 20px;"><%= LANG('综合账单')%></h2>
                    <div class="dropdown-group">
                        <div class="dropdown" v-cloak="">
                            <p role="button" data-toggle="dropdown"><%= LANG('币种') %>：<em>{{currentCoin == 'all' ? "<%= LANG('全部') %>" : currentCoin.toUpperCase()}}</em></p>
                            <div class="dropdown-menu">
                                <ul class="dropdown-list">
                                    <li :class="{'active': currentCoin == 'all'}"><a role="button" @click="changeCoin('all')"><%= LANG('全部') %></a></li>
                                    <li  v-for="(item,index) in coinConfig" :class="{'active': item.name == currentCoin}"><a @click="changeCoin(item.name)">{{item.name
                                        .toUpperCase()}}</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="dropdown" v-cloak="">
                            <p role="button" data-toggle="dropdown"><%= LANG('类型') %>：
                                <em v-for="(item,key) in billTypeObj" v-if="currentType == item.changTypeId">{{item.changTypeName}}</em>
                            </p>
                            <div class="dropdown-menu">
                                <ul class="dropdown-list">
                                    <li v-for="(item,key) in billTypeObj" :class="{'active': currentType == item.changTypeId}">
                                        <a role="button" @click="changeType(item.changTypeId)">{{item.changTypeName}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="dropdown" v-cloak="">-->
                        <!--<p role="button" data-toggle="dropdown"><%= LANG('时间') %>：<em>{{timeTypeObj[timeType]}}</em></p>-->
                        <!--<div class="dropdown-menu">-->
                        <!--<ul class="dropdown-list">-->
                        <!--<li v-for="(item,key) in timeTypeObj" :class="{'active': timeType == key}">-->
                        <!--<a role="button" @click="changeTimeType(key)">{{item}}</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="body">
                    <ul class="title">
                        <li>
                            <p><%= LANG('币种')%></p>
                            <p><%= LANG('时间')%></p>
                            <p><%= LANG('操作')%></p>
                            <p><%= LANG('发生金额')%></p>
                            <p><%= LANG('手续费')%></p>
                        </li>
                    </ul>
                    <div v-if="!billRecordsSwitch" class="cd-loading">
                        <div class="vertical-bars">
                            <p class="layer-1"></p>
                            <p class="layer-2"></p>
                            <p class="layer-3"></p>
                            <p class="layer-4"></p>
                            <p class="layer-5"></p>
                            <p class="layer-6"></p>
                            <p class="layer-7"></p>
                            <p class="layer-8"></p>
                            <p class="layer-9"></p>
                        </div>
                    </div>
                    <ul v-else class="list">
                        <li v-for="bill in billRecords" v-if="billRecords.length > 0 && Object.keys(coinsId).length > 0">
                            <p><img :src="'/src/images/icon/market-icon/market-'+ coinsId[bill.currencyTypeId].toLowerCase() +'.png'">{{coinsId[bill.currencyTypeId].toUpperCase()}}</p>
                            <p>{{bill.createTime.split('.')[0]}}</p>
                            <p :class="{'buyColor' :bill.changeType==1, 'sellColor':bill.changeType==2 }">{{getChangeName(bill.changeType)}}</p>
                            <p><span :class="[bill.changeAmount > 0 ? 'green-color' : 'red-color']">{{getChangeAmount(bill.changeAmount)}} {{coinsId[bill.currencyTypeId].toUpperCase()}}</span></p>
                            <p>{{bill.feeAmount}}</p>
                        </li>
                        <li class="norecord" v-if="billRecords.length == 0"><%= LANG('暂无记录')%></li>
                    </ul>
                </div>


            </div>
        </div>
        <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" :turn-page="getBill" v-if="billRecords.length > 0 || pageIndex > 1"></page-lite>
    </div>

</div>

<%-include("../../component/page_lite.html")%>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        EXX.appBill = new Vue({
            el: "#app-bill",
            data: function () {
                return {
                    isLogin: ISLOGIN,
                    pageIndex: 1,
                    pageSize: 10,
                    pageCount: 0,
                    totalPage: 0,
                    requestLocked: false,
                    currentUserAsset: '',
                    coinConfig: '',
                    billRecords: '',
                    currentCoin: "<%= coin%>",
                    // currentType: 'all',
                    currentType: 0,
                    billRecordsSwitch: false,
                    // billTypeObj: {
                    //     "all": "<%= LANG('全部') %>",
                    //     "trade": "<%= LANG('交易') %>",
                    //     "payin": "<%= LANG('充值') %>",
                    //     "payout": "<%= LANG('提现') %>",
                    //     "other": "<%= LANG('其他') %>"
                    // },
                    billTypeObj: [
                        {
                            changTypeId: 0,
                            changTypeName: '<%= LANG("全部") %>'
                        },
                        {
                            changTypeId: 1,
                            changTypeName: '<%= LANG("买") %>'
                        },
                        {
                            changTypeId: 2,
                            changTypeName: '<%= LANG("卖") %>',
                        },
                        {
                            changTypeId: 3,
                            changTypeName: '<%= LANG("充值") %>',
                        },
                        {
                            changTypeId: 4,
                            changTypeName: '<%= LANG("提现") %>',
                        },
                        {
                            changTypeId: 5,
                            changTypeName: '<%= LANG("系统充值") %>',
                        },
                        {
                            changTypeId: 6,
                            changTypeName: '<%= LANG("系统扣款") %>',
                        },
                        // {
                        //     changTypeId:13,
                        //     changTypeName: '<%= LANG("挖矿奖励") %>',
                        // },
                        // {
                        //     changTypeId:14,
                        //     changTypeName: '<%= LANG("分红") %>',
                        // },
                        {
                            changTypeId: 15,
                            changTypeName: '<%= LANG("系统间转账") %>',
                        },
                        {
                            changTypeId: 16,
                            changTypeName: '<%= LANG("推荐大赛奖励") %>',
                        },
                        // {
                        //     changTypeId:17,
                        //     changTypeName: '<%= LANG("挖矿推荐奖励") %>',
                        // },
                        // {
                        //     changTypeId:-1000,
                        //     changTypeName: '<%= LANG("ZT释放记录") %>',
                        // },
                        {
                            changTypeId: 22,
                            changTypeName: '<%= LANG("活动奖励") %>',
                        },
                    ],
                    timeType: '0',
                    timeTypeObj: {
                        '0': "<%= LANG('最近记录') %>",
                        '1': "<%= LANG('历史记录') %>"
                    },

                    marketConfig: [],
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo') //用户信息
                }
            },
            computed: {
                //转换市场id
                switchMarkets: function () {
                    var _this = this;
                    var marketAndId = {};

                    if (_this.marketConfig) {
                        _this.marketConfig.forEach(function (item, index) {
                            marketAndId[item.name] = item.marketId;
                        });
                    }
                    return marketAndId;
                },
                //转换市场名称
                switchIds: function () {
                    var _this = this;
                    var marketAndId = {};

                    if (_this.marketConfig) {
                        _this.marketConfig.forEach(function (item, index) {
                            marketAndId[item.marketId] = item.name;
                        });
                    }
                    return marketAndId;
                },
                //转换所有币种id
                coinsId: function () {
                    var _this = this;
                    var coinId = {};

                    if (_this.coinConfig) {
                        _this.coinConfig.forEach(function (item, index) {
                            coinId[item.currencyId] = item.name;
                        });
                    }
                    return coinId;
                },
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV + 'uid');
                    }
                }
            },
            methods: {
                //根据变更类型转换变更名称
                // 变更类型，1:交易买变动  2:交易卖变动  3:充值变动 4:提现变动 5:其他变动
                getChangeName: function (changeType) {
                    switch (changeType) {
                        // case 1:
                        //     return '交易买';
                        // case 2:
                        //     return '交易卖';
                        // case 3:
                        //     return '充值';
                        // case 4:
                        //     return '提现';
                        // case 5:
                        //     return '系统充值';
                        // case 6:
                        //     return '系统扣款';
                        case 1:
                            return '<%= LANG("买") %>';
                        case 2:
                            return '<%= LANG("卖") %>';
                        case 3:
                            return '<%= LANG("充值") %>';
                        case 4:
                            return '<%= LANG("提现") %>';
                        case 5:
                            return '<%= LANG("系统充值") %>';
                        case 6:
                            return '<%= LANG("系统扣款") %>';
                        case 13:
                            return '<%= LANG("挖矿奖励") %>';
                        // case 14:
                        //     return '<%= LANG("分红") %>';
                        case 15:
                            return '<%= LANG("系统间转账") %>';
                        case 16:
                            return '<%= LANG("推荐奖励") %>';
                        case 17:
                            return '<%= LANG("挖矿推荐奖励") %>';
                        case -1000:
                            return '<%= LANG("ZT释放") %>';
                    }
                },
                showDate: function (date) {
                    return Methods.getDateTime(date, 'YYYY-MM-DD HH:MM:SS');
                },
                /*
                * 获取所有货币信息
                * */
                getCoinConfig: function () {
                    var data = {
                        // webId: 100
                    };
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getCoinMaps',
                        data: data,
                        url: DOMAIN_DEV + "/exchange/config/controller/website/currencycontroller/" + 'getCurrencyList',
                        success: function (res) {
                            this.coinConfig = res.datas;
                        }.bind(this)
                    });
                },
                /**
                 * 获取账单记录
                 * 按照货币类型获取，当货币类型传 空 时查询全部
                 */
                getBill: function () {
                    var data = {
                        // billType: this.currentType,
                        // childId: this.currentAccountId,
                        // cointType: this.currentCoin,
                        // pageIndex: this.pageIndex,
                        // pageSize: this.pageSize,
                        // isBackup: this.timeType
                        // webId: 100,
                        currencyTypeName: this.currentCoin == 'all' ? '' : this.currentCoin,
                        userId: this.loginUser.userId,
                        pageSize: this.pageSize,
                        pageNum: this.pageIndex,
                    };
                    if (this.currentType != 0) {
                        data.changeType = this.currentType
                    }
                    this.requestLocked = true;
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'getBill',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/FundChangeController/" + 'findByPage',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.requestLocked = false;

                            // this.billRecords = res.datas.results;
                            // //很重要，判断当前是否是最后一页的依据
                            // this.pageCount = res.datas.results.length;
                            this.billRecordsSwitch = true
                            this.billRecords = res.datas.list;
                            this.pageCount = res.datas.totalRow;
                            this.totalPage = res.datas.totalPage;
                            console.log(this.totalPage)
                        }.bind(this)
                    });
                },
                // 获取市场配置
                getMarketConfig: function (callback) {
                    var _this = this;
                    Methods.ajax({
                        // url: DOMAIN_TRADE + API_PREFIX + 'getMarketConfig',
                        url: DOMAIN_DEV + "/exchange/config/controller/website/marketcontroller/" + 'getByWebId',
                        success: function (res) {
                            _this.marketConfig = res.datas;
                            callback && callback(res.datas);
                        }
                    });
                },
                changeCoin: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.currentCoin = type;
                    this.getBill();
                },
                changeType: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.currentType = type;
                    console.log(this.currentType)
                    if (this.currentType == '-1000') {
                        this.currentCoin = 'zt';
                    }
                    this.getBill();
                },
                changeTimeType: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.timeType = type;
                    this.getBill();
                },
                getChangeAmount: function (str) {
                    var arr = [...str].reverse()
                    var leng = arr.length
                    for (var i = 0; i < leng; i++) {
                        if (arr[0] == 0) {
                            arr.shift()
                        } else if (arr[0] == '.') {
                            arr.shift()
                            break
                        }
                    }
                    return arr.reverse().join('')
                }
            },
            created: function () {
                this.getCoinConfig();
                this.getMarketConfig(this.getBill);
            }
        })
    })
</script>

