<div class="bill-panel" id="app-bill">
    <div class="bill-panel-head">
        <h3><%= LANG('综合账单')%></h3>


        <div class="dropdown coin-type" v-cloak="">
            <p role="button" data-toggle="dropdown"><%= LANG('币种') %>：<em>{{currentCoin == 'all' ? "<%= LANG('全部') %>" :
                currentCoin.toUpperCase()}}</em></p>
            <div class="dropdown-menu">
                <ul class="coin-type-list">
                    <li :class="{'active': currentCoin == 'all'}">
                        <a role="button" @click="changeCoin('all')"><%= LANG('全部') %></a>
                    </li>
                    <li v-for="(item,index) in coinConfig" :class="{'active': item.name == currentCoin}">
                        <a @click="changeCoin(item.name)">
                            <img :src="'/src/images/icon/market-icon/market-' + item.name + '.png?<%= VERSION%>'">{{item.name.toUpperCase()}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="dropdown" v-cloak="">
            <p role="button" data-toggle="dropdown"><%= LANG('类型') %>：<em>{{billTypeObj[currentType]}}</em></p>
            <div class="dropdown-menu">
                <ul class="dropdown-list">
                    <li v-for="(item,key) in billTypeObj" :class="{'active': currentType == key}">
                        <a role="button"
                           @click="changeType(key)">
                            {{item}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="dropdown" v-cloak="">
            <p role="button" data-toggle="dropdown"><%= LANG('时间') %>：<em>{{timeTypeObj[timeType]}}</em></p>
            <div class="dropdown-menu">
                <ul class="dropdown-list">
                    <li v-for="(item,key) in timeTypeObj" :class="{'active': timeType == key}"><a role="button"
                                                                                                  @click="changeTimeType(key)">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bill-panel-body" :class="{'loading loading-light-bg' : requestLocked}" v-cloak="">
        <div class="table head">
            <div class="cell coin"><%= LANG('币种')%></div>
            <div class="cell time"><%= LANG('时间')%></div>
            <div class="cell type"><%= LANG('操作')%></div>
            <div class="cell amount"><%= LANG('发生金额')%></div>
        </div>
        <div class="table body"
             v-for="bill in billRecords"
             v-if="billRecords.length > 0 && Object.keys(coinsId).length > 0">
            <div class="cell coin"><img
                    :src="'/src/images/icon/market-icon/market-'+ coinsId[bill.currencyTypeId].toLowerCase() +'.png'"
                    class="market-icon">
                {{coinsId[bill.currencyTypeId].toUpperCase()}}
            </div>
            <div class="cell time">{{bill.createTime.split('.')[0]}}</div>
            <div class="cell type">{{getChangeName(bill.changeType)}}</div>

            <div class="cell amount">
                <div class="amount1"><p><span
                        :class="[bill.changeAmount > 0 ? 'plus' : 'less']">{{bill.changeAmount}} <em>{{coinsId[bill.currencyTypeId].toUpperCase()}}</em></span>
                </p></div>
            </div>
        </div>
        <div class="table no-data" v-if="billRecords.length == 0">
            <%= LANG('暂无记录')%>
        </div>
    </div>
    <page-lite :page-index="pageIndex" :page-size="pageSize" :page-count="pageCount" :turn-page="getBill"
               v-if="billRecords.length > 0 || pageIndex > 1"></page-lite>
</div>

<%-include("../../component/page_lite.html")%>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        EXX.appBill = new Vue({
            el: "#app-bill",
            data: function () {
                return {
                    isLogin: ISLOGIN,
                    pageIndex: 1,
                    pageSize: 10,
                    pageCount: 0,
                    requestLocked: false,
                    currentUserAsset: '',
                    coinConfig: '',
                    billRecords: '',
                    currentCoin: "<%= coin%>",
                    // currentType: 'all',
                    currentType: 0,
                    // billTypeObj: {
                    //     "all": "<%= LANG('全部') %>",
                    //     "trade": "<%= LANG('交易') %>",
                    //     "payin": "<%= LANG('充值') %>",
                    //     "payout": "<%= LANG('提现') %>",
                    //     "other": "<%= LANG('其他') %>"
                    // },
                    billTypeObj: [
                        '全部',
                        '交易买',
                        '交易卖',
                        '充值',
                        '提现',
                        '系统充值',
                        '系统扣款'
                    ],
                    timeType: '0',
                    timeTypeObj: {
                        '0': "<%= LANG('最近记录') %>",
                        '1': "<%= LANG('历史记录') %>"
                    },

                    marketConfig: [],
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo') //用户信息
                }
            },
            computed: {
                //转换市场id
                switchMarkets: function () {
                    var _this = this;
                    var marketAndId = {};

                    if (_this.marketConfig) {
                        _this.marketConfig.forEach(function (item, index) {
                            marketAndId[item.name] = item.marketId;
                        });
                    }
                    return marketAndId;
                },
                //转换市场名称
                switchIds: function () {
                    var _this = this;
                    var marketAndId = {};

                    if (_this.marketConfig) {
                        _this.marketConfig.forEach(function (item, index) {
                            marketAndId[item.marketId] = item.name;
                        });
                    }
                    return marketAndId;
                },
                //转换所有币种id
                coinsId: function () {
                    var _this = this;
                    var coinId = {};

                    if (_this.coinConfig) {
                        _this.coinConfig.forEach(function (item, index) {
                            coinId[item.currencyId] = item.name;
                        });
                    }
                    return coinId;
                },
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV + 'uid');
                    }
                }
            },
            methods: {
                //根据变更类型转换变更名称
                // 变更类型，1:交易买变动  2:交易卖变动  3:充值变动 4:提现变动 5:其他变动
                getChangeName: function (changeType) {
                    switch (changeType) {
                        case 1:
                            return '交易买变动';
                        case 2:
                            return '交易卖变动';
                        case 3:
                            return '充值变动';
                        case 4:
                            return '提现变动';
                        case 5:
                            return '系统充值';
                        case 6:
                            return '系统扣款';
                    }
                },
                showDate: function (date) {
                    return Methods.getDateTime(date, 'YYYY-MM-DD HH:MM:SS');
                },
                /*
                * 获取所有货币信息
                * */
                getCoinConfig: function () {
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getCoinMaps',
                        // url: DOMAIN_DEV + "/exchange/fund/controller/website/fundcontroller/" + 'getcoinmaps',
                        url: DOMAIN_DEV + "/exchange/config/controller/admin/currencycontroller/" + 'getCurrencyList?webId=100',
                        success: function (res) {
                            this.coinConfig = res.datas;
                        }.bind(this)
                    });
                },
                /**
                 * 获取账单记录
                 * 按照货币类型获取，当货币类型传 空 时查询全部
                 */
                getBill: function () {
                    var data = {
                        // billType: this.currentType,
                        // childId: this.currentAccountId,
                        // cointType: this.currentCoin,
                        // pageIndex: this.pageIndex,
                        // pageSize: this.pageSize,
                        // isBackup: this.timeType
                        webId: 100,
                        currencyTypeName: this.currentCoin == 'all' ? '' : this.currentCoin,
                        userId: this.loginUser.userId,
                        pageSize: this.pageSize,
                        pageNum: this.pageIndex,
                    };
                    if (this.currentType != 0) {
                        data.changeType = this.currentType
                    }
                    this.requestLocked = true;
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'getBill',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/FundChangeController/" + 'findByPage',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.requestLocked = false;

                            // this.billRecords = res.datas.results;
                            // //很重要，判断当前是否是最后一页的依据
                            // this.pageCount = res.datas.results.length;

                            this.billRecords = res.datas.list;
                            this.pageCount = res.datas.list.length;
                        }.bind(this)
                    });
                },
                // 获取市场配置
                getMarketConfig: function (callback) {
                    var _this = this;
                    Methods.ajax({
                        // url: DOMAIN_TRADE + API_PREFIX + 'getMarketConfig',
                        url: DOMAIN_DEV + "/exchange/config/controller/admin/marketcontroller/" + 'getall',
                        success: function (res) {
                            _this.marketConfig = res.datas;
                            callback && callback(res.datas);
                        }
                    });
                },
                changeCoin: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.currentCoin = type;
                    this.getBill();
                },
                changeType: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.currentType = type;
                    this.getBill();
                },
                changeTimeType: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.timeType = type;
                    this.getBill();
                }
            },
            created: function () {
                this.getCoinConfig();
                this.getMarketConfig(this.getBill);
            }
        })
    })
</script>
