<div class="user-container">
    <div class="assets-panel" id="app-entrust">
        <div class="assets-record">
            <div class="assets-list">
                <div class="head" style="padding-left: 20px;">
                    <h2>
                        <%= LANG('委托记录') %>
                    </h2>
                    <div class="dropdown-group">
                        <div class="dropdown" v-cloak="">
                            <p role="button" data-toggle="dropdown">
                                <%= LANG('市场') %>：<em>{{coinName}}</em><i>/</i>{{moneyName}}
                            </p>
                            <div class="dropdown-menu" style="width: 370px;right: -163px;">
                                <ul class="dropdown-list" v-for="tab,index in marketGroupTab" style="float: left;width: 120px"
                                    :class="{'block' : index == curIndex}">
                                    <li v-for="market,key in getGroupMarket(tab)" :class="{'active': market.name == currentMarket}"><a
                                            @click="changeMarket(market.name)" role="button">{{market.name.replace('_',
                                            '/').toUpperCase()}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown" v-cloak="" v-if="!isAll">
                            <p role="button" data-toggle="dropdown">
                                <%= LANG('类型') %>：<em>{{tradeTypeObj[tradeType]}}</em>
                            </p>
                            <div class="dropdown-menu">
                                <ul class="dropdown-list">
                                    <li :class="{'active': tradeType == key}" v-for="item, key in tradeTypeObj"><a role="button"
                                            @click="changeTradeType(key)">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown" v-cloak="" v-if="!isAll">
                            <p role="button" data-toggle="dropdown">
                                <%= LANG('状态') %>：<em>{{tradeStatusObj[tradeStatus]}}</em>
                            </p>
                            <div class="dropdown-menu">
                                <ul class="dropdown-list">
                                    <li :class="{'active': tradeStatus == key}" v-for="item, key in tradeStatusObj">
                                        <a role="button" @click="changeTradeStatus(key)">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="dropdown" v-cloak="" v-if="!isAll">-->
                        <!--<p role="button" data-toggle="dropdown"><%= LANG('时间') %>：<em>{{timeTypeObj[timeType]}}</em></p>-->
                        <!--<div class="dropdown-menu">-->
                        <!--<ul class="dropdown-list">-->
                        <!--<li :class="{'active': timeType == key}" v-for="item, key in timeTypeObj"><a role="button" @click="changeTimeType(key)">{{item}}</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="body">
                    <ul class="title" v-cloak="">
                        <li>
                            <p>
                                <%= LANG('市场') %>
                            </p>
                            <p>
                                <%= LANG('类型') %>
                            </p>
                            <p>
                                <%= LANG('时间') %>
                            </p>
                            <p>
                                <%= LANG('委托价') %>/
                                <%= LANG('成交均价') %>
                            </p>
                            <p>
                                <%= LANG('委托量') %>/
                                <%= LANG('成交量') %>
                            </p>
                            <p>
                                <%= LANG('成交额') %>
                            </p>
                            <p>
                                <%= LANG('状态') %>/
                                <%= LANG('操作') %>
                            </p>
                        </li>
                    </ul>
                    <div v-if="!userEntrustListSwitch" class="cd-loading">
                        <div class="vertical-bars">
                            <p class="layer-1"></p>
                            <p class="layer-2"></p>
                            <p class="layer-3"></p>
                            <p class="layer-4"></p>
                            <p class="layer-5"></p>
                            <p class="layer-6"></p>
                            <p class="layer-7"></p>
                            <p class="layer-8"></p>
                            <p class="layer-9"></p>
                        </div>
                    </div>
                    <ul v-else class="list">
                        <li v-if="records.length > 0" v-for="item in records" v-cloak="">
                            <p>{{switchIds[item.marketId].replace('_', '/').toUpperCase()}}</p>
                            <p>
                                <span class="buyColor"><template v-if="item.type == 1"><%= LANG('买') %></template></span>
                                <span class="sellColor"><template v-if="item.type == 0"><%= LANG('卖') %></template></span>
                            </p>
                            <p>{{showTime(item.createTime)}}</p>

                            <p :class="{'buyColor':item.type == 1, 'sellColor':item.type == 0}">
                                <span class="hint--top" :aria-label="showAssistHint(item.price, switchIds[item.marketId])">{{showMoney(item.price,switchIds[item.marketId])}}</span>/<span class="hint--top" :aria-label="showAssistHint((item.completeTotalMoney/item.completeAmount), switchIds[item.marketId])">{{showMoney((item.completeTotalMoney/item.completeAmount).toFixed(8),switchIds[item.marketId])}}</span>
                            </p>
                            <p :class="{'buyColor':item.type == 1, 'sellColor':item.type == 0}"><span :class="[item.type == 1 ? 'buyColor' : 'sellColor']">{{showCoin(item.amount,switchIds[item.marketId])}}</span>/{{showCoin(item.completeAmount,switchIds[item.marketId])}}</p>
                            <p><span class="hint--top" :aria-label="showAssistHint(item.completeTotalMoney,switchIds[item.marketId])">{{showAmount(item.completeTotalMoney,switchIds[item.marketId])}}</span>
                            </p>
                            <p v-if="item.status == 3 || item.status == 0"><span v-html="showStatus(item.status)"></span>
                                | <a role="button" @click="doCancelEntrust(item.entrustId, item.marketId)"><%=LANG('取消') %></a>
                            </p>
                            <p v-if="item.status != 3 && item.status != 0"><span v-html="showStatus(item.status)"></span></p>
                        </li>
                        <li class="norecord" v-if="records.length == 0">
                            <%= LANG('暂无记录')%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" @turn-page="getUserEntrustList"
            v-if="records.length > 0 && !isAll"></page-lite>
    </div>
</div>


<%-include("../../component/page_lite.html")%>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        EXX.appEntrust = new Vue({
            el: "#app-entrust",
            data: function () {
                return {
                    isLogin: ISLOGIN,
                    pageIndex: 1,
                    pageSize: 10,
                    pageCount: 0,
                    totalPage: 0,
                    requestLocked: false,
                    marketConfig: [],
                    records: [],
                    curIndex: 0,
                    currentMarket: "<%= market || 'all_all' %>",
                    coin: '<%= market.split("_")[0] %>',
                    money: '<%= market.split("_")[1] %>',
                    coinName: '<%= market.split("_")[0].toUpperCase() %>',
                    moneyName: '<%= market.split("_")[1].toUpperCase() %>',
                    assistPrice: null,
                    assistCoin: MONEY,
                    tradeStatus: '',
                    tradeStatusObj: {
                        '': "<%= LANG('全部') %>",
                        '0': "<%= LANG('交易中') %>",
                        '2': "<%= LANG('已完成') %>",
                        '1': "<%= LANG('已取消') %>",
                        '3': "<%= LANG('部分成交') %>"
                    },
                    tradeType: '',
                    tradeTypeObj: {
                        '': "<%= LANG('全部') %>",
                        '0': "<%= LANG('卖单') %>",
                        '1': "<%= LANG('买单') %>"
                    },
                    timeType: '0',
                    timeTypeObj: {
                        '0': "<%= LANG('最近委托') %>",
                        '1': "<%= LANG('历史委托') %>"
                    },
                    assistList: {
                        'none': {
                            key: 'none',
                            name: "<%= LANG('默认')%>",
                            icon: '',
                            symbol: '฿',
                            decimal: 6
                        },
                        /*'btc': {key: 'btc', name: 'BTC', icon: 'icon-btc', symbol: '฿',decimal : 6},*/
                        'usd': {
                            key: 'usd',
                            name: 'USD',
                            icon: 'icon-meiyuan',
                            symbol: '$',
                            decimal: 3
                        },
                        '<%= UNIT %>': {
                            key: '<%= UNIT %>',
                            name: '<%= LEGAL[UNIT].unit %>',
                            icon: '',
                            symbol: '<%= LEGAL[UNIT].note %>',
                            decimal: '<%= LEGAL[UNIT].decimal %>'
                        }
                    },
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
                    openMarkets: [], //开放的市场
                    userEntrustListSwitch: false
                }
            },
            computed: {
                //转换市场id
                switchMarkets: function () {
                    var _this = this;
                    var marketAndId = {};

                    if (_this.marketConfig) {
                        _this.marketConfig.forEach(function (item, index) {
                            marketAndId[item.name] = item.marketId;
                        });
                    }
                    return marketAndId;
                },
                //转换市场名称
                switchIds: function () {
                    var _this = this;
                    var marketAndId = {};

                    if (_this.marketConfig) {
                        _this.marketConfig.forEach(function (item, index) {
                            marketAndId[item.marketId] = item.name;
                        });
                    }
                    return marketAndId;
                },
                isAll: function () {
                    return this.currentMarket == 'all_all' ? true : false;
                },
                currentUserAsset: function () {
                    return EXX.userNav.currentUserAsset;
                },
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV +
                            'uid');
                    }
                },
                currentMarketConfig: function () {
                    if (this.marketConfig) {
                        var config = this.marketConfig[this.currentMarket];
                        //处理模拟盘的币种名称
                        /*if(config.demoMode) {
                            config.coinName = config.coinName.substring(1);
                            config.moneyName = config.moneyName.substring(1);
                            this.coinName = config.coinName;
                            this.moneyName = config.moneyName;
                        }*/
                        return config;
                    } else {
                        return ''
                    }
                },
                //按市场分组
                marketGroupTab: function () {
                    var tab = [];
                    var marketConfig = this.marketConfig;
                    if (marketConfig) {
                        /*for(var key in marketConfig){
                            if(this.currentUserAsset && this.currentUserAsset.userType == 3){
                                //模拟市场
                                if(marketConfig[key].demoMode){
                                    tab.push(marketConfig[key].moneyName);
                                }
                            }else{
                                //真实市场
                                if(!marketConfig[key].demoMode){
                                    tab.push(marketConfig[key].moneyName);
                                }
                            }
                        }*/
                        marketConfig.forEach(function (item, index) {
                            var marketArr = item.name.split("_");
                            if (marketArr.length > 1) {
                                tab.push(marketArr[1].toUpperCase());
                            }
                        });
                    }
                    return tab.unique();
                }
            },
            methods: {
                // 获取币价汇率
                getAssistPrice: function (callback) {
                    var _this = this;
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getAssistPrice',
                        url: DOMAIN_DEV +
                            "/exchange/config/controller/website/PriceController/" +
                            'getAssistPrice',
                        success: function (res) {
                            _this.assistPrice = res.datas;
                            callback && callback(res.datas);
                        },
                        error: function () {}
                    });
                },
                // 获取市场配置
                getMarketConfig: function (callback) {
                    var _this = this;
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_TRADE + API_PREFIX + 'getMarketConfig',
                        url: DOMAIN_DEV +
                            "/exchange/config/controller/website/MarketController/" +
                            'getByWebId',
                        success: function (res) {
                            _this.marketConfig = res.datas;
                            callback && callback(res.datas);
                        }
                    });
                },
                //获取用户委托记录 暂无分页
                getUserEntrustList: function (marketid) {
                    var _this = this;

                    var data = {
                        // type: _this.tradeType,
                        // status: _this.tradeStatus,
                        // isBackup: _this.timeType,
                        // market: _this.currentMarket,
                        // userId: _this.currentAccountId,
                        pageIndex: _this.pageIndex,
                        pageSize: _this.pageSize,
                        userId: this.loginUser.userId,
                        marketId: marketid || _this.switchMarkets[_this.currentMarket]
                    };
                    if (_this.tradeType) {
                        data.type = _this.tradeType
                    }
                    if (_this.tradeStatus) {
                        data.status = _this.tradeStatus
                    }
                    _this.requestLocked = true;
                    _this.records = []
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/entrust/controller/website/EntrustController/' +
                            'getUserEntrustList',
                        data: data,
                        success: function (res) {
                            //数组更新（取消轮询）
                            // if (marketid) {
                            //     _this.records = _this.records.concat(_this.filterRecord(res.datas.entrustList));
                            // } else {
                            //     _this.records = _this.filterRecord(res.datas.entrustList);
                            // }


                            // _this.records = _this.filterRecord(res.datas.entrustList);

                            _this.records = res.datas.entrustList;
                            _this.pageCount = res.datas.totalRow;
                            _this.totalPage = res.datas.totalPage;
                            console.log(_this.records)
                            _this.requestLocked = false;
                            _this.userEntrustListSwitch = true
                        },
                        error: function (res) {
                            _this.requestLocked = false;
                            JuaBox.showWrong(EXX.L(res.resMsg.code));
                            // JuaBox.info(EXX.L(res.resMsg.message));
                        }
                    });
                },
                // 委托记录条件过滤
                filterRecord: function (record) {
                    return record.filter(function (currentValue, index, arr) {
                        if (this.tradeStatus != '-2' && this.tradeType != '-1') {
                            return currentValue.status == this.tradeStatus && currentValue.type ==
                                this.tradeType
                        } else if (this.tradeStatus != '-2') {
                            return currentValue.status == this.tradeStatus
                        } else if (this.tradeType != '-1') {
                            return currentValue.type == this.tradeType
                        } else {
                            return true;
                        }
                    }, this);
                },
                //封装选择请求方法
                getRecord: function () {
                    if (this.isAll) {
                        //轮询获取所有委托记录
                        this.getOpenMarketByWebId(this.getUserEntrustList);
                    } else {
                        this.getUserEntrustList();
                    }
                },
                // 获取所有开放的marketId
                getOpenMarketByWebId: function (callback) {
                    var _this = this;
                    var data = {
                        // webId: 100
                    }
                    _this.requestLocked = true;

                    Methods.ajax({
                        type: 'GET',
                        data: data,
                        url: DOMAIN_DEV +
                            "/exchange/config/controller/website/MarketController/" +
                            'getMarketByWebId',
                        success: function (res) {
                            _this.openMarkets = res.datas;

                            _this.openMarkets.forEach(function (item, index) {
                                setTimeout(function () {
                                    callback && callback(item.marketId);
                                }, 50);
                            });

                            _this.requestLocked = false;
                        }
                    })
                },
                //取消委托
                doCancelEntrust: function (id, marketid, isReal) {
                    var _this = this;
                    var data = {
                        // isReal: 0,
                        // market: market || _this.currentMarket,
                        // userId: _this.currentAccountId,
                        // entrustId: id

                        marketId: marketid,
                        entrustId: id
                    };
                    Methods.ajax({
                        // url: DOMAIN_TRADE + API_PREFIX + 'doCancelEntrust',
                        url: DOMAIN_DEV +
                            '/exchange/entrust/controller/website/EntrustController/' +
                            'cancelEntrust',
                        data: JSON.stringify(data),
                        success: function (res) {
                            _this.getRecord();

                            $.toast({
                                heading: 'Success',
                                text: '<%= LANG("取消委托成功") %>',
                                showHideTransition: 'plain',
                                icon: 'success'
                            });
                        }
                    });
                },
                changeMarket: function (market) {
                    top.location.href = '/u/entrust/' + market;
                    /*this.pageIndex = 1;
                    this.pageCount = 0;
                    this.currentMarket = type;
                    this.getUserEntrustList();*/
                },
                changeTradeStatus: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.tradeStatus = type;
                    this.getRecord();
                },
                changeTradeType: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.tradeType = type;
                    this.getRecord();
                },
                changeTimeType: function (type) {
                    this.pageIndex = 1;
                    this.pageCount = 0;
                    this.timeType = type;
                    this.getRecord();
                },
                //获取指定辅助货币的价格
                getPriceByAssist: function (price, market) {
                    if (!price || price == '' || this.assistPrice == null) {
                        return ''
                    }
                    var money = this.getMoney(market || this.currentMarket);
                    var assistCoin = this.assistCoin;
                    if (assistCoin == 'none' || assistCoin == '') {
                        return Methods.fixNumber(price, 4);
                    } else {
                        return Methods.fixNumber(parseFloat(price) * parseFloat(this.assistPrice[
                            assistCoin][money]), this.assistList[assistCoin].decimal) || '--';
                    }
                },
                //获取指定分组的市场列表
                getGroupMarket: function (tab) {
                    var result = [];
                    var marketConfig = this.marketConfig;

                    /*for(var key in marketConfig){
                        if(marketConfig[key].moneyName == tab){
                            result[key] = marketConfig[key];
                        }
                    }*/

                    if (marketConfig) {
                        marketConfig.forEach(function (item, index) {
                            var marketArr = item.name.split("_");
                            if (marketArr.length > 1 && marketArr[1].toUpperCase() == tab) {
                                result.push(item);
                            }
                        });
                    }

                    return result;
                },
                showStatus: function (status) {
                    var obj = {
                        "-2": "<%= LANG('资金解冻失败')%>",
                        "-1": "<%= LANG('用户资金不足')%>",
                        "0": "<span class='text-second'><%= LANG('交易中')%></span>",
                        "1": "<%= LANG('已取消')%>",
                        "2": "<span class='text-primary'><%= LANG('已完成')%></span>",
                        "3": "<span class='text-second'><%= LANG('交易中')%></span>",
                        "4": "<span class='text-second'><%= LANG('取消中')%></span>"
                    }
                    return obj[status];
                },
                showSource: function (source) {
                    var obj = {
                        "6": "API",
                        "8": "WEB",
                        "5": "APP"
                    }
                    return obj[source];
                },
                showTime: function (time) {
                    return Methods.getDateTime(time, "MM-DD HH:MM:SS");
                },
                showCoin: function (val, market) {
                    if (isNaN(val)) {
                        return '--'
                    } else {
                        return parseFloat(val)
                    }
                },
                showMoney: function (val, market) {
                    if (isNaN(val)) {
                        return '--'
                    } else {
                        return parseFloat(val)
                    }
                },
                showAmount: function (val, market) {
                    if (isNaN(val)) {
                        return '--'
                    } else {
                        return parseFloat(val)
                    }
                },
                showRate: function (val) {
                    if (isNaN(val)) {
                        return '--'
                    } else {
                        if (parseFloat(val) >= 0) {
                            return "+" + Methods.fixNumber(val, 2)
                        } else {
                            return Methods.fixNumber(val, 2)
                        }
                    }
                },
                showAssistCoin: function (market) {
                    //显示辅助货币名字，不显示默认
                    if (this.assistCoin == 'none') {
                        return this.getMoneyName(market);
                    } else {
                        return this.assistList[this.assistCoin].name || this.getMoneyName(market);
                    }
                },
                showAssistName: function (market) {
                    //显示辅助货币名字，有默认显示
                    return this.assistList[this.assistCoin].name || this.getMoneyName(market);
                },
                //价格折合的提示内容
                showAssistHint: function (price, market) {
                    return "<%= LANG('折合')%>:" + this.getPriceByAssist(price, market) + " " + this.showAssistCoin(
                        market);
                },
                getCoin: function (market) {
                    return market.split('_')[0];
                },
                getMoney: function (market) {
                    return market.split('_')[1];
                },
                getCoinName: function (market) {
                    return market.split('_')[0].toUpperCase();
                },
                getMoneyName: function (market) {
                    return market.split('_')[1].toUpperCase();
                },
                getMarket: function (market) {
                    if (market) {
                        return market.replace('_', '/').toUpperCase();
                    } else {
                        return this.currentMarket.replace('_', '/').toUpperCase();
                    }
                }
            },
            created: function () {
                this.getMarketConfig(function () {
                    this.getAssistPrice();
                    this.getRecord();
                }.bind(this));
                // console.log('<%= market %>',11111111)
            },
            mounted: function () {

            }
        })
    })
</script>