<div class="pay-panel payin-panel" id="app-payin">
    <div class="pay-content">
        <div style="display: flex;justify-content:space-between;margin-bottom: 20px;align-items: center;">
            <h2 style="margin-bottom: 0"><%= coin.toUpperCase()%><%= LANG('充值')%></h2>
            <search-box v-model="keyWord"></search-box>
        </div>
        <div class="pay-tab">
            <ul class="coin-type" v-cloak>
                <li v-for="(item,index) in filterCoin(coinConfig)" :class="{'active': item.name == currentCoin}">
                    <!--默认都能充值-->
                    <a :href="'/u/payin/' + item.name" v-if="item">
                        <img :src="'/src/images/icon/market-icon/market-' + item.name + '.png?<%= VERSION%>'" class="market-icon">
                        {{item.name.toUpperCase()}}
                    </a>
                    <a onclick="JuaBox.sure('Not open yet...')" v-if="!item">
                        <img :src="'/src/images/icon/market-icon/market-' + item.name + '.png?<%= VERSION%>'" class="market-icon">
                        {{item.name.toUpperCase()}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="payin-address" v-if="currentCoin == 'bts' || currentCoin == 'tv' || currentCoin == 'bds'" v-cloak="">
            <div class="code">
                <canvas ref="canvas"></canvas>
                <!--<img style="width: 200px;" :src="qrUrl">-->
            </div>
            <div class="address">
                <h4><%= LANG('账户') %></h4>
                <p v-text="btsAccount"></p>
                <a :data-clipboard-text="btsAccount" class="copyAddress"><%= LANG('复制')%></a>
                <h4 style="margin-top: 20px;"><%= LANG('备注') %>（MEMO）</h4>
                <p class="address" v-text="btsMemo"></p>
                <a :data-clipboard-text="btsMemo" class="copyAddress"><%= LANG('复制')%></a>

                <div class="tips" style="margin-top: 30px;">
                    <h5><%= LANG('充值说明')%>：</h5>
                    <p><%= LANG('填错账户或备注(MEMO)都会导致资产丢失，请谨慎操作。') %></p>
                    <p><%= LANG('往该地址充值，汇款完成，等待网络自动确认{{confirmTimes}}个确认后系统自动到账；')%></p>
                    <p><%= LANG('为了快速到账，充值时可以适当提高网络手续费。')%></p>
                </div>
            </div>
        </div>

        <div class="payin-address" v-else="">
            <div class="address">
                <h4><%= coin.toUpperCase()%><%= LANG('钱包地址')%></h4>
                <p class="address" v-text="payin.address"></p><a :data-clipboard-text="payin.address" class="copyAddress"><%= LANG('复制钱包地址')%></a>
                <div class="code">
                    <canvas ref="canvas"></canvas>
                    <!--<img style="width: 200px;" id="keyPreImg" :src="qrUrl">-->
                </div>
                <div class="tips">
                    <h5><%= LANG('充值说明')%>：</h5>
                    <p><%= LANG('往该地址充值，汇款完成，等待网络自动确认')%>{{confirmTimes}}<%= LANG('个确认后系统自动到账；')%></p>
                    <p><%= LANG('为了快速到账，充值时可以适当提高网络手续费。')%></p>
                </div>
            </div>
        </div>
    </div>

    <!--充值记录-->
    <div class="pay-record" v-cloak="">
        <h2><%= coin.toUpperCase()%><%= LANG('充值记录')%></h2>
        <div class="exx-record">
            <div class="table">
                <div class="tr head">
                    <div class="td time"><%= LANG('提交时间')%></div>
                    <div class="td type"><%= LANG('类型')%></div>
                    <div class="td amount"><%= LANG('金额')%></div>
                    <div class="td time ok"><%= LANG('处理时间')%></div>
                    <div class="td num"><%= LANG('确认次数')%></div>
                    <div class="td state"><%= LANG('状态')%></div>
                </div>
                <div class="tr" v-for="record in payinRecords" v-if="payinRecords.length > 0">
                    <div class="td time"><span>{{record.createTime.split('.')[0]}}</span></div>
                    <div class="td type" v-if="record.type == 1"><%= LANG('区块链转入') %></div>
                    <div class="td type" v-else-if="record.type == 2"><%= LANG('内部转入') %></div>
                    <div class="td type" v-else-if="record.type == 3"><%= LANG('充值') %></div>
                    <div class="td amount">+ {{record.amount}}</div>
                    <div class="td time ok"><span>{{record.depositTime.split('.')[0]}}</span></div>
                    <div class="td num">{{record.confirmTimes}}</div>
                    <div class="td state">{{record.status == 0 ? '<%= LANG('未到账') %>' : '<%= LANG('已到账') %>'}}</div>
                </div>
                <div class="tr" v-if="payinRecords.length == 0">
                    <p class="norecord"><%= LANG('暂无记录')%></p>
                </div>
            </div>
        </div>
        <page-lite :page-index="pageIndex" :page-size="pageSize" :page-count="pageCount" :turn-page="getPayinCoinRecord" v-if="payinRecords.length > 0 || pageIndex > 1"></page-lite>
    </div>

</div>

<%-include("../../component/page_lite.html")%>

<script>
    require(['vue','common/methods', 'clipboadrd', 'qrcode'], function (Vue, Methods, Clipboard, QRCode) {
        EXX.appPayin = new Vue({
            el: "#app-payin",
            data: function () {
                return {
                    isLogin : ISLOGIN,
                    pageIndex : 1,
                    pageSize : 10,
                    pageCount: 0,
                    requestLocked : false,
                    coinConfig : '',
                    payin : '',
                    payinRecords : [],
                    currentUserAsset : '',
                    currentCoin : "<%= coin%>",
                    keyWord:'',
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo') //用户信息
                }
            },
            computed : {
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV + 'uid');
                    }
                },
                //获取充值二维码 暂弃用
                qrUrl: function () {
                    // return DOMAIN_MAIN + API_PREFIX + 'getPayinQrcode?code=' + this.payin.address + "&width=160&height=160";
                    return '';
                },
                btsAccount : function () {
                    return this.payin.address ? this.payin.address.split("_")[0] : "--";
                },
                btsMemo : function () {
                    return this.payin.address ? this.payin.address.split("_")[1] : "--";
                },
                confirmTimes : function () {
                    if(this.coinConfig && this.coinConfig[this.currentCoin]){
                        return this.coinConfig[this.currentCoin].inConfigTimes;
                    }else{
                        return '--';
                    }
                }
            },
            methods: {
                filterCoin:function(objs){
                    var _this = this;
                    if(!_this.keyWord){
                        return objs;
                    }

                    var nObj = [];
                    objs.forEach(function (coin, index) {
                        var coinName = coin.name;
                        if(coinName.toLowerCase().indexOf(_this.keyWord.toLowerCase()) != -1){
                            nObj.push(coin);
                        }
                    });

                    return nObj;
                },
                LANG : function (key) {
                    return EXX.L(key);
                },
                showDate: function(date) {
                    if(isNaN(date) || Number(date) < 0){
                        return '--'
                    }else{
                        return Methods.getDateTime(date, 'YYYY-MM-DD HH:MM:SS');
                    }
                },
                isDemoCoin : function (coin) {
                    if(coin && coin.length > 3 && coin.substring(0,1) == 'd'){
                        return true;
                    }else{
                        return false;
                    }
                },
                getCoinConfig: function() {
                    var data = {
                        webId: 100
                    };
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getCoinMaps',
                        data: data,
                        url: DOMAIN_DEV + "/exchange/config/controller/admin/currencycontroller/" + 'getCurrencyList',
                        success: function(res) {
                            this.coinConfig = res.datas;
                        }.bind(this)
                    });
                },
                getPayinAddress: function () {
                    var data = {
                        webId: 100,
                        userId: this.loginUser.userId,
                        currencyTypeName: this.currentCoin
                    };
                    Methods.ajax({
                        type: 'POST',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getPayinAddress',
                        url: DOMAIN_DEV + '/exchange/fund/controller/website/fundcontroller/' + 'getPayinAddress',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.payin = res.datas;
                        }.bind(this)
                    });
                },
                getPayinCoinRecord: function () {
                    var data = {
                        webId: 100,
                        userId: this.loginUser.userId,
                        currencyTypeName: this.currentCoin,
                        pageNum: this.pageIndex,
                        pageSize: this.pageSize,
                        sort: 1
                    };
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'getPayinCoinRecord',
                        url: DOMAIN_DEV + '/exchange/fund/controller/website/fundcontroller/' + 'getPayinCoinRecord',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.payinRecords = res.datas.list;
                            this.pageCount = res.datas.list.length;
                        }.bind(this)
                    });
                },
                pageInit : function () {
                    var clipboard = new Clipboard('.copyAddress');
                    clipboard.on('success', function (e) {
                        JuaBox.info("<%= LANG('复制成功！') %>");
                    });
                }
            },
            created: function() {
                this.getCoinConfig();

                this.pageInit();

                this.getPayinAddress();
                this.getPayinCoinRecord();
            },
            mounted: function () {
                var _this = this;
                this.$watch('payin.address', function () {
                    QRCode.toCanvas(_this.$refs.canvas, _this.payin.address, {
                        width: 200,
                        height: 200
                    }, function (error) { })
                });
            }
        })
    })
</script>
