<style>
    .totalcoin{
        display: flex;
        flex-wrap: wrap;
    }
    .totalcoin li{
        margin: 5px;
        background: #f7f7f7;
        color: #4d4d4d;
    }
    .totalcoin li a{
        display: block;
        background: rgba(255,255,255,.1);
        padding: 10px 0;
        min-width: 80px;
        text-align: center;
    }
    .totalcoin li a:hover {
        color: #fff;
        background: #FFBE3F;
    }
    .totalcoin .active {
        background: #FFBE3F;
        color: #fff;
    }

    .assets-record .assets-list .title li p, .assets-record .assets-list .list li p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        line-height: 60px;
        text-align: center;
    }

</style>
<link href="<%= STYLE_STATIC %>/styles/u/basic.css" rel="stylesheet" type="text/css">
<div class="user-container">
    <div class="assets-panel" id="app-payout">
        <!--<div class="cd-nav-aux">-->
        <!--<ul v-cloak>-->
        <!--<li v-for="(item,index) in filterCoin(coinConfig)" :class="{'active': item.name == currentCoin, 'disabled': !item.drawFlag}">-->
        <!--<a :href="'/u/payout/' + item.name" v-if="item.drawFlag && item.isLegalCoin!=1"><img :src="'/src/images/icon/market-icon/market-' + item.name + '.png?<%= VERSION%>'">{{item.name.toUpperCase()}}</a>-->
        <!--<a :href="'/u/payout/legaltender/' + item.name" v-if="item.drawFlag && item.isLegalCoin==1"><img :src="'/src/images/icon/market-icon/market-' + item.name + '.png?<%= VERSION%>'">{{item.name.toUpperCase()}}</a>-->
        <!--<a onclick="JuaBox.sure('Not open yet...')" v-if="!item.drawFlag"><img :src="'/src/images/icon/market-icon/market-' + item.name + '.png?<%= VERSION%>'">{{item.name.toUpperCase()}}</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <div v-if="!loaded" class="cd-loading">
            <div class="vertical-bars">
                <p class="layer-1"></p>
                <p class="layer-2"></p>
                <p class="layer-3"></p>
                <p class="layer-4"></p>
                <p class="layer-5"></p>
                <p class="layer-6"></p>
                <p class="layer-7"></p>
                <p class="layer-8"></p>
                <p class="layer-9"></p>
            </div>
        </div>
        <div v-else>
            <ul class="totalcoin" v-cloak>
                <li v-for="(item,index) in filterCoin(coinConfig)" :class="{'active': item.name == currentCoin,'button-disabled': item.drawFlag != 1,'button-hover-active': item.drawFlag == 1}">
                    <a :href="'/u/payout/' + item.name" v-if="item.drawFlag && item.isLegalCoin!=1">{{item.name.toUpperCase()}}</a>
                    <a :href="'/u/payout/legaltender/' + item.name" v-if="item.drawFlag && item.isLegalCoin==1">{{item.name.toUpperCase()}}</a>
                    <a role="button" v-if="!item.drawFlag">{{item.name.toUpperCase()}}</a>
                </li>
            </ul>

            <div class="payout-address" v-if="step == 1 && isLegalCoin != 1" v-cloak="">


                <div class="assets-list">
                    <div class="body">
                        <ul class="title">
                            <li>
                                <p><%= LANG('选择') %></p>
                                <p><%= LANG('备注') %></p>
                                <p><%= LANG('地址') %></p>
                                <p><%= LANG('操作') %></p>
                            </li>
                        </ul>
                        <div v-if="!addressSwitch" style="text-align: center">

                        </div>
                        <ul v-else class="list">
                            <li v-for="(record,index) in address" :class="{'selected' : selectedAddress.userFundAddressId == record.userFundAddressId}" @click="CheckboxAddress(record,index)">
                                <p><i><input type="checkbox" v-model="record.isChecked"></i></p>
                                <p>{{record.remark}}</p>
                                <p style="word-break: break-all;padding: unset;">{{record.address}}</p>
                                <p>
                                    <a role="button" @click.stop="openEditAddress('edit',record)"><%= LANG('修改备注') %></a>
                                    <a role="button" @click.stop="openEditAddress('dele',record)"><%= LANG('删除') %></a>
                                </p>
                            </li>

                            <li class="norecord" v-if="address.length == 0"><%= LANG('没有记录')%></li>
                        </ul>
                    </div>


                </div>
                <div class="add-address"><a role="button" @click="openEditAddress('add')"><%= LANG('添加提币地址') %></a><a v-if="address.length > 0" @click="gotoStep(2)"><%= LANG('下一步，填写提币信息') %></a></div>

            </div>
            <div class="payout-legal-tender" v-if="isLegalCoin == 1" v-cloak="">
                <div class="legal-tender-box">
                    <div class="legal-tender-info">
                        <span class="info-title"><%= LANG('可用余额')%></span>
                        <div class="info-right">
                            <span class="info-num">{{canUseAmount}}</span>
                            <span class="info-basic"><%= LANG('可用余额')%></span>
                        </div>
                    </div>
                    <div class="legal-tender-info">
                        <span class="info-title"><%= LANG('真实姓名')%></span>
                        <div class="info-right">
                            <span class="info-basic">{{loginUser.userName}}</span>
                        </div>
                    </div>
                    <div class="legal-tender-info">
                        <span class="info-title"><%= LANG('到账银行卡')%></span>
                        <div class="info-right">
                            <div class="info-bank-carinfo-basicd">
                                <span class="info-basic">{{bankInfo.withdrawBankNm}}</span>
                                <span class="info-basic">{{bankInfo.withdrawBankAccount}}</span>
                            </div>
                            <span class="info-edit"><%= LANG('修改')%></span>
                        </div>
                    </div>
                    <!--<input class="payout-input" type="text" placeholder="<%= LANG('提现金额')%>" v-model="payoutAmount">-->
                    <!--<input class="payout-input payout-input-last" type="password" placeholder="<%= LANG('资金密码')%>" v-model="safePwd" autocomplete="off">-->
                    <div class="payout-code"  v-if="loginUser.withdrawAuth == 3 || loginUser.withdrawAuth == 7">
                        <input class="code-input" autocomplete="off" placeholder="<%= LANG('动态验证码') %>" v-model="payoutDynamicCode"
                               type="text">
                        <send-code class="code-button"
                                   :code-type="3"
                                   :country-code="loginUser.countryCode"
                                   :user-name="loginUser.loginName"
                                   :user-id="loginUser.userId"
                                   :bus-type="22"
                                   @type="codeType"/>
                    </div>
                    <div class="payout-code" v-if="loginUser.withdrawAuth == 5 || loginUser.withdrawAuth == 7">
                        <input class="code-input" autocomplete="off" placeholder="<%= LANG('谷歌验证码') %>" v-model="googleCode"
                               type="text">
                    </div>
                    <button class="payout-confirm" @click="payoutLegalTender"><%= LANG('提现')%></button>
                    <div class="payout-button">
                        <span><%= LANG('24小时内到账')%></span>
                        <span>|</span>
                        <span><%= LANG('提现银行开户名必须与认证的EXX账户真实姓名一致才能提现成功')%></span>
                    </div>
                </div>
            </div>

            <div class="payout-fill" v-if="step == 2" v-cloak="">
                <div class="payout-input">
                    <div class="form-box">
                        <div class="form-group">
                            <div class="form-control">
                                <img src="/src/images/pass.png" class="title" alt="">
                                <input placeholder="<%= LANG('已选择的提币地址') %>" readonly="readonly"
                                       v-model="selectedAddress.address" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <img src="/src/images/user.png" class="title" alt="">
                                <input autocomplete="off" placeholder="<%= LANG('提币数量') %>" v-model.number="payoutAmount" type="number">
                                <p class="form-text" style="margin-top: 10px;cursor: pointer;"
                                   @click="payoutAmount = canUseAmount"><%= LANG('可用') %>：<em>{{canUseAmount}}</em></p>
                                <div style="margin-top: 10px;color: #7786a5;">当前费率 {{currentMinFees}}
                                    {{currentCoin.toUpperCase()}}/笔，实际到账 {{actualPayout}}
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<div class="form-control">-->
                        <!--<input :placeholder="loginUser.safePwdAuth == '0' ? '<%= LANG('登录密码') %>' : '<%= LANG('资金密码')%>' "-->
                        <!--autocomplete="new-password" v-model="safePwd" type="password">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="form-control" style="display: block !important;">
                                <img src="/src/images/user.png" class="title" alt="">
                                <input autocomplete="off" placeholder="<%= LANG('图形验证码') %>" v-model="imgCode" v-on:blur="handleCheckLength($event)" v-on:focus="clearInputError($event)" maxlength="4" type="text">
                                <div class="code-img" v-cloak=""><img :src="imageCodeUrl" style="z-index: 2;" v-on:click="handleRefreshImgcode" alt="<%= LANG('点击刷新验证码') %>"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control" v-if="loginUser.withdrawAuth == 3 || loginUser.withdrawAuth == 7">
                                <img src="/src/images/user.png" class="title" alt="">
                                <input autocomplete="off" placeholder="<%= LANG('动态验证码') %>" v-model="payoutDynamicCode"
                                       type="text">
                                <send-code :code-type="3"
                                           :country-code="loginUser.countryCode"
                                           :user-name="loginUser.loginName"
                                           :user-id="loginUser.userId"
                                           :bus-type="22"
                                           :img-code="imgCode"
                                           :img-code-id="imgCodeId"
                                           :error-fun="handleRefreshImgcode"
                                           @type="codeType"/>
                            </div>
                        </div>
                        <div v-if="loginUser.withdrawAuth == 5 || loginUser.withdrawAuth == 7" class="form-group">
                            <div class="form-control">
                                <input autocomplete="off" placeholder="<%= LANG('谷歌验证码') %>" v-model="googleCode"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="form-button">
                            <button v-if="!requestLocked" type="button" class="button" @click="doSubmit"><span><%= LANG('提币') %></span>
                            </button>
                            <button v-if="requestLocked" type="button" class="button"><span><%= LANG('正在处理') %></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assets-record" v-cloak="" v-if="isLegalCoin != 1">
                <div class="assets-list">
                    <div class="head" style="padding: 20px;"><h2><%= coin.toUpperCase()%><%= LANG('提币记录') %></h2></div>
                    <div class="body">
                        <ul class="title">
                            <li>
                                <p style="text-align: left;"><%= LANG('接收地址') %></p>
                                <p><%= LANG('提交时间') %></p>
                                <p><%= LANG('处理时间') %></p>
                                <p><%= LANG('金额') %></p>
                                <p><%= LANG('实到金额') %></p>
                                <p><%= LANG('状态') %></p>
                                <p style="text-align: right;"><%= LANG('操作') %></p>
                            </li>
                        </ul>

                        <div v-if="!payoutRecordsSwitch" class="cd-loading">
                            <div class="vertical-bars">
                                <p class="layer-1"></p>
                                <p class="layer-2"></p>
                                <p class="layer-3"></p>
                                <p class="layer-4"></p>
                                <p class="layer-5"></p>
                                <p class="layer-6"></p>
                                <p class="layer-7"></p>
                                <p class="layer-8"></p>
                                <p class="layer-9"></p>
                            </div>
                        </div>
                        <ul v-else class="list">
                            <li v-for="record in payoutRecords" v-if="payoutRecords.length > 0">
                                <p :title="record.withdrawalAddress" style="text-align: left;">{{record.withdrawalAddress}}</p>
                                <p>{{showDate(record.createTime)}}</p>
                                <p>{{ record.verifyStatus == 0 && record.state == -1 ? showDate(record.modifyTime) : (record.verifyStatus == 0 ? '--' : showDate(record.verifyTime)) }}</p>
                                <p>{{parseFloat(record.amount)}}</p>
                                <p>{{parseFloat(record.actuallyAmount)}}</p>
                                <p>{{ record.verifyStatus == 0 && record.state == -1 ? '<%= LANG('已取消') %>' : (record.verifyStatus == 0 ? '<%= LANG('待审核') %>' : (record.verifyStatus == 1 ? '<%= LANG('已完成') %>' : '<%= LANG('审核不通过') %>' )) }}</p>
                                <p style="text-align: right;">
                                    <a role="button" v-if="record.verifyStatus == 0 && record.state == 1" @click="cancelPayout(record.userApplyWithdrawId)"><%= LANG('取消') %></a>
                                    <a role="button" v-else-if="record.verifyStatus == 1 && record.state == 1" @click="viewDetail(record)"><%= LANG('查看详情') %></a>
                                    <a role="button" v-else="">--</a>
                                </p>
                            </li>
                            <li v-if="payoutRecords.length == 0" class="norecord"><%= LANG('暂无记录')%></li>
                        </ul>
                    </div>

                </div>
            </div>



        </div>

        <page-lite :page-index="pageIndex" :page-size="pageSize" :page-count="pageCount" :turn-page="getPayoutCoinRecord"
                   v-if="payoutRecords.length > 0 || pageIndex > 1"></page-lite>

        <!--添加编辑地址-->
        <modal v-cloak :open="showModal == 'addAddress'" @close="showModal = false" >
            <modal-address :coin="currentCoin" :address="selectedAddress" :type="editType" :done="getPayoutAddress"/>
        </modal>

        <!--查看详情-->
        <modal v-cloak :open="showModal == 'seeDetails'" @close="showModal = false">
            <modal-seedetails :coin="currentCoin" :record="record" @date="showDate"/>
        </modal>
    </div>
</div>
<%-include("../../component/search_box.html")%>
<%-include("../../component/modal.html")%>
<%-include("../../component/send_code/index.html")%>
<%-include("../../component/page_lite.html")%>
<%-include("../model/editAddress.html")%>
<%-include("../model/seePayoutDetails.html")%>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        EXX.appPayin = new Vue({
            el: "#app-payout",
            data: function () {
                return {
                    isLogin: ISLOGIN,
                    pageIndex: 1,
                    pageSize: 10,
                    pageCount: 0,
                    step: 1,
                    pubKey: '',
                    rsaKeyId:'',
                    safePwd: '',
                    googleCode: '',
                    payoutAmount: '',
                    payoutDynamicCode: '',
                    requestLocked: false,
                    coinConfig: [],
                    userAssets: [],
                    address: '',
                    addressSwitch: false,
                    selectedAddress: {},
                    payoutRecords: [],
                    payoutRecordsSwitch: false,
                    currentUserAsset: '',
                    currentCoin: "<%= coin%>",
                    isLegalCoin: "<%= isLegalCoin%>",
                    showModal: false,
                    editType: 'add',
                    loginUser: Methods.getLocalUserInfo(),
                    userName: Methods.getCookie(ENV + 'uname'),
                    keyWord: '',
                    bankInfo: {},
                    sendCodeType: '',
                    loaded: false,
                    imgCode: '',
                    imgCodeId: '',
                    imageCodeUrl: '',
                    record: {} //查看提笔详情 信息
                }
            },
            computed: {
                // 当前货币id-ok
                currencyId: function () {
                    var currencyId = '';
                    var _this = this;
                    this.coinConfig.forEach(function (coin, index, arr) {
                        if (coin.name == _this.currentCoin) {
                            currencyId = coin.currencyId;
                        }
                    });

                    return currencyId;
                },
                // 当前货币区块浏览器url
                blockChianUrl: function () {
                    var blockChianUrl = '';
                    var _this = this;
                    this.coinConfig.forEach(function (coin, index, arr) {
                        if (coin.name == _this.currentCoin) {
                            blockChianUrl = coin.blockChainUrl;
                        }
                    });
                    return blockChianUrl;
                },
                /**
                 * 格式化用户资产数据
                 * 将金额不为0的货币与所有货币列表整合
                 */
                userCoinFunds: function () {
                    var coins = this.coinConfig || [];
                    var userAssets = this.userAssets;

                    var coinAssets = [];
                    coins.forEach(function (coin, index, array) {
                        var coinItem = coin;
                        userAssets.forEach(function (asset, idx, arr) {
                            if (coin.currencyId == asset.currencyTypeId) {
                                for (var k in asset) {
                                    coin[k] = asset[k];
                                }
                            }
                        });
                        coinAssets.push(coinItem);
                    }.bind(this));

                    return coinAssets;
                },
                currentMinFees: function () {
                    if (!this.coinConfig) {
                        return 0;
                    }
                    // return parseFloat(this.coinConfig[this.currentCoin].minFees) || 0;

                    var drawFee = 0;
                    var _this = this;
                    this.coinConfig.forEach(function (coin, index, arr) {
                        if (coin.name == _this.currentCoin) {
                            drawFee = coin.drawFee;
                        }
                    });

                    return parseFloat(drawFee);
                },
                actualPayout: function () {
                    if (!this.coinConfig) {
                        return 0;
                    }
                    if (this.payoutAmount && !isNaN(this.currentMinFees)) {
                        var out = Methods.divide(this.payoutAmount, this.currentMinFees);
                        return out > 0 && out || 0
                    }
                    return 0;
                },
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV + 'uid');
                    }
                },
                canUseAmount: function () {
                    // return this.currentUserAsset.coinFundMap[this.currentCoin].available;
                    // 可用金额
                    var amount_ky = '';
                    var _this = this;
                    this.userCoinFunds.forEach(function (coin, index, arr) {
                        if (coin.name == _this.currentCoin) {
                            // var total = coin.amount || 0;
                            // var freeze = coin.freeze || 0;
                            amount_ky = parseFloat(coin.amount || 0);
                        }
                    });

                    return amount_ky;
                }
            },
            watch: {
                payoutAmount: function (val) {
                    var reg = /^\d+(\.\d{1,8})?$/;
                    if (!reg.test(val)) {
                        val = Number(val).toString();
                        this.payoutAmount = Number(val.substring(0, val.length - 1))
                    }
                }
            },
            methods: {
                //获取公钥-ok
                getPubKey: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/user/controller/website/BaseApiController/" + 'getPubKey',
                        success: function (res) {
                            this.pubKey = res.datas.pubKey;
                            this.rsaKeyId= res.datas.keyId;
                        }.bind(this)
                    });
                },
                filterCoin: function (objs) {
                    var _this = this;
                    if (!_this.keyWord) {
                        return objs
                        // return objs.filter(function (item, i) {
                        //     return item.name !== 'qtum'
                        // })
                    }

                    var nObj = [];
                    objs.forEach(function (coin, index) {
                        var coinName = coin.name;
                        if (coinName.toLowerCase().indexOf(_this.keyWord.toLowerCase()) != -1) {
                            nObj.push(coin);
                        }
                    });

                    return nObj;
                },
                LANG: function (key) {
                    return EXX.L(key);
                },
                showDate: function (date) {
                    return Methods.getDateTime(date, 'YYYY-MM-DD HH:MM:SS');
                },
                isDemoCoin: function (coin) {
                    if (coin && coin.length > 3 && coin.substring(0, 1) == 'd') {
                        return true;
                    } else {
                        return false;
                    }
                },
                CheckboxAddress:function(v,i){

                    if(this.address[i].isChecked!=undefined){
                        this.address[i].isChecked=!this.address[i].isChecked
                    }
                    this.address=JSON.parse(JSON.stringify(this.address))

                    if(v.isChecked){
                        this.selectedAddress = v;
                    }else{
                        this.selectedAddress = {};
                    }
                },
                // 获取用户总额不为零的货币信息(财务中心)
                getAccountAssets: function () {
                    var data = {
                        // webId: 100,
                        userId: this.loginUser.userId,
                        pageSize: 9999,
                        pageNum: 1
                    };
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/FundController/" + 'findByPage',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.loaded = true;

                            if (res.datas.list) {
                                this.userAssets = res.datas.list;
                            }
                        }.bind(this),
                        error : function(){
                        }
                    });
                },
                getCoinConfig: function (callback) {
                    var data = {
                        // webId: 100
                    };
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getCoinMaps',
                        data: data,
                        url: DOMAIN_DEV + "/exchange/config/controller/website/CurrencyController/" + 'getCurrencyList',
                        success: function (res) {
                            this.loaded = true
                            this.coinConfig = res.datas;

                            callback && callback();
                        }.bind(this)
                    });
                },
                getPayoutAddress: function () {
                    var data = {
                        // userId: this.loginUser.userId,
                        currencyId: this.currencyId,
                        pageNum: 1,
                        pageSize: 9999
                    };
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'getAccounts',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'getwithdrawaddress',
                        data: data,
                        success: function (res) {
                            this.addressSwitch = true
                            this.address = res.datas.list;
                            var addressLength=this.address.length;
                            for(var i=0;i<addressLength;i++){
                                this.address[i].isChecked=false;
                            }
                        }.bind(this)
                    });
                },
                // 提币记录
                getPayoutCoinRecord: function () {
                    var data = {
                        // coint: this.currentCoin,
                        // currencyTypeId: this.currencyId,

                        pageIndex: this.pageIndex,
                        pageSize: this.pageSize,
                        // webId: 100,
                        currencyId: this.currencyId,
                        tab: 'all'
                    };
                    Methods.ajax({
                        type: 'POST',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getpayoutcoinrecord',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'getpayoutcoinrecord',
                        data: data,
                        success: function (res) {
                            // console.log(res)
                            this.payoutRecords = res.datas.list;
                            this.payoutRecordsSwitch = true;

                            this.pageCount = res.datas.list.length;
                        }.bind(this)
                    });
                },
                handlePayout: function () {
                    if (this.requestLocked) {
                        JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                        return
                    }
                    if(!this.imgCode){
                        return JuaBox.info("<%= LANG('请输入图形验证码')%>");
                    }
                    if (this.payoutAmount == '' || this.payoutAmount == 0) {
                        return JuaBox.info("<%= LANG('请输入提币金额')%>")
                    }
                    if (parseFloat(this.payoutAmount) > parseFloat(this.canUseAmount)) {
                        return JuaBox.info("<%= LANG('超出最大可用金额，请检查。')%>")
                    }
                    var data = {
                        // userId: this.loginUser.userId,
                        addressId: this.selectedAddress.userFundAddressId,
                        safePwd: Methods.encryptPwd(this.safePwd, this.pubKey),
                        currencyId: this.currencyId,
                        coint: this.currentCoin,
                        amount: this.payoutAmount,
                        googleCode: this.googleCode,
                        rsaKeyId: this.rsaKeyId,
                        fees: this.currentMinFees, //手续费
                        actuallyAmount: this.actualPayout //实到金额
                    };
                    if (this.sendCodeType == "sms") {
                        data.dynamicCode = this.payoutDynamicCode;
                    } else if (this.sendCodeType == "email") {
                        data.emailCode = this.payoutDynamicCode;
                    }
                    this.requestLocked = true;
                    Methods.ajax({
                        type: 'POST',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'dopayoutcoin',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.requestLocked = false;

                            this.payoutAmount = '';
                            this.safePwd = '';
                            this.payoutDynamicCode = '';
                            this.googleCode = '';

                            this.getAccountAssets();
                            this.getPayoutCoinRecord();

                            JuaBox.info(EXX.L(res.resMsg.message));
                        }.bind(this),
                        error: function (res) {
                            this.requestLocked = false;
                            // JuaBox.info(EXX.L(res.resMsg.message))
                            JuaBox.showWrong(EXX.L(res.resMsg.code))
                        }.bind(this)
                    });
                },
                payoutLegalTender: function(){
                    if (this.payoutAmount == '' || this.payoutAmount == 0) {
                        return JuaBox.info("<%= LANG('请输入提币金额')%>")
                    }
                    if (parseFloat(this.payoutAmount) > parseFloat(this.canUseAmount)) {
                        return JuaBox.info("<%= LANG('超出最大可用金额，请检查。')%>")
                    }
                    var data = {
                        currencyId: this.currencyId,
                        coint: this.currentCoin,
                        amount: this.payoutAmount,
                        safePwd: Methods.encryptPwd(this.safePwd, this.pubKey),
                        addressId: this.bankInfo.withdrawBankAccount,
                        googleCode: this.googleCode,
                        rsaKeyId: this.rsaKeyId,
                    };
                    if (this.sendCodeType == "sms") {
                        data.dynamicCode = this.payoutDynamicCode;
                    } else if (this.sendCodeType == "email") {
                        data.emailCode = this.payoutDynamicCode;
                    }
                    Methods.ajax({
                        type: 'POST',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'dopayoutcoin',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.requestLocked = false;

                            this.payoutAmount = '';
                            this.safePwd = '';
                            this.payoutDynamicCode = '';
                            this.googleCode = '';

                            this.getAccountAssets();
                            this.getPayoutCoinRecord();

                            JuaBox.info(EXX.L(res.resMsg.message));
                        }.bind(this),
                        error: function (res) {
                            this.requestLocked = false;
                            // JuaBox.info(EXX.L(res.resMsg.message))
                            JuaBox.showWrong(EXX.L(res.resMsg.code));
                        }.bind(this)
                    });
                },
                doSubmit: function () {
                    // this.getPubKey(this.handlePayout);
                    this.handlePayout();
                },
                // 取消提币
                cancelPayout: function (id) {
                    var data = {
                        // coint: this.currentCoin,
                        // did: id
                        userApplyWithdrawId: id
                        // userId: this.loginUser.userId
                    };
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'doCancelPayout',
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'docancelpayout',
                        data: data,
                        success: function (res) {
                            this.getPayoutCoinRecord();
                            JuaBox.info(EXX.L(res.resMsg.message));
                        }.bind(this)
                    });
                },
                // 查看详情
                viewDetail: function (record) {
                    var that = this
                    var data = {
                        userApplyWithdrawId: record.userApplyWithdrawId
                    };
                    Methods.ajax({
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'getwithdrawaltxid',
                        data: data,
                        success: function (res) {
                            var txid = res.datas;
                            this.record = Object.assign(record, {'TXID': txid})
                            var webUrl = that.blockChianUrl + txid;
                            if (!that.blockChianUrl) {
                                this.showModal = 'seeDetails'
                            } else {
                                this.openWin(webUrl);
                            }
                        }.bind(this)
                    });
                },
                openWin: function (url) {
                    var a = document.createElement("a"); //创建a对象
                    a.setAttribute("href", url);
                    a.setAttribute("target", "_blank");
                    document.body.appendChild(a);
                    a.click(); //执行当前对象
                },
                openEditAddress: function (type, address) {
                    var _this = this
                    JuaBox.sure(`<%= LANG('请确认提币币种:')%> ${_this.currentCoin.toUpperCase()}`,function(){
                        _this.editType = type;
                    if (address) {
                        _this.selectedAddress = address;
                    }
                    _this.showModal = 'addAddress';
                    })

                },
                deleAddress: function () {

                },
                gotoStep: function (step) {
                    if (step == 2 && !this.selectedAddress.userFundAddressId) {
                        return JuaBox.sure("<%= LANG('请先选择或添加提币地址！')%>")
                    } else {
                        this.step = step;
                    }
                },
                //暂弃用
                pageInit: function () {
                    if (this.currentUserAsset.userType != 1) {
                        swal({
                            title: "<%= LANG('访问错误') %>",
                            text: "<%= LANG('子账号不可进行充值、提币操作') %>",
                            icon: "warning",
                            buttons: ["<%= LANG('确定') %>", false],
                            dangerMode: false,
                        }).then(function (willDelete) {
                            window.location.href = '/u/asset';
                        });
                        window.setTimeout(function () {
                            window.location.href = '/u/asset';
                        }, 3000);
                    }
                },
                getBankaccountSearch: function () {
                    Methods.ajax({
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundwebsitecontroller/" + 'bankaccountsearch',
                        success: function (res) {
                            this.bankInfo = res.datas
                        }.bind(this)
                    });
                },
                codeType: function (type) {
                    this.sendCodeType = type
                },
                //获取图形验证码
                getImageCode: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/verifycode/controller/website/UserVerifyController/" + 'getValiDateCode',
                        success: function (res) {
                            this.imageCodeUrl = res.datas.img;
                            this.imgCodeId = res.datas.imgCodeId;
                        }.bind(this)
                    });
                },
                handleRefreshImgcode: function () {
                    // this.timestramp = '-' + new Date().getTime();
                    this.getImageCode();
                },
                clearInputError: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    Methods.showLineError(target, "")
                },
                handleCheckLength: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    if ($(target).val() == '') {
                        Methods.showLineError(target, "<%= LANG('验证码格式不正确') %>")
                    } else {
                        Methods.showLineError(target, "")
                    }
                },
            },
            created: function () {
                var _this = this;
                this.getAccountAssets();

                this.getCoinConfig(function () {
                    _this.getPayoutAddress();
                    _this.getPayoutCoinRecord();
                });
                if (this.isLegalCoin) {
                    this.getBankaccountSearch()
                }
            },
            mounted: function () {
                var that=this;
                this.getPubKey();
                this.getImageCode();
            }
        })
    })
</script>
