<script type="text/x-template" id="deal-record">
    <div class="plateInside-area">
        <div class="common-box plate-box plate-box2">
            <div class="plate-box-head">
                        <div class="item time"><span><%= LANG('成交时间')%></span></div>
                        <div class="item foldPrice2">
                            <span v-if="showAssistPrice"><%= LANG('成交折价')%>({{$parent.showAssistCoin()}})</span>
                            <span v-if="!showAssistPrice"><%= LANG('成交价')%>({{$parent.moneyName}})</span>
                            <input type="checkbox" v-model="showAssistPrice">
                        </div>
                        <div class="item num"><span>{{$parent.coinName}}<%= LANG('成交量')%></span></div>
            </div>
            <div class="plate-box-body" id="tradeRecord">
                <div class="tradeNew-table" :class="{'showAssistPrice' : showAssistPrice}">
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods){
        return Vue.component('deal-record', {
            template: "#deal-record",
            props: {
                marketConfig: {
                    type: Object,
                    default: function () {
                        return {}
                    }
                },
                dealRecord: {
                    type: Array,
                    default: function () {
                        return []
                    }
                },
                currentMarket : {
                    type: String,
                    default: ''
                }
            },
            data: function () {
                return {
                    tradeDate:new Date(),
                    showAssistPrice : false
                }
            },
            computed: {
            },
            methods: {
                dateFormatTf: function (i) {
                    return (i < 10 ? '0' : '') + i;
                },
                dateFormat: function (currentDate) {
                    return currentDate.getFullYear()
                        + "-" + this.dateFormatTf(currentDate.getMonth() + 1)
                        + "-" + this.dateFormatTf(currentDate.getDate())
                        + " " + this.dateFormatTf(currentDate.getHours())
                        + ":" + this.dateFormatTf(currentDate.getMinutes())
                        + ":" + this.dateFormatTf(currentDate.getSeconds());
                },
                //处理成交记录
                setFirstRecord: function (item) {
                    if (item != null && item.length > 0) {
                        //初始化50条交易记录
                        var totalUls = "";
                        for (var i = item.length - 1; i >= 0; i--) {
                            totalUls += this.getRowHtml(item[i]);
                        }
                        $("#tradeRecord .tradeNew-table").html(totalUls);
                    }
                },
                pushTrades: function (array) {
                    var $this = this;
                    var $trades = $("#tradeRecord .tradeNew-table");
                    var totalUls = "";
                    if (array == '' && array.length == 0) {
                        return false;
                    }
                    for (var i = array.length - 1; i >= 0; i--) {
                        var item = array[i];
                        if (i >= array.length - $this.$parent.tradesLimit) {
                            if (item.tid <= $this.$parent.last_trade_tid) continue;

                            if (this.$parent.last_trade_tid != 0) {
                                totalUls += $this.getRowHtml(item, 'add');
                            } else {
                                totalUls += $this.getRowHtml(item);
                            }
                        }
                    }
                    if ($this.$parent.last_trade_tid != 0) {
                        $trades.prepend(totalUls);
                    } else {
                        $trades.append(totalUls);
                    }
                    totalUls = null;
                    $trades.find(".add").slideDown(1000, function () {
                        $(this).removeClass("add");
                    });
                    //删除大于100条的数据
                    $trades.find(".tr:gt(" + (this.$parent.tradesLimit - 1) + ")").remove();
                },
                getRowHtml : function (item, style) {
                    this.tradeDate.setTime(item.date * 1000);
                    var dateStr = this.dateFormatTf(this.tradeDate.getHours())
                        + ":" + this.dateFormatTf(this.tradeDate.getMinutes())
                        + ":" + this.dateFormatTf(this.tradeDate.getSeconds());
                    var price = this.$parent.showMoney(item.price).split(".");
                    var assist = this.$parent.getPriceByAssist(item.price).split(".");
                    var amount = this.$parent.showCoin(item.amount);
                    var style = style || '';
                    var amountClass = item.type == 'buy' ? 'buyColor' : 'sellColor';
                    var html = "";
                    html += "<div class=\"tr body "+ style +"\">";
                    html += "   <div class=\"td time\">"+ dateStr +"</div>";
                    html += "   <div class=\"td price\"><span class=\"cor1\">"+ price[0] +"</span><span class=\"cor2\">."+ price[1] +"</span></div>";
                    html += "   <div class=\"td foldPrice\"><span class=\"cor1\">"+ assist[0] +"</span><span class=\"cor2\">."+ assist[1] +"</span></div>";
                    html += "   <div class=\"td num\"><span class=\""+ amountClass +"\">"+ amount +"</span></div>";
                    html += "</div>";
                    return html;
                },
                clickRow : function (price) {
                    this.$parent.$refs.tradeFormBuy.inputPrice = price;
                    this.$parent.$refs.tradeFormBuy.inputPriceConvert = this.$parent.getPriceByAssist(price);

                    this.$parent.$refs.tradeFormSell.inputPrice = price;
                    this.$parent.$refs.tradeFormSell.inputPriceConvert = this.$parent.getPriceByAssist(price);
                },
                bindSetPrice: function () {
                    var _this = this;
                    $("#tradeRecord").on('click', '.body', function () {
                        var price = $(this).find(".price").text();
                        _this.clickRow(price);
                    });
                },
                //刷新交易记录的辅助货币价格
                flushAssistPrice : function () {
                    var _this = this;
                    $("#tradeRecord .tradeNew-table .tr").each(function (i) {
                        var price = $(this).find('.price').text();
                        var assistPrice = _this.$parent.getPriceByAssist(price);
                        $(this).find('.foldPrice').text(assistPrice);
                        //console.log(assistPrice);
                    });
                }
            },
            watch: {

            },
            mounted: function() {
                /*var _this = this;
                this.updateRecord(this.dealRecord, function () {
                    setInterval(function () {
                        _this.updateRecord(_this.dealRecord);
                    },1000)
                });*/
                this.bindSetPrice();
            },
            updated : function () {

            },
            beforeUpdate: function() {

            },
            beforeDestroy: function() {

            }
        });
    })

</script>
