<!DOCTYPE html>
<html lang="<%= LAN %>">
<head>
    <%-include("include/headInit.html")%>
    <%-include("include/headMeta.html")%>
</head>
<body>
<div class="site-wrapper home">
    <%-include("include/menuMain.html")%>
    <section>
    <% try{ %>
        <%-include(templateMain)%>
    <% }catch(err){ %>
        <%-include("include/error.html")%>
    <% } %>
    </section>
    <%-include("include/footMain.html")%>
    </div>
    <%-include("chat/chat_new.html")%>
    <%-include("include/footInit.html")%>
</body>
</html>
<!--首页用到-->