<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <script type="text/javascript">
        var GLOBAL = {},
            EXX = {},
            ENV = GLOBAL['ENV'] = '<%= ENV %>',
            LAN = GLOBAL['LAN'] = '<%= LAN %>',
            MONEY = GLOBAL['MONEY'] = '<%= MONEY || "usd" %>',
            ISLOGIN = GLOBAL['ISLOGIN'] = <%= Boolean(isLogin)%>,
            VERSION = GLOBAL['VERSION'] = '<%= VERSION %>',
            DOMAIN_BASE = GLOBAL['DOMAIN_BASE'] = '<%= DOMAIN_BASE %>',
            DOMAIN_DEV = GLOBAL['DOMAIN_DEV'] = '<%= DOMAIN_DEV %>',
            WEBSOCKET = GLOBAL['WEBSOCKET'] = '<%= WEBSOCKET %>';
        document.domain = DOMAIN_BASE;
    </script>
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=LANG('法币交易')%></title>
    <link rel="icon" href="<%= STYLE_STATIC %>/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/xuleipro.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/xulei-v1.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/cssdna.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/exchange.css?<%= VERSION %>">

    <script type="text/javascript" src="/lib/others/sweetalert.min.js?<%= VERSION %>"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="<%= STATIC %>/scripts/common/web.lang.js?<%= VERSION %>"></script>
    <script src="https://cdn.bootcss.com/require.js/2.3.3/require.min.js"></script>
    <script type="text/javascript" src="<%= STATIC %>/scripts/main.js?<%= VERSION %>"></script>

    <style>
        .header{
            background: #3E3E3E;
        }
    </style>
</head>
<body>
    <%-include("./include/head.html")%>
    <section id="legalTrade">
        <div class="legalTrade container" v-cloak>
            <div class="handle-box">
                <span class="title"><%= LANG('SXC交易') %></span>
                <ul class="handle">
                    <li><span><a href="/help/c2cExplain"><%= LANG('操作说明') %></a></span></li>
                    <li><span @click="bankCardManage"><%= LANG('银行卡管理') %></span></li>
                    <li><span @click="addBankCard"><%= LANG('新增银行卡') %></span></li>
                </ul>
            </div>
            <div class="sxcTrade clearfix">
                <div class="payOutSxc" v-if="querySell == 1">
                    <span class="info"><%= LANG('卖出 SXC') %></span>
                    <div class="form-group">
                        <input readonly v-model="payOutPrice" type="number" class="readonly">
                        <span><%= LANG('卖出价（¥）') %></span>
                    </div>
                    <div class="form-group">
                        <input :placeholder="'<%= LANG('请输入卖出数量') %>' + ' (剩余 ' + balance + ' SXC)'" v-model="payOutAccount" type="number">
                        <span><%= LANG('卖出量（SXC）') %></span>
                    </div>
                    <p><span class="red"><%= LANG('可得') %> {{payOutAmount}} CNY</span></p>
                    <button class="payOut-btn" @click="payOut"><%= LANG('立即卖出') %></button>
                </div>
                <div class="buyInSxc" v-if="queryBuy == 1">
                    <span class="info"><%= LANG('买入 SXC (SXC买入功能暂不对外开放，开放时间另行公告通知，敬请关注！)') %></span>
                    <div class="form-group">
                        <input readonly v-model="buyInPrice" type="number" class="readonly">
                        <span><%= LANG('买入价（¥）') %></span>
                    </div>
                    <div class="form-group">
                        <input placeholder="<%= LANG('请输入购买数量') %>" v-model="buyInAccount" type="number">
                        <span><%= LANG('买入量（SXC）') %></span>
                    </div>
                    <p><%= LANG('需要支付') %> <span class="red">{{buyInAmount}}</span> CNY</p>
                    <button class="buyIn-btn" @click="buyIn"><%= LANG('立即买入') %></button>
                </div>
            </div>
            <div class="marquee_box" v-if="marqueeList.length != 0">
                <img src="<%= IMG_STATIC %>/images/info-icon.png"/>
                <ul class="marquee_list" :class="{marquee_top:animate}">
                    <li v-for="(item, index) in marqueeList">
                        <span><%= LANG('{{item.name}}') %></span>
                    </li>
                </ul>
            </div>
            <h2><%= LANG('我的兑换历史') %></h2>
            <div class="sxcOrderList">
                <table>
                    <thead>
                        <tr>
                            <td><%=LANG('时间')%></td>
                            <td><%=LANG('订单号')%></td>
                            <td><%=LANG('类型')%></td>
                            <td><%=LANG('币种/数量')%></td>
                            <td><%=LANG('单价')%></td>
                            <td><%=LANG('总价')%></td>
                            <td><%=LANG('状态')%></td>
                            <td><%=LANG('操作')%></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in orderList" :key="index">
                            <td>{{getData(item.time * 1000, 'YYYY-MM-DD HH:MM:SS')}}</td>
                            <td style="width: 10%;">{{item.orderNo}}</td>
                            <td>{{item.displayType}} SXC/CNY</td>
                            <td>{{item.coinNum}}</td>
                            <td>{{item.price || '--'}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.status == 1 ? '待处理': item.status == 2 ? '处理中' :  item.status == 3 ? '已取消' : item.status == 0 ? '已完成' : '已超时'}}</td>
                            <td v-if="item.status == 2"><span class="theme-color" style="cursor: pointer;" @click="viewDetail(item)">付款信息</span></td>
                            <td v-else>--</td>
                        </tr>
                        <tr class="no-data" v-if="loading">
                            <td colspan="10" style="text-align: center" >
                                <div class="cd-loading">
                                    <div class="vertical-bars">
                                        <p class="layer-1"></p>
                                        <p class="layer-2"></p>
                                        <p class="layer-3"></p>
                                        <p class="layer-4"></p>
                                        <p class="layer-5"></p>
                                        <p class="layer-6"></p>
                                        <p class="layer-7"></p>
                                        <p class="layer-8"></p>
                                        <p class="layer-9"></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="orderList.length == 0 && !loading" class="nodata">
                            <td colspan="10" style="text-align: center"><%= LANG('暂无数据') %></td>
                        </tr>
                    </tbody>
                </table>
                <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" @turn-page="getUserOrdersList" v-if="orderList.length > 0"></page-lite>
            </div>
            <div class="warn-info">
                <h2><%= LANG('温馨提醒') %></h2>
                <p><%= LANG('1. 买卖商户均为实名认证商户，可放心兑换；') %></p>
                <p>2. <span class='theme-color'><%= LANG('请务必使用') %></span><%= LANG('本人绑定的银行卡通过手机银行或网银进行汇款；') %></p>
                <p>3. <span class='theme-color'><%= LANG('禁止使用') %></span><%= LANG('微信、支付宝、他人代付、ATM及柜台转账，如果使用可能造成SXC无法到账；') %></p>
                <p><%= LANG('4. 商家处理时间为9:00-21:00，非处理时间的订单则会在第二天9:00开始处理，一般接单后1小时内完成交易，具体以银行到账时间为准；') %></p>
                <p><%= LANG('5. 请在下单后30分钟内用绑定的银行卡完成付款，否则会造成SXC无法到账；') %></p>
                <p><%= LANG('6. 每日最多只能发起') %><span class='theme-color'>{{sellMaxAmount}}</span><%= LANG('笔卖出订单和') %><span class='theme-color'>{{buyMaxAmount}}</span><%= LANG('笔买入订单') %></p>
                <p><%= LANG('7. 如果您的交易24小时内未处理，请联系在线客服，我们会有专人与您联系，请保持手机畅通。') %></p>
            </div>
        </div>
        <modal v-cloak :open="showModal == 'addBank'" @close="showModal = false">
            <add-bank @fetch="getBankStatus"/>
        </modal>
        <modal v-cloak :open="showModal == 'bankManage'" @close="showModal = false">
            <bank-manage :bank-Msg="bankMsg" @fetch="getBankStatus"/>
        </modal>
        <modal v-cloak :open="showModal == 'viewUserOrders'" @close="showModal = false">
            <view-user-orders :view-data="viewData"/>
        </modal>
    </section>
    <%-include("./include/footer.html")%>
</body>
</html>
<%-include("./component/page_lite.html")%>
<%-include("./component/province_city.html")%>
<%-include("./component/modal.html")%>
<%-include("./component/addBank.html")%>
<%-include("./component/bankManage.html")%>
<%-include("./component/viewUserOrders.html")%>


<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        var legalTrade = new Vue({
            el: "#legalTrade",
            data () {
                return {
                    marqueeList: [],
                    animate: false, 
                    loading: true,
                    isLogin: ISLOGIN,
                    pageSize: 5,
                    pageIndex: 1,
                    totalPage: 0,
                    pageCount: 0,
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'),
                    payOutPrice: '', // 卖出价
                    payOutAccount: '', // 卖出数量
                    buyInPrice: '', // 买入价
                    buyInAccount: '', // 购买数量
                    identifyStatus: '', // 实名认证状态
                    reameNameStatus: '', // 高级实名认证状态
                    showModal: false,
                    bankMsg: '', // 如果为null，则没有添加过银行卡，否则接口返回相关信息
                    orderList: [],
                    buyMaxAmount: '', // 每日最多买入数量
                    sellMaxAmount: '', // 每日最多卖出数量
                    viewData: '',
                    queryBuy: '', // 根据配置项来决定是否显示sxc的买入，1代表显示，0代表隐藏
                    querySell: '', // 根据配置项来决定是否显示sxc的卖出，1代表显示，0代表隐藏
                    balance: '' // 可用sxc
                }
            },
            computed: {
                'buyInAmount': function (){
                    return this.buyInPrice * this.buyInAccount
                },
                'payOutAmount': function () {
                    return this.payOutPrice * this.payOutAccount
                } 
            },
            created: function () {
                setInterval (this.showMarquee, 2000)
                if (ISLOGIN) {
                    this.loading = true
                    this.queryStatus()
                    this.getUserStatus()
                    this.getBankStatus()
                    this.getNewsList()
                    this.getUserOrdersList()
                    this.getSelectConfigList()
                }else {
                    this.loading = false
                    this.getSelectConfigList()
                }
            },
            methods: {
                // 时间戳转换
                getData: function(time, format) {
                    return Methods.getDateTime(time, format)
                },
                // 获取用户实名状态
                getUserStatus: function () {
                    var that = this;
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/xt_extends/parter/controller/website/XtUserIdentifyController/" + 'userIdentifyStatus',
                        data: {
                            Userid: that.loginUser.userId
                        },
                        success: function (res) {
                            that.identifyStatus = res.datas.status
                        }
                    });
                },
                // 获取高级实名认证状态
                queryStatus: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/queryOtherMerchant',
                        data: {
                            userId: this.loginUser.userId
                        },
                        success: function (res) {
                            this.reameNameStatus = res.datas
                        }.bind(this)
                    })
                },
                // 查询配置
                getSelectConfigList() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/legalTradeController/selectConfigList',
                        success: function (res) {
                            this.payOutPrice = res.datas.sellPrice
                            this.buyInPrice = res.datas.buyPrice
                            this.buyMaxAmount = res.datas.userOneDayBuyMaxTime
                            this.sellMaxAmount = res.datas.userOneDaySellMaxTime
                            this.queryBuy = res.datas.queryBuy
                            this.querySell = res.datas.querySell
                        }.bind(this)
                    })
                },
                // 查询是否有添加银行卡
                getBankStatus() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/legalTradeController/selectUserBank',
                        success: function (res) {
                            this.bankMsg = res.datas
                        }.bind(this)
                    })
                },
                // c2c相关操作校验
                handleCheck(callback) {
                    // 判断登录状态
                    if (!ISLOGIN) {
                        JuaBox.confirm("<%=LANG('您还未登陆！')%>", {
                            buttons: {cancel: "<%=LANG('取消')%>", confirm: "去登陆"}, callback: function () {
                                window.location.href = '/login'
                            }
                        })
                        return
                    }
                    // 判断是否实名认证
                    if (this.identifyStatus == 0) {
                        JuaBox.confirm("<%=LANG('您还未实名认证！')%>", {
                            buttons: {cancel: "<%=LANG('取消')%>", confirm: "去认证"}, callback: function () {
                                window.location.href = '/u/account'
                            }
                        })
                        return
                    }
                    // 判断是否高级实名认证
                    if (!this.reameNameStatus) {
                        JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                            buttons: {cancel: "<%=LANG('取消')%>", confirm: "去认证"}, callback: function () {
                                window.location.href = '/u/account'
                            }
                        })
                        return
                    }
                    // 判断是否添加银行卡
                    if(this.bankMsg == null){
                        var that = this
                        JuaBox.confirm("<%=LANG('当前未添加银行卡，请添加银行卡后进行操作！')%>", {
                            buttons: {cancel: "<%=LANG('取消')%>", confirm: "<%=LANG('去添加')%>"},
                            callback: function () {
                                that.showModal = 'addBank'
                            }
                        })
                        return 
                    }
                    callback && callback()
                },
                // 银行卡管理
                bankCardManage() {
                    this.handleCheck(
                        function () {
                            if(this.bankMsg) {
                                this.showModal = 'bankManage'
                            }
                        }.bind(this)
                    )
                },
                // 新增银行卡
                addBankCard() {
                    this.handleCheck(
                        function () {
                            this.showModal = 'addBank'
                        }.bind(this)
                    )
                    if(this.bankMsg) {
                        this.showModal = false
                        JuaBox.info("<%=LANG('当前已添加银行卡，如需管理银行卡，请到管理银行卡界面进行操作！')%>")
                    }
                },
                // 卖出sxc
                payOut() {
                    this.handleCheck(
                        function () {
                            if(!this.payOutAccount) {
                                JuaBox.wrong("<%=LANG('请输入卖出数量！')%>")
                                return
                            }else {
                                var that = this
                                JuaBox.alert("<%=LANG('确认卖出')%> " + that.payOutAccount + ' SXC？', "<%=LANG('确认后你将获得')%> " + that.payOutAmount + " CNY", {
                                    buttons: {cancel: "<%=LANG('取消')%>", confirm: "<%=LANG('确定')%>"},
                                    callback: function () {
                                        Methods.ajax({
                                            type: 'POST',
                                            url: DOMAIN_DEV + "/exchange/legalTradeController/orders",
                                            data: {
                                                userId: that.loginUser.userId,
                                                orderType: 1,
                                                loginType: 3,
                                                coinNum: that.payOutAccount,
                                                amount: that.payOutAmount,
                                                price: that.payOutPrice
                                            },
                                            success: function (res) {
                                                JuaBox.success("<%=LANG('卖出成功')%>", "<%=LANG('商家会在24小时内完成汇款。如有疑问请联系在线客服或查看帮助中心！')%>");
                                                that.getUserOrdersList()
                                                that.getNewsList()
                                                that.payOutAccount = ''
                                            }.bind(that)
                                        });
                                    }
                                })
                            }
                        }.bind(this)
                    )
                },
                // 买入sxc
                buyIn() {
                    this.handleCheck(
                        function () {
                            if(!this.buyInAccount) {
                                JuaBox.wrong("<%=LANG('请输入购买数量！')%>")
                                return
                            }else {
                                var that = this
                                JuaBox.alert("<%=LANG('确认买入')%> " + that.buyInAccount + ' SXC？', "<%=LANG('确认后你将需要支付')%> " + that.buyInAmount + " <%=LANG('CNY 给商家')%>" ,{
                                buttons: {cancel: "<%=LANG('取消')%>", confirm: "确认"}, callback: function () {
                                        Methods.ajax({
                                            type: 'POST',
                                            url: DOMAIN_DEV + "/exchange/legalTradeController/orders",
                                            data: {
                                                userId: that.loginUser.userId,
                                                orderType: 0,
                                                loginType: 3,
                                                coinNum: that.buyInAccount,
                                                amount: that.buyInAmount,
                                                price: that.buyInPrice
                                            },
                                            success: function (res) {
                                                var data = res.datas
                                                JuaBox.success("<%=LANG('买入成功')%>", "<%=LANG('请在30分钟内按照要求完成付款，禁止使用微信、支付宝、他人代付、ATM及柜台转账等第三方转账！')%>",function(){
                                                    that.viewDetail(data)
                                                })
                                                that.getUserOrdersList()
                                                that.buyInAccount = ''
                                            }.bind(that)
                                        });
                                    }
                                })
                            }
                        }.bind(this)
                    )
                    
                },
                // 获取订单滚动信息
                getNewsList() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/legalTradeController/userInfo',
                        data: {
                            userId: this.loginUser.userId,
                        },
                        success: function (res) {
                            this.balance = res.datas.amount
                            var data = res.datas.list
                            var name;
                            data.map(item => {
                                name = '最新动态：商户 ' + item.name + '，成功' + item.displayType + ' ' + item.amount  + ' SXC'
                                this.marqueeList.push({name})
                            })
                        }.bind(this)
                    })
                },
                // 最新动态循环滚动函数
                showMarquee: function () {
                    if(this.marqueeList.length != 0) {
                        this.animate = true;
                    }
                    setTimeout (() => {
                        this.marqueeList.push (this.marqueeList[ 0 ]);
                        this.marqueeList.shift ();
                        this.animate = false;
                    }, 500);
                },
                // 获取用户订单列表
                getUserOrdersList() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/legalTradeController/orders',
                        data: {
                            page: this.pageIndex,
                            size: this.pageSize
                        },
                        success: function (res) {
                            this.orderList = res.datas.results
                            this.pageCount = res.datas.totalRow
                            this.pageSize = res.datas.pageSize
                            this.pageIndex = res.datas.pageIndex
                            this.totalPage = res.datas.totalPage
                            this.loading = false
                        }.bind(this)
                    })
                },
                // 查看付款信息
                viewDetail(item) {
                    this.showModal = 'viewUserOrders'
                    this.viewData = item
                    console.log(this.viewData)
                }
            }
        })
    })
</script>

