<!DOCTYPE html>
<html lang="<%= LAN %>">
<head>
    <%-include("include/headInit.html")%>
    <%-include("include/headMeta.html")%>
</head>
<body>
<%-include("include/head.html")%>
<section class="user-center">
    <div class="container">
        <%-include("u/asset/menu.html")%>
        <% try{ %>
        <%-include(templateMain)%>
        <% }catch(err){ %>
        <%- err%>
        <%-include("include/error.html")%>
        <% } %>
    </div>
</section>
<%-include("chat/chat_new.html")%>
<%-include("include/footInit.html")%>
</body>
</html>
<!-------------财务中心 xt.com 正在用模板！！！！！！！------------------>