<!DOCTYPE html>
<html lang="<%= LAN %>">
<head>
    <%-include("include/headInit.html")%>
    <%-include("include/headMetanew.html")%>
</head>
<style>
    .header {
        background: #130E00;
    }
</style>
<body>
<%-include("include/head.html")%>
<section class="user-center">
        <div class="container">
            <%-include("u/asset/menu.html")%>
            <% try{ %>
            <%-include(templateMain)%>
            <% }catch(err){ %>
            <%- err%>
            <%-include("include/error.html")%>
            <% } %>
        </div>
</section>

</body>
</html>
<!--财务中心模板-->