<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <script type="text/javascript">
        var GLOBAL = {},
            EXX = {},
            ENV = GLOBAL['ENV'] = '<%= ENV %>',
            LAN = GLOBAL['LAN'] = '<%= LAN %>',
            MONEY = GLOBAL['MONEY'] = '<%= MONEY || "usd" %>',
            ISLOGIN = GLOBAL['ISLOGIN'] = <%= Boolean(isLogin)%>,
            VERSION = GLOBAL['VERSION'] = '<%= VERSION %>',
            DOMAIN_BASE = GLOBAL['DOMAIN_BASE'] = '<%= DOMAIN_BASE %>',
            DOMAIN_DEV = GLOBAL['DOMAIN_DEV'] = '<%= DOMAIN_DEV %>',
            WEBSOCKET = GLOBAL['WEBSOCKET'] = '<%= WEBSOCKET %>';
        document.domain = DOMAIN_BASE;
    </script>
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=LANG('OTC交易')%></title>
    <link rel="icon" href="<%= STYLE_STATIC %>/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/xuleipro.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/xulei-v1.css?<%= VERSION %>">
    <link rel="stylesheet" type="text/css" href="<%= STYLE_STATIC %>/styles/cssdna.css?<%= VERSION %>">

    <script type="text/javascript" src="/lib/others/sweetalert.min.js?<%= VERSION %>"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="<%= STATIC %>/scripts/common/web.lang.js?<%= VERSION %>"></script>
    <script src="https://cdn.bootcss.com/require.js/2.3.3/require.min.js"></script>
    <script type="text/javascript" src="<%= STATIC %>/scripts/main.js?<%= VERSION %>"></script>

    <style>
        .header{
            background: #3E3E3E;
        }
    </style>
</head>
<body>

<%-include("./include/head.html")%>

<section class="home-otcTrade" id="home-otcTrade">
    <div class="otcTrade-continer">
        <div class="title">
            <div class="tab-box">
                <span :class="advType == 1 ? 'active' : ''" @click="changeAdvType(1)"><%=LANG('购买')%></span>
                <span :class="advType == 2 ? 'active' : ''" @click="changeAdvType(2)"><%=LANG('出售')%></span>
            </div>
            <a @click="hrefClick">发布广告</a>
            <div class="search">
                <input type="text" @click="openDropdown" placeholder="<%=LANG('请搜索')%>">
                <fiter-drop-down :open="fiterDropDown" :type="'1'" :currency-list="currencyList" @fetch-list="fetchOtcList"/>
            </div>
        </div>
        <div class="coinList">
            <div :class="[{'active': orderCoin == item.name}, 'coin']" v-for="item in coinList" v-cloak="" @click="changeCoinName(item)">
                {{item.name}}
            </div>
        </div>
        <div class="otclist">
            <table>
                <thead>
                <tr>
                    <td style="width: 300px"><%=LANG('商家(30日成单 | 30日完成率)')%></td>
                    <td><%=LANG('总数量')%></td>
                    <td><%=LANG('剩余数量')%></td>
                    <td><%=LANG('限额')%></td>
                    <td><%=LANG('单价')%></td>
                    <td><%=LANG('支付方式')%></td>
                    <td><%=LANG('操作')%></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in otcList" v-cloak="">
                    <td>{{`${item.userName} ( ${item.thrityOrders} | ${Number(item.thrityRate * 100).toFixed(2)}% )`}}<img
                            src="<%= IMG_STATIC %>/images/otcLevel.png" v-if="item.otcLevel" alt=""></td>
                    <td>{{item.orderAmount}} {{orderCoin}}</td>
                    <td>{{item.laveAmount}} {{orderCoin}}</td>
                    <td>{{item.orderLimitMin + ' | ' + item.orderLimitMax}} {{legalCurrencyName.toUpperCase()}}</td>
                    <td>{{item.orderPrice}} {{legalCurrencyName.toUpperCase()}}</td>
                    <td><img :src="'<%= IMG_STATIC %>/images/' + tode + '.png'" v-for="tode in getPayType(item.payId)" alt="" ></td>
                    <td><span class="btn" @click="buyOtc(item)">{{advType == 1 ? '<%=LANG('购买')%>' : '<%=LANG('出售')%>'}}{{orderCoin}}</span></td>
                </tr>
                <tr v-if="otcList.length == 0 || !otcList" class="nodata">
                    <td colspan="6" style="text-align: center"><%= LANG('暂无数据') %></td>
                </tr>
                </tbody>
            </table>
            <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" :turn-page="fetchOtcList"
                       v-if="otcList.length > 0"></page-lite>
        </div>
    </div>
    <modal v-cloak :open="showModal == 'otcTradeModal'" @close="showModal = false">
        <otc-trade-modal :adv-type="advType" :order-coin="orderCoin" :list-record="listRecord" :legal-currency-name="legalCurrencyName"/>
    </modal>
</section>
<%-include("./include/footer.html")%>
</body>
</html>

<%-include("./component/fiterDropDown.html")%>
<%-include("./component/page_lite.html")%>

<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        var otcTrade = new Vue({
            el: "#home-otcTrade",
            data: function () {
                return {
                    isLogin: ISLOGIN,
                    showModal: false,   //'otcTradeModal'
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'),
                    otcList: [],
                    pageSize: 10,
                    pageIndex: 1,
                    totalPage: 0,
                    pageCount: 0,
                    coinList: [],
                    advType: 1,  //1:买  2：卖
                    orderCoin: 'SXC',
                    legalCurrencyName: {
                        cn: 'cny',
                        en: 'usd',
                        kr: 'krw',
                        jp: 'jpy',
                        hk: 'hkd'
                    } [getCookie(ENV + 'lan')], //查询OTC交易币种 法币币种
                    listRecord: {},  //点击的每一行
                    orderOutTime: '',
                    fiterDropDown: false,
                    currencyList: [],
                    sellPays: null,
                    reameNameStatus: null
                }
            },
            computed: {

            },
            methods: {
                openDropdown: function() {
                    this.fiterDropDown = !this.fiterDropDown
                },
                getPayType: function (payid) {
                    var arr = ['', '', 'UnionPay', 'aliPay', 'tencentPay', 'paypal', 'usdPay']
                    return payid && payid.toString().split(',').map(function (item) {
                        return arr[item]
                    })
                },
                changeAdvType: function (type){
                    this.advType = type
                    this.fetchOtcList({advType: type})
                },
                hrefClick: function () {
                    if (!isLogin) {
                        JuaBox.confirm("<%=LANG('您还未登陆！')%>", {
                            buttons: {confirm: "去登陆"}, callback: function () {
                                window.location.href = '/login'
                            }
                        })
                    }
                    if (this.loginUser.safePwdAuth == '0') {
                        JuaBox.confirm("<%=LANG('您还未设置交易密码！')%>", {
                            buttons: {confirm: "去设置"}, callback: function () {
                                window.location.href = '/u/account'
                            }
                        })
                    }
                    if (this.reameNameStatus == null) {
                        JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                            buttons: {confirm: "去认证"}, callback: function () {
                                window.location.href = '/u/account'
                            }
                        })
                    } else {
                        window.location.href = 'u/publishAdv'
                    }
                },
                buyOtc: function (obj) {
                    if (!isLogin) {
                        JuaBox.confirm("<%=LANG('您还未登陆！')%>", {
                            buttons: {confirm: "去登陆"}, callback: function () {
                                window.location.href = '/login'
                            }
                        })
                    }
                    if (this.loginUser.safePwdAuth == '0') {
                        JuaBox.confirm("<%=LANG('您还未设置交易密码！')%>", {
                            buttons: {confirm: "去设置"}, callback: function () {
                                window.location.href = '/u/account'
                            }
                        })
                    }
                    if (this.reameNameStatus == null) {
                        JuaBox.confirm("<%=LANG('您还未高级实名认证！')%>", {
                            buttons: {confirm: "去认证"}, callback: function () {
                                window.location.href = '/u/account'
                            }
                        })
                    } else {
                        this.getLimteTime()
                        this.listRecord = Object.assign(obj, {orderOutTime: this.orderOutTime})
                        this.showModal = 'otcTradeModal'
                        if (this.advType == 2) {
                            this.getSellPays()
                        }
                    }
                },
                queryStatus: function() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/queryOtherMerchant',
                        data: {
                            userId: this.loginUser.userId
                        },
                        success: function (res) {
                            this.reameNameStatus = res.datas
                        }.bind(this)
                    })
                },
                getSellPays: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectPayments',
                        data: {
                            payIds: this.listRecord.payId
                        },
                        success: function (res) {
                            if (!res.datas) {
                                JuaBox.info("<%=LANG('对方不支持这种支付方式！')%>");
                            }
                            this.sellPays = res.datas
                        }.bind(this)
                    })
                },
                fetchOtcList: function (obj) {  //查询 otc列表s
                    var data = Object.assign({
                        pageSize: this.pageSize,
                        pageIndex: this.pageIndex,
                        advType: this.advType,
                        orderCoin: this.orderCoin
                    }, obj)
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectUsersOtcList',
                        data: data,
                        success: function (res) {
                            this.otcList = res.datas.results
                            this.pageCount = res.datas.totalRow
                            this.pageSize = res.datas.pageSize
                            this.pageIndex = res.datas.pageIndex
                            this.totalPage = res.datas.totalPage
                        }.bind(this)
                    })
                },
                fetchCoinList: function (obj) {   //查询 币种列表
                    var data = {
                        legalCurrencyName: this.legalCurrencyName
                    }
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectCoinLists',
                        data: data,
                        success: function (res) {
                            this.coinList = res.datas
                        }.bind(this)
                    })
                },
                getLimteTime: function(callBack) {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/admin/OtcController/selectOTCConfig',
                        success: function (res) {
                            console.log( res.datas.orderOutTime)
                            this.orderOutTime = res.datas.orderOutTime
                            callBack && callBack()
                        }.bind(this)
                    })
                },
                changeCoinName: function (item) {
                    this.orderCoin = item.name
                    this.fetchOtcList({orderCoin: this.orderCoin})
                },
                getCurrencyList: function () {  //查询法币接口
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/XtOtcController/selectCurrency',
                        data: {},
                        success: function (res) {
                            this.currencyList = res.datas
                        }.bind(this)
                    })
                },
            },
            updated: function () {

            },
            created: function () {
                if (isLogin) {
                    this.queryStatus()
                }
                this.fetchCoinList()
                this.fetchOtcList()
                this.getCurrencyList()
                this.getLimteTime()
            },
            mounted: function () {

            },
            filters: {}
        })
    })

</script>

<%-include("./component/modal.html")%>
<%-include("./component/otcTradeModal.html")%>






