<section class="help-content aboutcont">
    <div class="banner4">
        <h2><%= LANG('关于我们')%></h2>
    </div>
    <div class="about-plan1">
        <div class="container">
            <div class="about-nav">
                <ul>
                    <li><a href="#"><i class="iconfont icon-shilixionghouicon"></i><h4><%= LANG('技术实力')%></h4><p><%= LANG('技术实力说明文字')%></p></a></li>
                    <li><a href="#"><i class="iconfont icon-money-safe"></i><h4><%= LANG('安全保障')%></h4><p><%= LANG('多层保障,确保用户与资金安全无忧。')%></p></a></li>
                    <li><a href="#"><i class="iconfont icon-profile"></i><h4><%= LANG('用户至上')%></h4><p><%= LANG('7*24*365在线客服服务')%></p></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="about-cont1">
        <div class="container">
            <h2><%= LANG('exx致力于数字资产在全球的普及与发展')%></h2>
            <h4 class="stitle"><%= LANG('公司介绍')%></h4>
            <p><%= LANG('EXX是EXCHANGE X 的简写')%> </p>
            <div class="piclist">
                <img src="<%= STATIC %>/images/home/aboutpic1.jpg">
            </div>
        </div>
    </div>
</section>

