
<style>
    #canvas{
        width:100%;
        height:100%;
        overflow: hidden;
        position:absolute;
        top:0;
        left:0;
        opacity: 0.5;
    }
</style>




<div id="canvas"></div>
<!-- Main library -->
<script src="/src/scripts/login/three.min.js?<%= VERSION %>"></script>

<!-- Helpers -->
<script src="/src/scripts/login/projector.js?<%= VERSION %>"></script>
<script src="/src/scripts/login/canvas-renderer.js?<%= VERSION %>"></script>

<!-- Visualitzation adjustments -->
<script src="/src/scripts/login/3d-lines-animation.js?<%= VERSION %>"></script>
