<section class="exx-entrance">
    <%-include("canvas.html")%>
  <div class="exx-entrance-main">
      <div class="exx-entrance-head">
          <h3><%= LANG('登录') %></h3>
      </div>
    <div class="exx-entrance-body" id="logBox">
        <div class="form-box">
            <div class="form-group">
              <div class="form-control" id="nikeForm">
            <input autocomplete="off" placeholder="<%= LANG('手机') %>/<%= LANG('邮箱') %>/<%= LANG('用户名') %>" v-model="userName" v-on:blur="handleCheckUserType($event)" v-on:focus="clearPhoneInputError($event)" type="text">
          <country-code v-if="showCountry" :selected="selectCountry" />
          </div>
          </div>
          <div class="form-group">
              <div class="form-control" id="passwordForm">
              <!--<input autocomplete="new-password" placeholder="<%= LANG('登录密码') %>" v-model="password" type="password" v-on:blur="handCheckPwd($event)" v-on:focus="clearPwdInputError($event)" >-->
              <input autocomplete="new-password" placeholder="<%= LANG('登录密码') %>" v-model="password" type="password" v-on:focus="clearPwdInputError($event)" >
              <a class="label-a" href="/findLoginPwd"><%= LANG('忘记密码?') %></a>
              </div>
          </div>
          <div class="form-group" v-show="showImgCode" style="display: none;">
              <div class="form-control hint--top" aria-label="<%- LANG('请输入图中验证码')%>" style="display: block !important;">
            <input autocomplete="off" placeholder="<%= LANG('图形验证码') %>" v-model="imgCode" type="text">
                  <div class="code-img"><img :src="imageCodeUrl" v-on:click="handleRefreshImgcode" alt="<%= LANG('点击刷新验证码') %>"></div>

              </div>
          </div>
            <div class="form-button">
                <button type="button" @click="handleLogin" class="button" :class="requestLocked ? 'btn-loading' : ''"><span><%= LANG('登录') %></span></button>
            </div>
            <div class="form-other"><%= LANG('还没账号？') %><a href="/register"><%= LANG('立即注册') %></a></div>

    </div>
  </div>
  </div>
</section>

<script>
    var $svg = $("svg").drawsvg();
    $svg.drawsvg("animate");
</script>
<script>
    function loginSuccessUi(redirect) {
        //$("#logBox").fadeOut();
        swal({
            title: "<%= LANG('登录成功') %>",
            text: "<%= LANG('即将跳转到账户中心') %>",
            icon: "success",
            buttons: ["<%= LANG('立即跳转') %>", false],
            dangerMode: false,
        }).then(function (willDelete) {
            window.location.href = redirect;
        });
        window.setTimeout(function () {
            window.location.href = redirect;
        }, 3000);
    }

    function loginErrorUi(message) {
        //$("#logBox").fadeOut();
        swal({
            title: "<%= LANG('提示') %>",
            text: message,
            icon: "warning",
            buttons: ["<%= LANG('确定') %>", false],
            dangerMode: false,
        }).then(function (willDelete) {
            //$("#logBox").fadeIn();
        });
        window.setTimeout(function () {
            $(".swal-overlay").trigger('click');
            //$("#logBox").fadeIn();
        }, 4000);
    }


    require(['vue', 'common/methods', 'common/juabox', 'components/country_code/index'], function (Vue, Methods, JuaBox) {
        var app = new Vue({
            el: '#logBox',
            data: function () {
                return {
                    pubKey: '',
                    rsaKeyId:'',
                    timestramp: '',
                    userType: 1,
                    showCountry: false,
                    showImgCode: false,
                    userName: '',
                    password: '',
                    imgCode: '',
                    countryCode: '+86',
                    requestLocked : false,
                    url : Methods.getUrlparm('url'),
                    // imageCodeUrl: DOMAIN_MAIN + '/imagecode/get-28-120-50'
                    imgCodeId: '',
                    imageCodeUrl: '',
                    phoneState: true,
                    pwdState: true,
                    getPubkeyNum:0
                }
            },
            methods: {
                //获取图形验证码
                getImageCode: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/verifycode/controller/website/userverifycontroller/" + 'getvalidatecode',
                        success: function (res) {
                            this.imageCodeUrl = res.datas.img;
                            this.imgCodeId = res.datas.imgCodeId;
                        }.bind(this)
                    });
                },
                //判断用户名信息
                handleCheckUserType: function (e) {
                    this.userType = Methods.checkUserType(this.userName);
                    this.showCountry = Methods.isAllNumber(this.userName);
                    var target = e.target || e.currentTarget || e.srcElement;
                    if (this.userName.length < 6) {
                        Methods.showLineError(target, "<%= LANG('手机、邮箱或用户名格式不正确') %>")
                        this.phoneState = false;
                    } else {
                        Methods.showLineError(target, "")
                        this.phoneState = true;
                    }
                },
                //密码输入框失去焦点时，判断密码格式是否满足-ok
                handCheckPwd: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    if (Methods.checkPwdStrength(this.password) < 2) {
                        Methods.showLineError(target, "<%= LANG('登录密码格式不正确') %>")
                        this.pwdState = false;
                    } else {
                        Methods.showLineError(target, "")
                        this.pwdState = true;
                    }
                },
                //清除输入框错误信息-ok
                clearPhoneInputError : function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    Methods.showLineError(target, "")
                    this.phoneState = true;
                },
                //清除输入框错误信息-ok
                clearPwdInputError : function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    Methods.showLineError(target, "")
                    this.pwdState = true;
                },
                //选择国家代码
                selectCountry: function (country) {
                    this.countryCode = country.code
                },
                //重新获取公钥
                againgetPubkey: function () {
                    if(this.pubKey=="" || this.rsaKeyId==""){
                        this.getPubkeyNum++;
                        if(this.getPubkeyNum<=3){
                            this.getPubKey();
                        }else{
                            window.location.reload();
                        }
                    }
                },
                //获取公钥-ok
                getPubKey: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/user/controller/website/baseapicontroller/" + 'getpubkey',
                        success: function (res) {
                            this.pubKey = res.datas.pubKey;
                            this.rsaKeyId= res.datas.keyId;
                            this.againgetPubkey();
                        }.bind(this),
                        error:function () {
                            this.againgetPubkey();
                        }
                    });
                },
                //刷新图形验证码-ok
                handleRefreshImgcode: function () {
                    // this.timestramp = '-' + new Date().getTime();
                    this.getImageCode();
                },
                //登录方法
                handleLogin: function () {
                    if(this.pubKey=="" || this.rsaKeyId==""){
                      this.getPubKey();
                    }
                    if (this.requestLocked) {
                        return false;
                    }
                    if (!this.pwdState || !this.phoneState) {
                        return false;
                    }
                    var encryptionPwd = Methods.encryptPwd(this.password, this.pubKey);
                    var data = {
                        userType: Methods.checkUserType(this.userName),
                        userName: this.userName,
                        password: encryptionPwd,
                        rsaKeyId: this.rsaKeyId,
                        imgCode: this.imgCode,
                        imgCodeId: this.imgCodeId,
                        //暂无该参数
                        countryCode: this.countryCode
                    };
                    var _this = this;
                    if (this.userName === '') {
                        // swal("<%= LANG('提示') %>", "<%= LANG('请输入手机号/邮箱') %>", "warning");
                        loginErrorUi("<%= LANG('请输入账号') %>");
                        //loginSuccessUi("/");
                        //JuaBox.info("<%= LANG('请输入手机号/邮箱') %>");
                    } else if (this.password === '') {
                        loginErrorUi("<%= LANG('请输入密码') %>");
                    } else if (this.showImgCode && this.imgCode == '') {
                        loginErrorUi("<%= LANG('验证码格式不正确') %>");
                    } else {
                        _this.requestLocked = true;
                        Methods.ajax({
                            // url: DOMAIN_MAIN + API_PREFIX + 'login',
                            url: DOMAIN_DEV+ "/exchange/user/controller/website/usercontroller/" + 'loginbypassword',
                            data: JSON.stringify(data),
                            success: function (res) {
                                _this.requestLocked = false;
                                //确保清除子账号Cookie
                                //Methods.deleCookie(ENV + 'currentAccountId');
                                //存储用户信息
                                Methods.setLocalUserInfo(res.datas);
                                //设置登录状态 cookie
                                Methods.setCookie(ENV+'uon', res.resMsg.code);
                                Methods.setCookie(ENV+'uid', res.datas.userId);
                                Methods.setCookie(ENV+'uname', res.datas.loginName);

                                Methods.setCookie(ENV+'utoken', res.datas.token);

                                /*if (res.datas.userInfo.thirdAssetMove == '-1') {
                                    window.location.href = DOMAIN_WEB + '/u/welcome'
                                } else {
                                    if(_this.url){
                                        top.location.href = _this.url;
                                    }else{
                                        loginSuccessUi('/u');
                                    }
                                }*/
                                //跳转页面提示
                                loginSuccessUi('/u');
                            },
                            error: function (res) {
                                _this.requestLocked = false;
                                //设置登录状态 cookie
                                Methods.setCookie(ENV+'uon', res.resMsg.code);

                                var resMsg = res.resMsg;
                                // 依次是: 6011 谷歌，6037 短信，6038 邮箱
                                // 6061 需要输入谷歌、邮箱验证码，
                                // 6062 需要输入谷歌、短信验证码，
                                // 6063 需要输入邮箱，短信验证码，
                                // 6064 需要输入谷歌、邮箱、短信验证码
                                
                                /**
                                 *作者: GongQi
                                 *时间: 2018/5/30
                                 *功能: 6066 开启异地登录
                                 *     6065 开启异地登录、Google验证
                                 */
                                if (resMsg.code == 6011 ||
                                    resMsg.code == 6065 ||
                                    resMsg.code == 6066) {
                                    data.code = resMsg.code; //将二次验证code传递
                                    Methods.setLocalStorage(ENV + 'noLoginUserInfo', data);
                                    //需要进一步验证
                                    window.location.href = '/loginAuth';
                                } else if (resMsg.code == 6015) {
                                    // 6015 图片验证码
                                    _this.showImgCode = true;
                                    _this.getImageCode();

                                    _this.timestramp = '-' + new Date().getTime();
                                    loginErrorUi(EXX.L(resMsg.message));
                                } else {
                                    //有错误,需重新获取pubkey
                                    loginErrorUi(EXX.L(resMsg.code));
                                    _this.getPubKey();

                                    _this.getImageCode();
                                    _this.timestramp = '-' + new Date().getTime();

                                }
                            }
                        });

                    }
                },
                //监听回车键-ok
                bindEnter : function () {
                    var _this = this;
                    document.onkeydown = function(e){
                        var ev = document.all ? window.event : e;
                        if(ev.keyCode==13) {
                            _this.handleLogin()
                            return false;
                        }
                    }
                }
            },
            created: function () {
                var params = Methods.parseQueryString();
                this.userName = params.userName ? params.userName : '';

            },
            mounted: function () {
                Methods.checkMobileStyle();
                this.bindEnter();
                if (this.userName != '') {
                    $('#username').parent().parent().addClass('activenocolor');
                }
                this.getPubKey();
                this.userType = Methods.checkUserType(this.userName);

                this.getImageCode();

            }
        });
    })




</script>

