<link href="<%= STATIC %>/styles/user/new_register.css?<%= VERSION %>" rel="stylesheet" type="text/css">

<section class="new-register">
    <div class="register-box">
        <h1 class="register-title">注册</h1>
        <!--<div class="box-item">-->
            <!--<select class="item-select">-->
                <!--<option value ="1">通讯社1</option>-->
                <!--<option value ="2">通讯社1</option>-->
            <!--</select>-->
            <!--<input type="text" class="register-input" placeholder="设置密码">-->
        <!--</div>-->
        <!--<div class="box-item">-->
            <!--<input type="text" class="register-input" placeholder="提现密码">-->
        <!--</div>-->
        <!--<div class="box-item">-->
            <!--<input type="text" class="register-input" placeholder="确认提现密码">-->
        <!--</div>-->
        <div class="box-item">
            <input type="text" class="register-input" placeholder="请输入您的邮箱">
        </div>
        <div class="box-item">
            <input type="text" class="register-input" placeholder="图像验证码">
            <img class='img-captcha' src="" alt="">
        </div>
        <div class="box-item box-item-2">
            <input type="text" class="register-input register-input-2" placeholder="动态验证码">
            <button class="captcha-btn">获取验证码</button>
        </div>
        <div class="box-item">
            <input type="text" class="register-input" placeholder="设置密码">
        </div>
        <div class="box-item">
            <input type="text" class="register-input" placeholder="确认密码">
        </div>
        <div class="box-item">
            <input class="item-checkobox" type="checkbox">
            <a class='item-a' href="#">阅读并同意《用户服务协议》</a>
        </div>
        <div>
            <button class="button-register">注册</button>
        </div>
    </div>
</section>

<script>

</script>