<section class="exx-entrance">
    <%-include("canvas.html")%>
    <div class="exx-entrance-main">
        <div class="exx-entrance-head">
            <h3><%= LANG('找回登录密码') %></h3>
        </div>
      <div class="exx-entrance-body" id="logBox">
          <div class="form-box" id="regForm">
            <div class="form-group">
              <div class="form-control" id="nikeForm">
                <input v-model="userName" placeholder="<%= LANG('手机号码/邮箱') %>" v-on:blur="handleCheckUserType($event)" v-on:focus="clearInputError($event)" type="text">
                <country-code v-if="showCountry" :selected="selectCountry" />
            </div>
            </div>
              <div class="form-group">
                  <div class="form-control" id="carkId">
                      <input autocomplete="new-password" placeholder="<%= LANG('证件号码') %>" v-model="cardId" type="text">
                  </div>
                  <p style="color: #999; padding-top: 10px;"><%= LANG('如果帐户未实名认证此项可不填写') %></p>
              </div>
            <div class="form-group">
            <div class="form-control hint--top" aria-label="<%- LANG('请输入图中算式的答案')%>" style="display: block !important;">
                <input v-model="imgCode" placeholder="<%= LANG('图形验证码') %>" v-on:blur="handleCheckLength($event)" v-on:focus="clearInputError($event)" type="text">
                <div class="code-img"><img :src="imageCodeUrl" v-on:click="handleRefreshImgcode" alt="<%= LANG('点击刷新验证码') %>"></div>
            </div>
            </div>

            <div class="form-group">
            <div class="form-control" id="msgCodeForm">
                <input v-model="dynamicCode" placeholder="<%= LANG('动态验证码') %>" v-on:blur="handleCheckLength($event)" v-on:focus="clearInputError($event)" type="text">
              <send-code :code-type="2" :img-code="imgCode" :disabled="!imgCode.length || !userName.length" :user-name="userName" :card-id="cardId" :error-fun="handleRefreshImgcode" />
                </div>
            </div>
            <div class="form-group">
            <div class="form-control" id="passwordForm">
              <input autocomplete="new-password" placeholder="<%= LANG('设置新的登录密码') %>" v-on:keyup="handleCheckPwdStrength" v-model="newPassword" type="password">
                <div class="input-alert2 hide"><span><%- LANG('密码格式为8~20位，且为字母、数字、符号等任意2种以上组合') %></span></div>
                <ul v-show="newPassword.length" class="exx-grade" v-cloak="">
                    <li :class="[{active: pwdStrength == 0 }]"><%= LANG('不合格') %></li>
                    <li :class="[{active: pwdStrength == 1 }]"><%= LANG('弱') %></li>
                    <li :class="[{active: pwdStrength == 2 }]"><%= LANG('中') %></li>
                    <li :class="[{active: pwdStrength > 2 }]"><%= LANG('强') %></li>
                </ul>
            </div>
            </div>
            <div class="form-group">
            <div class="form-control" id="confirmPwdForm">
                <input autocomplete="new-password" placeholder="<%= LANG('重复输入密码') %>" v-on:keyup="handleComparedPwd" v-model="passwordConfirmation" type="password">
                  <div class="input-alert" v-if="!passwordIdentical && passwordConfirmation.length"><%= LANG('两次输入的密码不一致') %></div>
                </div>
          </div>
            <div class="form-button">
                <button type="button" v-on:click="doSubmit" class="button"><span><%= LANG('提交') %></span></button>
            </div>
      </div>
      </div>
    </div>
  </section>

<%-include("../component/send_code.html")%>
<script>
    require(['vue', 'common/methods', 'components/country_code/index'], function (Vue, Methods) {
        var app = new Vue({
            el: '#logBox',
            data: function () {
                return {
                    step: 1,
                    pubKey: '',
                    timestramp: '',
                    showCountry: false,
                    userType: 1,
                    userName: '',
                    cardId : '',
                    imgCode: '',
                    dynamicCode: '',
                    countryCode: '+86',
                    newPassword: '',
                    passwordConfirmation: '',
                    passwordIdentical: false,
                    pwdStrength: 0,
                    carId: '',
                    imgCodeId: '',
                    imageCodeUrl: ''
                }
            },
            methods: {
                //获取图形验证码
                getImageCode: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/verifycode/controller/website/userverifycontroller/" + 'getvalidatecode',
                        success: function (res) {
                            this.imageCodeUrl = res.datas.img;
                            this.imgCodeId = res.datas.imgCodeId;
                        }.bind(this)
                    });
                },
                // getPubKey: function (callback) {
                //     Methods.ajax({
                //         type: 'GET',
                //         url: DOMAIN_DEV + "/exchange/controller/website/common/baseapicontroller/" + 'getpubkey',
                //         success: function (res) {
                //             this.pubKey = res.datas.pubKey;
                //             callback && callback();
                //         }.bind(this)
                //     });
                // },
                handleCheckUserType: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    this.userType = Methods.checkUserType(this.userName);
                    this.showCountry = Methods.isAllNumber(this.userName);
                    if (this.userType != 1 && this.userType != 2) {
                        Methods.showLineError(target, "<%= LANG('手机或邮箱格式不正确') %>")
                    } else {
                        Methods.showLineError(target, "")
                    }
                },
                clearInputError : function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    Methods.showLineError(target, "")
                },
                handleComparedPwd: function () {
                    this.passwordIdentical = this.newPassword === this.passwordConfirmation
                },
                handleCheckPwdStrength: function () {
                    this.pwdStrength = Methods.checkPwdStrength(this.newPassword);
                },
                handleRefreshImgcode: function () {
                    // this.timestramp = '-' + new Date().getTime();
                    this.getImageCode();
                },
                selectCountry: function (country) {
                    this.countryCode = country.code
                },
                handleCheckLength: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    if ($(target).val() == '') {
                        Methods.showLineError(target, "<%= LANG('验证码格式不正确') %>")
                    } else {
                        Methods.showLineError(target, "")
                    }
                },
                doSubmit: function () {
                    // this.getPubKey(this.checkAndSubmit);

                    // this.checkAndSubmit();
                },
                checkAndSubmit: function () {
                    if (this.userName.length < 8) {
                        JuaBox.sure('<%= LANG("请输入正确的用户名") %>');
                        return false;
                    }
                    if (this.imgCode.length == '') {
                        JuaBox.sure('<%= LANG("请输入正确的图形验证码") %>');
                        return false;
                    }
                    if (this.dynamicCode.length < 4 ) {
                        JuaBox.sure('<%= LANG("请输入正确的动态验证码") %>');
                        return false;
                    }
                    if (!this.passwordIdentical) {
                        JuaBox.info('<%= LANG("两次输入的密码不一致") %>');
                    }
                    var encryptionPwd = Methods.encryptPwd(this.newPassword, this.pubKey);
                    var data = {
                        userType: Methods.checkUserType(this.userName),
                        userName: this.userName,
                        countryCode: this.countryCode,
                        dynamicCode: this.dynamicCode,
                        imgCode: this.imgCode,
                        imgCodeId: this.imgCodeId,
                        cardId: this.cardId,
                        newPassword: encryptionPwd
                    };
                    Methods.ajax({
                        url: DOMAIN_MAIN + API_PREFIX + 'changePwd',
                        data: data,
                        success: function (res) {
                            JuaBox.sure('<%= LANG("密码设置成功，请重新登录。") %>');
                            setTimeout(function () {
                                window.location.href = '/login';
                            }, 1000);
                        },
                        error: function (res) {
                            JuaBox.info(EXX.L(res.resMsg.message));
                            this.handleRefreshImgcode();
                        }.bind(this)
                    });
                },
                bindEnter : function () {
                    var _this = this;
                    document.onkeydown = function(e){
                        var ev = document.all ? window.event : e;
                        if(ev.keyCode==13) {
                            _this.doSubmit()
                            return false;
                        }
                    }
                }
            },
            mounted: function () {
                Methods.checkMobileStyle();
                this.bindEnter();

                this.getImageCode();
            }
        });
    })
</script>
