<%-include("../include/head.html")%>
<style>
    .header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
    .large-header{
        position: absolute;
    }
    @media (max-width: 768px) {
        .entrance-area {
            padding: 0 15px;
            margin-top: 60px;
        }

        .entrance-area .body {
            width: 100%;
        }

        .entrance-area .head ul {
            width: 100%;
        }
    }
</style>
<section class="entrance-area">
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
    </div>
    <div class="box">
        <!--<div class="head">
            <h3>
                <%= LANG('找回登录密码') %>
            </h3>
        </div>-->
        <div class="body" id="logBox">
            <h2>
                <%= LANG('找回登录密码') %>
            </h2>
            <div id="regForm">
                <div class="form-group">
                    <div class="form-control" id="nikeForm">
                        <img src="<%= IMG_STATIC %>/images/user.png" class="title" alt="">
                        <input v-model="userName" placeholder="<%= LANG('手机号码/邮箱') %>" v-on:blur="handleCheckUserType($event)" v-on:focus="clearInputError($event)"
                               type="text">
                        <country-code v-if="showCountry" :selected="selectCountry"/>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<div class="form-control" id="carkId">-->
                <!--<input autocomplete="new-password" placeholder="<%= LANG('证件号码') %>" v-model="cardId" type="text">-->
                <!--</div>-->
                <!--<p><%= LANG('如果帐户未实名认证此项可不填写') %></p>-->
                <!--</div>-->
                <div class="form-group">
                    <div id="captcha"></div>
                    <!-- 验证码容器元素 -->
                </div>
                <!-- <div class="form-group">
        <div class="form-control" style="display: block !important;">
            <input v-model="imgCode" placeholder="<%= LANG('图形验证码') %>" v-on:blur="handleCheckLength($event)" v-on:focus="clearInputError($event)" type="text">
            <div class="code-img"><img :src="imageCodeUrl" v-on:click="handleRefreshImgcode" alt="<%= LANG('点击刷新验证码') %>"></div>
        </div>
        </div> -->

                <div class="form-group">
                    <div class="form-control" id="msgCodeForm">
                        <img src="<%= IMG_STATIC %>/images/pass.png" class="title" alt="">
                        <input v-model="dynamicCode" placeholder="<%= LANG('动态验证码') %>" v-on:blur="handleCheckLength($event)" v-on:focus="clearInputError($event)"
                               type="text">
                        <send-code :country-code="countryCode" :code-type="sendCodeNum" :img-code="imgCode" :img-code-Id="imgCodeId" :disabled="!imgCode.length || !userName.length"
                                   :user-name="userName" :card-id="cardId" :error-fun="handleRefreshImgcode" bus-type="2" :puzzle-validate-string="puzzleValidateString"
                                   :error-slide="initMoveCoder"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control" id="passwordForm">
                        <img src="<%= IMG_STATIC %>/images/pass.png" class="title" alt="">
                        <input autocomplete="new-password" placeholder="<%= LANG('新登录密码') %>" v-on:keyup="handleCheckPwdStrength" v-model="newPassword"
                               type="password">
                        <div class="input-alert2 hide">
                                <span>
                                    <%- LANG('密码格式为8~20位，且为字母、数字、符号等任意2种以上组合') %>
                                </span>
                        </div>
                        <ul v-show="newPassword.length" class="exx-grade" v-cloak="">
                            <li :class="[{active: pwdStrength == 0 }]">
                                <%= LANG('不合格') %>
                            </li>
                            <li :class="[{active: pwdStrength == 1 }]">
                                <%= LANG('弱') %>
                            </li>
                            <li :class="[{active: pwdStrength == 2 }]">
                                <%= LANG('中') %>
                            </li>
                            <li :class="[{active: pwdStrength > 2 }]">
                                <%= LANG('强') %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control" id="confirmPwdForm">
                        <img src="<%= IMG_STATIC %>/images/pass.png" class="title" alt="">
                        <input autocomplete="new-password" placeholder="<%= LANG('确认密码') %>" v-on:keyup="handleComparedPwd" v-model="passwordConfirmation"
                               type="password">
                        <div class="input-alert" v-if="!passwordIdentical && passwordConfirmation.length">
                            <%= LANG('两次输入的密码不一致') %>
                        </div>
                    </div>
                </div>
                <div class="form-button">
                    <button type="button" v-on:click="doSubmit" class="button">
                            <span>
                                <%= LANG('提交') %>
                            </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="canvas_graph"></div>-->
</section>

<%-include("../component/send_code/index.html")%>
<script>
    require(['vue', 'common/methods', 'components/country_code/index', 'components/country_code/index', 'common/TweenLite.min',  'common/EasePack.min'], function (Vue, Methods) {
        var app = new Vue({
            el: '#logBox',
            data: function () {
                return {
                    step: 1,
                    pubKey: '',
                    rsaKeyId: '',
                    timestramp: '',
                    showCountry: false,
                    userType: 1,
                    userName: '',
                    cardId: '',
                    imgCode: '',
                    dynamicCode: '',
                    countryCode: '+86',
                    newPassword: '',
                    passwordConfirmation: '',
                    passwordIdentical: false,
                    pwdStrength: 0,
                    carId: '',
                    imgCodeId: '',
                    imageCodeUrl: '',
                    sendCodeNum: 2, //默认发送手机验证 23邮箱  24手机
                    puzzleValidateString: ''
                }
            },
            methods: {
                //获取图形验证码
                getImageCode: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                        "/exchange/verifycode/controller/website/userVerifyController/" +
                        'getValiDateCode',
                        success: function (res) {
                            this.imageCodeUrl = res.datas.img;
                            this.imgCodeId = res.datas.imgCodeId;
                        }.bind(this)
                    });
                },
                getPubKey: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                        "/exchange/user/controller/website/BaseApiController/" +
                        'getPubKey',
                        success: function (res) {
                            this.pubKey = res.datas.pubKey;
                            this.rsaKeyId = res.datas.keyId;
                        }.bind(this)
                    });
                },
                handleCheckUserType: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    this.userType = Methods.checkUserType(this.userName);
                    this.showCountry = Methods.isAllNumber(this.userName);
                    if (this.userType != 1 && this.userType != 2) {
                        Methods.showLineError(target, "<%= LANG('手机或邮箱格式不正确') %>")
                    } else {
                        Methods.showLineError(target, "")
                    }

                    // 1手机号 2邮箱
                    if (this.userType == 1) {
                        this.sendCodeNum = 2;
                    } else {
                        this.sendCodeNum = 1;
                    }
                },
                clearInputError: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    Methods.showLineError(target, "")
                },
                handleComparedPwd: function () {
                    this.passwordIdentical = this.newPassword === this.passwordConfirmation
                },
                handleCheckPwdStrength: function () {
                    this.pwdStrength = Methods.checkPwdStrength(this.newPassword);
                    this.handleComparedPwd()
                },
                handleRefreshImgcode: function () {
                    // this.timestramp = '-' + new Date().getTime();
                    // this.getImageCode();
                },
                selectCountry: function (country) {
                    this.countryCode = country.code
                },
                handleCheckLength: function (e) {
                    var target = e.target || e.currentTarget || e.srcElement;
                    if ($(target).val() == '') {
                        Methods.showLineError(target, "<%= LANG('验证码格式不正确') %>")
                    } else {
                        Methods.showLineError(target, "")
                    }
                },
                doSubmit: function () {
                    this.checkAndSubmit();
                },
                checkAndSubmit: function () {
                    if (this.userName.length < 8) {
                        JuaBox.sure('<%= LANG("请输入正确的用户名") %>');
                        return false;
                    } else if (this.imgCode.length == '' && false) {
                        JuaBox.sure('<%= LANG("请输入正确的图形验证码") %>');
                        return false;
                    } else if (this.dynamicCode.length < 4) {
                        JuaBox.sure('<%= LANG("请输入正确的动态验证码") %>');
                        return false;
                    } else if (this.pwdStrength < 1) {
                        JuaBox.sure('<%= LANG("密码不合格") %>');
                        return false;
                    } else if (!this.passwordIdentical) {
                        JuaBox.info('<%= LANG("两次输入的密码不一致") %>');
                        return false;
                    } else {
                        var encryptionPwd = Methods.encryptPwd(this.newPassword, this.pubKey);

                        var data = {
                            // phone: '',
                            // smsCode: '',
                            // email: '',
                            // emailCode: '',
                            countryCode: this.countryCode,
                            // imgCode: this.imgCode,
                            // imgCodeId: this.imgCodeId,
                            newPassword: encryptionPwd,
                            pwdLevel: this.pwdStrength,
                            rsaKeyId: this.rsaKeyId,
                        };

                        var userType = Methods.checkUserType(this.userName);
                        if (userType == 1) {
                            data.phone = this.userName;
                            data.smsCode = this.dynamicCode;
                        } else if (userType == 2) {
                            data.email = this.userName;
                            data.emailCode = this.dynamicCode;
                        }

                        Methods.ajax({
                            // url: DOMAIN_MAIN + API_PREFIX + 'changePwd',
                            url: DOMAIN_DEV +
                            "/exchange/user/controller/website/usercontroller/" +
                            'findloginpassword',
                            data: JSON.stringify(data),
                            success: function (res) {
                                JuaBox.sure('<%= LANG("密码设置成功，请重新登录。") %>');
                                setTimeout(function () {
                                    window.location.href = '/login';
                                }, 1000);
                            },
                            error: function (res) {
                                JuaBox.showWrong(EXX.L(res.resMsg.code));
                                // JuaBox.info(EXX.L(res.resMsg.message));
                                this.handleRefreshImgcode();
                            }.bind(this)
                        });
                    }

                },
                bindEnter: function () {
                    var _this = this;
                    document.onkeydown = function (e) {
                        var ev = document.all ? window.event : e;
                        if (ev.keyCode == 13) {
                            _this.doSubmit()
                            return false;
                        }
                    }
                },
                //初始化滑动验证码
                initMoveCoder: function () {
                    this.puzzleValidateString = ''
                    var captchaIns;
                    var _this = this
                    // initNECaptcha为全局函数，可直接调用
                    initNECaptcha({
                        // config对象，参数配置
                        captchaId: '<%= USER.captchaId %>',      //'789dbd50da0d450daec08b4f5edbdad4',
                        element: '#captcha',
                        mode: 'float',
                        width: 'auto',
                        lang: _this.getLang(),
                        onReady: function (instance) {
                        },
                        onVerify: function (err, data) {

                            if (data) {
                                _this.puzzleValidateString = data.validate
                            }
                            console.log(_this.puzzleValidateString)
                        }
                    }, function (instance) {
                        // 初始化成功后得到验证实例instance，可以调用实例的方法
                    }, function (err) {
                        // 初始化失败后触发该函数，err对象描述当前错误信息
                    })
                },
                getLang: function () {
                    var lan = Methods.getCookie(ENV +
                        "lan")
                    switch (lan) {
                        case 'cn':
                            return 'zh-CN';
                            break;
                        case 'en':
                            return 'en';
                            break;
                    }
                }
            },
            mounted: function () {
                Methods.checkMobileStyle();
                this.bindEnter();
                this.getPubKey();
                // this.getImageCode();
                this.initMoveCoder()
            }
        });
    })
</script>
<script>
    (function (a, h, c, b, f, g) {
        a["UdeskApiObject"] = f;
        a[f] = a[f] || function () {
            (a[f].d = a[f].d || []).push(arguments)
        };
        g = h.createElement(c);
        g.async = 1;
        g.charset = "utf-8";
        g.src = b;
        c = h.getElementsByTagName(c)[0];
        c.parentNode.insertBefore(g, c)
    })(window, document, "script", "//assets-cli.udesk.cn/im_client/js/udeskApi.js", "ud");
    ud({
        "code": "2jgf16i7",
        "link": "https://xt.udesk.cn/im_client/?web_plugin_id=57038"
    });
</script>