.pay-tab {
  .coin-type {
    .coin-item {
      position: relative;
    }
    .is-layer-coin {
      width: 25px;
      height: 13px;
      line-height: 13px;
      text-align: center;
      font-size: 10px;
      -webkit-text-size-adjust: none !important;
      color: #FFFFFF;
      background: #FF9D10;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.layer-coin-box {
  display: flex;
  flex-direction: column;
  margin-top: 111px;
  align-items: center;
  justify-content: center;
  .bank-card {
    display: flex;
    flex-direction: column;
    width: 329px;
    height: 190px;
    padding: 46px 0 0 20px;
    color: #fff;
    background-image: linear-gradient(-180deg, rgba(242, 160, 10, 0.98) 0%, #FF9D10 100%);
    border-radius: 10px;
    .bank-card-title {
      color: #fff;
      font-size: 14px;
    }
    .bank-card-num {
      font-size: 24px;
      margin-bottom: 54px;
    }
    .bank-card-name {
      text-align: right;
      margin-right: 19px;
    }
  }
  .payin-explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .explain-title {
      font-size: 16px;
    }
    .explain-p {
      font-size: 12px;
      color: #c2c7d4;
      line-height: 36px;
    }
  }
}