<section class="help-content safecont">

    <div class="banner2">
        <h2><%= LANG('您所关注的安全 可以靠而且有保障') %></h2>
    </div>

    <div class="security-plan1">
        <div class="container">
            <h2><%= LANG('高安全钱包技术的应用') %></h2>
            <p><img src="<%= STATIC %>/images/home/sepic1.jpg"><%= LANG('在资金离线存储的基础上') %>
            </p>
        </div>
    </div>
    <div class="security-plan2">
        <div class="container">
            <h2><%= LANG('顶级安全团队') %></h2>
            <p><img src="<%= STATIC %>/images/home/sepic2.jpg">

                <span><%= LANG('斥巨资招募及聘请顶级安全团队为平台量身定做安全方案') %></span>
                <span><%= LANG('熟知数字货币的各种潜在威胁') %></span>
                <span><%= LANG('负责对网络上公布出的漏洞进行检测和修复') %></span>
                <span><%= LANG('重点场所设有专人进行24小时值守') %></span>

            </p>
        </div>
    </div>


</section>


