<%-include("../../component/page_lite.html")%>

<div class="partner-container" id="partnerBox" v-cloak>
    <div class="partner-details">
        <p>
            <%= LANG('合伙人详情') %>
        </p>
        <div class="pieChart clearfix">
            <ul>
                <li>
                    <span>
                        <%= LANG('总注册人数') %></span>
                    <em>{{userCount}}
                        <%= LANG('人') %></em>
                </li>
                <li>
                    <span>
                        <%= LANG('总有效注册用户数') %></span>
                    <em>{{userEffectiveAcount}}
                        <%= LANG('人') %></em>
                </li>
                <li>
                    <span>
                        <%= LANG('我的总收益') %></span>
                    <em>{{totalProfit | numFilter}} USDT</em>
                </li>
                <li>
                    <span>
                        <%= LANG('昨日收益') %></span>
                    <em>{{yesterdayProfite | numFilter}}
                        <%= LANG('XT') %></em>
                </li>
            </ul>
        </div>
    </div>
    <div class="share-info">
        <p>
            <%= LANG('分享方式') %>
        </p>
        <div class="info">
            <div class="code">
                <span>
                    <%= LANG('邀请二维码') %></span>
                <canvas class="codeimg" id="canvas" style="margin-top: 20px;"></canvas>
            </div>
            <div class="copyUrl-info">
                <span>
                    <%= LANG('邀请链接地址') %></span>
                <textarea rows="2" :value="reommendUrl" id="commendInput" readonly="readonly"></textarea>
                <a class="copyBtn" href="javascript:void(0)" @click="copyUrl(1)">
                    <%= LANG('复制') %> </a>
            </div>
            <div class="invite-info">
                <span>
                    <%= LANG('邀请码') %></span>
                <textarea rows="2" :value="recommendCode" id="recommendCode" readonly="readonly"></textarea>
                <a class="copyBtn" href="javascript:void(0)" @click="copyUrl(2)">
                    <%= LANG('复制') %> </a>
            </div>
        </div>
    </div>
    <div class="earnings">
        <p class="">
            <%= LANG('收益比例列表') %>
        </p>
        <table>
            <thead>
                <tr>
                    <th>
                        <%= LANG('等级') %>
                    </th>
                    <th>
                        <%= LANG('发展会员数量') %>
                    </th>
                    <th style="width: 260px;">
                        <%= LANG('月交易额（BTC）') %>
                    </th>
                    <th>
                        <%= LANG('个人交易手续费优惠') %>
                    </th>
                    <th>
                        <%= LANG('返佣比例') %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in earningsList" :key="index">
                    <td>P{{item.vipLevel}}</td>
                    <td>{{item.usersCountMax ? (item.usersCountMax > 1000 ? 1000 + '+' : item.usersCountMin + '-' + item.usersCountMax) : 0}}</td>
                    <td>{{item.tradingAmountMin | numFilter}}-{{item.tradingAmountMax | numFilter}}</td>
                    <td>{{item.feeDiscount > 0 ? item.feeDiscount * 10 + '<%= LANG('折') %>' : 0}}</td>
                    <td>{{item.cashBack > 0 ? (item.cashBack * 100 + '%') : 0}}</td>
                </tr>
            </tbody>
        </table>
        <div class="describe">
            <h2>
                <%= LANG('合伙人说明') %>
            </h2>
            <ul>
                <li>1、
                    <%= LANG('合伙人所邀请的用户必须为有效用户，有效会员为账户余额价值大于1个ETH，每月至少有一笔交易；') %>
                </li>
                <li>2、
                    <%= LANG('会员数量或交易额达到任一标准即可享受相应等级的奖励；') %>
                </li>
                <li>3、
                    <%= LANG('用户邀请即返佣，普通用户邀请有效用户未超过50人时，享受邀请用户90天的交易佣金的20%；') %>
                </li>
                <li>4、
                    <%= LANG('如果30天内没有新增有效推荐用户，自动清除推荐人关系。') %>
                </li>
            </ul>
            <p>
                <%= LANG('本活动最终解释权归XT所有。') %>
            </p>
        </div>
    </div>
</div>

<script>
    require(['vue', 'common/methods', 'common/juabox', 'clipboadrd', 'qrcode'], function (Vue, Methods, JuaBox,
        Clipboard, QRCode) {
        var recommend = new Vue({
            el: "#partnerBox",
            data: function () {
                return {
                    reommendUrl: location.protocol + '//' + location.host + '/r/' + (Methods.getLocalUserInfo()
                        .recommendCode || ''),
                    // myRecommend: [],
                    // pageIndex: 1,
                    // pageSize: 20,
                    // pageCount: 0,
                    isLogin: ISLOGIN,
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
                    recommendCode: Methods.getLocalUserInfo().recommendCode || '', // 邀请码
                    userEffectiveAcount: '', //有效用户数
                    userCount: '', // 注册人数
                    totalProfit: '', // 总收益
                    yesterdayProfite: '', // 昨日收益
                    earningsList: [] // 收益比例列表
                }
            },
            created() {
                this.$nextTick(function () {
                    this.getDetailsData()
                    this.getEarningsData()
                })
            },
            mounted: function () {
                // this.getmyRecommend();
                // var clipboard = new Clipboard('#copy_url');
                // clipboard.on('success', function (e) {
                //     JuaBox.info("<%= LANG('复制您的推荐人地址成功!') %>");
                // });
                QRCode.toCanvas(document.getElementById('canvas'), this.reommendUrl, {
                    width: 150,
                    height: 150
                }, function (error) {})
            },
            filters: {
              numFilter(value) {
                var realVal = Number(value).toFixed(2)
                return Number(realVal)
              }
            },
            methods: {
                getDetailsData() {
                    if (!this.isLogin) {
                        return false;
                    }
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/xt/controller/website/PartnerController/getPartnerInfo',
                        data: {
                            userId: this.loginUser.userId
                        },
                        success: function (res) {
                            this.userCount = res.datas.userCount
                            this.userEffectiveAcount = res.datas.userEffectiveAcount
                            this.totalProfit = res.datas.totalProfit
                            this.yesterdayProfite = res.datas.yesterdayProfite
                        }.bind(this)
                    });
                },
                getEarningsData() {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            '/exchange/xt/controller/website/PartnerController/profitConfig',
                        success: function (res) {
                            this.earningsList = res.datas
                        }.bind(this)
                    })
                },
                copyUrl: function (type) {
                    if (type == 1) {
                        var Url = document.getElementById("commendInput");
                        Url.select(); // 选择对象
                        document.execCommand("Copy"); // 执行浏览器复制命令
                        JuaBox.success("<%= LANG('复制邀请链接地址成功!') %>");
                    } else if (type == 2) {
                        var Url = document.getElementById("recommendCode");
                        Url.select();
                        document.execCommand("Copy");
                        JuaBox.success("<%= LANG('复制成功!') %>");
                    }
                }
                // 我的推荐
                // getmyRecommend: function () {
                //     if (!this.isLogin) {
                //         return false;
                //     }
                //     var data = {
                //         pageIndex: this.pageIndex,
                //         pageSize: this.pageSize,
                //         userId: this.loginUser.userId
                //     };
                //     Methods.ajax({
                //         url: DOMAIN_DEV +
                //             '/exchange/user/controller/website/UserController/myRecommendList',
                //         data: JSON.stringify(data),
                //         success: function (res) {
                //             this.myRecommend = res.datas.results;
                //             this.pageCount = res.datas.totalRow;
                //         }.bind(this)
                //     });
                // },
                // getDateTime: function (timestamp, format) {
                //     return Methods.getDateTime(timestamp, format)
                // },
            },
        })
    });
</script>


<!--<div class="recommend-list bill-panel" id="myMission" v-cloak="">-->
<!--<h3><%= LANG('我的推荐奖励记录') %></h3>-->
<!--<div class="bill-panel-body" v-cloak="">-->
<!--<div class="table head">-->
<!--<div class="cell coin"><%= LANG('币种')%></div>-->
<!--<div class="cell time"><%= LANG('时间')%></div>-->
<!--<div class="cell type"><%= LANG('类型')%></div>-->
<!--<div class="cell amount"><%= LANG('奖励金额')%></div>-->
<!--</div>-->
<!--<div class="table body" v-for="bill in billRecords" v-if="billRecords.length > 0">-->
<!--<div class="cell coin"><img-->
<!--:src="'/src/images/icon/market-icon/market-'+ bill.mainCurrency.toLowerCase() +'.png'"-->
<!--class="market-icon">{{bill.mainCurrency}}-->
<!--</div>-->
<!--<div class="cell time">{{showDate(bill.billDate)}}</div>-->
<!--<div class="cell type">{{bill.typeName}}</div>-->
<!--<div class="cell amount">-->
<!--<div class="amount1">-->
<!--<p style="margin-bottom: 0"><span :class="bill.inout == '+' ? 'plus' : 'less'">{{bill.inout}} {{bill.mainChange}} <em>{{bill.mainCurrency}}</em></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="table no-data" v-if="billRecords.length == 0">-->
<!--<%= LANG('暂无记录')%>-->
<!--</div>-->
<!--</div>-->
<!--<page-lite :page-index="pageIndex" :page-size="pageSize" :page-count="pageCount"-->
<!--:turn-page="getBill"></page-lite>-->
<!--</div>-->

<!--<script>-->
<!--require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {-->
<!--var mission = new Vue({-->
<!--el: "#myMission",-->
<!--data: function () {-->
<!--return {-->
<!--myMission: [],-->
<!--billRecords: [],-->
<!--pageIndex: 1,-->
<!--pageSize: 10,-->
<!--pageCount: 0,-->
<!--isLogin: ISLOGIN,-->
<!--loginUser: Methods.getLocalUserInfo()-->
<!--}-->
<!--},-->
<!--methods: {-->
<!--showDate: function (date) {-->
<!--return Methods.getDateTime(date, 'YYYY-MM-DD HH:MM:SS');-->
<!--},-->
<!--getmyMission: function () {-->
<!--if (!this.isLogin) {-->
<!--return false;-->
<!--}-->
<!--var data = {-->
<!--pageIndex: this.pageIndex,-->
<!--pageSize: this.pageSize-->
<!--};-->
<!--// Methods.ajax({-->
<!--//     type: 'GET',-->
<!--//     url: DOMAIN_MAIN + API_PREFIX + 'myRecommendTaskList',-->
<!--//     data: data,-->
<!--//     success: function (res) {-->
<!--//         this.myMission = res.datas.list;-->
<!--//         this.pageCount = res.datas.list.length;-->
<!--//     }.bind(this)-->
<!--// });-->
<!--},-->
<!--getBill: function () {-->
<!--var data = {-->
<!--billType: "recommendReward",-->
<!--childId: this.loginUser.userId,-->
<!--pageIndex: this.pageIndex,-->
<!--pageSize: this.pageSize-->
<!--};-->
<!--// Methods.ajax({-->
<!--//     type: 'GET',-->
<!--//     url: DOMAIN_MAIN + API_PREFIX + 'getBill',-->
<!--//     data: data,-->
<!--//     success: function (res) {-->
<!--//         this.billRecords = res.datas.results;-->
<!--//         //很重要，判断当前是否是最后一页的依据-->
<!--//         this.pageCount = res.datas.results.length;-->
<!--//     }.bind(this)-->
<!--// });-->
<!--}-->
<!--},-->
<!--mounted: function () {-->
<!--//this.getmyMission();-->
<!--// this.getBill();-->
<!--}-->
<!--})-->
<!--});-->
<!--</script>-->


<!--</div>-->