.certified {
  box-sizing: border-box;
  padding: 49px 102px;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-information {
  letter-spacing: 0;
  font-size: 14px;
  .payment-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    .item {
      display: flex;
      margin-bottom: 20px;
      .item-title {
        display: flex;
        align-items: center;
        color: #000333;
        letter-spacing: 0;
        text-align: right;
        margin-right: 14px;
      }
      .item-content {
        color: #96989A;
      }
      .item-input,.item-select{
        height: 42px;
        width: 420px;
        border-radius: 2px;
      }
      .item-input {
        color: #000333;
        padding: 0 19px;
        border: 1px solid #DDE2ED;
      }
      .item-select{
        background: #FFFFFF;
        border: 1px solid #DDE2ED;
        padding: 12px 20px;
      }
      .item-prompt{

        margin-left: 20px;
        color: #ACAEB2;
      }
    }
  }

  .bottom-button {
    display: flex;
    justify-content: center;
    .button-big {
      cursor: pointer;
      height: 42px;
      width: 160px;
      border-radius: 2px;
      color: #FFFFFF;
    }
    .button-complete {
      background: #FF9D10;
    }
    .button-cancel {
      background: #D7D7D7;
    }
    .button-mr40{
      margin-right: 40px;
    }
  }
}