<div class="content" id="mainForm">
     <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
               <li class="dashboard">Dashboard</li>
               <li><a href="/u"><i class="icon iconfont icon-home"></i></a></li>
               <li><a href="/u"><%= LANG('账户面板') %></a></li>
               <li><a href="/u/safe"><%= LANG('基本信息') %></a></li>
               <li class="is-active"><a href="/u/safe/loginGoogleAuth"><%= LANG('Google认证') %></a></li>
          </ul>
     </nav>
     <h2>Google认证</h2>
     <input id="mobileStatu" value="2" type="hidden">







     <div class="vip-tip">
          <dl class="clearfix">
               <img src="/manage/getGoogleAuthQr?secret=H5X3GDPWVAOLW7ZT" class="pull-left mr15" style="width:120px; height:auto;">
               <dt><%= LANG('使用帮助') %>：</dt>
               <dd>1.<%= LANG('下载安装Google认证器') %></dd>
               <dd>2.<%= LANG('然后选择“扫描条形码”') %>。</dd>
               <dd>3.<%= LANG('扫描左侧条形码，输入Google验证码，完成认证。') %></dd>
               <dd>4.<%= LANG('如果您无法扫描成功上图的条形码，您还可以手动添加账户，并输入如下密匙') %>：<font color="#ff0000;">H5X3GDPWVAOLW7ZT</font></dd>
               <dd>5.<%= LANG('请勿删除此双重验证密码账户，否则会导致您无法进行账户操作；如果误删，您可通过重置密钥重新获取。') %></dd>
          </dl>
     </div>

     <div class="fill-form">
          <div class="fill-form-bd">
               <div class="fill-group">
                    <em class="name"><%= LANG('密钥') %>：</em>
                    <input class="fill-control" id="secret" name="secret" value="H5X3GDPWVAOLW7ZT" readonly="" type="text">
               </div>

               <div class="fill-group">
                    <em class="name"><%= LANG('Google验证码') %>：</em>
                    <input class="fill-control" id="gCode" name="gCode" type="text">
               </div>

               <div class="fill-group">
                    <em class="name"><%= LANG('短信验证码') %>：</em>
                    <input class="fill-control" id="mobileCode" name="mobileCode" type="text">
                    <a href="javascript:sendCode();" id="sendCodeBtn" class="hq btn btn-five btn-sm"><%= LANG('获取验证码') %></a>
               </div>

          </div>
          <div class="fill-form-fd text-center">

               <a href="javascript:openGoogleAuth();" class="btn btn-primary btn-block">
                    <%= LANG('验证并开启') %>
               </a>


          </div>
     </div>



</div>