<div class="exx-blog" id="blog">
    <div class="container">
        <div style="margin-top: -8px; float: right">
            <search-box v-model="keyWord" :submit="getKeywordNews"></search-box>
        </div>
        <h3><%= LANG('公告') %></h3>
        <div class="blog-list" :class="{'loading loading-light-bg' : !news}" style="min-height: 435px;">
            <a :href="'/blog/display?articleId=' + item.articleId" class="blog-item" v-for="item in news" v-cloak="" v-if="news.length > 0">
                {{item.articleTitle}}
                <span class="time">{{getDateTime(item.createTime)}}</span>
                <!--<p v-if="newsType =='101'">{{item.summary}}</p>-->
            </a>
        </div>

        <div class="more-button" v-cloak="" v-if="news && news.length > 0">
            <button class="exxbtn btn-cancel" class="btn-cancel" v-if="loading" type="button" style="width:100%" disabled="disabled">Loading...</button>
            <button class="exxbtn btn-cancel" v-if="!loading && pageCount < pageSize" type="button" style="width:100%" disabled="disabled">No More</button>
            <button class="exxbtn btn-ok" v-if="!loading && pageCount >= pageSize" @click="getNewsList" type="button" style="width:100%">Load More</button>
        </div>
    </div>
</div>
<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        EXX.helpDisplay = new Vue({
            el: "#blog",
            data: function () {
                return {
                    id: '',
                    categories: [],
                    view: 'list',
                    newsType: '102',
                    typeName: '<%= LANG("新闻")%>',
                    news: '',
                    newsContent: {},
                    pageNo : 1,
                    pageSize : 10,
                    pageCount : 0,
                    loading : false,
                    keyWord : ''
                }
            },
            computed: {},
            methods: {
                getDateTime: function (datetime) {
                    var date = Methods.getDateTime(datetime, 'YYYY-MM-DD HH:MM:SS');
                    return date;
                },
                getCategory: function () {
                    var data = {
                        tab: 1
                    };
                    // Methods.ajax({
                    //     type: 'GET',
                    //     url: DOMAIN_MAIN + API_PREFIX + 'getProblemCategorType',
                    //     data: data,
                    //     success: function (res) {
                    //         if (res.datas.problemType && res.datas.problemType.length) {
                    //             this.categories = res.datas.problemType[0].problCategor;
                    //         }
                    //
                    //     }.bind(this)
                    // });
                },
                getKeywordNews : function () {
                    if(this.keyWord == ''){
                        return false;
                    }
                    this.pageNo = 1;
                    this.pageCount = 0;
                    this.news = [];
                    this.getNewsList();
                },
                getCategoryByType: function () {
                    var that = this
                    var lanNum = 1
                    switch (LAN) {
                        case "cn":
                            lanNum = 1
                            break;
                        case "en":
                            lanNum = 2
                            break;
                        case "kr":
                            lanNum = 3
                            break;
                        case "jp":
                            lanNum = 4
                            break;
                    }
                    var data = {
                        lanType: lanNum
                    };

                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/support/controller/website/articlecontroller/" + 'getfaqarticles',
                        data: data,
                        success: function (res) {
                            if (res.datas.length > 0) {
                                that.catalog = res.datas
                            }
                        }
                    });
                },
                getNewsList: function (type) {
                    if(this.loading){
                        return false;
                    }
                    this.loading = true;

                    var that = this
                    var lanNum = 1
                    switch (LAN) {
                        case "cn":
                            lanNum = 1
                            break;
                        case "en":
                            lanNum = 2
                            break;
                        case "kr":
                            lanNum = 3
                            break;
                        case "jp":
                            lanNum = 4
                            break;
                    }
                    var data = {
                        type: 2,
                        lanType: lanNum
                    };
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/support/controller/website/articlecategorycontroller/" + 'getCategoryByType',
                        data: data,
                        success: function (res) {
                            if (res.datas.length > 0) {
                                that.news = res.datas[0].subsetCategory[0].subArticle
                            }
                            that.loading = false;
                        }
                    });
                    // Methods.ajax({
                    //     type: 'GET',
                    //     url: DOMAIN_MAIN + API_PREFIX + 'getProblemTitleList',
                    //     data: data,
                    //     success: function (res) {
                    //         var news = res.datas.titelList;
                    //         if(_this.pageNo == 1){
                    //             _this.news = news;
                    //         }else{
                    //             for(var i = 0, ilen = news.length; i < ilen; i++){
                    //                 _this.news.push(news[i]);
                    //             }
                    //         }
                    //         _this.pageCount = news.length || 0;
                    //         _this.pageNo += 1;
                    //         _this.loading = false;
                    //     },
                    //     error : function () {
                    //         _this.loading = false;
                    //     }
                    // });
                },
                changeNewsType: function (type) {
                    this.newsType = type;
                    this.view = 'list';
                    this.getNewsList(type);
                    window.history.replaceState("", "exx.com", DOMAIN_WEB + "/blog?type=" + type);
                },
                viewNews: function (id) {
                    this.getNewsContent(id);
                    this.view = 'display';
                    window.history.replaceState("", "exx.com", DOMAIN_WEB + "/blog?type=" + this.newsType + "&id=" + id);
                },
                getNewsContent: function (id) {
                    var that = this
                    var lanNum = 1
                    switch (LAN) {
                        case "cn":
                            lanNum = 1
                            break;
                        case "en":
                            lanNum = 2
                            break;
                        case "kr":
                            lanNum = 3
                            break;
                        case "jp":
                            lanNum = 4
                            break;
                    }
                    var data = {
                        type: 1,
                        lanType: lanNum
                    };
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/support/controller/website/articlecategorycontroller/" + 'getCategoryByType',
                        data: data,
                        success: function (res) {
                            if (res.datas.length > 0) {
                                that.category = res.datas[0]
                            }
                        }
                    });
                }
            },
            created: function () {
                //this.getCategory();
                this.getNewsList();
            },
            mounted: function () {

            },
            updated: function () {

            },
            watch: {

            }
        })
    })
</script>

