// Custom Variables
$primary-font: 'Mukta Mahee',
sans-serif;
$secondary-font: 'Josefin Sans',
sans-serif;
$theme-color: #5c81fa;
$bg-color: #061649;
$bg-color-2: #341477;
$bg-color-3: #49138C;
$btn-color: #4039D4;
$action-color: #4FD3D3;
$para-color: #B492E9;
$grad-color: #f8a4d8;
$grad-c-color: #6a63ff;
$radius: 10px;
$btn-radius: 50px;