<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        return Vue.component('trade-form', {
            template: "#trade-form",
            props: {
                marketConfig: {
                    type: Object,
                    default: function () {
                        return {};
                    }
                },
                //交易类型 0卖，1买
                tradeType: {
                    type: [String, Number],
                    default: 0
                },
                assistPrice: {
                    type: Object,
                    default: function () {
                        return null;
                    }
                },
                currentUserAsset: {
                    type: Object,
                    default: function () {
                        return null;
                    }
                },
                currentMarket: {
                    type: String,
                    default: "<%= market %>"
                }
            },
            data: function () {
                return {
                    exchangeMode: Methods.getCookie(ENV + 'ExchangeMode'),
                    assistMoney: Methods.getCookie(ENV + 'mname') || 'none',
                    isLogin: ISLOGIN,
                    inputPrice: '',
                    inputMaxPrice: '',
                    inputMinPrice: '',
                    inputPriceConvert: '',
                    inputMaxPriceConvert: '',
                    inputMinPriceConvert: '',
                    inputNumber: '',
                    rangeSlider : '',
                    rangePercent : '0.00',
                    requestLocked : false,
                    //委托类型 0限价委托，1批量委托，2计划委托
                    tradeMode : 0,
                    flashForm : false
                }
            },
            computed: {
                //输入价格模式：0输入原始价格，1输入转换价格
                inputPriceMode : function () {
                    return this.$parent.inputPriceMode;
                },
                showAssistCoin : function () {
                    return this.$parent.showAssistCoin();
                },
                canUseCoin : function(){
                    return this.$parent.canUseCoin;
                },
                canUseMoney : function(){
                    return this.$parent.canUseMoney;
                },
                canUseCoinReal : function(){
                    return this.$parent.canUseCoinReal;
                },
                canUseMoneyReal : function(){
                    return this.$parent.canUseMoneyReal;
                },
                realCanBuyCoin : function () {
                    if(this.inputPrice != ''){
                        return Methods.fixDecimal(this.canUseMoney/this.inputPrice, this.marketConfig.coinDecimal);
                    }else{
                        return this.$parent.canBuyCoin;
                    }
                },
                realCanSellMoney : function () {
                    if(this.inputPrice != ''){
                        return Methods.fixDecimal(this.canUseCoin * this.inputPrice, this.marketConfig.moneyDecimal);
                    }else{
                        return this.$parent.canSellMoney;
                    }
                },
                coin : function(){
                    return this.marketConfig.coin;
                },
                money : function(){
                    return this.marketConfig.money;
                },
                coinName : function(){
                    return this.marketConfig.coinName;
                },
                moneyName : function(){
                    return this.marketConfig.moneyName;
                },
                currentAccountId : function(){
                    return this.$parent.currentAccountId;
                },
                assistRegEx : function(){
                    return new RegExp("^(([1-9]{1}\\d*)|([0]{1}))(\\.(\\d){0," + this.$parent.assistList[this.$parent.assistCoin].decimal + "})?$");
                },
                moneyRegEx : function(){
                    return new RegExp("^(([1-9]{1}\\d*)|([0]{1}))(\\.(\\d){0," + this.marketConfig.moneyDecimal + "})?$");
                },
                coinRegEx : function(){
                    return new RegExp("^(([1-9]{1}\\d*)|([0]{1}))(\\.(\\d){0," + this.marketConfig.coinDecimal + "})?$");
                },
                totalAmount : function () {
                    if(this.inputPrice && this.inputNumber && this.tradeMode == 0){
                        return Methods.fixDecimal(Methods.numMultiply(this.inputPrice, this.inputNumber), this.marketConfig.amountDecimal);
                    }else{
                        return '--';
                    }
                },
                showAssistTotalAmount: function () {
                    if(!isNaN(this.totalAmount)){
                        return "<%= LANG('折合')%>:" + this.$parent.getPriceByAssist(this.totalAmount) + " " + this.showAssistCoin;
                    }
                },
                leverAmount : function () {
                    //计算使用了多少杠杆资金
                    var result = '--';
                    if(this.$parent.currentMarketLever && this.isLogin){
                        if(this.tradeType == 0 && this.inputNumber > 0){
                            result = this.inputNumber - this.$parent.getUseable(this.coin);
                            return Methods.fixDecimal(Math.max(result,0), this.marketConfig.coinDecimal);
                        }
                        if(this.tradeType == 1 && this.totalAmount > 0){
                            result = this.totalAmount - this.$parent.getUseable(this.money);
                            return Methods.fixDecimal(Math.max(result,0), this.marketConfig.moneyDecimal);
                        }
                    }
                    return result;
                },
                showButton : function () {
                    if(this.isLogin){
                        if(this.requestLocked){
                            return "<%= LANG('正在提交委托...')%>";
                        }
                        //非开启杠杆的市场不可下单
                        /*if(this.noEntrust){
                            return "<%= LANG('已开启杠杆不可在该市场下单')%>";
                        }*/
                        if(this.tradeMode == 0){
                            if(this.tradeType == 0){
                                return "<%= LANG('限价卖出')%>";
                            }
                            if(this.tradeType == 1){
                                return "<%= LANG('限价买入')%>";
                            }
                        }
                        if(this.tradeMode == 1){
                            if(this.tradeType == 0){
                                return "<%= LANG('批量卖出')%>";
                            }
                            if(this.tradeType == 1){
                                return "<%= LANG('批量买入')%>";
                            }
                        }
                        if(this.tradeMode == 2){
                            if(this.tradeType == 0){
                                return "<%= LANG('计划卖出')%>";
                            }
                            if(this.tradeType == 1){
                                return "<%= LANG('计划买入')%>";
                            }
                        }
                    }else{
                        return "<%= LANG('登录')%>/<%= LANG('注册')%>";
                    }

                },
                //单独写的动态计算显示百分比数据
                showPercent : function () {
                    //此处不做超出100%验证，监视属性中计算
                    if(this.isLogin){
                        if(this.tradeType == 1 && this.inputPrice && this.inputNumber && parseFloat(this.canUseMoney) > 0){
                            return Methods.fixNumber(this.inputPrice * this.inputNumber / this.canUseMoney * 100, 2);
                        }
                        if(this.tradeType == 0  && this.inputNumber&& parseFloat(this.canUseCoin) > 0){
                            return Methods.fixNumber(this.inputNumber / this.canUseCoin * 100, 2);
                        }
                    }
                    return '0.00';
                },
                priceCover : function () {
                    return this.$parent.getPriceByAssist(this.inputPrice);
                },
                maxPriceCover : function () {
                    return this.$parent.getPriceByAssist(this.inputMaxPrice);
                },
                minPriceCover : function () {
                    return this.$parent.getPriceByAssist(this.inputMinPrice);
                }
            },
            methods: {
                openTransfer : function (type, coin) {
                    return EXX.userNav.openTransfer(type, this.$parent.currentUserAsset.userId, coin)
                },
                doCheckEntrust: function () {
                    var showError = function (msg) {
                        $.toast({
                            heading: "<%= LANG('订单提交错误') %>",
                            text: msg,
                            showHideTransition: 'fade',
                            icon: 'error'
                        });
                    }
                    if (!this.isLogin) {
                        return showError("<%- LANG('请先登录再进行交易') %>");
                    }
                    /*if(this.currentMarket == 'bot_qtum'){
                        if(parseFloat(this.inputPrice) > 0.033333 || parseFloat(this.inputMaxPrice) > 0.033333 || parseFloat(this.inputMinPrice) > 0.033333 ){
                            return JuaBox.info("<%= LANG('买入价格不得高于预售价格0.033333 QTUM')%>");
                        }
                    }*/
                    /*if (this.noEntrust) {
                        return JuaBox.sure("<%= LANG('已开启杠杆不可在该市场下单') %>");
                    }*/
                    //请求锁 防止重复提交
                    if (this.requestLocked) {
                        return showError("<%= LANG('您有未完成的订单请求，请稍候再提交。') %>");
                    }
                    var _priceProtect = parseFloat(this.$parent.currentMarketConfig.priceProtect);  //价格保护系数
                    var _sellOne = parseFloat(this.$parent.sellOne);  //卖一价
                    var _buyOne = parseFloat(this.$parent.buyOne);    //买一价
                    var _percentProtect = ((parseFloat(_priceProtect) - 1) * 100).toFixed(2);
                    //校验限价委托表单数据
                    if(this.tradeMode == 0){
                        if (!this.moneyRegEx.test(this.inputPrice) || this.inputPrice == 0 || this.inputPrice == '') {
                            return showError("<%= LANG('请输入正确的委托金额') %>");
                        }
                        if (!this.coinRegEx.test(this.inputNumber) || this.inputNumber == 0 || this.inputNumber == '') {
                            return showError("<%= LANG('请输入正确的委托数量') %>");
                        }
                        //判断是否低于市场价
                        /*if(this.tradeType == 0 && (_sellOne / parseFloat(this.inputPrice) > parseFloat(_priceProtect))){
                            return JuaBox.confirm(EXX.L('卖单价格低于市场价n%',this.inputPrice,_sellOne, _percentProtect),this.doSubmitEntrust);
                        }*/
                        //判断是否高于市场价
                        /*if(this.tradeType == 1 && (parseFloat(this.inputPrice) / _buyOne > parseFloat(_priceProtect))){
                            return JuaBox.confirm(EXX.L('买单价格高于市场价n%',this.inputPrice,_buyOne, _percentProtect),this.doSubmitEntrust);
                        }*/
                        //提交委托
                        this.doSubmitEntrust();
                    }
                    //校验批量委托表单数据
                    if(this.tradeMode == 1){
                        if(this.tradeType == 0){
                            if (!this.moneyRegEx.test(this.inputPrice) || this.inputPrice == 0 || this.inputPrice == ''
                                || !this.moneyRegEx.test(this.inputMaxPrice) || this.inputMaxPrice == 0 || this.inputMaxPrice == '') {
                                return showError("<%= LANG('请输入正确的委托金额。') %>");
                            }
                            if(parseFloat(this.inputPrice) > parseFloat(this.inputMaxPrice)){
                                return showError(EXX.L("<%= LANG('批量分散卖出的最低限定价格m应低于最高限定价格n，请重设价格。') %>", this.inputPrice, this.inputMaxPrice));
                            }
                            if (!this.coinRegEx.test(this.inputNumber) || this.inputNumber == 0 || this.inputNumber == '') {
                                return showError("<%= LANG('请输入正确的委托数量') %>");
                            }
                            //判断是否低于市场价
                            /*if(_sellOne / parseFloat(this.inputPrice) > parseFloat(_priceProtect)){
                                return JuaBox.confirm(EXX.L('卖单价格低于市场价n%',this.inputPrice,_sellOne, _percentProtect),this.doBatchEntrust);
                            }*/
                            this.doBatchEntrust();
                        }
                        if(this.tradeType == 1){
                            if (!this.moneyRegEx.test(this.inputPrice) || this.inputPrice == 0 || this.inputPrice == ''
                                || !this.moneyRegEx.test(this.inputMinPrice) || this.inputMinPrice == 0 || this.inputMinPrice == '') {
                                return showError("<%= LANG('请输入正确的委托金额') %>");
                            }
                            if(parseFloat(this.inputPrice) < parseFloat(this.inputMinPrice)){
                                return showError(EXX.L("<%= LANG('批量分散买入的最高限定价格m应高于最低限定价格n，请重设价格。') %>", this.inputPrice, this.inputMinPrice));
                            }
                            if (!this.coinRegEx.test(this.inputNumber) || this.inputNumber == 0 || this.inputNumber == '') {
                                return showError("<%= LANG('请输入正确的委托数量') %>");
                            }
                            //判断是否高于市场价
                            /*if(parseFloat(this.inputPrice) / _buyOne > parseFloat(_priceProtect)){
                                return JuaBox.confirm(EXX.L('买单价格高于市场价n%',this.inputPrice,_buyOne, _percentProtect),this.doBatchEntrust);
                            }*/
                            this.doBatchEntrust();
                        }
                    }
                },
                doSubmitEntrust: function () {
                    var text = '';
                    if (this.tradeType == 0) {
                        text = "<%= LANG('价格') %>" + this.inputPrice + "" + this.moneyName + "<%= LANG('卖出') %>" + this.coinName + this.inputNumber;
                    } else if (this.tradeType == 1) {
                        text = "<%= LANG('价格') %>" + this.inputPrice + "" + this.moneyName + "<%= LANG('买入') %>" + this.coinName + this.inputNumber;
                    } else {
                        return console.log('unknown trade type')
                    }
                    var data = {
                        userId: this.currentAccountId,
                        market: this.currentMarket,
                        isBuy: this.tradeType,
                        unitPrice: this.inputPrice,
                        number: this.inputNumber,
                        isReal: false
                    };
                    //锁定请求
                    this.requestLocked = true;
                    Methods.getJSONP({
                        url: DOMAIN_TRADE + API_PREFIX + 'doEntrust',
                        data: data,
                        success: function (res) {
                            //解除请求锁定
                            this.requestLocked = false;
                            //清除输入框内容
                            this.clearEntrustInput();
                            //马上刷新委托和资金
                            var int = 0;
                            var call = setInterval(function () {
                                int ++ ;
                                if(int <= 3){
                                    this.$parent.lastAssetTime = 0;
                                    this.$parent.getTargetUserAsset();
                                }else {
                                    window.clearInterval(call);
                                }
                            }.bind(this),1000)
                            $.toast({
                                heading: "<%= LANG('定单已执行') %>",
                                text: text,
                                icon: 'success',
                                loader: true,
                                loaderBg: '#9EC600'
                            });
                        }.bind(this),
                        error: function (res) {
                            //解除请求锁定
                            this.requestLocked = false;
                            JuaBox.info(EXX.L(res.resMsg.message));
                        }.bind(this)
                    });
                },
                doBatchEntrust: function () {
                    var priceHigh ,priceLow;
                    if(this.tradeType == 0){
                        priceHigh = this.inputMaxPrice;
                        priceLow = this.inputPrice;
                    }else{
                        priceHigh = this.inputPrice;
                        priceLow = this.inputMinPrice;
                    }
                    var data = {
                        userId: this.currentAccountId,
                        market: this.currentMarket,
                        isBuy: this.tradeType,
                        priceLow: priceLow,
                        priceHigh: priceHigh,
                        number: this.inputNumber,
                        isReal: false
                    };
                    //锁定请求
                    this.requestLocked = true;
                    Methods.getJSONP({
                        url: DOMAIN_TRADE + API_PREFIX + 'doBatchEntrust',
                        data: data,
                        success: function (res) {
                            //解除请求锁定
                            this.requestLocked = false;
                            //清除输入框内容
                            this.clearEntrustInput();
                            //马上刷新委托和资金
                            var int = 0;
                            var call = setInterval(function () {
                                int ++ ;
                                if(int <= 3){
                                    this.$parent.lastAssetTime = 0;
                                    this.$parent.getTargetUserAsset();
                                }else {
                                    window.clearInterval(call);
                                }
                            }.bind(this),1000)
                            var data = res.datas.split(":");
                            $.toast({
                                heading: "<%= LANG('定单已执行') %>",
                                text : EXX.L("<%= LANG('成功批量委托m笔，一共na，总金额va') %>", data[0], data[1], this.coinName, data[2], this.moneyName),
                                icon: 'success',
                                loader: true,
                                loaderBg: '#9EC600'
                            });
                        }.bind(this),
                        error: function (res) {
                            //解除请求锁定
                            this.requestLocked = false;
                            JuaBox.info(EXX.L(res.resMsg.message));
                        }.bind(this)
                    });
                },
                clearEntrustInput : function () {
                    this.inputPrice = '';
                    this.inputMaxPrice = '';
                    this.inputMinPrice = '';
                    this.inputPriceConvert = '';
                    this.inputMaxPriceConvert = '';
                    this.inputMinPriceConvert = '';
                    this.inputNumber = '';
                },
                changeTradeMode : function (type) {
                    this.tradeMode = type;
                },
                initSlider : function () {
                    var _this = this;
                    var rangeId = "#rangeSlider_" + _this.tradeType;
                    if($(rangeId).length == 0){
                        return false;
                    }
                    this.rangeSlider = new BitRange({
                        range: rangeId,
                        step: 0.01,
                        point: 5,
                        delay: 15,
                        slide: function(value, obj) {
                            if(_this.checkSlider()){
                                _this.rangeSlider.Update(value);
                                _this.rangePercent = value;
                            }else{
                                _this.rangeSlider.Update(0);
                                _this.rangePercent = 0;
                                return false;
                            }
                        }
                    });
                },
                //判断当前滑动杆是否可用
                checkSlider : function () {
                    if(!this.isLogin){
                        return false;
                    }
                    if(this.tradeType == 0 && this.canUseCoin == 0){
                        return false;
                    }
                    if(this.tradeType == 1 && (this.canUseMoney == 0 || this.inputPrice == '' || this.inputPrice == 0)){
                        return false;
                    }
                    return true;
                },
                checkNumberByPercent : function () {
                    if(this.isLogin){
                        var percent = parseFloat(this.showPercent);
                        //若超过100%则按100%计算
                        if(percent > 100){
                            percent = 100;
                            if(this.tradeType == 1 && this.inputPrice != '' && this.inputPrice != 0){
                                this.inputNumber = this.canUseMoney / this.inputPrice;
                            }
                            if(this.tradeType == 0){
                                this.inputNumber = this.canUseCoin;
                            }
                        }
                        //console.log('监视数量：',percent);
                        if(this.rangeSlider){
                            this.rangeSlider.Update(percent);
                        }
                    }
                },
                //切换输入框上的label
                toggleLabel : function () {
                    if(this.$parent.theme == 'light'){
                        return false;
                    }
                    $('.box input').on('focus',function () {
                        $(this).parent().addClass('focus');
                    });
                    $('.box input').on('blur',function () {
                        $(this).parent().removeClass('focus');
                    });
                },
                //增加或减少数量、价格
                UpDownNumber : function (type, flag) {
                    //flag 0- 1+
                    //type:
                    //0:inputPrice
                    //1:inputNumber
                    //2:inputMaxPrice
                    //3:inputMinPrice
                    if(!this.isLogin){
                        return false;
                    }
                    var _this = this;
                    var step = 0.01;

                    switch(type){
                        case 0:
                            if(this.inputPrice == '' || this.inputPrice == 0){
                                if(this.tradeType == 0){
                                    this.inputPrice = this.$parent.buyOne;
                                    this.inputPriceConvert = this.$parent.getPriceByAssist(this.$parent.buyOne);
                                }else{
                                    this.inputPrice = this.$parent.sellOne;
                                    this.inputPriceConvert = this.$parent.getPriceByAssist(this.$parent.sellOne);
                                }
                            }else{
                                if(flag == 0){
                                    this.inputPrice = this.inputPrice * (1 - step);
                                    this.inputPriceConvert = this.inputPriceConvert * (1 - step);
                                }else{
                                    this.inputPrice = this.inputPrice * (1 + step);
                                    this.inputPriceConvert = this.inputPriceConvert * (1 + step);
                                }
                            }
                            break;
                        case 1:
                            if(this.inputNumber == '' || this.inputNumber == 0){
                                if(this.tradeType == 0){
                                    this.inputNumber = this.canUseCoin *  step;
                                }else{
                                    this.inputNumber = this.$parent.canBuyCoin * step;
                                }
                            }else{
                                if(flag == 0){
                                    this.inputNumber = this.inputNumber * (1 - step);
                                }else{
                                    this.inputNumber = this.inputNumber * (1 + step);
                                }
                            }
                            break;
                        case 2:
                            if(this.inputMaxPrice == '' || this.inputMaxPrice == 0){
                                if(this.tradeType == 0){
                                    this.inputMaxPrice = this.$parent.buyOne;
                                    this.inputMaxPriceConvert = this.$parent.getPriceByAssist(this.$parent.buyOne);
                                }else{
                                    this.inputMaxPrice = this.$parent.sellOne;
                                    this.inputMaxPriceConvert = this.$parent.getPriceByAssist(this.$parent.sellOne);
                                }
                            }else{
                                if(flag == 0){
                                    this.inputMaxPrice = this.inputMaxPrice * (1 - step);
                                    this.inputMaxPriceConvert = this.inputMaxPriceConvert * (1 - step);
                                }else{
                                    this.inputMaxPrice = this.inputMaxPrice * (1 + step);
                                    this.inputMaxPriceConvert = this.inputMaxPriceConvert * (1 + step);
                                }
                            }
                            this.inputMaxPrice = Methods.fixFloat(this.inputMaxPrice, this.marketConfig.moneyDecimal);
                            this.inputMaxPriceConvert = Methods.fixFloat(this.inputMaxPriceConvert, this.$parent.assistList[this.$parent.assistCoin].decimal);
                            break;
                        case 3:
                            if(this.inputMinPrice == '' || this.inputMinPrice == 0){
                                if(this.tradeType == 0){
                                    this.inputMinPrice = this.$parent.buyOne;
                                    this.inputMinPriceConvert = this.$parent.getPriceByAssist(this.$parent.buyOne);
                                }else{
                                    this.inputMinPrice = this.$parent.sellOne;
                                    this.inputMinPriceConvert = this.$parent.getPriceByAssist(this.$parent.sellOne);
                                }
                            }else{
                                if(flag == 0){
                                    this.inputMinPrice = this.inputMinPrice * (1 - step);
                                    this.inputMinPriceConvert = this.inputMinPriceConvert * (1 - step);
                                }else{
                                    this.inputMinPrice = this.inputMinPrice * (1 + step);
                                    this.inputMinPriceConvert = this.inputMinPriceConvert * (1 + step);
                                }
                            }
                            this.inputMinPrice = Methods.fixFloat(this.inputMinPrice, this.marketConfig.moneyDecimal);
                            this.inputMinPriceConvert = Methods.fixFloat(this.inputMinPriceConvert, this.$parent.assistList[this.$parent.assistCoin].decimal);
                            break;
                        default:
                            return false;
                    }
                },
                //转换输入的价格（使用事件触发）
                convertPrice : function (e, type) {
                    var price = e.target.value || e;
                    /*if(price == '' || isNaN(price)){
                        return '--';
                    }*/
                    var aPrice = this.$parent.getPriceByAssist(price);
                    var cPrice = this.$parent.getPriceByPrice(price);
                    switch(type) {
                        case 0:
                            this.inputPriceConvert = aPrice;
                            break;
                        case 1:
                            this.inputMaxPriceConvert = aPrice;
                            break;
                        case 2:
                            this.inputMinPriceConvert = aPrice;
                            break;
                        case 3:
                            this.inputPrice = cPrice;
                            break;
                        case 4:
                            this.inputMaxPrice = cPrice;
                            break;
                        case 5:
                            this.inputMinPrice = cPrice;
                            break;
                        default :
                            return '--'
                    }
                },
                //点选价格后闪烁2秒
                flashInput : function () {
                    this.flashForm = true;
                    setTimeout(function () {
                        this.flashForm = false;
                    }.bind(this), 1000)
                },
                //点选百分百买卖
                setPercent : function (val) {
                    this.rangePercent = parseFloat(val) * 100;
                }
            },
            watch: {
                //inputPrice && inputPriceConvert，
                //inputMaxPrice && inputMaxPriceConvert，
                //inputMinPrice && inputMinPriceConvert
                //这三对属性无法在监视属性中相互触发，否则会陷入死循环，已改为事件单独触发同步，待优化解决
                inputPrice : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if (!this.moneyRegEx.test(newVal) && newVal != '') {
                        this.inputPrice = Methods.checkDecimal(newVal, this.marketConfig.moneyDecimal);
                    }
                    this.checkNumberByPercent();
                    //this.inputPriceConvert = this.$parent.getPriceByAssist(newVal);
                },
                inputMaxPrice : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if (!this.moneyRegEx.test(newVal) && newVal != '') {
                        this.inputMaxPrice = Methods.checkDecimal(newVal, this.marketConfig.moneyDecimal);
                    }
                    //this.inputMaxPriceConvert = this.$parent.getPriceByAssist(newVal);
                },
                inputMinPrice : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if (!this.moneyRegEx.test(newVal) && newVal != '') {
                        this.inputMinPrice = Methods.checkDecimal(newVal, this.marketConfig.moneyDecimal);
                    }
                    //this.inputMinPriceConvert = this.$parent.getPriceByAssist(newVal);
                },
                inputNumber : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if(this.isLogin && this.tradeType == 1 && this.canUseMoney == 0){
                        //登陆后若没有资金则不赋值
                        this.inputNumber = 0;
                    }
                    if(this.isLogin && this.tradeType == 0 && this.canUseCoin == 0){
                        //登陆后若没有资金则不赋值
                        this.inputNumber = 0;
                    }
                    if (!this.coinRegEx.test(newVal) && newVal != '') {
                        this.inputNumber = Methods.checkDecimal(newVal, this.marketConfig.coinDecimal);
                    }
                    this.checkNumberByPercent();
                },
                inputPriceConvert : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if (!this.assistRegEx.test(newVal) && newVal != '') {
                        this.inputPriceConvert = Methods.checkDecimal(newVal, this.$parent.assistList[this.$parent.assistCoin].decimal);
                    }
                },
                inputMaxPriceConvert : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if (!this.assistRegEx.test(newVal) && newVal != '') {
                        this.inputMaxPriceConvert = Methods.checkDecimal(newVal, this.$parent.assistList[this.$parent.assistCoin].decimal);
                    }
                },
                inputMinPriceConvert : function (newVal, oldVal) {
                    //监视数据不合格则先转换
                    if (!this.assistRegEx.test(newVal) && newVal != '') {
                        this.inputMinPriceConvert = Methods.checkDecimal(newVal, this.$parent.assistList[this.$parent.assistCoin].decimal);
                    }
                },
                rangePercent : function (newVal, oldVal) {
                    if(newVal > 0){
                        if(this.tradeType == 0){
                            this.inputNumber = this.canUseCoin * newVal * 0.01;
                        }else{
                            this.inputNumber = this.canUseMoney / this.inputPrice  * newVal * 0.01;
                        }
                    }else{
                        this.inputNumber = '';
                    }
                },
                tradeMode : function () {
                    setTimeout(this.toggleLabel, 300);
                },
                inputPriceMode : function () {
                    setTimeout(this.toggleLabel, 300);
                }
            },
            created: function () {

            },
            mounted: function () {
                //this.initSlider();
                this.toggleLabel();
                //解决有时候不显示
                setTimeout(this.initSlider, 3000);
            },
            beforeUpdate: function () {

            },
            beforeDestroy: function () {

            }
        });
    })

</script>