.help-banner {
    width: 100%;
    height: 217px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #232731 url(../../images/home/search-banner.jpeg) no-repeat center center / cover;
}

.help-banner .banner-h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #fff;
}

.help-banner .banner-span {
    font-size: 13px;
    color: #e9e9e9;
}

.help-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-content .help-container {
    display: flex;
    width: 1095px;
    min-height: 700px;
    box-sizing: border-box;
    padding-top: 50px;
}

.help-ld {
    width: 203px;
    margin-right: 70px;
}

.help-container .help-ld .title {
    font-size: 16px;
    color: #333;
    position: relative;
    cursor: pointer;
}

.help-container .help-ld .help-left-h3:after {
    content: "+";
    position: absolute;
    color: #999;
    top: 5px;
    font-size: 18px;
    right: 5px;
    border: 1px solid #999;
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    line-height: 14px;
    text-align: center
}

.help-container .help-ld h3.add:after {
    content: "-";
    color: #333;
    border: 1px solid #333;
}

.help-ldlist {
    box-sizing: border-box;
    width: 203px;
}

.help-ld .help-ldlist, .helpshow .help-ld .news-ldlist {
    min-height: 300px;
    padding: 20px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.help-ld li {
    line-height: 1.5;
}

.help-ld .help-ldlist .list a {
    height: 30px;
    line-height: 30px
}

.help-ld .help-ldlist .list, .helpshow .help-ld .news-ldlist .list {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.help-container .help_right {
    overflow: auto;
    display: flex;
    flex: 1;
}

.article-box, .cascading-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cascading-menu .help-customer-service {
    border-bottom: none;
}

.cascading-menu .menu-title {
    text-align: center;
}

.cascading-menu .menu-ul {
    display: flex;
    flex-direction: column;
}

.cascading-menu .menu-li {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 55px;
    height: 55px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.cascading-menu .menu-li:first-child {
    border-top: 1px solid rgb(228, 228, 228);
}

.cascading-menu .menu-li:hover {
    color: #808080;
}

.article-box-nav {
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 15px;
    margin-bottom: 10px;
    border-left: 4px solid black;
}

.article-border {
    padding: 25px 0 40px;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-top: 1px solid rgb(228, 228, 228);
}

.help-feedback, .help-customer-service {
    font-size: 14px;
    margin-top: 25px;
}

.help-feedback .feedback-button {
    cursor: pointer;
    width: 70px;
    height: 20px;
    border: 1px solid rgb(132, 132, 132);
}

.help-feedback .feedback-button:hover {
    border: 1px solid rgb(204, 204, 204);
}

.help-customer-service {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.help-customer-service .feedback-button {
    color: #0000FF;
    cursor: pointer;
}

.help-customer-service .feedback-button:hover {
    color: #0090ff;
}

.related-questions {
    margin-top: 25px;
}

.related-questions .related-title {
    font-size: 16px;
}

.article-title {
    font-size: 24px;
}

.help_right h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.article-box-nav .nav-span {
    margin-left: 5px;
}


.articles-ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 14px;
}

.articles-ul .articles-li {
    display: flex;
    width: 401px;
    height: 81px;
    box-sizing: border-box;
    border: 1px solid rgb(174, 174, 174);
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.articles-ul .articles-li-border {
    height: 61px;
    border: none;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.articles-ul .articles-li:nth-child(2n-1) {
    margin-right: 20px;
}
