<script type="text/x-template" id="add-coin">

  <div class="exx-modal-container exx-light" style="width: 500px;">

    <div class="exx-modal-header">
      <i class="iconfont icon-coin"></i><h3><%= LANG('币种管理') %></h3>
    </div>
    <div class="exx-modal-body">
      <div class="exx-account-info">
        <h3>{{userName(params.account)}}</h3>
        <p><%= LANG('将下列指定币种添加到此账户') %></p>
        <div class="avatar">
          <div v-if="params.account.userType == 3" class="gray-mask"><%= LANG('模拟') %></div>
          <img :src="userAvatar(params.account)">
        </div>
      </div>


      <div class="exx-coin-info">
        <div class="exx-tab">
          <ul>
          <li class="active"><span><%= LANG('推荐币种') %></span></li>
        </ul>
        </div>
        <div class="exx-table">

          <table>
            <thead>
            <tr>
              <th><%= LANG('币种') %></th>
              <th><%= LANG('最新价格') %></th>
              <th><%= LANG('操作') %></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="coin in availableCoins">
              <td><img :src="'<%= STATIC %>/images/icon/market-icon/market-' + coin.toLowerCase() + '.png'" class="market-icon">{{coin}}</td>
              <td>{{currencyInfo(params.account.assistCoin).symbol + coinToMoney(coin, params.account.assistCoin)}}</td>
              <td>
                <a v-if="isCoinEnabled(coin)" @click="setUserCoins('remove', coin)" class="remove"><%= LANG('删除') %></a>
                <a v-else  @click="setUserCoins('add', coin)" class="add"><%= LANG('添加') %></a>
              </td>
            </tr>
            <!--
            <tr>
              <td><img src="/src/images/icon/market-icon/market-eth.png" class="market-icon">BTC</td>
              <td>¥1243434.12</td>
              <td><a href="#" class="remove">移除</a></td>
            </tr>
            -->
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</script>

<script>
  require(['vue','common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
    return Vue.component('add-coin', {
      template: "#add-coin",
      props: {
        done: {
          type: Function,
          default: function () {
            console.log('success');
          }
        },
        params: {
          type: Object,
          default: function(){
            return {}
          }
        },
        close: {
          type: Function,
          default: function () {
            console.log('close');
          }
        }
      },
      data: function () {
        return {
          availableCoins: [],
          avatarBasePath: '<%= STATIC %>/images/userhead/',
          currencyList: [
            {name: 'usd', icon: 'icon-meiyuan', symbol: '$',decimal : 2},
            {name: '<%= UNIT %>', icon: '', symbol: '<%= LEGAL[UNIT].note %>',decimal : '<%= LEGAL[UNIT].decimal %>'}
          ]
        }
      },
      computed: {
        enabledCoins: function() {
          var account = EXX.userIndex.userAssets.getObject('userId', this.params.userId);
          var coinFundMap = account.coinFundMap;
          var coins = [];
          if (coinFundMap) {
            Object.keys(coinFundMap).map(function(coin){
              if (coinFundMap[coin].show) {
                coins.push(coin.toUpperCase());
              }
            });
          }
          return coins;
        }
      },
      methods: {
        userAvatar: function(user) {
          var avatar = user.photo ? user.photo : 'default.jpg';
          return this.avatarBasePath + avatar;
        },
        userName: function(user) {
          var name = user.nickName ? user.nickName : user.userName;
          return name;
        },
        isCoinEnabled: function(coin) {
          return this.enabledCoins.indexOf(coin) !== -1;
        },
        coinToMoney: function(coin, money) {
          var money = money ? money : 'usd';
          var display = this.params.allPriceRate[money][coin.toLowerCase()];
          return display ? display : 0;
        },
        currencyInfo: function(name) {
          var currency = this.currencyList.getObject('name', name)
          return currency;
        },
        getUserCoins: function() {
          var data = {
            targetUserId: this.params.account.userId
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getUserCoinsByMarket',
            data: data,
            success: function(res) {
              this.availableCoins = res.datas.coins;
            }.bind(this)
          });
        },
        setUserCoins: function(act, coin) {
          var url =DOMAIN_MAIN + API_PREFIX + 'addUserCoin';
          if (act === 'remove') {
            url =DOMAIN_MAIN + API_PREFIX + 'deleteUserCoin';
          }
          var data = {
            targetUserId: this.params.account.userId,
            coin: coin
          };
          Methods.ajax({
            type: 'GET',
            url: url,
            data: data,
            success: function(res) {
              JuaBox.info(EXX.L(res.resMsg.message));
              EXX.userIndex.getUserAssets();
              //EXX.userIndex.closeModal();
              this.$forceUpdate();
            }.bind(this)
          });
        }
      },
      created: function() {
        this.getUserCoins();
      },
      watch: {
        params: function (val, oldVal) {
          console.log(oldVal + 'has been changed to ' + val + ' from outside.');
        }
      }
    })
  })
</script>
