<script type="text/x-template" id="exchangeModal">
    <div class="exx-modal-container exchangeModal">
        <div class="exx-modal-header">
          <h3>{{title}}</h3>
        </div>
        <p class="num-info">可用{{exchangOrigin.toUpperCase()}}：{{amount}}</p>
        <ul>
            <li class="exchangNum">
                <span>兑换{{exchangTarget.toUpperCase()}}数量：</span><input type="number" :placeholder="'最多可兑换' + amount + exchangTarget.toUpperCase()" v-model="exchangVal" @change="changeIputVal">
                <p v-show="warnTips">* 兑换数量不能超过{{amount}}</p>
            </li>
            <li class="passWord">
                <span>登录密码：</span><input type="passWord" placeholder="<%= LANG('请输入登录密码') %>" v-model="passWordVal">
            </li>
        </ul>
    
      <div class="exx-modal-button">
        <button onclick="EXX.userIndex.closeModal()" class="exxbtn btn-cancel"><span><%= LANG('取消') %></span></button>
        <button class="exxbtn btn-ok" :class="{'isdisabled' : disabled}" :disabled="disabled" @click="submitExchange"><span><%= LANG('确定') %></span></button>
      </div>
    </div>
</script>

<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        return Vue.component('exchangeModal', {
            template: "#exchangeModal",
            props: {
                params: {
                    type: Object,
                    default: {}
                },
                // getAccountAssets: {
                //     type: Function,
                //     default: null
                // }
            },
            data: function () {
                return {
                    title: '',
                    warnTips: false,
                    amount: '',
                    exchangVal: '', // 兑换数量
                    exchangOrigin: '', // 兑换的基础货币
                    exchangTarget: '', // 兑换的目标货币
                    rsaKeyId: '',
                    passWordVal: '',
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
                    disabled: false,
                }
            },
            filters: {
                numFilter(value) {
                    var realVal = Number(value).toFixed(2)
                    return Number(realVal)
                }
            },
            methods: {
                // listenKeyword: function () {
                //     console.log(this.exchangVal)
                //     if (this.exchangVal >= 2000) {
                //         this.warnTips = true
                //     }
                // },
                changeIputVal: function (e) {
                    var num = Number(this.exchangVal)
                    if (this.exchangVal.indexOf('.') == -1) {
                        this.exchangVal = num.toFixed(2)
                    }
                    if(num <= 0 || num > this.amount) {
                        this.disabled = true
                    }else {
                        this.disabled = false
                    }
                    console.log(this.exchangVal)
                },

                //获取公钥-ok
                getPubKey: function () {
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV +
                            "/exchange/user/controller/website/baseapicontroller/" +
                            'getpubkey',
                        success: function (res) {
                            this.pubKey = res.datas.pubKey;
                            this.rsaKeyId = res.datas.keyId;
                        }.bind(this)
                    });
                },

                submitExchange: function () {
                    if (this.pubKey == "" || this.rsaKeyId == "") {
                        this.getPubKey();
                    }
                    var encryptionPwd = Methods.encryptPwd(this.passWordVal, this.pubKey);
                    Methods.ajax({
                        url: DOMAIN_DEV +
                            "/exchange/xt_extends/fund/controller/website/xtfundcontroller/exChangeCurrencyAmount",
                        data: {
                            Userid: this.loginUser.userId,
                            rsaKeyId: this.rsaKeyId,
                            password: encryptionPwd,
                            subCurrencyTypeName: this.exchangOrigin,
                            addCurrencyTypeName: this.exchangTarget,
                            amount: this.exchangVal
                        },
                        success: function (res) {
                            if (res.resMsg.code == 1) {
                                this.$parent.close();
                                this.$emit('fetch')
                            }
                        }.bind(this)
                    })
                }
            },
            created: function () {
                this.$nextTick(function () {
                    this.getPubKey();
                    this.exchangOrigin = this.params.name
                    this.title = this.params.name == 'sxc' ? '<%= LANG("SXC兑换QC") %>' :
                        '<%= LANG("QC兑换SXC") %>'
                    this.exchangTarget = this.params.name == 'sxc' ? 'qc' : 'sxc'
                    this.amount = parseFloat(this.params.amount) || 0
                    if(this.amount == 0) {
                        this.disabled = true
                    }
                    console.log(this.amount,"可用额度")
                })
            },
        })
    })
</script>