<%-include("../../component/page_lite.html")%>

<script type="text/x-template" id="modalList">
    <div class="exx-modal-container" style="width: 1000px;padding-bottom: 50px;">
        <div class="exx-modal-header"><h3><%= LANG('查看详情') %></h3></div>
        <div class="exx-modal-body">
            <div class="earnings">
                <table v-if="mode === 'income'">
                    <thead>
                    <tr>
                        <th style="width: 300px;"><%= LANG('被邀请人账号') %></th>
                        <th><%= LANG('收益XT') %></th>
                        <th style="width: 300px;"><%= LANG('交易时间') %></th>
                        <th><%= LANG('状态') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-cloak="" v-for="(item, index) in datas.results">
                        <td>{{item.mobile ? item.mobile : item.email}}</td>
                        <td>{{item.coinXtCount | numFilter}}</td>
                        <td>{{{{Methods.getDateTime(item.cashBackTime, 'YYYY-MM-DD HH:MM:SS')}}}}</td>
                        <td>{{item.isSendXt ? '<%= LANG('已返拥') %>' : '<%= LANG('待返拥') %>'}}</td>
                    </tr>
                    </tbody>
                </table>
                <table v-if="mode === 'user'">
                    <thead>
                    <tr>
                        <th style="width: 300px;"><%= LANG('被邀请人账号') %></th>
                        <th style="width: 300px;"><%= LANG('注册时间') %></th>
                        <th><%= LANG('是否有效用户') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-cloak="" v-for="(item, index) in datas.results">
                        <td>{{item.account}}</td>
                        <td>{{Methods.getDateTime(item.registerTime, 'YYYY-MM-DD HH:MM:SS')}}</td>
                        <td v-if="item.effective"><i style="color:#ffa200" class="icon iconfont icon-youxiao"></i></td>
                        <td v-else><%= LANG('否') %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <page-lite :page-index="pageIndex" :page-size="pageSize" :total-page="totalPage" :page-count="pageCount" @turn-page="getSingleDayData" v-if="datas.results.length > 0"></page-lite>
        </div>
    </div>
</script>
<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        return Vue.component('modalList', {
            template: "#modalList",
            props: {
                done: {
                    type: Function,
                    default: function () {
                        console.log('success');
                    }
                },
                close: {
                    type: Function,
                    default: function () {
                        console.log('close');
                    }
                },
                cashBackTime: {
                    type: String,
                    default: ''
                },
                mode: {
                    type: String,  // income  user
                    default: ''
                }
            },
            data: function () {
                console.log(this.cashBackTime)
                return {
                    pageIndex: 1,
                    pageSize: 10,
                    pageCount: 0,
                    totalPage: 0,
                    datas: {results: []},
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
                }
            },
            computed: {},
            methods: {
                addZore: function (time) {
                    return time + ' 00:00:00'
                },
                getSingleDayData: function () {
                    console.log(this.mode)
                    var Interface = this.mode === 'income' ? 'getEverydayEarningsDetail' : 'findUserDetailByPage'
                    var parms = this.mode === 'income' ? {
                        pageIndex: this.pageIndex,
                        dateTime: Methods.getTimeStamp(this.cashBackTime)
                    } : {
                        queryTime: this.cashBackTime,    //'2018-09-25',
                        pageNum: this.pageIndex,
                        pageSize: this.pageSize
                    }
                    Methods.ajax({
                        url: DOMAIN_DEV +
                        '/exchange/xt/controller/website/PartnerController/' + Interface,
                        type: 'GET',
                        data: parms,
                        success: function (res) {
                            this.datas = res.datas
                            this.pageCount = res.datas.totalRow
                            this.pageSize = res.datas.pageSize
                            this.pageIndex = res.datas.pageIndex
                            this.totalPage = res.datas.totalPage
                        }.bind(this)
                    });
                }
            },
            watch: {

            },
            filters: {
                numFilter(value) {
                    var realVal = parseFloat(Number(value).toFixed(6))
                    return realVal
                }
            },
            created: function () {
                console.log(this.cashBackTime)
                this.getSingleDayData()
            },
            mounted: function () {

            }
        })
    })
</script>