<script type="text/x-template" id="paymobile">

<div class="exx-modal-container" style="width: 500px;">
    <div class="exx-modal-header"><i class="iconfont icon-icon31"></i><h3><%= LANG('提现手机验证设置') %></h3></div>
    <div class="exx-modal-body">

        <div class="exx-form-group">
            <div class="exx-input-element">
                <label ><%= LANG('提现手机验证状态') %></label>
                <span class="tips-textCenter"><%= LANG('已关闭') %></span>
                <a class="btn-mod"><%= LANG('修改') %></a>
            </div>
        </div>


        <div class="exx-form-group" >
            <div class="exx-input-element" id="nikeForm">
                <label for="password11"><%= LANG('二级密码') %></label>
                <input id="password11" class="fill-control" v-model="googleSecret" type="password">
                <span class="exx-input-icon"><i class="iconfont icon-zhongfumima"></i></span>
            </div>
        </div>


        <div class="exx-form-group" >
            <div class="exx-input-element" id="nikeForm">
                <label for="confirmPwd11"><%= LANG('重复二级密码') %></label>
                <input id="confirmPwd11" class="fill-control" v-model="googleSecret" type="password">
                <span class="exx-input-icon"><i class="iconfont icon-zhongfumima"></i></span>
            </div>
        </div>


        <div class="exx-form-group code">
            <div class="exx-input-element">
                <label for="msgCode11"><%= LANG('短信验证码') %></label>
                <input id="msgCode11" class="fill-control" v-model="dynamicCode" type="text">
                <span class="exx-input-icon"><i class="iconfont icon-yanzhengma"></i></span>
            </div>
            <send-code :code-type="1" :user-name="userName" />
            <!--<send-code class="hq btn-five btn-sm" :code-type="12" :country-code="userInfo.mobile.split(' ')[0]" :user-name="userInfo.mobile.split(' ')[1]" />-->
        </div>


    </div>
    <div class="exx-modal-button">
        <button class="exxbtn btn-cancel"><span><%= LANG('取消') %></span></button>
        <button class="exxbtn btn-ok"><span><%= LANG('确定') %></span></button>
    </div>
</div>

</script>

<script>
    require(['vue','common/methods'], function (Vue, Methods) {
        return Vue.component('paymobile', {
            template: "#paymobile",
            data: function () {
                return {
                }
            }


        })
    })
</script>