<script type="text/x-template" id="modal-payout">
  <div class="modal-payout">
    <div class="exx-modal-container exx-light" v-if="!showAddressForm">

      <div class="exx-modal-header"><img :src="'<%= STATIC %>/images/icon/market-icon/market-' + coin.toLowerCase() + '.png'" /><h3><%= LANG('提币') %><span>{{coin.toUpperCase()}}</span></h3></div>
      <div class="exx-modal-body">

        <div class="exx-tab">
          <ul>
            <li :class="{active: showTab == 'selAddress'}" @click="showTab = 'selAddress'"><span><%= LANG('选择提币地址') %></span></li>
          <li :class="{active: showTab == 'payout'}" @click="gotoStep('payout')"><span><%= LANG('填写提币信息') %></span></li>
          <li :class="{active: showTab == 'record'}" @click="showTab = 'record'"><span><%= LANG('查看提币记录') %></span></li>
        </ul>
        </div>
        <div class="payoutshow">
          <div class="choice-addr"  v-if="showTab == 'selAddress'"  style="width: 600px">
          <div class="exx-table">
            <json-table :settings="addressTableSettings" :on-click-row="addressClickRow" :columns="addressCols" :rows="address" ></json-table>
          </div>

            <div class="more"><a href="#" @click="setAddress('add')"><i class="iconfont icon-add"></i><%= LANG('添加新地址') %></a></div>


            <div class="exx-modal-button">
              <button class="exxbtn btn-ok" @click="gotoStep('payout')"><span><%= LANG('下一步，填写提币信息') %></span></button>
            </div>
          </div>




          <div  v-if="showTab == 'payout'" class="exx-form-box exx-pl30 exx-pr30 exx-pb30" style="width: 600px">

            <div class="exx-form-group valueyes">
              <div class="exx-input-element">
                <label for="payoutAmount2"><%= LANG('提币地址') %></label>
                <input readonly="readonly" v-model="selectedAddress.account" id="payoutAmount2" type="text" />
              </div>
            </div>


            <div class="exx-form-group">
              <div class="exx-input-element">
                <label for="payoutAmount"><%= LANG('提币数量') %></label>
                <input autocomplete="off" v-model="payoutAmount" id="payoutAmount" type="text" />
              </div>
            </div>

            <div class="exx-form-group">
              <div class="exx-input-element">
                <label for="password">
                  <template v-if="loginUser.safePwdAuth == 0">
                    <%= LANG('登录密码') %>
                  </template>
                  <template v-else>
                    <%= LANG('二级密码') %>
                  </template>
                </label>
                <input autocomplete="new-password" v-model="safePwd" id="password" type="password" />
              </div>
            </div>

            <div v-if="loginUser.payoutAuth > 1" class="exx-form-group">
              <div class="exx-input-element">
                <label for="googleCode"><%= LANG('谷歌验证码') %></label>
                <input autocomplete="off" v-model="googleCode" id="googleCode" type="text" />
              </div>
            </div>

            <div class="exx-form-group code">
              <div class="exx-input-element">
                <label for="payoutDynamicCode"><%= LANG('动态验证码') %></label>
                <input autocomplete="off" v-model="payoutDynamicCode" id="payoutDynamicCode" type="text">
              </div>
              <send-code :code-type="21" :user-name="userName" :safe-pwd="safePwd" />
            </div>

            <div class="exx-modal-button">
              <button onclick="EXX.userIndex.closeModal()" class="exxbtn btn-cancel"><span><%= LANG('取消') %></span></button>
              <button class="exxbtn btn-ok" @click="handlePayout"><span><%= LANG('提币') %></span></button>
            </div>

          </div>

          <div v-if="showTab == 'record'" class="exx-tab-panel" style="width: 1000px">
            <div class="exx-table">
              <json-table :columns="recordCols" :rows="payoutRecords" ></json-table>
              <page-lite :page-index="pageIndex" :page-size="pageSize" :page-count="pageCount" v-on:turnPage="getPayoutCoinRecords"></page-lite>
            </div>
          </div>


          <div class="exx-prompt">
            <h4>{{coin.toUpperCase()}}<%= LANG('提现费率规则') %>：</h4>
            <p>{{coin.toUpperCase()}} <%= LANG('网络收取矿工费') %> {{coinInfo.minFees}} {{coin.toUpperCase()}} <%= LANG('/笔，由平台代扣') %>；</p>
            <p>{{coin.toUpperCase()}} <%= LANG('充值经过网络的') %> {{coinInfo.outConfirmTimes}} <%= LANG('个确认后，才允许提现') %>；</p>
            <p><%= LANG('可以为同时设置多个提币地址，这样提款到不同的钱包或其它平台时就会更方便。') %></p>
          </div>
        </div>


      </div>
    </div>

    <div class="exx-modal-container" style="width: 500px;" v-cloak v-if="showAddressForm">
      <div class="exx-modal-header"><img :src="'<%= STATIC %>/images/icon/market-icon/market-' + coin.toLowerCase() + '.png'" /><h3>{{modalTitle}}</h3></div>
      <div class="exx-modal-body">
        <div class="exx-form-box">
          <div class="exx-form-group" :class="{valueyes: addressFormType == 'dele'}">
              <div class="exx-input-element">
                  <label  for="address">
                      <template v-if="coin == 'bts'"><%= LANG('账户') %></template>
                      <template v-else><%= LANG('提币地址') %></template>
                  </label>
                  <input autocomplete="off" id="address" v-model="selectedAddress.account" type="text" :readonly="this.addressFormType == 'dele'" />
              </div>
          </div>
          <div class="exx-form-group" :class="{valueyes: addressFormType == 'dele'}" v-if="coin == 'bts'">
            <div class="exx-input-element">
              <label for="btsMemo"><%= LANG('备注') %>(MEMO)</label>
              <input autocomplete="off" id="btsMemo" v-model="selectedAddress.btsMemo" type="text" :readonly="this.addressFormType == 'dele'" />
            </div>
          </div>
          <div class="exx-form-group" :class="{valueyes: addressFormType == 'dele'}">
            <div class="exx-input-element">
              <label for="memo"><%= LANG('地址备注') %></label>
              <input autocomplete="off" id="memo" v-model="selectedAddress.memo" type="text" :readonly="this.addressFormType == 'dele'" />
            </div>
          </div>
          <div class="exx-form-group">
            <div class="exx-input-element">
              <label for="password2">
                <template v-if="loginUser.safePwdAuth == 0">
                  <%= LANG('登录密码') %>
                </template>
                <template v-else>
                  <%= LANG('二级密码') %>
                </template>
              </label>
              <input autocomplete="new-password" v-model="safePwd" id="password2" type="password" />
            </div>
          </div>

          <div class="exx-form-group code">
            <div class="exx-input-element">
              <label for="dynamicCode"><%= LANG('动态验证码') %></label>
              <input autocomplete="off" v-model="dynamicCode" id="dynamicCode" type="text">
            </div>
            <send-code :code-type="19" :user-name="userName" :safe-pwd="safePwd" />
          </div>

          <div v-if="loginUser.payoutAuth > 1" class="exx-form-group">
            <div class="exx-input-element">
              <label for="googleCode2"><%= LANG('谷歌验证码') %></label>
              <input autocomplete="off" v-model="googleCode" id="googleCode2" type="text" />
            </div>
          </div>

        </div>
      </div>
      <div class="exx-modal-button">
        <button @click="showAddressForm = false" class="exxbtn btn-cancel"><span><%= LANG('取消') %></span></button>
        <button class="exxbtn btn-ok" @click="handleAddressSubmit"><span><%= LANG('确认') %></span></button>
      </div>
    </div>

  </div>

  </div>

</script>

<script>
  require(['vue', 'common/methods','common/juabox' ], function(Vue, Methods, JuaBox) {
    return Vue.component('modal-payout', {
      template: "#modal-payout",
      props: {
        done: {
          type: Function,
          default: function () {
            console.log('success');
          }
        },
        coin: {
          type: String,
          required: true
        },
        close: {
          type: Function,
          default: function () {
            console.log('close');
          }
        }
      },
      data: function () {
        return {
            locked: false,
          pageIndex : 1,
          pageSize : 10,
          pageCount: 0,
          loaded: true,
          /*sharedState: store.state,*/
          pubKey: '',
          showAddressForm: false,
          safePwd: '',
          showTab: 'selAddress',
          addressFormType: 'add',
          dynamicCode: '',
          googleCode: '',
          payoutInfo: {},
          payoutDynamicCode: '',
          payoutAmount: '',
          coinInfo: {},
          userName: Methods.getCookie(ENV + 'uname'),
          selectedAddress: {},
          tempAddress: {},
          address: [],
          addressCols: [
            { label: "<%= LANG('选择') %>", key: 'select-status', cell: function(item) {
              return "<i class=\"icon-radiobox\"></i><i class=\"icon-radiobox-o\"></i>";
            }},
            { label: "<%= LANG('备注') %>", key: 'memo'},
            { label: "<%= LANG('地址') %>", key: 'account'},
            { label: "<%= LANG('操作') %>", key: 'action', cell: function(item) {
              //return "<a onclick=\"EXX.userIndex.$refs.payout.setAddress('edit')\">编辑</a> | <a onclick=\"EXX.userIndex.$refs.payout.setAddress('dele')\">删除</a>";
              return "<a onclick=\"EXX.userIndex.$refs.payout.setAddress('dele')\">删除</a>";
            }}
          ],
          addressTableSettings: {
            rowClass: function(item) {
              var className = item == this.selectedAddress ? 'selected' : '';
              return className;
            }.bind(this)
          },
          recordCols: [
            { label: "<%= LANG('接收地址') %>", key: "toAddress" },
            { label: "<%= LANG('提交时间') %>", key: "submitTime", cell: function(item) {
              return Methods.getDateTime(item.submitTime);
            }},
            { label: "<%= LANG('处理时间') %>", key: "manageTime", cell: function(item) {
              var text = item.status == 0 ? '-' : Methods.getDateTime(item.manageTime);
              return text;
            }},
            { label: "<%= LANG('状态') %>", key: "statusT" },
            { label: "<%= LANG('金额') %>", key: "amount", cell: function(item){
              return '' + item.amount + ' ' + this.coin;
            }.bind(this) },
            { label: "<%= LANG('实到金额') %>", key: "afterAmount", cell: function(item){
              return '' + item.afterAmount + ' ' + this.coin;
            }.bind(this) },
            { label: "<%= LANG('操作') %>", key: "action", cell: function(item){
              var el= '';
              if (item.status == 0 && item.commandId == 0) {
                el = "<a onclick=\"EXX.userIndex.$refs.payout.cancelPayout('" + item.id + "','" + this.coin + "')\"><%= LANG('取消')%></a>"
              }
              return el;
            }.bind(this) }
          ],
          payoutRecords: []
        }
      },
      computed: {
        loginUser: function() {
          return Methods.getLocalUserInfo();
        },
/*        cointAsset: function () {
          var conitAmount = this.sharedState.accetsBalance.getObject('propTag', this.coint.toUpperCase());
          return conitAmount ? conitAmount : {usable: 0};
        },*/
/*        coinTypes: function() {
          return Object.keys(this.sharedState.coinAccets);
        },*/
/*        amountPlaceholder: function () {
          return "<%= LANG('最大可提') %>" + this.cointAsset.usable + this.coint.toUpperCase();
        },*/
        modalTitle: function() {
          switch (this.addressFormType) {
            case 'edit':
              return "<%= LANG('编辑提币地址') %>";
              break;
            case 'dele':
              return "<%= LANG('删除提币地址') %>";
              break;
            default:
              return "<%= LANG('添加提币地址') %>";
              break;
          }
        }
      },
      methods: {
        // getPubKey: function () {
        //     Methods.ajax({
        //         type: 'GET',
        //         url: DOMAIN_DEV + "/exchange/controller/website/common/baseapicontroller/" + 'getpubkey',
        //         success: function (res) {
        //             this.pubKey = res.datas.pubKey;
        //         }.bind(this)
        //     });
        // },
          gotoStep: function(name) {
            if (name == 'payout' && this.selectedAddress.id) {
                this.showTab = name;
                return
            } else {
                JuaBox.info("<%= LANG('请选择提币地址') %>")
            }
          },
        changeCoint: function (coint) {
          this.pageIndex = 1;
          this.pageCount = 0;
          this.coint = coint;
          this.getAccountInfo();
          //this.getPayoutInfo();
          this.getPayoutCoinRecords();
        },
        getCoinInfo: function () {
          var data = {
            coint: this.coin
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getCoinInfo',
            data: data,
            success: function(res) {
              this.coinInfo = res.datas.coin;
            }.bind(this)
          });
        },
        getAddress: function () {
          var data = {
            coint: this.coin
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getAccounts',
            data: data,
            success: function(res) {
              this.address = res.datas.account;
            }.bind(this)
          });
        },
        getPayoutInfo: function () {
          var data = {
            coint: this.coin
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getPayoutInfo',
            data: data,
            success: function(res) {
              this.payoutInfo = res.datas;
            }.bind(this)
          });
        },
        setAddress: function (type) {
          this.showAddressForm = true;
          this.addressFormType = type;
          if (type === 'add') {
            this.selectedAddress = {};
          }
        },
        handleAddressSubmit: function () {
            if (this.locked) {
                JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                return
            }
            var address;
            if (this.coin == 'bts' && this.selectedAddress.btsMemo != '') {
                address = [this.selectedAddress.account.replace(/\s+|_/g,""), this.selectedAddress.btsMemo.replace(/\s+|_/g,"")].join('_');
            } else {
                address = this.selectedAddress.account;
            }
          var data ={
            coint: this.coin,
            type: this.addressFormType,
            id: this.selectedAddress.id,
            account: address,
            memo: this.selectedAddress.memo,
            safePwd: Methods.encryptPwd(this.safePwd, this.pubKey),
            dynamicCode: this.dynamicCode,
            googleCode: this.googleCode
          };
            this.locked = true;
          Methods.ajax({
            type: 'POST',
            url: DOMAIN_MAIN + API_PREFIX + 'doSetAddress',
            data: data,
            success: function (res) {
                this.locked = false;
              this.showAddressForm = false;
              this.selectedAddress = {};
              this.safePwd = '';
              this.dynamicCode = '';
              this.googleCode = '';
              this.getAddress();
            }.bind(this),
              error: function(res) {
                  this.locked = false;
                  JuaBox.info(EXX.L(res.resMsg.message))
              }.bind(this)
          });
        },
        handlePayout: function () {
            if (this.locked) {
                JuaBox.info("<%= LANG('您有未完成的提交，请稍候……') %>");
                return
            }
          var data ={
            coint: this.coin,
            addressId: this.selectedAddress.id,
            fees: this.coinInfo.minFees,
            amount: this.payoutAmount,
            safePwd: Methods.encryptPwd(this.safePwd, this.pubKey),
            dynamicCode: this.payoutDynamicCode,
            googleCode: this.googleCode,
            noBlock: ''
          };
            this.locked = true;
          Methods.ajax({
            type: 'POST',
            url: DOMAIN_MAIN + API_PREFIX + 'doPayoutCoin',
            data: data,
            success: function (res) {
                this.locked = false;
              this.amount = '';
              this.safePwd = '';
              this.payoutDynamicCode = '';
              JuaBox.info(EXX.L(res.resMsg.message));
              EXX.userIndex.getUserAssets();
              EXX.userIndex.closeModal();
            }.bind(this),
              error: function(res) {
                  this.locked = false;
                  JuaBox.info(EXX.L(res.resMsg.message))
              }.bind(this)
          });
        },
          cancelPayout: function(id, coin) {
              var data = {
                  coint: coin,
                  did: id
              };
              Methods.ajax({
                  type: 'GET',
                  url: DOMAIN_MAIN + API_PREFIX + 'doCancelPayout',
                  data: data,
                  success: function(res) {
                      this.getPayoutCoinRecords();
                      $.toast({
                          heading: "<%= LANG('提交成功') %>",
                          text: EXX.L(res.resMsg.message),
                          showHideTransition: 'plain',
                          icon: 'success'
                      });
                  }.bind(this)
              });
          },
        cancelAddressForm: function () {
          this.showAddressForm = false;
          this.safePwd = '';
          this.getAccountInfo();
        },
        addressClickRow: function (el, item) {
          this.selectedAddress = item;
        },
        getPayoutCoinRecords: function() {
          var data = {
            coint: this.coin,
            pageIndex: this.pageIndex,
            pageSize: this.pageSize
          };
          Methods.ajax({
            type: 'GET',
            url: DOMAIN_MAIN + API_PREFIX + 'getPayoutCoinRecord',
            data: data,
            success: function(res) {
              this.payoutRecords = res.datas.payout;
              this.pageCount = res.datas.payout.length;
            }.bind(this)
          });
        }
      },
      created: function() {
        // this.getPubKey();
        this.getAddress();
        this.getCoinInfo();
        //this.getPayoutInfo();
        this.getPayoutCoinRecords();
      },
      mounted: function () {
      }
    })
  });
</script>
