
<script type="text/x-template" id="safeset">

    <div class="exx-modal-container safe-w"  >

        <div class="exx-modal-header">
            <i class="iconfont icon-anquan"></i><h3><%= LANG('安全设置') %></h3>
        </div>

        <div class="exx-modal-body">


                    <div class="exx-safe-panel">

                        <h3><em><%= LANG('登录安全策略') %></em></h3>
                        <div class="exx-line" style="margin-bottom: 50px;">
                            <div class="tit"><%= LANG('异地登录认证：') %></div>
                            <div class="con">
                                <ul>
                                    <li>
                                        <div class="exx-radio"><input type="radio" checked="checked"><label><i></i><%= LANG('关闭') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i>Google</label></div><em class="lab"><%= LANG('推荐') %></em>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('手机') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('邮箱') %></label></div>
                                    </li>
                                </ul>
                            </div>
                        </div>



                        <h3><em><%= LANG('提现安全策略') %></em></h3>
                        <div class="exx-line exx-line-ul">
                            <div class="tit"><%= LANG('小于') %><input type="text" placeholder="1000"><%= LANG('美元：') %></div>
                            <div class="con">
                                <ul>
                                    <li>
                                        <div class="exx-radio"><input type="radio" checked="checked"><label><i></i><%= LANG('仅指纹') %></label></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="exx-line exx-line-ul">
                            <div class="tit"><%= LANG('小于') %><input type="text" placeholder="8000"><%= LANG('美元：') %></div>
                            <div class="con">
                                <ul>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('登录密码') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('二级密码') %></label></div>
                                    </li>
                                    <li class="jia">+</li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i>Google</label></div><em class="lab"><%= LANG('推荐') %></em>
                                    </li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i><%= LANG('手机') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i><%= LANG('邮箱') %></label></div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="exx-line exx-line-ul">
                            <div class="tit"><%= LANG('') %>大于<input type="text" placeholder="8000"><%= LANG('美元：') %></div>
                            <div class="con">
                                <ul>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('登录密码') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('二级密码') %></label></div>
                                    </li>
                                    <li class="jia">+</li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i>Google</label></div><em class="lab"><%= LANG('推荐') %></em>
                                    </li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i><%= LANG('手机') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i><%= LANG('邮箱') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-checkbox"><input type="checkbox"><label><i></i><%= LANG('实名认证') %></label></div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="exx-line">
                            <div class="tit" style="margin-top: 9px;"><%= LANG('24小时提现额度限制：') %></div>
                            <div class="con">
                                <ul>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('无') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i></label></div><input type="text"><em><%= LANG('美元') %></em>
                                    </li>

                                </ul>
                            </div>
                        </div>




                        <div class="exx-line">
                            <div class="tit"><%= LANG('新地址提现冻结时间：') %></div>
                            <div class="con">
                                <ul>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i><%= LANG('无') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i>1<%= LANG('小时') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i>12<%= LANG('小时') %></label></div>
                                    </li>
                                    <li>
                                        <div class="exx-radio"><input type="radio"><label><i></i>24<%= LANG('小时') %></label></div>
                                    </li>
                                </ul>
                            </div>

                </div>

            </div>

        </div>

        <div class="exx-modal-button">
            <button class="exxbtn btn-cancel"><span><%= LANG('取消') %></span></button>
            <button class="exxbtn btn-ok"><span><%= LANG('保存') %></span></button>
        </div>

    </div>
</script>


<script>
    require(['vue','common/methods'], function (Vue, Methods) {
        return Vue.component('safeset', {
            template: "#safeset",
            data: function () {
                return {
                }
            }
        })
    })
</script>
