<script type="text/x-template" id="set-nickname">
    <div class="exx-modal-container setNickname" v-cloak>
        <div class="exx-modal-header">
          <h3>设置昵称</h3>
        </div>
        <div class="exx-modal-body">
            <div class="exx-form-box" style="margin:30px;">
                <div class="form-box">
                    <div class="form-group">
                        <label class="control-label" style="width:20%;text-align: left;"><%= LANG('昵称') %>：</label>
                        <div class="form-control" id="nikeForm">
                            <input autocomplete="off" placeholder="<%= LANG('请输入昵称') %>" v-model="nickname" type="text" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="exx-modal-button">
            <button onclick="EXX.userIndex.closeModal()" class="exxbtn btn-cancel"><span><%= LANG('取消') %></span></button>
            <button class="exxbtn btn-ok" @click="updateNickname"><span><%= LANG('确定') %></span></button>
        </div>
    </div>
</script>

<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        return Vue.component('set-nickname', {
            template: "#set-nickname",
            data: function () {
                return {
                    nickname: '',
                    loginUser: Methods.getLocalUserInfo(ENV + 'userInfo'), //用户信息
                }
            },
            created: function () {
                this.$nextTick(function () {})
            },
            methods: {
                updateNickname: function () {
                    var pat = new RegExp("[^a-zA-Z0-9\_\u4e00-\u9fa5]","i"); 
                    if(pat.test(this.nickname)) {   
                        return JuaBox.info('<%= LANG("名称中含有非法字符") %>');
                    }  
                    Methods.ajax({
                        url: DOMAIN_DEV + "/exchange/xt_extends/parter/controller/website/xtuseridentifycontroller/updateNickname",
                        data: {
                            nickName: this.nickname,
                            Userid: this.loginUser.userId
                        },
                        success: function (res) {
                            console.log(res)
                            this.$parent.close();
                            this.$emit('update')
                        }.bind(this)
                    });
                }
            },
        })
    })
</script>