<div class="content">
  <h2 class="mt0">如何认购XBTC</h2>
  <style type="text/css">
    .pd-fff { line-height:2;}
    .pd-fff h3 { color:#333; font-size:18px; margin-bottom:20px; }
    .pd-fff p { color:#666; font-size:14px; margin-bottom:30px;}
    .pd-fff img { margin-top:5px; }
  </style>
  <div class="pd-fff">
    <p>
      1、项目开始认购后，从项目页面的认购按钮点击进入“认购页面”，如下图：
      <br/>
      <img src="<%= STATIC %>/images/content/xbtc/xbtc_001.jpg">
    </p>
    <p>
      2、点击我要认购输入框后面的BTC按钮，选择需要认购的资产类型，如下图：
      <br/>
      <img src="<%= STATIC %>/images/content/xbtc/xbtc_002.jpg">
    </p>
    <p>
      3、输入认购金额，系统会自动根据当前币价，显示换成ETC后所能认购的XBTC数量，确认无误后，点击“立刻认购”，如下图：<br/>
      <img src="<%= STATIC %>/images/content/xbtc/xbtc_003.jpg">
    </p>
    <p>
      4、认购成功后，账户中自动增加认购数量的XBTC（冻结状态，ICO结束后解冻），可以在“工作台”——“个人”或者“资金”中查看，如下图：<br/>
      <img src="<%= STATIC %>/images/content/xbtc/xbtc_004.jpg">
    </p>
  </div>
</div>