<div class="content">
  <h2 class="mt0">用RMB购买比特币、ETC或ETH</h2>
  <style type="text/css">
    .pd-fff { line-height:2;}
    .pd-fff h3 { color:#333; font-size:18px; margin-bottom:20px; }
    .pd-fff p { color:#666; font-size:14px; margin-bottom:30px;}
    .pd-fff img { margin-top:5px; }
  </style>
  <div class="pd-fff">
    <h3 id="buy"> 一、CHBTC购买BTC/ETC/ETH </h3>

    <p>
      1、 登录CHBTC，点击首页的“专业交易”——“BTC/CNY交易”，如要购买ETC或ETH则点击“ETC/CNY交易”、“ETH/CNY交易”，如下图

      <br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_001.jpg">
    </p>
    <p>
      2、进入BTC/LTC/ETH交易页面，可以选择“限价买入”，也可以根据情况选择“计划买入”和“批量买入”，以限价买入为例，在左侧输入框内输入“买入价”和“买入量”，点击“立刻买入”，即生成委托单，系统会自动撮合市场上的卖单，一旦达到设置的价格便自动成交。如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_002.jpg">
    </p>
    <p>
      3、 在交易页面委托购买成功后，点击菜单的“财务”，进入“账户资产”页面，可以查看到账户所拥有的BTC/LTC/ETH，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_003.jpg">
    </p>

    <h3 id="exx">
      二、将BTC/ETC/ETH发送到EXX

    </h3>
    <p>
      1、 登录CHBTC后，点击“财务”，进入“账户资产”页面，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_004.jpg">
    </p>
    <p>
      2、点击“资金账户”跳转到“资金账户管理”页面，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_005.jpg">
    </p>
    <p>
      3、再点击“添加地址”，将EXX的充值地址添加进来（获取EXX充值地址见第６点），是否认证根据实际需求勾选，可以暂不勾选，点击添加即可，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_006.jpg">
    </p>
    <p>
      4、点击左侧的“账户资产”返回第1点的账户“资产页面”，再点击对应资产的“提现”按钮，进入BTC/LTC/ETH提币页面，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_007.jpg">
    </p>
    <p>
      5、在提币地址选择刚才添加的EXX充值地址，输入提币数量和网络手续费（手续费越高，转账速度越快），并填写对应的安全信息，点击“付币”，提交成功后，等待CHBTC审核处理，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_008.jpg">
    </p>
    <p>
      6、登录EXX并点击右上角的个人中心图标，进入后台管理页面，点击左侧“工作台”——“充值”菜单，进入“充值管理”页面，点击对应的币种即可看到充值地址，如下图：<br/>
      <img src="<%= STATIC %>/images/content/chbtc/chbtc_009.jpg">
    </p>
  </div>
</div>