<table class="table vue-table">
  <thead v-if="getSetting('header')">
    <tr>
      <th v-on:click="onClickHeader(col)" v-for="col in cols">
        {{col.label}}
      </th>
    </tr>
  </thead>
  <tbody>
    <template v-if="rows.length">
      <tr :class="getRowClass(item)" v-on:click="onClickRow(item)" v-for="item in rows">
        <td v-on:click="onClickCell(item, col.key)" v-for="col in cols">
          <span v-html="col.cell(item, col.key)"></span>
        </td>
      </tr>
    </template>
    <tr v-else>
      <td :colspan="cols.length"><span class="no-items" >{{noRowsMessage}}</span></td>
    </tr>
  </tbody>
</table>
