<script type="text/x-template" id="asset-drop-menu">
    <div class="asset-drop" style="min-width: 400px;" v-cloak="">
        <div class="asset-drop-head" style="padding-bottom: 0;">
            <div class="onffflist"><a role="button" @click="hideZero = !hideZero" :class="{'on' : hideZero}"><span><%= LANG('隐藏小额资产币种') %></span><i></i></a></div>
            <div class="info">
                <div class="num-info">
                <%= LANG('账户资产价值')%>
                <div class="drop">
                    <p>{{MONEY == 'none' ? '<%= LANG('默认')%>' : MONEY.toUpperCase()}}</p>
                    <ul class="drop-box">
                        <li @click="setCurrency('usd')" :class="MONEY == 'usd' ? 'active' : ''">USD</li>
                        <li @click="setCurrency('cny')" :class="MONEY == 'cny' ? 'active' : ''">CNY</li>
                    </ul>
                </div>
                </div>
                    <p class="num">{{allTotalAsset}}</p>
            </div>

        </div>
        <div style="margin: 10px;display: flex;justify-content: flex-end;">
            <search-box v-model="keyWord"></search-box>
        </div>
        <div class="asset-scrollbar" style="max-height: 288px; overflow: hidden; position: relative;">
            <div class="asset-drop-table" v-if="userAsset.length > 0">
                <div class="tr head">
                    <div class="td"><%= LANG('币种')%></div>
                    <div class="td"><%= LANG('可用')%></div>
                    <div class="td"><%= LANG('冻结')%></div>
                    <div class="td"><%= LANG('操作')%></div>
                </div>
                <div class="tr" v-for="(item,index) in filterUserCoinFunds(userAsset)" v-if="(hideZero && parseFloat(getTotalPriceByAssist(item)) > 1) || !hideZero">
                    <div class="td"><img :src="'<%= STATIC%>/images/icon/market-icon/market-' + item.name.toLowerCase() + '.png?<%= VERSION%>'" class="market-icon">{{getRealCoinName(item.name).toUpperCase()}}</div>
                    <div class="td"><span class="hint--top" :aria-label="showAvailableAssistHint(item)">{{fixAvailableDecimal(item,8)}}</span></div>
                    <div class="td"><span class="hint--top" :aria-label="showFreezeAssistHint(item)">{{fixFreezeDecimal(item,8)}}</span></div>
                    <div class="td" v-if="loginUser.userType == 1">
                        <!--判断能否充值,默认能充值-->
                        <a v-if="item" role="button" :href="'/u/payin/' + item.name" target="_self"><%= LANG('充值')%></a>
                        <a v-else="" class="disabled" role="button" onclick="JuaBox.info('Not open yet...')"><%= LANG('充值')%></a>

                        <a v-if="item.drawFlag == 1" role="button" :href="'/u/payout/' + item.name" target="_self"><%= LANG('提币')%></a>
                        <a v-else="" class="disabled" role="button" onclick="JuaBox.info('Not open yet...')"><%= LANG('提币')%></a>
                    </div>
                </div>
            </div>
            <div class="loading loading-light-bg" v-else=""></div>
        </div>

    </div>
</script>

<script>
    require(['vue', 'common/methods'], function (Vue, Methods){
        return Vue.component('asset-drop-menu', {
            template: "#asset-drop-menu",
            props: {
                userAsset: {
                    type: Array,
                    default: function(){
                        return [];
                    }
                },
                showDrop: {
                    type: Boolean,
                    default: false
                }
            },
            data: function () {
                return {
                    MONEY : MONEY == 'none' ? 'cny' : MONEY,
                    // coinConfig : '',
                    hideZero : false,
                    loginUser: Methods.getLocalStorage(ENV + 'userInfo'),
                    assetScroll : '',
                    keyWord:''
                }
            },
            computed: {
                //计算总资产金额
                allTotalAsset : function () {
                    var alltotal = 0;
                    var money = this.MONEY == 'none' ? 'btc' : this.MONEY;
                    var _this = this;

                    this.userAsset.forEach(function (coin, index) {
                        var amount = coin.amount || 0;
                        alltotal += parseFloat( amount * _this.moneyPrice(money, coin.name) );
                    });
                    return Methods.fixNumber(alltotal, 3);
                }
            },
            methods: {
                //搜索过滤
                filterUserCoinFunds:function(objs){
                    var _this = this;
                    if(!_this.keyWord){
                        return objs;
                    }
                    var nObj = [];
                    objs.forEach(function (coin, index) {
                        var coinName = coin.name;
                        if(coinName.toLowerCase().indexOf(_this.keyWord.toLowerCase()) != -1){
                            nObj.push(coin);
                        }
                    });

                    return nObj;
                },
                //获取市场货币信息
                getCoinConfig: function() {
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'getCoinMaps',
                        // url: DOMAIN_DEV + "/exchange/fund/controller/website/fundcontroller/" + 'getcoinmaps',
                        url: DOMAIN_DEV + "/exchange/config/controller/admin/currencycontroller/" + 'getCurrencyList?webId=100',
                        success: function(res) {
                            this.coinConfig = res.datas;
                            this.initScroll();
                        }.bind(this)
                    });
                },
                //辅助价格(获取的汇率价格)
                moneyPrice: function(money, coin){
                    var money = money || 'usd';
                    return Number(this.$parent.assistPrice[money] && this.$parent.assistPrice[money][coin] ? this.$parent.assistPrice[money][coin] : 0)
                },
                //获取指定辅助货币的总价格-ok
                getTotalPriceByAssist: function (coin) {
                    if(!coin || !this.$parent.assistPrice){
                        return ''
                    }
                    var assistCoin = this.MONEY;
                    var amount = coin.amount || 0;
                    if (assistCoin == 'none' || assistCoin == '') {
                        return Methods.fixNumber(amount, 4);
                    } else {
                        return Methods.fixNumber(parseFloat(amount) * parseFloat(this.$parent.assistPrice[assistCoin][coin.name]), 4) || '--';
                    }
                },
                //获取指定辅助货币折算的价格-ok price-要折算的价格
                getConvertPriceByAssist: function (coin, price) {
                    if(!coin || !this.$parent.assistPrice){
                        return ''
                    }
                    var assistCoin = this.MONEY;
                    if (assistCoin == 'none' || assistCoin == '') {
                        return Methods.fixNumber(price, 4);
                    } else {
                        return Methods.fixNumber(parseFloat(price) * parseFloat(this.$parent.assistPrice[assistCoin][coin.name]), 4) || '--';
                    }
                },
                //获取当前货币单位
                showAssistCoin : function () {
                    //显示辅助货币名字，不显示默认
                    if(this.MONEY == 'none'){
                        return '';
                    }else{
                        return this.MONEY.toUpperCase();
                    }
                },
                //可用价格折合的提示内容
                showAvailableAssistHint : function (coin) {
                    var price = this.fixAvailableDecimal(coin, 8);
                    return "<%= LANG('折合')%>:" + this.getConvertPriceByAssist(coin, price) + " " + this.showAssistCoin();
                },
                //冻结价格折合的提示内容
                showFreezeAssistHint : function (coin) {
                    var price = this.fixFreezeDecimal(coin, 8);
                    return "<%= LANG('折合')%>:" + this.getConvertPriceByAssist(coin, price) + " " + this.showAssistCoin();
                },
                fixFloat : function (value,unit) {
                    return Methods.fixFloat(value, unit);
                },
                fixNumber : function (value,unit) {
                    return Methods.fixNumber(value, unit);
                },
                //可用资金
                fixAvailableDecimal : function (coin, unit) {
                    var amount = coin.amount || 0;
                    // var freeze = coin.freeze || 0;
                    var value = parseFloat(amount);

                    return Methods.fixDecimal(value, unit);
                },
                //冻结资金
                fixFreezeDecimal : function (coin, unit) {
                    var freeze = coin.freeze || 0;

                    return Methods.fixDecimal(freeze, unit);
                },
                //去掉虚拟市场货币的D字符
                getRealCoinName : function (coin) {
                    if(coin.length > 3 && coin.substring(0,1) == 'd'){
                        return coin.substring(1);
                    }else{
                        return coin;
                    }
                },
                // 设置辅助币种
                setCurrency: function(coin) {
                    if (!this.isLogin) {
                        Methods.setCookie(ENV+'mname', coin);
                        this.MONEY = coin;
                        return
                    }

                    var data = {
                        assistCoin : coin
                    };
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'editAssistCoin',
                        url: DOMAIN_DEV+ "/exchange/user/controller/website/usercontroller/" + 'editassistcoin',
                        headers: {
                            Userid: this.loginUser.userId
                        },
                        data: JSON.stringify(data),
                        success: function (res) {
                            Methods.setCookie(ENV+'mname', coin);
                            this.MONEY = coin;
                            //top.location.reload();
                        }.bind(this)
                    });
                },
                initScroll : function(){
                    if(!this.assetScroll){
                        this.assetScroll = new IScroll('.asset-scrollbar',{
                            mouseWheel: true,
                            scrollbars: "custom",
                            fadeScrollbars : false,
                            bounceEasing : 'quadratic'
                        });
                    }else{
                        this.assetScroll.refresh();
                    }
                }
            },
            created : function () {

            },
            watch: {

            },
            update : function () {

            },
            mounted: function() {
                setInterval(function () {
                    this.initScroll();
                }.bind(this), 1000)
            }
        });
    })

</script>
