<% if(typeof ENV != 'undefined' && ENV == 'z' ){%>
    <script>
        var _hmt = _hmt || [];
        /*(function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?6f0b205880a109ff2ad9e75e41427bca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();*/
    </script>
<% } %>
<script>
    // setTimeout(function () {
    //     $(".site-wrapper").bootstrapDropdownOnHover({
    //         mouseOutDelay: 100,
    //         responsiveThreshold: 769
    //     });
    // },100)
</script>