<!--<link rel="stylesheet" href="/src/styles/zbg/css/main.css?<%= VERSION %>">-->
<link rel="stylesheet" type="text/css" href="/src/styles/zbg/css/vendor/bootstrap.min.css?<%= VERSION %>">
<script src="<%= STATIC %>/scripts/zbg/js/vendor/fontawesome-all.min.js"></script>
<style>
    .social-icons a {
        display: inline-block;
        font-size: 15px;
        line-height: 1;
        color: #5a7ff5;
        margin-right: 1rem;
    }

    .social-icons a:last-child {
        margin-right: 0;
    }

    .social-icons a:hover {
        color: #4FD3D3;
        text-decoration: none;
    }

    .social-icons a.weixin {
        position: relative;
    }

    .page-footer p {
        font-size: 1.6rem!important;
        color: #979ca0!important;
    }

    .social-icons a.weixin img {
        position: absolute;
        right: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);
        width: 150px;
        max-width: none;
        display: none;
    }

    .social-icons a.weixin:hover img {
        display: block;
    }

    .row {
        width: 100%;
    }
    .row h5{
        font-family: sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .container-fluid p{
        height: 15px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffc107;
    }
    /* -- Footer css
-------------------------------------- -- */
    html{
        font-size: 10px!important;
    }

    footer {
        position: relative;
        overflow: hidden;

    }

    .radial-bg__footer {
        bottom: 0;
        left: 0;
        -webkit-transform: translate(-50%, 65%);
        transform: translate(-50%, 65%);
    }

    /*.page-footer {*/
    /*padding: 4rem 0 0;*/
    /*}*/

    .page-footer .logoImg {
        max-width: 100%;
        margin-bottom: 2rem;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        display: inline-block;
    }

    .page-footer h5 {
        margin-bottom: 6px;
        font-size: 1.8rem;
        line-height: 3rem;
        font-family: sans-serif;
        font-weight: 400;
        color: #fff;
    }

    .page-footer p {
        font-size: 1.6rem;
    }

    form.footer-form {
        position: relative;
    }

    form.footer-form input[type="email"] {
        margin-bottom: 3rem;
        padding-right: 20%;
    }

    .footer .container::before {
        content: " ";
        height: 0px;
        background-image: linear-gradient(to right, #C86DD7, #3023AE);
        background-repeat: repeat-x;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
    }

    .footer-menu {
        padding: 5rem 0 3.5rem;
        position: relative;
    }

    .footer-menu .timer {
        color: #B492E9;
        margin-left: 2rem;
    }

    /*.footer-menu::before {*/
    /*content: " ";*/
    /*height: 1px;*/
    /*background-image: linear-gradient(to right, #C86DD7, #3023AE);*/
    /*background-repeat: repeat-x;*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*}*/

    .footer-menu p {
        line-height: 2.4rem;
        margin-bottom: 0.8rem;
        color: #e9e7ff;
    }

    .footer-menu a:hover{
        text-decoration: none;
    }

    .footer-nav {
        list-style: none;
        padding-left: 0;
    }

    .footer-nav li a {
        font-size: 1.4rem;
        line-height: 3.0rem;
        color: #979ca0;
        font-weight: 300;
        transition: all .3s;
    }

    .footer-nav li a:hover,
    .footer-nav li a.active {
        text-decoration: none;
        color: #5a7ff5;
    }

    .footer-bottom {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: between;
        -moz-justify-content: between;
        -ms-justify-content: between;
        justify-content: between;
        -ms-flex-pack: between;
        position: relative;
        padding: 2.6rem 0 2.3rem;
    }

    /*.footer-bottom::before {*/
    /*content: " ";*/
    /*height: 1px;*/
    /*background-image: linear-gradient(to right, #3023AE, #C86DD7);*/
    /*background-repeat: repeat-x;*/
    /*position: absolute;*/
    /*top: 18px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*}*/

    .footer-bottom p {
        margin-bottom: 0;
    }

    .footer-bottom p a {
        color: #B492E9;
    }

    .footer-bottom p a:hover {
        color: #4FD3D3;
    }

    .footer-bottom .dropdown-toggle {
        font-size: 1.6rem;
        line-height: 3rem;
        color: #B492E9;
        font-weight: 300;
    }

    .footer-bottom .dropdown-toggle::after {
        display: none;
    }

    .footer-bottom .dropdown-toggle:hover {
        text-decoration: none;
    }

    .footer-bottom .dropdown-toggle span {
        color: #fff;
    }

    .footer-bottom .dropdown-toggle svg {
        color: #fff;
        font-weight: 300;
    }

    .footer-bottom .dropdown-menu {
        position: absolute;
        right: 0;
        left: auto !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        bottom: 3rem;
        top: auto !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
    }

    .footer-bottom .dropdown-menu a {
        display: block;
        width: 100%;
        clear: both;
        font-weight: 300;
        color: #4039D4;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: 14px;
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid #eeeeee;
    }

    .footer-bottom .dropdown-menu a:last-child {
        border: none;
    }

    .footer-bottom .dropdown-menu a:hover {
        background: #4FD3D3;
        color: #ffffff;
    }
    /* -- Footer css  end!!!
-------------------------------------- -- */
</style>

<footer class="footer" id="footer">
    <!-- <div class="radial-bg radial-bg__footer">
    </div> -->
    <!-- End of .radial-bg -->
    <div class="container">
        <div class="page-footer">
            <div class="footer-menu">
                <div class="row">
                    <div class="col-md-4" style="margin-top: 10px;">
                        <a href="/" class="d-block">
                                        <span class="logoImg" style="padding-left: 2rem;">
                                            <img src="<%= STATIC %>/images/logo.png"
                                                 style="width: 140px; border-radius: 0;" alt="footer logo">
                                        </span>
                            <a class="timer" href="#">基于社区化自治的交易平台</a>
                        </a>

                    </div>
                    <!-- End of .col -->

                    <div class="col-md">
                        <h5>
                            <%= LANG('客户服务') %>
                        </h5>
                        <ul class="footer-nav">

                            <li>
                                <a href="https://13632735345.udesk.cn/hc/submit_a_request" target="_Blank">
                                    <%= LANG('提交工单') %>
                                </a>
                            </li>

                            <li>
                                <a href="https://13632735345.udesk.cn/hc" target="_Blank">
                                    <%= LANG('常见问题') %>
                                </a>
                            </li>
                            <li>
                                <a href="https://13632735345.udesk.cn/hc" target="_Blank">
                                    <%= LANG('公告') %>
                                </a>
                            </li>
                            <li>
                                <a href="/help/rate" target="_self">
                                    <%= LANG('费率') %>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a href="/app" target="_self">APP</a>-->
                            <!--</li>-->
                        </ul>
                        <!-- End of .footer-nav -->
                    </div>
                    <!-- End of .col -->

                    <div class="col-md">
                        <h5>
                            <%= LANG('工具支持') %>
                        </h5>
                        <ul class="footer-nav">
                            <li>
                                <a href="/help/restApi" target="_self">API</a>
                            </li>
                            <!--xt 不需要-->
                            <!--<li>
                                <a href="/apply" target="_self">
                                    <%= LANG('上币申请') %>
                                </a>
                            </li>
                            <li>
                                <a href="/marketglobal" target="_self">
                                    <%= LANG('全球行情') %>
                                </a>
                            </li>-->
                        </ul>
                        <!-- End of .footer-nav -->
                    </div>
                    <!-- End of .col -->

                    <div class="col-md-2">
                        <h5>
                            <%= LANG('条款协议') %>
                        </h5>
                        <ul class="footer-nav">
                            <li>
                                <a href="/help/privacy">
                                    <%= LANG('隐私保护XT') %>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a href="/help/escape"><%= LANG('ZB换码协议') %></a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<%= LANG('团队') %>：<%= LANG('澳大利亚') %>-->
                            <!--</li>-->
                            <li>
                                <a href="/help/agreement">
                                    <%= LANG('用户协议') %>
                                </a>
                            </li>
                        </ul>
                        <!-- End of .footer-nav -->
                    </div>
                    <!-- End of .col -->

                    <div class="col-md">
                        <h5>
                            <%= LANG('联系我们') %>
                        </h5>
                        <p>support@xt.com</p>

                        <!--<div class="social-icons">
                            <a href="https://www.facebook.com/XT.coin" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/ZBG08533003" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/zbglobal/" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://t.me/joinchat/IGimOg-HcfebqdRcsezpgQ" target="_blank" rel="noopener">
                                <i class="fab fa-telegram"></i>
                            </a>
                            <a class="weixin" href="javascript:;" target="_blank" rel="noopener">
                                <img src="/src/images/XT/images/WechatIMG260.jpeg"/>
                                <i class="fab fa-weixin"></i>
                            </a>
                        </div>-->
                        <div class="social-icons">
                            <a href="https://www.facebook.com/xt.xt.1401" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://mobile.twitter.com/XT11944686" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!--<a href="https://www.linkedin.com/company/zbglobal/" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin-in"></i>
                            </a>-->
                            <a href="https://t.me/XtChinsesGroup" target="_blank" rel="noopener">
                                <i class="fab fa-telegram"></i>
                            </a>
                            <a class="weixin" href="javascript:;" target="_blank" rel="noopener">
                                <img src="/src/images/zbg/images/WechatIMG260.jpeg"/>
                                <i class="fab fa-weixin"></i>
                            </a>
                        </div>
                        <!-- End of .social-icons -->
                    </div>
                    <!-- End of .col -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .footer-menu -->

            <!--<div class="footer-bottom">-->
                <!--<p>©2017-2018-->
                <!--<a href="https://www.XT.com">XT.com</a>-->
                <!--</p>-->
                <!--<div class="dropdown text-xs-right ml-auto">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language:-->
                <!--<span>English</span>-->
                <!--<i class="fa fa-angle-up"></i>-->
                <!--</a>-->
                <!--&lt;!&ndash;<div class="dropdown-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="dropdown-item" href="#">English US</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="dropdown-item" href="#">English Uk</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="dropdown-item" href="#">French</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="dropdown-item" href="#">Bangla</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash; End of .dropdown-menu &ndash;&gt;-->
                <!--</div>-->
                <!-- End of .dropdown -->
            <!--</div>-->
            <!-- End of .footer-copyright -->
        </div>
        <!-- End of .page-footer -->
    </div>
    <!-- End of .container -->
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        require(['common/methods', 'vue'], function (Methods, Vue) {
            new Vue(
                {
                    el: '#footer',
                    data: function () {
                        return {}
                    },
                    mounted: function () {

                    },
                    created() {

                    }
                }
            )
        })
    });
</script>