<header class="header" id="user-nav">
    <!--<div class="exx-notice" v-if="news.readed === false" v-cloak="" v-for="(news,index) in topNews">-->
        <!--<a class="text" @click="gotoReadNews(news.id)" v-text="news.title"></a>-->
        <!--<a class="close" @click="setHasReadNews(news.id)" title="<%= LANG('关闭')%>"></a>-->
    <!--</div>-->
    <div class="h-content">
    <div class="h-box">
        <div class="logo">
            <a href="/" target="_self" title="<%= WEB.NAME %>"><img alt="<%= WEB.NAME %>" src="<%= WEB.LOGO %>"/></a>
        </div>
        <!--<div class="site-menu cart" style="margin-left: 20px; display: none">-->
            <!--<p role="button" class="<%= PATH.indexOf('/exchange') != -1 ? 'active' : ''%>">-->
                <!--<a href="/exchange">QC<%= LANG('交易') %></a>-->
            <!--</p>-->
            <!--<div class="site-menu-dropdown">-->
                <!--<ul>-->
                    <!--<li><a href="/exchange?market=qc_cny&type=2" target="_self"><%= LANG('买入') %>QC</a></li>-->
                    <!--<li><a href="/exchange?market=qc_cny&type=1" target="_self"><%= LANG('卖出') %>QC</a></li>-->
                    <!--<li><a href="/exchange/apply" target="_self"><%= LANG('商家申请') %></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--专业交易-->
        <%-include("menu/menu_market.html")%>
        <!--k线交易-->
        <%-include("menu/menu_market2.html")%>
        <!--网站导航-->
        <div class="site-menu cart">
            <p role="button"><%= LANG('网站导航') %></p>
                <div class="site-menu-dropdown">
                <ul>
                    <% if(LAN == 'cn' || LAN == 'hk'){ %>
                    <li><a href="/help/display?cid=4012&fid=4" target="_self"><%= LANG('上币申请') %></a></li>
                    <% }else{ %>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScYjcie3xXU7jMmgTfYZnDR-qWh5RiMOvGNgMx_c8pkI6djwA/viewform?usp=sf_link" target="_self"><%= LANG('上币申请') %></a></li>
                    <% } %>
                    <li><a href="/help" target="_self"><%= LANG('帮助') %></a></li>
                    <li><a href="/blog" target="_self"><%= LANG('公告') %></a></li>
                    <li><a href="/help/rate" target="_self"><%= LANG('费率') %></a></li>
                    <li><a href="/help/restApi" target="_self">API</a></li>
                    <li><a href="/app" target="_self"><%= LANG('APP') %></a></li>
                    <li><a href="/about" target="_self"><%= LANG('关于') %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="h-box">
        <% if(isLogin){ %>
            <div class="finance-menu" @mouseover="showAssetDrop = true" @mouseleave="showAssetDrop = false">
                <a role="button" class="<%= typeof column != 'undefined' && column == 0 ? 'active' : ''%>" href="/u/asset"><%= LANG('财务中心')%></a>
                <div class="finance-menu-dropdown">
                    <asset-drop-menu :user-asset="userCoinFunds" :show-drop="showAssetDrop"></asset-drop-menu>
                </div>
            </div>
            <div class="account-menu">
                <a role="button" class="<%= typeof column != 'undefined' && column == 1 ? 'active' : ''%>" href="/u">
                    <div class="avatar">
                        <img v-if="userInfo.photo" :src="'/src/images/userhead/' + userInfo.photo">
                        <img v-else :src="'/src/images/userhead/default.jpg'">
                    </div>
                    <div class="info">
                        <h3 v-text="userInfo.nickName"></h3>
                        <!--<p v-text="userInfo.userName"></p>-->
                    </div>
                </a>
                <div class="account-menu-dropdown">
                    <ul>
                        <li v-if="userInfo.userType == 1" v-cloak><a style="padding-left: 20px;" role="button" href="/u/recommend"><%= LANG('推荐分享') %></a></li>
                        <li v-if="userInfo.userType != 3" v-cloak><a style="padding-left: 20px;" role="button" href="/u/api">API<%= LANG('设置') %></a></li>
                        <li><a style="padding-left: 20px;" role="button" href="javascript:;" @click="logout"><%= LANG('退出登录') %></a></li>
                    </ul>
                </div>
            </div>
        <% }else{ %>
            <div class="user-menu">
                <a href="/login" class="flex flex-tb-center menu-head <%= PATH.indexOf('/login') != -1 ? 'active' : ''%>"><%= LANG('登录') %></a>
                <a href="/register" class="flex flex-tb-center menu-head <%= PATH.indexOf('/register') != -1 ? 'active' : ''%>"><%= LANG('注册') %></a>
            </div>
        <% } %>
        <div class="language">
            <p role="button"><img src="/src/images/guoqi/<%= LAN %>.svg" /><%= WEB.LAN[LAN] %></p>
                <ul>
                    <% for(var key in WEB.LAN){ %>
                    <% if(key != LAN){ %>
                    <li role="button" class="<%= key %>" @click="setLan('<%= key %>')"><img src="/src/images/guoqi/<%= key %>.svg" /> <%= WEB.LAN[key] %></li>
                    <% } %>
                    <% } %>
                </ul>
        </div>
        <div class="webchat-r">
            <div role="button"><p><i class="trading-icon trading-icon-kefu"></i><span class="newnum"></span></p></div>
        </div>
        <modal  :open= "showModal == 'transfer'" @close="showModal = false">
            <transfer :info="transferInfo" />
        </modal>

        <modal  :open= "showModal == 'payin'" @close="showModal = false">
            <modal-payin :coin="payinCoin" />
        </modal>
    </div>
</div>
</header>
<%-include("../component/modal.html")%>
<%-include("../component/search_box.html")%>
<%-include("../u/model/insideDebit.html")%>
<%-include("../u/model/payin.html")%>
<%-include("assetDropDown.html")%>
<script>
    require(['vue', 'common/methods'], function (Vue, Methods) {
        EXX.userNav = new Vue({
            el: '#user-nav',
            data: function () {
                return {
                    loaded: true,
                    isLogin: ISLOGIN,
                    assistPrice: '',
                    // topNews: [],
                    hasReadNews: [],
                    showTopNews: false,
                    showAssetDrop : false,
                    assetInterVal : null,
                    lastAssetTime : 0,
                    isMobile: Methods.isMobile(),
                    ExchangeMode: [
                        "<%= LANG('模拟交易')%>",
                        "<%= LANG('实盘交易')%>"
                    ],
                    currentExchangeMode: Methods.getCookie(ENV + 'ExchangeMode') || 1,
                    tradeTheme: 'dark',
                    showModal : false,
                    transferInfo : {},
                    payinCoin : '',
                    marketConfig:'',
                    userInfo: '',
                    userAssets: [],
                    coinConfig: '',
                    loginUser: Methods.getLocalStorage(ENV + 'userInfo'), //用户信息
                }
            },
            watch : {
                showAssetDrop : function (newVal,oldVal) {
                    //下拉展开资产的时候立即获取资产并且开启定时器
                    if(this.showAssetDrop && this.isLogin){
                        //获取汇率
                        this.getAssistPrice();
                        //获取用户资金
                        this.getAccountAssets();
                        //获取货币信息
                        this.getCoinConfig();

                        this.assetInterVal = setInterval(function () {
                            //获取汇率
                            this.getAssistPrice();
                            //获取用户资金
                            this.getAccountAssets();
                            //获取货币信息
                            this.getCoinConfig();
                        }.bind(this),3000)
                    }else{
                        window.clearInterval(this.assetInterVal);
                    }
                },
                showTopNews : function () {
                    if(!this.showTopNews){
                        $('body').removeClass('notice-open');
                    }else{
                        $('body').addClass('notice-open');
                    }
                }
            },
            computed: {
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV + 'uid');
                    }
                },
                /**
                 * 格式化用户资产数据
                 * 将金额不为0的货币与所有货币列表整合
                 */
                userCoinFunds: function() {
                    var coins = this.coinConfig || [];
                    var userAssets = this.userAssets;

                    var coinAssets = [];
                    coins.forEach(function (coin, index, array) {
                        var coinItem = coin;
                        userAssets.forEach(function (asset, idx, arr) {
                            if (coin.currencyId == asset.currencyTypeId) {
                                for (var k in asset) {
                                    coin[k] = asset[k];
                                }
                            }
                        });
                        coinAssets.push(coinItem);
                    }.bind(this));

                    return coinAssets;
                }
            },
            methods: {
                logout: function () {
                    var data = {
                        Userid: this.loginUser.userId
                    };
                    Methods.logout(data);
                },
                //获取大写货币名称
                getCoinName : function (market) {
                    // return !market ? '' :  market.split('_')[0].toUpperCase();
                    if (market.name.split('_').length > 1) {
                        return !market ? '' : market.name.split('_')[0].toUpperCase();
                    } else {
                        // console.log('coin name incorrect: ' + market.name);
                        return '';
                    }
                },
                //获取小写货币名称
                getCoinMinName : function (market) {
                    // return !market ? '' :  market.split('_')[0].toLowerCase();
                    if (market.name.split('_').length > 1) {
                        return !market ? '' : market.name.split('_')[0].toLowerCase();
                    } else {
                        // console.log('coin name incorrect: ' + market.name);
                        return '';
                    }
                },
                //获取交易所属类型
                getMoneyName : function (market) {
                    // return !market ? '' :  market.split('_')[1].toUpperCase();
                    if (market.name.split('_').length > 1) {
                        return !market ? '' : market.name.split('_')[1].toUpperCase();
                    } else {
                        // console.log('coin name incorrect: ' + market.name);
                        return '';
                    }
                },
                //获取交易名称
                getTradeName : function (market) {
                    // return !market ? '' :  market.split('_')[1].toUpperCase();
                    if (market.name.split('_').length > 1) {
                        return !market ? '' : market.name.split('_')[0].toLowerCase() + '_' + market.name.split('_')[1].toLowerCase();
                    } else {
                        // console.log('coin name incorrect: ' + market.name);
                        return '';
                    }
                },
                goToExchange: function (type, market) {
                    Methods.setCookie(ENV + 'ExchangeMode', 1, 7);

                    if(type == 2){
                        window.location.href = '/trade/' + market;
                    }else{
                        window.location.href = '/tradePro/' + market;
                        //window.location.href = DOMAIN_MAIN + '/trade?market=' + market;
                    }
                },
                //设置语言
                setLan: function (lan) {
                    var name = ENV + 'lan';
                    Methods.setCookie(name, lan);
                    top.location.reload();
                },
                openPayin: function(coin) {
                    this.payinCoin = coin;
                    this.showModal = 'payin';
                },
                openTransfer: function(type, userId, coin) {
                    this.transferInfo = {
                        type: type,
                        userId: userId,
                        coin: coin
                    };
                    this.showModal = 'transfer';
                },
                /*
                * 获取所有货币信息
                * */
                getCoinConfig: function() {
                    Methods.ajax({
                        type: 'GET',
                        //url: DOMAIN_MAIN + API_PREFIX + 'getCoinMaps',
                        // url: DOMAIN_DEV + "/exchange/fund/controller/website/fundcontroller/" + 'getcoinmaps',
                        url: DOMAIN_DEV + "/exchange/controller/admin/config/CurrencyController/" + 'getCurrencyList?webId=100',
                        success: function(res) {
                            this.coinConfig = res.datas;
                        }.bind(this)
                    });
                },
                // 获取用户总额不为零的货币信息(财务中心)
                getAccountAssets: function () {
                    var data = {
                        webId: 100,
                        userId: Methods.getLocalStorage(ENV + 'userInfo').userId,
                        pageSize: 9999,
                        pageNum: 1
                    };
                    Methods.ajax({
                        url: DOMAIN_DEV + "/exchange/fund/controller/website/fundcontroller/" + 'findbypage',
                        data: JSON.stringify(data),
                        success: function(res) {
                            this.loaded = true;

                            if(res.datas.list){
                                this.userAssets = res.datas.list;
                            }
                        }.bind(this)
                    });
                },
                // 获取币价汇率
                getAssistPrice: function (callback) {
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'getAssistPrice',
                        url: DOMAIN_DEV + "/exchange/base/controller/pricecontroller/" + 'getassistprice',
                        success: function (res) {
                            this.assistPrice = res.datas;
                            callback && callback();
                        }.bind(this)
                    });
                },
                //获取用户信息-ok
                getUserInfo: function () {
                    var _this = this;
                    var headers = {
                        Userid: Methods.getLocalStorage(ENV + 'userInfo').userId
                    };
                    Methods.ajax({
                        type:'POST',
                        headers: headers,
                        url: DOMAIN_DEV + "/exchange/user/controller/website/usercontroller/" + 'getuserinfo',
                        success: function (res) {
                            _this.userInfo = res.datas;
                            //更新用户信息
                            Methods.setLocalUserInfo(res.datas);
                        }
                    });
                },
                //获取通知（暂弃用）
                /*getTopNewsList: function (type) {
                    var data = {
                        problemType: 1,
                        problCategor: 102
                    };
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_MAIN + API_PREFIX + 'getProblemListTop',
                        data: data,
                        success: function (res) {
                            this.topNews = res.datas.titelList;
                            this.initNewsList();
                        }.bind(this)
                    });
                },
                initNewsList : function () {
                    if(this.topNews && this.topNews.length > 0){
                        for(var index = 0, ilength = this.topNews.length; index < ilength; index++){
                            var item = this.topNews[index];
                            var isRead = this.checkReadNews(item.id);
                            item.readed = isRead;
                            Vue.set(this.topNews, index, item)
                            if(!isRead){
                                this.showTopNews = true;
                                //有就跳出确保每次只显示一条
                                return false;
                            }
                        }
                    }
                    this.showTopNews = false;
                },
                gotoReadNews: function (id) {
                    this.setHasReadNews(id);
                    window.location.href = '/blog/display?type=102&id=' + id;
                },
                getHasReadNews: function () {
                    var hasReadNews = Methods.getCookie(ENV + 'hasReadNews');
                    if (hasReadNews) {
                        this.hasReadNews = hasReadNews.split(',');
                    } else {
                        this.hasReadNews = [];
                    }
                    this.initNewsList();
                },
                setHasReadNews: function (id) {
                    if (!this.hasReadNews) {
                        this.hasReadNews = [];
                    }
                    this.hasReadNews.push(id);
                    Methods.setCookie(ENV + 'hasReadNews', this.hasReadNews.join(','), 7);
                    this.initNewsList();
                },
                checkReadNews: function (id) {
                    var result = false;
                    if (this.hasReadNews.length > 0) {
                        this.hasReadNews.forEach(function (t) {
                            if (t == id) {
                                result = true;
                            }
                        })
                    }
                    return result;
                },*/
                initSwiftTrade : function () {
                    $(".group-list.l1").on('mouseover', '.group-tab li', function () {
                        $(".group-list.l1 .group-tab li").removeClass('active');
                        $(this).addClass('active');

                        $(".group-list.l1 .group-box ul").removeClass('block');
                        $(".group-list.l1 .group-box ul").eq($(this).index()).addClass('block');
                        //console.log($(this).index())
                    })
                    $(".group-list.l2").on('mouseover', '.group-tab li', function () {
                        $(".group-list.l2 .group-tab li").removeClass('active');
                        $(this).addClass('active');

                        $(".group-list.l2 .group-box ul").removeClass('block');
                        $(".group-list.l2 .group-box ul").eq($(this).index()).addClass('block');
                        //console.log($(this).index())
                    })
                },
                // 获取市场配置
                getMarketConfig: function () {
                    var _this = this;

                    Methods.ajax({
                        url: DOMAIN_DEV + "/exchange/controller/admin/config/marketcontroller/" + 'getall',
                        success: function (res) {
                            _this.marketConfig = res.datas;
                        }
                    });
                }
            },
            mounted: function () {
                if (this.isLogin) {
                    //获取用户信息
                    this.getUserInfo();
                    //获取用户资金
                    this.getAccountAssets();
                }
                //获取货币信息
                this.getCoinConfig();
                //获取市场配置
                this.getMarketConfig();
                //初始化鼠标监听
                this.initSwiftTrade();

                // 消息相关
                // this.getTopNewsList();
                console.log("获取消息公告(已关闭)")
                // this.getHasReadNews();
            },
            created : function () {

            }
        })
    })
</script>
