<script>
    require(['vue', 'common/methods', 'common/juabox'], function (Vue, Methods, JuaBox) {
        EXX.appSider = new Vue({
            el: "#app-sider",
            data: function () {
                return {
                    currentMarket: "<%= typeof market != 'undefined' ? market : ''%>",
                    //spot现货，forward期货，user用户市场
                    currentTab: ISLOGIN ? 'user' : '_<%= LEGAL[UNIT].alias %>',
                    theme: "<%= typeof theme != 'undefined' ? theme : 'dark' %>",
                    //精简模式切换
                    currentShow: true,
                    keyWord: '',
                    //rateUp,rateDown,volumeUp,volumeDown,nameUp,nameDown,priceUp,priceDown
                    sortBy: 'rateDown',
                    assistPrice: null,
                    /*currentUserAsset : {
                        userFund : {}
                    },*/
                    //原始的所有市场数据
                    allMarket: '',
                    allMarketArray: [],
                    //用户市场
                    userMarket: '',
                    assistCoin: MONEY,
                    loginUser: Methods.getLocalUserInfo(),
                    isLogin: ISLOGIN,
                    marketConfig: '',
                    marketParams: {},
                    assistList: {
                        'none': {key: 'none', name: "<%= LANG('默认')%>", icon: '', symbol: '฿', decimal: 6},
                        /*'btc': {key: 'btc', name: 'BTC', icon: 'icon-btc', symbol: '฿',decimal : 6},*/
                        'usd': {key: 'usd', name: 'USD', icon: 'icon-meiyuan', symbol: '$', decimal: 3},
                        '<%= UNIT %>': {
                            key: '<%= UNIT %>',
                            name: '<%= LEGAL[UNIT].unit %>',
                            icon: '',
                            symbol: '<%= LEGAL[UNIT].note %>',
                            decimal: '<%= LEGAL[UNIT].decimal %>'
                        }
                    },
                    showModal: false,
                    showSider: false,
                    siderScroll: '',
                    lightShowsider: true,

                    websocket: '' //websocket服务
                }
            },
            computed: {
                // 将市场id转为 市场名字符串 返回对象
                marketsIdSwitch: function () {
                    var marketId = {};
                    if (this.marketConfig) {
                        for (var a = 0; a < this.allMarket.length; a++) {
                            for (var b = 0; b < this.marketConfig.length; b++) {
                                if (this.allMarket[a][0] == this.marketConfig[b].marketId) {
                                    // if ((this.allMarket[a][0] + 2) == this.marketConfig[b].marketId){
                                    marketId[this.marketConfig[b].marketId] = this.marketConfig[b].name;  //格式: '1': btc/qtum
                                }
                            }
                        }
                    }
                    return marketId;
                },
                currentAccountId: function () {
                    if (this.isLogin) {
                        return Methods.getCookie(ENV + 'currentAccountId') || Methods.getCookie(ENV + 'uid');
                    }
                },
                currentUserAsset: function () {
                    return EXX.userNav.loginUser;
                },
                isNeedInterval: function () {
                    if (!this.showSider) {
                        return false;
                    }
                    /*if(this.currentTab != 'spot' && this.currentTab != 'forward' && this.currentTab != 'user' && this.keyWord == ''){
                        return false;
                    }*/
                    return true;
                }
            },
            watch: {
                //监听市场数据变化，设置当前市场价格
                allMarket: function (newVal) {
                    //设置K线顶部数据
                    if (EXX.appTradePro && EXX.appTradePro.currentMarketId) {

                        var currMarketId = EXX.appTradePro.currentMarketId;
                        for (var i = 0; i < newVal.length; i++) {
                            if (newVal[i][0] == currMarketId) {
                                EXX.appTradePro.currentPrice = newVal[i][1]; //当前价格
                                EXX.appTradePro.riseRate = newVal[i][5]; //涨跌幅
                                EXX.appTradePro.highPrice = newVal[i][2]; //最高价
                                EXX.appTradePro.lowPrice = newVal[i][3]; //最低价
                                EXX.appTradePro.volume = newVal[i][4]; //交易量

                                break;
                            }
                        }
                    }
                },
                isNeedInterval: function (newVal, oldVal) {
                    if (newVal === true) {
                        this.getAssistPrice();
                        // this.getAllMarket();
                        this.getUserMarket();
                    }
                },
                currentTab: function (newVal, oldVal) {
                    if (this.currentTab == '' && this.theme == 'light') {
                        this.lightShowsider = false;
                    }
                    if (this.currentTab != '' && this.theme == 'light') {
                        this.lightShowsider = true;
                    }
                }
            },
            methods: {
                // 获取币价汇率-ok
                getAssistPrice: function (callback) {
                    var _this = this;
                    //如果在交易页面就不请求，直接取隔壁数据
                    if (EXX.appTradePro && EXX.appTradePro.assistPrice) {
                        _this.assistPrice = EXX.appTradePro.assistPrice;
                        //callback && callback(EXX.appTradePro.assistPrice);
                        return false;
                    }
                    //不需要的时候不请求
                    if (!this.isNeedInterval) {
                        return false;
                    }
                    Methods.ajax({
                        type: 'GET',
                        url: DOMAIN_DEV + "/exchange/config/controller/website/PriceController/" + 'getAssistPrice',
                        success: function (res) {
                            _this.assistPrice = res.datas;
                            callback && callback(res.datas);
                        },
                        error : function(){
                        }
                    });
                },
                // 获取市场配置-ok
                getMarketConfig: function (callback) {
                    var _this = this;
                    Methods.ajax({
                        // url: DOMAIN_TRADE + API_PREFIX + 'getMarketConfig',
                        url: DOMAIN_DEV + "/exchange/config/controller/website/MarketController/" + 'getByWebId',
                        success: function (res) {
                            _this.marketConfig = res.datas;
                            callback && callback(res.datas);
                        }
                    });
                },
                // 获取所有市场行情- 改为用websocket
                getAllMarket: function (callback) {
                    var _this = this;


                    // var wsUrl = WEBSOCKET + '/getMarketList';
                    // //建立握手
                    // if ('WebSocket' in window) {
                    //     _this.websocket = new WebSocket(wsUrl);
                    // } else if ('MozWebSocket' in window) {
                    //     _this.websocket = new MozWebSocket(wsUrl);
                    // } else {
                    //     console.log('Your browser does not support websocket.')
                    //     return false;
                    // }

                    // _this.websocket.onopen = function (event) {
                    //     //离开或者刷新当前页面时
                    //     window.onbeforeunload = function () {
                    //         _this.websocket && _this.websocket.close();
                    //     }
                    // };
                    // _this.websocket.onmessage = function (event) {
                    //
                    //     var res = JSON.parse(event.data);
                    //
                    //     if (typeof res.market == 'object') {
                    //         _this.allMarket = res.market;
                    //     } else {
                    //         _this.allMarket = [];
                    //     }
                    // };
                },
                //获取用户市场-ok
                getUserMarket: function (callback) {
                    //不需要的时候不请求
                    if (!this.isNeedInterval || !this.isLogin) {
                        return false;
                    }
                    //alert(callback);
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'getUserMarket',
                        url: DOMAIN_DEV + "/exchange/user/controller/website/usermarketcontroller/" + 'getusermarket',
                        success: function (res) {
                            if (!res.datas) {
                                return console.log('getAllMarket failed.')
                            }

                            this.userMarket = res.datas;
                            callback && callback();
                        }.bind(this)
                    });
                },
                // 设置辅助币种-ok
                setAssistCoin: function (coin) {
                    if (!this.isLogin) {
                        Methods.setCookie(ENV + 'mname', coin);
                        this.assistCoin = coin;
                        top.location.reload();
                        return false;
                    }

                    var data = {
                        assistCoin: coin
                    };
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'editAssistCoin',
                        url: DOMAIN_DEV + "/exchange/user/controller/website/usercontroller/" + 'editassistcoin',
                        data: JSON.stringify(data),
                        success: function (res) {
                            Methods.setCookie(ENV + 'mname', coin);
                            this.assistCoin = coin;
                            top.location.reload();
                        }.bind(this)
                    });
                },
                //获取指定辅助货币的价格
                getPriceByAssist: function (price, market, assist) {
                    if (!price || price == '' || !market || market == '' || this.assistPrice == null) {
                        return ''
                    }
                    var money = market.split('_')[1];
                    //优先取指定的assist
                    var assistCoin = assist || this.assistCoin;
                    if (assistCoin == 'none' || assistCoin == '') {
                        return Methods.fixNumber(price, 4);
                    } else {
                        return Methods.fixNumber(parseFloat(price) * parseFloat(this.assistPrice[assistCoin][money]), this.assistList[assistCoin].decimal) || '--';
                    }
                },
                //获取指定辅助货币的价格
                getVolumeByAssist: function (price, market, assist) {
                    if (!price || price == '' || !market || market == '' || this.assistPrice == null) {
                        return ''
                    }
                    var coin = market.split('_')[0];
                    //优先取指定的assist 默认保留4位小数
                    var assistCoin = assist || this.assistCoin;
                    if (assistCoin == 'none' || assistCoin == '') {
                        return Methods.fixNumber(price, 4);
                    } else {
                        return Methods.fixNumber(parseFloat(price) * parseFloat(this.assistPrice[assistCoin][coin]), 4) || '--';
                    }
                },
                //过滤指定的市场
                getGroupMarket: function (group) {
                    var _this = this;
                    //搜索优先
                    if (this.keyWord != '') {
                        return this.getMarketsForKeyWord(this.keyWord);
                    }
                    var result = [];
                    var allMarket = this.allMarket;
                    var marketConfig = this.marketConfig;
                    var userMarket = this.userMarket;
                    // var userType = this.currentUserAsset.userType;

                    if (allMarket == '' || marketConfig == '') {
                        console.log('allMarket or marketConfig not init');
                        return result;
                    }
                    if (this.isLogin && this.currentTab == 'user' && userMarket == '') {
                        console.log('userMarket not init');
                        return result;
                    }

                    allMarket.forEach(function (item, index) {
                        var key = _this.marketsIdSwitch[item[0]];
                        if (group == 'spot') {
                            /*if(marketConfig[key].leverType == 0){
                                if (!this.isLogin) {
                                    if(!marketConfig[key].demoMode){
                                        result[key] = allMarket[key];
                                    }
                                }else{
                                    //区分模拟/真实市场
                                    if(userType != 3 && !marketConfig[key].demoMode){
                                        result[key] = allMarket[key];
                                    }
                                    if(userType == 3 && marketConfig[key].demoMode){
                                        result[key] = allMarket[key];
                                    }
                                }
                            }*/
                        } else if (group == 'forward') {
                            /*if(marketConfig[key].leverType != 0){
                                if (!this.isLogin) {
                                    if(!marketConfig[key].demoMode){
                                        result[key] = allMarket[key];
                                    }
                                }else{
                                    //区分模拟/真实市场
                                    if(userType != 3 && !marketConfig[key].demoMode){
                                        result[key] = allMarket[key];
                                    }
                                    if(userType == 3 && marketConfig[key].demoMode){
                                        result[key] = allMarket[key];
                                    }
                                }
                            }*/
                        } else if (group == 'user') {
                            //用户自选市场
                            userMarket.forEach(function (umarket, idx) {
                                if (item[0] == umarket.marketId) {
                                    result.push(item);
                                    // result[result.length-1].push(umarket.sortId); //将sortId追加到最后面
                                }
                            });
                        } else {
                            if (typeof(key)!="undefined" && key.indexOf(group) != -1) {
                                // 过滤掉模拟市场
                                // if(!allMarket[key][9]){
                                //     result[key] = allMarket[key];
                                // }
                                result.push(item);
                            }
                        }
                    });

                    return this.doSortMarket(this.convertMarket(result));
                },
                //搜索关键字市场
                getMarketsForKeyWord: function (keyword) {
                    var _this = this;
                    // var userType = this.currentUserAsset.userType;
                    // var marketConfig = this.marketConfig;
                    var markets = [];
                    var oriMarkets = this.allMarket;

                    oriMarkets.forEach(function (item, index) {
                        var currMarketName = _this.marketsIdSwitch[item[0]];
                        if (currMarketName.indexOf(keyword.toLowerCase()) != -1) {
                            //过滤后的数组
                            markets.push(item);
                        }
                    });

                    return this.doSortMarket(this.convertMarket(markets));
                },
                //转换对象市场为数组市场(为了排序)
                convertMarket: function (result) {
                    var _this = this;
                    var resultArray = [];

                    result.forEach(function (item, index) {
                        var lineData;
                        try {
                            lineData = JSON.parse(item[6]);
                        } catch (e) {
                            lineData = '';
                        }

                        var obj = {
                            marketId: item[0], //市场id
                            market: _this.marketsIdSwitch[item[0]], //市场名
                            // 价格
                            lastPrice: item[1], //最新价

                            // buyOne : item[4],
                            // sellOne : item[2],
                            highPrice: item[2], //最高价
                            lowPrice: item[3], //最低价

                            // 成交量
                            volume: item[4],
                            //折算交易量为USD排序
                            convertVolume: _this.getVolumeByAssist(item[4], _this.marketsIdSwitch[item[0]], 'usd'),
                            // 走势图
                            lineData: lineData,
                            //涨跌幅
                            rate: item[5],

                            //杠杆倍数
                            // leverRate : _this.marketConfig[key].leverRate,
                            sortId: item[item.length - 1] ? item[item.length - 1] : 0
                        }
                        resultArray.push(obj);
                    });

                    return resultArray;
                },
                //排序的方法
                doSortMarket: function (markets) {
                    var _this = this;
                    var sortBy = this.sortBy;
                    var tab = this.currentTab;
                    if ((tab != 'user' && sortBy == '') || markets.length == 0) {
                        return markets;
                    }
                    markets.sort(function (x, y) {
                        if (sortBy == 'rateUp') {
                            return x.rate - y.rate;
                        } else if (sortBy == 'rateDown') {
                            return y.rate - x.rate;
                        } else if (sortBy == 'volumeUp') {
                            return x.convertVolume - y.convertVolume;
                        } else if (sortBy == 'volumeDown') {
                            return y.convertVolume - x.convertVolume;
                        } else if (sortBy == 'nameUp') {
                            return y.market.substring(0, 1).charCodeAt() - x.market.substring(0, 1).charCodeAt();
                        } else if (sortBy == 'nameDown') {
                            return x.market.substring(0, 1).charCodeAt() - y.market.substring(0, 1).charCodeAt();
                        } else if (sortBy == 'priceUp') {
                            return parseFloat(_this.getPriceByAssist(x.lastPrice, x.market, 'usd')) - parseFloat(_this.getPriceByAssist(y.lastPrice, y.market, 'usd'));
                        } else if (sortBy == 'priceDown') {
                            return parseFloat(_this.getPriceByAssist(y.lastPrice, y.market, 'usd')) - parseFloat(_this.getPriceByAssist(x.lastPrice, x.market, 'usd'));
                        } else if (tab == 'user') {
                            return y.sortId - x.sortId;
                        }

                    });

                    return markets;
                },
                //检查是否是用户自选市场
                checkUserMarket: function (marketid) {
                    var result = false;
                    var userMarket = this.userMarket;
                    for (var i = 0; i < userMarket.length; i++) {
                        if (userMarket[i].marketId == marketid) {
                            result = true;
                        }
                    }
                    return result;
                },
                topUserMarket: function (market) {
                    var data = {
                        marketId: market
                    };
                    Methods.ajax({
                        type: 'GET',
                        // url: DOMAIN_MAIN + API_PREFIX + 'topUserMarket',
                        url: DOMAIN_DEV + "/exchange/user/controller/website/usermarketcontroller/" + 'topusermarket',
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.getUserMarket();
                            $.toast({
                                heading: "<%= LANG('修改用户市场成功') %>",
                                text: EXX.L(res.resMsg.message),
                                showHideTransition: 'plain',
                                icon: 'success'
                            });
                        }.bind(this)
                    });
                },
                //获取线图样式
                getLineChartColor: function (index, isClose) {
                    var colors = [
                        ['#58A065', 'rgba(67,144,234,0.08)'],
                        ['#4390EB', 'rgba(67,144,234,0.08)'],
                        ['#F7931A', 'rgba(247, 147, 26, 0.08)'],
                        ['#F5D525', 'rgba(244,213,37,0.08)'],
                        ['#5B646F', 'rgba(91,100,111,0.09)'],
                        ['#0ACC9F', 'rgba(10,204,159,0.08)'],
                        ['#6CA4EF', 'rgba(88,160,101,0.08)']
                    ];

                    var colorsClosed = [
                        ['#666', 'rgba(67,144,234,0.08)']
                    ];

                    if (index >= colors.length) {
                        index = index % colors.length;
                    }
                    var obj = {
                        fill: "",
                        height: 30,
                        stroke: isClose ? colors[index][0] : colorsClosed[0][0],
                        strokeWidth: 1,
                        width: 212
                    };
                    return obj;
                },
                //处理小线图数据
                getLineData: function (array) {
                    if (array.length > 0) {
                        var arr = [];
                        //容错处理

                        if (!array) {
                            array = []
                        }
                        arr = array.map(function (item) {
                            return item[1];
                        });
                        var min = arr[0];
                        for (var i = 0; i < arr.length; i++) {
                            if (arr[i] < min) {
                                min = arr[i]
                            }
                        }
                        var arr2 = arr.map(function (item) {
                            return item - min;
                        });
                        return arr2.join(",");
                    } else {
                        return '';
                    }
                },
                showPrice: function (val, market) {
                    if (isNaN(val) || !market) {
                        return '--'
                    } else {
                        return Methods.fixNumber(val, 4)
                    }
                },
                showCoin: function (market) {
                    return market.split('_')[0].toUpperCase();
                },
                showMoney: function (market) {
                    return market.split('_')[1].toUpperCase();
                },
                showRate: function (rate) {
                    return Methods.fixNumber(rate, 2)
                },
                showAssistCoin: function (market) {
                    if (!market) {
                        return '--'
                    }
                    var moneyName = market.split('_')[1].toUpperCase();
                    //显示辅助货币名字，不显示默认
                    if (this.assistCoin == 'none') {
                        return moneyName;
                    } else {
                        return this.assistList[this.assistCoin].name || moneyName;
                    }
                },
                showAssistName: function (market) {
                    //显示辅助货币名字，有默认显示
                    return this.assistList[this.assistCoin].name || market.split('_')[1].toUpperCase();
                },
                //价格折合的提示内容
                showAssistHint: function (price, market) {
                    return "<%= LANG('折合')%>:" + this.getPriceByAssist(price, market) + " " + this.showAssistCoin(market);
                },
                showHintClass: function (index, rate) {
                    var class1 = index == 0 && this.currentShow ? 'hint--bottom' : 'hint--top',
                        class1 = this.currentShow ? class1 : 'hint--right',
                        class2 = parseFloat(rate) >= 0 ? 'red' : 'green';
                    return class1 + ' ' + class2;
                },
                //交易量折合的提示内容
                showVolumeHint: function (volume) {
                    if (parseFloat(volume) > 10000 && parseFloat(volume) < 100000000) {
                        volume = Methods.fixNumber((parseFloat(volume) / 10000), 2) + "<%= LANG('万')%>";
                    }
                    if (parseFloat(volume) > 100000000) {
                        volume = Methods.fixNumber((parseFloat(volume) / 100000000), 4) + "<%= LANG('亿')%>";
                    }
                    return "<%= LANG('折合')%>:$ " + volume;
                },
                changeShow: function () {
                    if (this.currentShow == true) {
                        this.currentShow = false;
                    } else {
                        this.currentShow = true;
                    }
                },
                //切换市场列表
                changeTab: function (tab) {
                    if (this.currentTab == tab) {
                        $('body').removeClass('side-open');
                        this.currentTab = ''
                        this.showSider = false;
                    } else {
                        this.currentTab = tab;
                        $('body').addClass('side-open');
                        this.showSider = true;
                        //切换至用户市场清除排序
                        if (tab == 'user' && this.theme == 'dark') {
                            this.sortBy = '';
                        }
                    }
                    //关闭聊天
                    $('body').removeClass('chat-open');
                    $(".exx-msg").removeClass("open");

                    this.initChatScroll();
                    this.keyWord = '';
                },
                //列表排序
                changeSort: function (name) {
                    var sortBy = this.sortBy;
                    var swift = function (name, sort) {
                        if (sort == '') {
                            return name + 'Down';
                        }
                        if (sort.indexOf(name) != -1) {
                            if (sort.indexOf('Down') != -1) {
                                return name + 'Up';
                            }
                            if (sort.indexOf('Up') != -1) {
                                return '';
                            }
                        } else {
                            //递归
                            return arguments.callee(name, '');
                        }
                    }
                    this.sortBy = swift(name, sortBy);
                },
                openAddMarket: function () {
                    this.marketParams = {
                        account: this.currentUserAsset,
                        userMarkets: this.userMarket
                    }
                    this.showModal = 'addMarket';
                },
                gotoTrade: function (market) {
                    market = market.replace('/', '_');

                    if (this.theme == 'light') {
                        top.location.href = '/tradePro/' + market;
                    } else {
                        top.location.href = '/trade/' + market;
                    }
                },
                initChatScroll: function () {
                    if (!this.siderScroll && $('.market-box-content').length > 0) {
                        this.siderScroll = new IScroll('.market-box-content', {
                            mouseWheel: true,
                            scrollbars: "custom",
                            fadeScrollbars: true,
                            bounceEasing: 'quadratic'
                        });
                    }
                    if (this.siderScroll) {
                        this.siderScroll.refresh();
                    }
                },
                //编辑用户市场 type 0 取消   1 添加
                editUserMarket: function (type, marketid) {
                    var url = DOMAIN_DEV + "/exchange/user/controller/website/usermarketcontroller/";
                    if (type == 0) {
                        url += 'deleteusermarket';
                    } else {
                        url += 'addusermarket'
                    }

                    var data = {
                        marketId: marketid
                    };
                    Methods.ajax({
                        // url: DOMAIN_MAIN + API_PREFIX + 'doEditMarket',
                        url: url,
                        data: JSON.stringify(data),
                        success: function (res) {
                            this.getUserMarket();
                            $.toast({
                                heading: "<%= LANG('修改用户市场信息成功') %>",
                                text: "<%= LANG('修改用户市场信息成功') %>",
                                showHideTransition: 'plain',
                                icon: 'success'
                            });
                        }.bind(this)
                    });
                }
            },
            created: function () {
                var _this = this;
                //先获取配置和价格表
                _this.getMarketConfig(function () {
                    // setInterval(_this.getAllMarket, 5000);
                    // _this.getAllMarket();
                    setInterval(_this.getAssistPrice, 90000);
                });

                if (_this.theme == 'light') {
                    _this.showSider = true;
                }
            },
            updated: function () {
                this.initChatScroll();
            },
            mounted: function () {
                var _this = this;
                if (_this.isLogin) {
                    _this.getUserMarket();
                }
            },
            beforeDestroy: function () {

            }
        })
    });
</script>
